<form class="grant-application" action="{{ self.url }}" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p class="error">There were some errors with your form. Please amend the fields highlighted below.</p>
    {% endif %}
    <div class="input">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Charity name</label>
        {{ form.name }}
    </div>
    <div class="input">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Email Address</label>
        {{ form.email }}
    </div>
    <div class="container btn nr">
        <button class="grant-application-button" type="submit">{{ self.form_button_text }}</button>
    </div>
</form>
