{% load wagtailcore_tags wagtailimages_tags staticfiles %}

{# orange arrow navigation #}

<ul class="blogpage-listing">
{% for post in blog_posts %}
    {% include 'torchbox/tags/blog_list_item.html' %}
{% endfor %}
</ul>

<div class="container pagination">
    {# Pagination #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <div class="previous">
        {% if blog_posts.has_previous %}
            <a href="?page={{ blog_posts.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><p> Previous &nbsp;</p></a>
        {% endif %}
    </div>

    <div class="next">
        {% if blog_posts.has_next %}
            <a href="?page={{ blog_posts.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><p> Next </p></a>
        {% endif %}
    </div>
</div>
