<div class="contact">
    <div class="container">
        <h2><span>Get in touch</span> about your exciting project</h2>
        <ul>
            <li>
                <a href="tel:{{ settings.torchbox.GlobalSettings.contact_telephone }}">
                    {% include "torchbox/includes/svg/phone.svg" %}
                    <span>{{ settings.torchbox.GlobalSettings.contact_telephone }}</span>
                </a>
            </li>
            <li>
                <a href="mailto:{{ settings.torchbox.GlobalSettings.contact_email }}">
                    {% include "torchbox/includes/svg/envelope.svg" %}
                    <span>{{ settings.torchbox.GlobalSettings.contact_email }}</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/{{ settings.torchbox.GlobalSettings.contact_twitter }}">
                    {% include "torchbox/includes/svg/twitter.svg" %}
                    <span>@{{ settings.torchbox.GlobalSettings.contact_twitter }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>