<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Server error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        background-color: #eee;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.8);
      }
      body {
        max-width: 40rem;
        margin: 0 auto;
        padding: 2rem;
      }
      .errorcode {
        color: rgba(0, 0, 0, 0.25);
        margin-top: 2rem;
        font-size: 0.8rem;
      }
    </style>
  </head>
  <body>
    <h1>Something went wrong</h1>
    <p>We&rsquo;re sorry! Our server is acting up right now. Please try again soon.</p>
    <p class="errorcode">Internal Server Error (500)</p>
  </body>
</html>
