<div class="client-block">
    
    <div class="client-block__container">
        {% include "patterns/atoms/section-title/section-title.html" with title="Clients" %}
        <section>
            <ul class="client-block__icon-list client-block__icon-list--spaced">
                {% for client in clients %}
                    {% include "patterns/molecules/client-item/client-item.html" with item=client %}
                {% endfor %}
            </ul>
        </section>
        
        <div class="quote-slider-module--quoteSliderBlock--2A-E_ ">
            <svg class="quote-slider-module--quoteIcon--14nkE" viewBox="0 0 222.5 170.6" aria-hidden="true">
                <path class="quote_svg__st0" d="M92.182 143.122L174.782.058l47.717 27.55-82.6 143.064zM.03 132.42l55.4-95.953 38.363 22.15-55.4 95.953z"></path>
            </svg>
            <div class="quote-slider-module--quoteSlider--1vtRo">
                <div class="quote-slider-module--quoteSlides--2_Xut">
                    <blockquote class="quote-slider-module--quoteSlideActive--2rZxW">
                        <p class="quote-slider-module--quoteSlideQuote--tZyYF">Thank you for your amazing and continued partnership Torchbox - our new website exceeds expectations!</p>
                        <cite class="quote-slider-module--quoteSlideCite--XfXkr"><span class="quote-slider-module--quoteSlideCiteName--1Ey-r">Sarah Toms</span><span class="quote-slider-module--quoteSlideCiteRole--307NZ">Executive Director, Wharton Interactive at The Wharton School</span></cite>
                    </blockquote>
                    <blockquote class="quote-slider-module--quoteSlide--1qCzx">
                        <p class="quote-slider-module--quoteSlideQuote--tZyYF">Working with Torchbox for the last year has been genuinely transformative. Such enthusiastic, committed and happy people, Torchbox have been an absolute pleasure to work with.</p>
                        <cite class="quote-slider-module--quoteSlideCite--XfXkr"><span class="quote-slider-module--quoteSlideCiteName--1Ey-r">Theo Ratcliff</span><span class="quote-slider-module--quoteSlideCiteRole--307NZ">Website Manager, Oxfam GB</span></cite>
                    </blockquote>
                    <blockquote class="quote-slider-module--quoteSlide--1qCzx">
                        <p class="quote-slider-module--quoteSlideQuote--tZyYF">Torchbox were a fantastic partner building the Maano app. Their expertise and commitment to the project meant that we got from concept note and whiteboard discussions to launching the app on Google Playstore in less than four months</p>
                        <cite class="quote-slider-module--quoteSlideCite--XfXkr"><span class="quote-slider-module--quoteSlideCiteName--1Ey-r">Evin Joyce</span><span class="quote-slider-module--quoteSlideCiteRole--307NZ">Programme Officer, WFP</span></cite>
                    </blockquote>
                </div>
            </div>
            <ul class="quote-slider-module--quoteSliderBullets--2SCQS">
                <li class="quote-slider-module--quoteSliderBulletActive--1ZFyT"></li>
                <li class="quote-slider-module--quoteSliderBullet--1oLT3"></li>
                <li class="quote-slider-module--quoteSliderBullet--1oLT3"></li>
            </ul>
        </div>
    </div>
</div>

