{% load pageurl image_tags %}
{% if work %}
<ul>
    {% for work in work %}
        <li>
            <a href="{% pageurl work %}">
                {% if work.homepage_image %}
                    {% image work.homepage_image width-300 as screenshot %}
                    <img src="{{ screenshot.url }}" width="{{ screenshot.width }}" height="{{ screenshot.height }}" alt="{{ screenshot.alt }}" />
                {% endif %}
                <h3>{{ work.title }}</h3>
                <p>
                    {% if work.summary %}
                        {{ work.summary }}
                    {% endif %}
                </p>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}