{% load wagtailcore_tags wagtailimages_tags %}
{% if work %}
<ul class="listing clearfix">
    {% for work in work %}
        <a href="{% pageurl work %}">
            <li>
                <div class="block">

                    <div class="workcontainer">
                        {% if work.homepage_image %}
                        {% image work.homepage_image width-1000 as screenshot %}

                        <div class="label">
                            <p>Our work</p>
                        </div>

                        <div class="crop-height">
                            <img class="scale" src="{{ screenshot.url }}" width="{{ screenshot.width }}" height="{{ screenshot.height }}" alt="{{ screenshot.alt }}" />
                        </div>

                        </div>
                        {% endif %}

                        <div class="work-intro">
                            <h3>{{ work.title }}</h3>
                            <div class="hide">
                                <p>
                                {% if work.summary %}
                                    {{ work.summary }}
                                {% endif %}
                                </p>
                            </div>
                            <div class="go">
                                See the project
                            </div>
                        </div>
                </div>
            </li>
        </a>
    {% endfor %}
</ul>
{% endif %}