
{% load wagtailcore_tags %}
{% comment %} Does not use blog_list_item.html include because we don't want to show authors on the person page {% endcomment %}
{% if blogs %}
    <h2>Blog posts by {{ calling_page.specific.first_name }}</h2>
	<ul class="clearfix">
    {% for blog in blogs %}
        <li>
            <a href="{% pageurl blog %}">
                <div class="text">
                    <h3>{{ blog.title }}</h3>


                    {% if blog.date %}
                        <span>{{ blog.date|date:"j F Y" }}</span>
                    {% endif %}

                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
