{% load torchbox_tags pageurl %}
{% get_site_root as site_root %}

{# Implementation of bootstrap theme dropdown menu - shows top level links and their children #}
<nav role="navigation">
    
    {# Link to home page #}
    <a href="{% pageurl site_root %}" class="navbar-brand">{{ site_root.title }}</a>
        
    <ul>
        {% for menuitem in menuitems %}
            <li class="{% if calling_page.url == menuitem.url %}active{% endif %}">
                <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            </li>       
        {% endfor %}
    </ul>
</nav>
