{% load wagtailcore_tags wagtailimages_tags %}

<li>
    <a href="{% pageurl work %}">
        <div class="block">

            <div class="workcontainer">
                {% if work.homepage_image %}
                    {% image work.homepage_image fill-764x448 as screenshot %}

                    <div class="label">
                        <p>Our work</p>
                    </div>

                    <div class="crop-height">
                        <img class="scale" src="{{ screenshot.url }}" width="{{ screenshot.width }}" height="{{ screenshot.height }}" alt="{{ screenshot.alt }}" />
                    </div>
                {% endif %}
            </div>

            <div class="work-intro">
                <h3>{{ work.title }}</h3>
                {% if work.summary %}
                    <div class="hide">
                        <p>{{ work.summary|striptags|truncatewords:30 }}</p>
                    </div>
                {% endif %}
                <div class="go">
                    See the project
                </div>
            </div>
        </div>
    </a>
</li>
