{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/proposition_hero.html" with title=page.strapline desc=page.intro %}

    {# Service section #}
    <div class="proposition-section" id="{{ 'services' }}"data-service-section>

        <h2 class="proposition-section__anchor">Services</h2>

        {% if page.services_section.title %}
            <h3 class="proposition-section__title">
                {{ page.services_section.title }}
            </h3>
        {% endif %}

        {% if page.services_section.intro %}
            <p class="proposition-section__intro">
                {{ page.services_section.intro }}
            </p>
        {% endif %}
    </div>

    {# Our clients section #}
    <div class="proposition-section" id="{{ 'our_clients' }}" data-service-section>

        <h2 class="proposition-section__anchor">Our clients</h2>

        {% if page.our_clients_section.title %}
            <h3 class="proposition-section__title">
                {{ page.our_clients_section.title }}
            </h3>
        {% endif %}

        {% if page.our_clients_section.intro %}
            <p class="proposition-section__intro">
                {{ page.our_clients_section.intro }}
            </p>
        {% endif %}
    </div>

    {# Team section #}
    <div class="proposition-section" id="{{ 'our_team' }}"data-service-section>

        <h2 class="proposition-section__anchor">Our team</h2>

        {% if page.team_section.title %}
            <h3 class="proposition-section__title">
                {{ page.team_section.title }}
            </h3>
        {% endif %}

        {% if page.team_section.intro %}
            <p class="proposition-section__intro">
                {{ page.team_section.intro }}
            </p>
        {% endif %}
    </div>

{% endblock %}
