{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--primary{% endblock %}

{% block content %}

{% include "patterns/molecules/title-block/title-block.html" with item=self tags=self.related_services %}

<div class="casestudies">
    <div class="casestudies__content">

        <div class="casestudies__list" data-fetch-destination="work-pages" data-fetch-max-pages="{{ works.paginator.num_pages }}">
            {% for work in works %}
                {% include "patterns/molecules/work-item/work-item.html" with item=work %}
            {% endfor %}
        </div>

        {% if works.has_next %}
            {% include "patterns/atoms/see-more/see-more.html" with text="See more blogs" fetch_data="work-pages" %}
        {% endif %}
    </div>
</div>

{% endblock %}
