{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--primary{% endblock %}

{% block content %}
    {% with author=page.authors.first.author %}

        {% include "patterns/molecules/title-block/title-block.html" with item=page %}
        {% include "patterns/molecules/author/author.html" with item=page author=author tag_link_base=page.work_index.url %}

        {% include_block page.body %}

        <div class="page__author">
            {% include "patterns/molecules/author/author.html" with item=page author=author tag_link_base=page.work_index.url %}
        </div>

        {% if page.related_works %}
        <div class="page__showcase">
            <div class="casestudies">
                {% include "patterns/atoms/section-title/section-title.html" with title="More of our thinking" %}
                <div class="casestudies__list">
                    {% for work in page.related_works %}
                        {% include "patterns/molecules/work-item/work-item.html" with item=work %}
                    {% endfor %}
                    {% include "patterns/atoms/see-more/see-more.html" with link=page.work_index.url text="See more case studies" %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endwith %}
{% endblock %}
