*.pyc
.DS_Store
*.swp
/venv/
/.venv/
.env
.python-version
/static/
static_compiled/
/media/
/media.old/
/tmp/
/docs/_build/
.idea/
node_modules*
/None
*.log
/.vscode/*
!/.vscode/launch.json
/database_dumps/
