Django==1.7.4
psycopg2==2.5.4
wagtail-1.0.dev201606161013-py2.py3-none-any.whl # A custom build of the streamfield-labels branch of wagtail taken from https://github.com/torchbox/wagtail/commit/fc3b6124e58bbcc93f73a9917958f04b994a2449
Pillow==2.7.0
django-libsass==0.2

# Development requirements
django-debug-toolbar==1.2.2
Fabric==1.10.1

# Production requirements
celery==3.1.17
django-redis==3.8.2
elasticsearch==1.3.0
embedly==0.5.0
redis==2.10.3

