Django==1.6.7
South==1.0.0
psycopg2==2.5.2
wagtail==0.6
libsass==0.5.1

# Development requirements
django-debug-toolbar==1.0.1
Fabric==1.6.1

# Production requirements
django-celery==3.1.1
gunicorn==18.0
redis==2.9.1
django-redis-cache==0.13.0
elasticsearch==1.1.1
