{% load wagtailcore_tags %}

{% if page.get_ancestors|length > 2 %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumbs-nav">
            {% for ancestor_page in page.get_ancestors %}
                {% if not ancestor_page.is_root %}
                    {% if ancestor_page.depth > 2 %}
                        <li class="breadcrumbs-nav__item">
                            <a class="breadcrumbs-nav__link" href="{% pageurl ancestor_page %}">{{ ancestor_page.title }}</a>
                        </li>
                    {% else %}
                        <li class="nav__item nav__item--breadcrumb">
                            <a class="nav__link nav__link--breadcrumb" href="/">
                                {% include "patterns/atoms/icons/icon.html" with name="home" %}
                                Home
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li class="breadcrumbs-nav__item">{{ page.title }}</li>
        </ul>
    </nav>
{% endif %}
