{% load wagtailcore_tags %}
<nav aria-label="Primary">
    <ul class="primary-nav">
        {% for link in primarynav %}
            {% with children=link.value.page.get_children.live.public.in_menu %}
                <li class="primary-nav__item {% if children.exists %}primary-nav__item--is-parent{% endif %}">
                    {% include_block link with has_children=children.exists nav_type="primary-nav" %}
                    {% if children.exists %}
                        <ul class="sub-nav">
                            <li class="sub-nav__item sub-nav__item--back" data-subnav-back>&lsaquo; Back</li>
                            <li class="sub-nav__item">{% include_block link with nav_type="sub-nav" %}</li>
                            {% for child in children.all %}
                                <li class="sub-nav__item sub-nav__item--secondary">
                                    {% include_block link with page=child nav_type="sub-nav" %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</nav>
