{% load wagtailcore_tags %}

{# First 3 items are shown #}
{% for item in primarynav|slice:":3" %}
    {% with link=item.value %}
        <li class="nav-item {% if link.page.slug == 'jobs' and job_count > 0 %}nav-item--with-badge{% endif %}">
            <a class="nav-item__link" href="{% pageurl link.page %}" data-menu-item>
                <span class="nav-item__title">{% firstof link.title link.page.title %}</span>
            </a>
            {% if link.page.slug == 'jobs' and job_count > 0 %}
                <a class="nav-item__badge" href="/careers/jobs" tabindex="-1" aria-label="{{ job_count }} jobs available">
                    {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                </a>
            {% endif %}
        </li>
    {% endwith %}
{% endfor %}

{# Temporary card-coding of AI link  until external links are supported #}
<li class="nav-item nav-item">
    <a class="nav-item__link" href="https://ai.torchbox.com/" target="__blank">
        <span class="nav-item__title">AI + Innovation</span>
        {% include "patterns/atoms/icons/icon.html" with name="external" classname="nav-item__external-link-icon" %}
    </a>
</li>

{% if is_desktop %}
<li class="nav-item nav-item--with-children" x-data="{ isOpen: false }" {% if is_home == False %} data-primary-nav @tab-close="isOpen=false" {% endif %} >
    <button class="nav-item__button" data-subnav-button @click="isOpen = !isOpen">
        More
        <span class="nav-item__dots"></span>
    </button>
    <ul class="subnav" x-cloak x-show="isOpen" x-transition>
        {# Other menu items are hidden #}
        {% for item in primarynav|slice:"3:" %}
            {% with link=item.value %}
                <li class="subnav__item {% if link.page.slug == 'jobs' and job_count > 0 %}subnav__item--with-badge{% endif %}">
                    <a class="subnav__link" data-subnav-link href="{% pageurl link.page %}" data-menu-item subnav-menu-item>
                        {% firstof link.title link.page.title %}
                    </a>
                    {% if link.page.slug == 'jobs' and job_count > 0 %}
                        <a class="subnav__badge" href="/careers/jobs" tabindex="-1" aria-label="{{ job_count }} jobs available" role="img">
                            {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                        </a>
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
    {% if is_home == False %}
    <div class="nav-item__background-overlay" data-subnav-background-overlay x-cloak @click="isOpen = !isOpen" x-show="isOpen" x-transition></div>
    {% endif %}
</li>
{% else %}
    {# Add the rest of the menu for the mobile dropdown #}
    {% for item in primarynav|slice:"3:" %}
        {% with link=item.value %}
        <li class="nav-item {% if link.page.slug == 'jobs' and job_count > 0 %}nav-item--with-badge{% endif %}">
            <a class="nav-item__link" href="{% pageurl link.page %}" data-menu-item>
                <span class="nav-item__title">{% firstof link.title link.page.title %}</span>
            </a>
            {% if link.page.slug == 'jobs' and job_count > 0 %}
                <a class="nav-item__badge" href="/careers/jobs" tabindex="-1" aria-label="{{ job_count }} jobs available" role="img">
                    {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                </a>
            {% endif %}
        </li>
        {% endwith %}
    {% endfor %}
{% endif %}
