{% load wagtailcore_tags %}

{% if is_home %}
    {# First 3 items are shown #}
    {% for item in primarynav|slice:":3" %}
        {% with link=item.value %}
            <li class="nav-item {% if link.page.slug == 'careers' and job_count > 0 %}nav-item--with-badge{% endif %}">
                <a class="nav-item__link" href="{% pageurl link.page %}" data-menu-item>
                    <span class="nav-item__title">{% firstof link.title link.page.title %}</span>
                </a>
                {% if link.page.slug == 'careers' and job_count > 0 %}
                    <a class="nav-item__badge-link" href="/jobs/">
                        {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                    </a>
                {% endif %}
            </li>
        {% endwith %}
    {% endfor %}

    <li class="nav-item nav-item--with-children" x-data="{ isOpen: false }">
        <button class="nav-item__button" @click="isOpen = !isOpen">
            More
            <span class="nav-item__dots"></span>
        </button>

        <ul class="subnav" x-show.transition="isOpen">
            {# Other menu items are hidden #}
            {% for item in primarynav|slice:"3:" %}
                {% with link=item.value %}
                    <li class="subnav__item {% if link.page.slug == 'careers' and job_count > 0 %}subnav__item--with-badge{% endif %}">
                        <a class="subnav__link" href="{% pageurl link.page %}" data-menu-item>
                            {% firstof link.title link.page.title %}
                        </a>
                        {% if link.page.slug == 'careers' and job_count > 0 %}
                            <a class="subnav__item__badge-link" href="/jobs/">
                                {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                            </a>
                        {% endif %}
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </li>
{% else %}
    {% for item in primarynav %}
        {% with link=item.value %}
            <li class="nav-item {% if link.page.slug == 'careers' and job_count > 0 %}nav-item--with-badge{% endif %}">
                <a class="nav-item__link" href="{% pageurl link.page %}" data-menu-item>
                    {% firstof link.title link.page.title %}
                </a>
                {% if link.page.slug == 'careers' and job_count > 0 %}
                    <a class="nav-item__badge-link" href="/jobs/">
                        {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                    </a>
                {% endif %}
            </li>
        {% endwith %}
    {% endfor %}
{% endif %}
