// mixins

// clear fix
@mixin cf() {
	zoom: 1;
	&:before, &:after {
	display: table;
	content: "";
	zoom: 1;
	*display: inline;
	}
	&:after {
		clear: both;
	}
}

//
@mixin custom-transition ($time: 350ms) {
	transition: all $time cubic-bezier(0.705, 0.000, 1.000, 1.130);
	transition-timing-function: cubic-bezier(0.705, 0.000, 1.000, 1.130);
}

@mixin custom-bounce ($time: 350ms) {
	transition: all $time cubic-bezier(0.410, 0.000, 0.470, 1.150);
	transition-timing-function: cubic-bezier(0.410, 0.000, 0.470, 1.150);
}

// line link
@mixin line-hover {
  @media #{$tablet} {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 0;
      height: 1px;
      background: $blue;
      transition: all 0.25s ease 0s;
    }
  }
  &:hover {
  	cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

// row padding for site widths.
@mixin row-padding {
  padding: 0 15px;
  @media #{$tablet} {
    padding: 0 20px;
  }
  @media #{$tablet-large} {
    padding: 0 50px;
  }
}