{% load wagtailcore_tags wagtailimages_tags %}

{% if item.homepage_image %}
    {% image item.homepage_image width-1280 as image %}
{% elif item.feed_image %}
    {% image item.feed_image width-1280 as image %}
{% endif %}

<a class="casestudy-item" href="{% pageurl item %}">
    <div class="casestudy-item__meta">
        <div class="casestudy-item__meta-container">
            {% if item.client %}
                <span class="casestudy-item__client">{{ item.client }}</span>
            {% endif %}

            <h2 class="casestudy-item__title">{{ item.title }}</h2>

            {% if item.listing_summary %}
                <p class="casestudy-item__desc">{{ item.listing_summary }}</p>
            {% endif %}
        </div>
    </div>
    <div class="casestudy-item__image">
        <svg class="casestudy-item__cluster-icon" aria-hidden="true">
            <use xlink:href="#cluster" />
        </svg>
        <div class="casestudy-item__image-inner" style="background-image: url(&quot;{{ image.url }}&quot;);"></div>
    </div>
</a>
