{% load wagtailimages_tags wagtailcore_tags %}
{% if value %}
    <div class="client-block">
        <div class="client-block__container">
            <div class="client-block__section">
                <ul class="client-block__icon-list client-block__icon-list--spaced">
                    {% for client in value %}
                        <li class="client-item">
                            <div class="client-item__container">
                                {% with link=client.link.0.value %}
                                <a class="client-item__link" href="{{ link.url }}" title="{{ link.text }}">
                                    {% image client.image width-400 class="client-item__image" loading="lazy" alt="" %}
                                    <span class="client-item__cta" aria-hidden="true">Read case study</span>
                                </a>
                                {% endwith %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
