{% load wagtailimages_tags wagtailcore_tags %}
{# `value` is a ListBlock of ImageWithLinkBlock items #}
{% if value or quotes %}
    <div class="client-block">
        {% if title %}
            {% include "patterns/atoms/section-title/section-title.html" with title=title %}
        {% endif %}
        <div class="client-block__container">
            {% if value %}
                <div class="client-block__section">
                    <ul class="client-block__icon-list client-block__icon-list--spaced">
                        {% for client in value %}
                            <li class="client-item">
                                <div class="client-item__container">
                                    {% with link=client.link.0.value %}
                                        {% if link %}
                                            <a class="client-item__link" href="{{ link.url }}" title="{{ link.text }}">
                                                <div class="client-item__image-wrap">
                                                    {% image client.image width-400 class="client-item__image" loading="lazy" alt="" %}
                                                </div>
                                                {# Note that the text in this element must have no whitespace before the closing span element in order for the CSS styling to work correctly #}
                                                <span class="client-item__cta" aria-hidden="true">{{ link.text }}</span>
                                            </a>
                                        {% else %}
                                            <div class="client-item__image-wrap">
                                                {% image client.image width-400 class="client-item__image" loading="lazy" alt="" %}
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if quotes %}
                <div class="client-block__section">
                    {% include "patterns/molecules/quote-slider/quote-slider.html" with items=quotes %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
