{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}

{% block content %}

    <style>
        .about-hero {
            background-image: url("{% static 'torchbox/images/story2.jpg' %}");
        }
    </style>

    <div class="about-hero">
        <div class="container">
            <div class="content">
                <h2>A digital agency with a difference.</h2>
                <p class="intro">Beautiful websites for some of the world’s great universities and academic institutions, globally-renowned think tanks, fundraising charities, campaigning NGOs, research programmes, and leading membership organisations.</p>
                <div class="btns">
                    <a href="#" class="btn">Meet the team</a>
                    <a href="#" class="btn">Current jobs</a>
                </div>
                <h2 class="story"><span>Read our story</span></h2>
            </div>
        </div>
    </div>

    {% if page.content_blocks.all %}
    <section>
        <div class="container">
            <div class="reasons">
                <ul>
                    {% for content_block in page.content_blocks.all %}
                    <li>
                        {% image content_block.image width-675 as content_block_image %}
                        <img src="{{ content_block_image.url }}" alt="{{ tmp_photo.alt }}" />
                        <div class="text">
                            <div class="number">{{ content_block.year }}</div>
                            <h3>{{ content_block.title }}</h3>
                            <p>{{ content_block.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="text-content">
        <div class="container">

            {% if page.offices.all %}
            <div class="offices">
                <h2>Our offices</h2>
                <ul>
                    {% for office in page.offices.all %}
                    <li>
                        <div class="content">
                            {{ office.svg|safe }}
                            <h3>{{ office.title }}</h3>
                            <p>{{ office.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if page.values.all %}
            <div class="values">
                <h2>Our four core values</h2>
                <ul>
                    {% for value in page.values.all %}
                    <li>
                        {% image value.image original %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
        </div>
    </section>


{% endblock %}
