{% load torchbox_tags cache compress static wagtailuserbar wagtailimages_tags static %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} {% if self|in_play or play_404 %}| yaffle{% else %}| Torchbox{% endif %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{% if self|in_play %}@yaffle{% else %}@torchbox{% endif %}">
        <meta name="twitter:creator" content="{% if self|in_play %}@yaffle{% else %}@torchbox{% endif %}">
        <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | Torchbox">
        <meta name="twitter:description" content="{% if self.intro %}{{ self.intro|striptags }}{% elif self.search_description %}{{ self.search_description }}{% endif %}">
        <meta name="twitter:image:src" content="http://{{ request.site.hostname }}{% if self.feed_image %}{% image self.feed_image width-400 as img %}{{ img.url }}{% else %}{% static "torchbox/images/about-placeholder6.jpg" %}{% endif %}" />

        <meta property="fb:app_id" content="995117193836517" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://{{ request.site.hostname }}{{ self.url }}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | {% if self|in_play or play_404 %}yaffle{% else %}Torchbox{% endif %}" />
        <meta property="og:image" content="http://{{ request.site.hostname }}{% if self.feed_image %}{% image self.feed_image width-1024 as img %}{{ img.url }}{% else %}{% static "torchbox/images/about-placeholder6.jpg" %}{% endif %}" />
        <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta property="og:site_name" content="{% if self|in_play or play_404 %}yaffle{% else %}Torchbox{% endif %}" />

        <link rel="shortcut icon" href="{% static "torchbox/images/favicon.ico" %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}

        <script type="text/javascript" src="//use.typekit.net/zzm2obu.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        {% compress js %}
            <script src="{% static "torchbox/vendor/modernizr-2.6.2.min.js" %}" type="text/javascript"></script>
        {% endcompress %}

    </head>
    <body class="page-{{ self|content_type }} title-{{ self.title|slugify }} pageid-{{ self.id }} {% block body_class %}{% endblock %}">
        {% if not self|in_play and not play_404 %}
            <!-- Google Tag Manager -->
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K5HPMR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-K5HPMR');</script>
            <!-- End Google Tag Manager -->
        {% endif %}
        {% if self|in_play or play_404 %}
           <!-- Google Tag Manager -->
           <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PW5C2L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
           <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PW5C2L');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {% wagtailuserbar %} {# Don't delete this #}

        <header class="container">
            {% block menu %}
                {% top_menu calling_page=self %}
            {% endblock %}
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer class="clearfix">
            <div class="holder">
                <div class="contact container listing">
                    <h2>Say hello</h2>
                    <ul class="footerbleed">
                        <li><a href="mailto:{% if self|in_play or play_404 %}yaffle{% else %}hello{% endif %}@torchbox.com"><i class="icon-mail"></i><span>{% if self|in_play or play_404 %}yaffle{% else %}hello{% endif %}@torchbox.com</span></a></li>
                        <li><a href="tel:+441608811870"><i class="icon-phone"></i><span>+44 (0) 1608 811870</span></a></li>
                        <li><a href="https://twitter.com/{% if self|in_play or play_404 %}yaffle{% else %}torchbox{% endif %}"><i class="icon-twitter"></i><span>{% if self|in_play or play_404 %}@yaffle{% else %}@torchbox{% endif %}</span></a></li>
                    </ul>
                    {% if not self|in_play or play_404 %}
                        <span class="newsletter-cta"><strong>Get the best of the web</strong> in your inbox every Friday</span>
                        <form class="newsletter-signup" action="/newsletter-subscribe" method="get">
                            <input class="newsletter-email" name="email" type="text" placeholder="Your email">
                            <button class="newsletter-button">Sign up</button>
                        </form>
                    {% endif %}
                </div>

                <div class="offices container ">
                    <h2 class="visuallyhidden">Visit us</h2>
                    <ul class="clearfix listing">
                        <li>
                            <a href="https://www.google.co.uk/maps/place/Torchbox/@51.858115,-1.480577,17z/data=!3m1!4b1!4m2!3m1!1s0x4876d26f301900bd:0xca3bbb6b78d4b3e4">
                                <div class="svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 585 841.9" enable-background="new 0 0 585 841.9" xml:space="preserve">
                                        <path fill="" d="M363.8,267.3c-19.5-18.1-45.5-28.4-71.3-28.4s-51.8,10.4-71.3,28.4c-20.2,18.7-31.3,43-31.3,68.5  c0,66.7,100.8,255.4,101.8,257.3c0.2,0.3,0.5,0.5,0.9,0.5c0.4,0,0.7-0.2,0.9-0.5c1-1.9,101.8-190.6,101.8-257.3  C395.1,310.3,384,286,363.8,267.3z"/>
                                        </path>
                                    </svg>
                                </div>

                                <h3>Oxford</h3>
                                <div class="vcard">
                                    <span class="street-address">Unit&nbsp;9, Southill&nbsp;Business&nbsp;Park</span>,
                                    <span class="region">Charlbury</span>,
                                    <span class="postal-code">OX7&nbsp;3EW</span>,
                                    <span class="country-name">UK</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.google.co.uk/maps/place/15+Colston+St,+Bristol,+City+of+Bristol+BS1+5AP/@51.4548173,-2.5999958,17z/data=!3m1!4b1!4m5!3m4!1s0x48718dd824a8ca7d:0x991f23ccfd51433e!8m2!3d51.454814!4d-2.5978018">
                                <div class="svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 585 841.9" enable-background="new 0 0 585 841.9" xml:space="preserve">
                                        <path fill="" d="M363.8,267.3c-19.5-18.1-45.5-28.4-71.3-28.4s-51.8,10.4-71.3,28.4c-20.2,18.7-31.3,43-31.3,68.5  c0,66.7,100.8,255.4,101.8,257.3c0.2,0.3,0.5,0.5,0.9,0.5c0.4,0,0.7-0.2,0.9-0.5c1-1.9,101.8-190.6,101.8-257.3  C395.1,310.3,384,286,363.8,267.3z"/>
                                        </path>
                                    </svg>
                                </div>

                                <h3>Bristol</h3>
                                <div class="vcard">
                                    <span class="street-address">3rd&nbsp;Floor, 15&nbsp;Colston&nbsp;Street</span>,
                                    <span class="region">Bristol</span>,
                                    <span class="postal-code">BS1&nbsp;5AP</span>,
                                    <span class="country-name">UK</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.google.com/maps/place/Torchbox+Philadelphia/@39.9508779,-75.1479449,17z/data=!4m2!3m1!1s0x0:0xf729cd0aaa49c71c">
                                <div class="svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 585 841.9" enable-background="new 0 0 585 841.9" xml:space="preserve">
                                        <path fill="" d="M363.8,267.3c-19.5-18.1-45.5-28.4-71.3-28.4s-51.8,10.4-71.3,28.4c-20.2,18.7-31.3,43-31.3,68.5  c0,66.7,100.8,255.4,101.8,257.3c0.2,0.3,0.5,0.5,0.9,0.5c0.4,0,0.7-0.2,0.9-0.5c1-1.9,101.8-190.6,101.8-257.3  C395.1,310.3,384,286,363.8,267.3z"/>
                                        </path>
                                    </svg>
                                </div>

                                <h3>Philadelphia</h3>
                                <div class="vcard">
                                    <span class="street-address">Indy&nbsp;Hall,&nbsp;22&nbsp;N.&nbsp;3rd&nbsp;St.</span>,
                                    <span class="region">Philadelphia</span>,
                                    <span class="postal-code">PA&nbsp;19106</span>,
                                    <span class="country-name">US</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="wagtail">
                        <a href="http://wagtail.io"><img src="{% static "torchbox/images/wagtail.png" %}" alt="Wagtail"></a>
                    </div>

                </div>
                <a href="http://wagtail.io"><img class="wagtail2" src="{% static "torchbox/images/wagtail.png" %}"  alt="Wagtail"></a>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
        <script src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}
    </body>
</html>
