{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}

{% block content %}
{% get_next_sibling_blog self as next_page %}
{% get_prev_sibling_blog self as prev_page %}

<main class="page-blog-single single">

    <div class="nextprev-nav">
        {% if prev_page %}
            <div class="nextprev prev">
                <a href="{% pageurl prev_page %}"><span>{{ prev_page.title }}</span></a>
            </div>
        {% endif %}

        {% if next_page %}
            <div class="nextprev next">
                <a href="{% pageurl next_page %}"><span>{{ next_page.title }}</span></a>
            </div>
        {% endif %}
    </div>

    <section class="container body-copy">

        {% include "torchbox/includes/breadcrumb.html" %}

        <h1 class="{% if self.title|length >= 30 %}long-title{% endif %}">{{ self.title }}</h1>

        <div class="article-meta">
            {% if self.date %}
                <span class="date">{{ self.date|date:"j F Y" }}{% if self.has_authors %}&nbsp;|&nbsp;{% endif %}</span>
            {% endif %}

            {# note these tags are all squashed together in order to avoid a space before the comma if there are current authors as well as an author who has left #}
            {% with self.related_author.all as authors %}{% if authors %}{% for author in authors %}{% if author.author %}<a href="{% pageurl author.author %}">{{ author.author.title }}</a>{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}{% endif %}{% endwith %}{% if self.author_left %}{% if self.has_authors %}, {% endif %}{{ self.author_left }}{% endif %}

            <div class="share">
                {% if self.has_authors %}| {% endif %}<a>Share &#10084;</a>
                <ul class="share options">
                    <li>
                        <div class="fb-like" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="torchbox">Tweet</a>
                    </li>
                </ul>
            </div>
        </div>

        {% if not self.streamfield and self.intro %}
            {{ self.intro|richtext }}
        {% endif %}

        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>

    {% include "torchbox/includes/streamfield.html" %}

    <section class="container body-copy">
        <div id="author" class="author clearfix" >
            {% with self.related_author.all as authors %}
                {% if authors %}
                    {% for author in authors %}
                    <div class="author-holder">
                        {% if author.author.image %}
                            {% image author.author.image fill-300x300 as photo %}
                            <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="avatar" />
                        {% endif %}
                        {% if author.author %}<a href="{% pageurl author.author %}" class="name">{{ author.author.title }}</a>{% endif %}

                        {% if author.author.role %}
                            <span class="role">{{ author.author.role }}</span>
                    </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <section class="tags">
            {% with self.tags.all as tags %}
                {% if tags %}
                    {% for tag in tags %}
                        <a href="{% pageurl self.blog_index %}?tag={{ tag.tag }}">{{ tag.tag }}</a>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

    </section>
</main>

<div id="fb-root"></div>
{% endblock %}

{% block extra_js %}
{% if FB_APP_ID %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{ FB_APP_ID }}&status=0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('l5fhw');</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5fhw&p_id=Twitter" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5fhw&p_id=Twitter" />
</noscript>
{% endblock %}
