{% extends "torchbox/base.html" %}
{% load static torchbox_tags wagtailcore_tags wagtailimages_tags %}
{% block googlemap %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
{% block content %}

<style>
    .about-hero {
        {% image page.main_image original as main_image %}
        background-image: url("{{ main_image.url }}");
    }
</style>

<div class="about-hero">
    <div class="container">
        <div class="content">
            <div class="contact">
                <div class="container">
                    <h2><span>Get in touch</span> about your exciting project</h2>
                    <ul>
                        <li>
                            <a href="tel:{{ settings.torchbox.GlobalSettings.ContactTelephone }}">
                                {% include "torchbox/includes/svg/phone.svg" %}
                                <span>{{ settings.torchbox.GlobalSettings.ContactTelephone }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:{{ settings.torchbox.GlobalSettings.ContactEmail }}">
                                {% include "torchbox/includes/svg/envelope.svg" %}
                                <span>{{ settings.torchbox.GlobalSettings.ContactEmail }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/{{ settings.torchbox.GlobalSettings.ContactTwitter }}">
                                {% include "torchbox/includes/svg/twitter.svg" %}
                                <span>@{{ settings.torchbox.GlobalSettings.ContactTwitter }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact-form-wrapper">
                <h3>Or use the form</h3>
                <form class="contact-form" action="{% pageurl page %}" method="post" id="contact-us-form">
                    <fieldset class="contact-form__group">
                        {# <h1>Drop us a line</h1> #}
                        {{ page.intro|richtext }}
                        {% csrf_token %}
                        {% spaceless %}
                        {% for field in form %}
                            <div class="contact-form__row contact-form__row--{{ field.id_for_label }}">
                                {{ field.errors }}
                                <label for="{{ field.id_for_label }}" class="contact-form__label {% if field.field.required %} contact-form__label--required {% endif %}">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% endspaceless %}
                        <div class="contact-action">
                            <button type="submit" class="contact-form__submit" id="contact-us-submit">Submit</button>
                        </div>
                    </fieldset>    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
