{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags %}
{% block googlemap %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
{% block content %}

    <div class="map" id="map"></div>
    <div class="container">
        <div class="contact">
            <div class="find-us">
                <h1>Come say hello</h1>
                <div class="address">
                    <h3>Oxford</h3>
                    <p>Unit 9, Southill Business Park, Charlbury, OX7 3EW, UK</p>
                </div>
                <div class="address">
                    <h3>Bristol</h3>
                    <p>3rd Floor, 15 Colston Street, Bristol, BS1 5AP, UK</p>
                </div>
                <div class="address">
                    <h3>Philadelphia</h3>
                    <p>Indy Hall, 22 N. 3rd St., Philadelphia, PA 19106, US</p>
                </div>
            </div>
            <form class="contact-form" action="{% pageurl page %}" method="post">
                {% spaceless %}
                <fieldset class="contact-form__group">
                    <h1>Drop us a line</h1>
                    {{ page.intro|richtext }}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="contact-form__row contact-form__row--{{ field.id_for_label }}">
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}" class="contact-form__label {% if field.field.required %} contact-form__label--required {% endif %}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="contact-form__submit">
                </fieldset>    
                {% endspaceless %}
            </form>
        </div>
    </div>
{% endblock %}