{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}

{% block content %}
	<section>
		{% include "torchbox/includes/breadcrumb.html" %}
		<div class="thank-you-header">
			<div class="thank-content">
				<h1 class="center">Thank you</h1>
				<div class="dark">
					<p>{{ self.thank_you_text|richtext }}</p>
				</div>
			</div>
			<div class="thank-btn">
				<a href="/">
					<div class="button">
						See what's new
					</div>
				</a>
				<a href="https://tinyletter.com/torchbox">
					<div class="button">Sign up to our newsletter</div>
				</a>
			</div>
		</div>
	

	</section>
{% endblock %}
