{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags humanize static %}

{% block content %}
    <div class= "crop-height">
        <img class="scale" src="{% static "torchbox/images/desk_02.jpg" %}"  width="" height="" alt="">
    </div>

    <section class="intro jobs">
         <div class="center">
            <h1>{{ self.title }}</h1>

            {% with self.jobs.all as jobs %}
                {% if jobs %}
                    <ul class="listing">
                        {% for job in jobs %}
                            <li>
                                <a href="{{ job.url }}" class="job-link">
                                    {{ job.job_title }}
                                    {% if job.location %}
                                        <div class="location">{{ job.location }}</div>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% if self.intro %}
                <div class="sign-up">
                    {{ self.intro|richtext }}
                </div>
            {% endif %}
        </div>

        <div class="news">
            <p>We are always interested in hearing from smart people who want to work at Torchbox. If there's not an obvious position to apply for, do <a href="mailto:hello@torchbox.com" class="link-inline">get in touch</a> anyway.</p>
            <p>Be the first to know about new jobs at Torchbox:</p>
            <p><a href="https://tinyletter.com/torchbox" class="button">Sign-up to our newsletter</a></p>
        </div>

        <div class="sub">
            <p> We do not use recruitment agents, so if you are a recruiter we would appreciate if you did not contact us.</p>
        </div>
    </section>

    <section class="benefits clearfix">
        <div class="center">
            <h2>Working at Torchbox</h2>
        </div>

        {% if self.content_block.all %}
            <ul>
                {% for item in self.content_block.all %}
                <li class="one">
                    <div class="clearfix">
                        <div class="icon"></div>
                        <div>{{ item.content|richtext }}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}
