{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <section class="services-intro">
        <h1>{{ self.title }}</h1>

        {% if self.intro %}
            {{ self.intro|richtext }}
        {% endif %}

        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>

    <section class="container">
        {% if self.content_block.all %}
        <ul class="listing clearfix services">
            {% for block in self.content_block.all %}
            <li class="{{ forloop.counter }} {% cycle 'odd' 'even' %}">
                {{ block.content|richtext }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>

{% endblock %}
