{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}
{% block content %}

    {# Hero #}
    <div class="services-hero js-services-inner">
        <div class="particles-js" id="particles-js"></div>
        <div class="services-hero__wrapper">
            <div class="services-hero__inner">
                <div class="services-hero__breadcrumbs">Services</div>
                <h1 class="services-hero__title">{{ page.title }}</h1>
                <p class="services-hero__description">
                    {{ page.description }}
                </p>
            </div>
        </div>

        {# Avatar #}
        <div class="services-avatar-container">
            <div class="services-avatar-container__find-out-more">
                {{ settings.torchbox.GlobalSettings.contact_widget_intro }}
            </div>
            <div class="services-avatar-container__close">
                {% include "torchbox/includes/svg/close-svg.html" %}
            </div>
            <div class="services-avatar">
                <div class="services-avatar__image">
                    {% image settings.torchbox.GlobalSettings.contact_person.image fill-100x100-c100 %}
                </div>
                <div class="services-avatar__text">
                    {{ settings.torchbox.GlobalSettings.contact_widget_intro }}
                </div>
            </div>
            <div class="services-avatar-container__contact-info">
                {{ settings.torchbox.GlobalSettings.contact_widget_call_to_action }}
                <button class="services-avatar-container__button">
                    {{ settings.torchbox.GlobalSettings.contact_widget_button_text }}
                </button>
            </div>
            <div class="services-avatar-container__contact-details">
                <div class="services-avatar-container__contact-item">
                    {% include "torchbox/includes/svg/phone-svg.html" %}
                    <a class="phone" href="tel:{{ settings.torchbox.GlobalSettings.contact_person.telephone }}">
                        {{ settings.torchbox.GlobalSettings.contact_person.telephone }}
                    </a>
                </div>
                <div class="services-avatar-container__contact-item">
                    {% include "torchbox/includes/svg/envelope-svg.html" %}
                    <a href="mailto:{{ settings.torchbox.GlobalSettings.contact_person.email }}">
                        {{ settings.torchbox.GlobalSettings.contact_person.email }}
                    </a>
                </div>
            </div>
        </div>

    </div>

    {% include_block page.streamfield %}
    
{% endblock %}
