{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}
{% block content %}

    {# Hero #}
    <!-- particles.js container -->

    <div class="services-hero js-services-inner">
        <div class="particles-js" id="particles-js"></div>
        <div class="services-hero__wrapper">
            <div class="services-hero__inner">
                <div class="services-hero__breadcrumbs">Services</div>
                <h1 class="services-hero__title">Custom web applications</h1>
                <p class="services-hero__description">
                    Our dedicated software engineering team use Python, Django and JavaScript to build robust, scalable custom web applications.
                </p>
            </div>
        </div>

        {# Avatar #}
        <div class="services-avatar">
            <div class="services-avatar__image">
                <img src="{% static 'torchbox/images/will-services-test.jpg' %}">
            </div>
            <div class="services-avatar__text">
                Find out more
            </div>
        </div>

    </div>
    
    {# Slider #}
    <div class="services-section services-section--white">
        <div class="services-wrapper">
            <h2 class="services-section__heading">We're helping leading organisations do more with data.</h2>
            
            {% spaceless %}
            <div class="services-slider">
                <h2 class="services-slider__heading">
                        Our team of leading experts in requirements analysis, technical programming, database design and code optimisation have created;
                </h2>

                {# Slider #}
                <div class="services-slider__tiles">
                    <div class="services-slider__tile-item"></div>
                    <div class="services-slider__tile-item"></div>
                    <div class="services-slider__tile-item"></div>
                </div>

            </div>
            {% endspaceless %}

        </div>
    </div>

    {# Services reasons #}
    <div class="services-section services-section--grey">
        <div class="services-wrapper">
            <h2 class="services-section__heading">The web applications we design and build</h2>
            <ul class="services-reasons-list">
                <li class="services-reasons-list__item">
                    <span>Help people on a daily basis to manage their information and facilitate their job/life</span>
                </li>
                <li class="services-reasons-list__item"><span>Capture validate and analyse data from multiple and disparate sources</span></li>
                <li class="services-reasons-list__item"><span>Generate accessible and customisable online dashboards to visualise data</span></li>
                <li class="services-reasons-list__item"><span>Create custom maps and reports online</span></li>
                <li class="services-reasons-list__item"><span>Integrate with 3rd party systems (such as CRMs, data warehouses and geo tools)</span></li>
            </ul>
        </div>
    </div>

    {# Blockquote #}
    <div class="services-section services-section--white services-section--border-bottom">
        <div class="services-wrapper">
            <div class="services-blockquote services-blockquote--border-bottom">
                <blockquote>
                    We are eternally grateful to the brilliant minds of Torchbox. Without them, we wouldn't be where we are today. We chose them because they embody the ethos of the sector we work in and have an excellent track record of building easy-to-use and 'clean', uncluttered systems.
                </blockquote>
                <cite>Duncan jones, head of operations, football foundation</cite>
            </div>
        </div>
    </div>
    
    {# Process #}
    <div class="services-section services-section--white services-section--border-bottom">
        <div class="services-wrapper">
            <h2 class="services-section__heading services-section__heading--oversize">How we build custom web applications</h2>
            
            {% spaceless %}
            <div class="services-grid">

                {# Reason 1 #}
                <div class="services-grid__item services-grid__item--one-half">
                    <div class="services-process">
                        <div class="services-process__icon">
                            {% include "torchbox/includes/svg/telescope-svg.html" %}
                        </div>
                        <div class="services-process__content-wrapper">
                            <div class="services-process__number">01</div>
                            <div class="services-process__title">Discovery</div>
                            <p class="services-process__description">
                                During Discovery we collaborate to build a shared vision for the project and understand the user needs for the web application. We'll typically conduct data research, such as mapping the data to be collected, normalised and visualised during the prototyping phase, and create the technical specification for the application.
                            </p>
                        </div>
                    </div>
                </div>

                {# Reason 2 #}
                <div class="services-grid__item services-grid__item--one-half">
                    <div class="services-process">
                        <div class="services-process__icon">
                            {% include "torchbox/includes/svg/satellite-svg.html" %}
                        </div>
                        <div class="services-process__content-wrapper">
                            <div class="services-process__number">02</div>
                            <div class="services-process__title">Prototype</div>
                            <p class="services-process__description">
                                During Discovery we collaborate to build a shared vision for the project and understand the user needs for the web application. We'll typically conduct data research, such as mapping the data to be collected, normalised and visualised during the prototyping phase, and create the technical specification for the application.
                            </p>
                        </div>
                    </div>
                </div>

                {# Reason 3 #}
                <div class="services-grid__item services-grid__item--one-half">
                    <div class="services-process">
                        <div class="services-process__icon">
                            {% include "torchbox/includes/svg/rocket-svg.html" %}
                        </div>
                        <div class="services-process__content-wrapper">
                            <div class="services-process__number">03</div>
                            <div class="services-process__title">Build</div>
                            <p class="services-process__description">
                                During Discovery we collaborate to build a shared vision for the project and understand the user needs for the web application. We'll typically conduct data research, such as mapping the data to be collected, normalised and visualised during the prototyping phase, and create the technical specification for the application.
                            </p>
                        </div>
                    </div>
                </div>

                {# Reason 4 #}
                <div class="services-grid__item services-grid__item--one-half">
                    <div class="services-process">
                        <div class="services-process__icon">
                            {% include "torchbox/includes/svg/saturn-svg.html" %}
                        </div>
                        <div class="services-process__content-wrapper">
                            <div class="services-process__number">04</div>
                            <div class="services-process__title">Continually enhance</div>
                            <p class="services-process__description">
                                During Discovery we collaborate to build a shared vision for the project and understand the user needs for the web application. We'll typically conduct data research, such as mapping the data to be collected, normalised and visualised during the prototyping phase, and create the technical specification for the application.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {% endspaceless %}

        </div> 
    </div>
    
    {# Who you'll work with #}
    <div class="services-section services-section--white services-section--border-bottom">
        <div class="services-wrapper">
            <h2 class="services-section__heading">Who you'll work with</h2>
            <p class="services-section__paragraph">We attract the best minds in the industry and have a team of software engineers with advanced degrees in informatics, bioinformatics, mathematics and science. Our large web application projects are led by:</p>

            {% spaceless %}
            <div class="services-grid">

                {# Team member #}
                <div class="services-grid__item services-grid__item--one-quarter">
                    <div class="services-team-member">
                        <div class="services-team-member__image">
                            <img src="http://placehold.it/300x300">
                        </div>
                        <div class="services-team-member__content">
                            <div class="services-team-member__name">Dr Helen Warren</div>
                            <div class="services-team-member__title">Senior Developer</div>
                            <p class="services-team-member__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tincidunt sem, nec convallis odio. Integer sagittis augue quis accumsan tempus. Aliquam egestas nunc in nisl cursus congue.
                            </p>
                        </div>
                    </div>
                </div>

                {# Team member #}
                <div class="services-grid__item services-grid__item--one-quarter">
                    <div class="services-team-member">
                        <div class="services-team-member__image">
                            <img src="http://placehold.it/300x300">
                        </div>
                        <div class="services-team-member__content">
                            <div class="services-team-member__name">Dr Helen Warren</div>
                            <div class="services-team-member__title">Senior Developer</div>
                            <p class="services-team-member__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tincidunt sem, nec convallis odio. Integer sagittis augue quis accumsan tempus. Aliquam egestas nunc in nisl cursus congue.
                            </p>
                        </div>
                    </div>
                </div>

                {# Team member #}
                <div class="services-grid__item services-grid__item--one-quarter">
                    <div class="services-team-member">
                        <div class="services-team-member__image">
                            <img src="http://placehold.it/300x300">
                        </div>
                        <div class="services-team-member__content">
                            <div class="services-team-member__name">Dr Helen Warren</div>
                            <div class="services-team-member__title">Senior Developer</div>
                            <p class="services-team-member__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tincidunt sem, nec convallis odio. Integer sagittis augue quis accumsan tempus. Aliquam egestas nunc in nisl cursus congue.
                            </p>
                        </div>
                    </div>
                </div>

                {# Team member #}
                <div class="services-grid__item services-grid__item--one-quarter">
                    <div class="services-team-member">
                        <div class="services-team-member__image">
                            <img src="http://placehold.it/300x300">
                        </div>
                        <div class="services-team-member__content">
                            <div class="services-team-member__name">Dr Helen Warren</div>
                            <div class="services-team-member__title">Senior Developer</div>
                            <p class="services-team-member__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tincidunt sem, nec convallis odio. Integer sagittis augue quis accumsan tempus. Aliquam egestas nunc in nisl cursus congue.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {% endspaceless %}

        </div>
    </div>

    {# Blockquote #}
    <div class="services-section services-section--white services-section--border-bottom">
        <div class="services-wrapper">
            <div class="services-blockquote">
                <blockquote>
                    We are eternally grateful to the brilliant minds of Torchbox. Without them, we wouldn't be where we are today. We chose them because they embody the ethos of the sector we work in and have an excellent track record of building easy-to-use and 'clean', uncluttered systems.
                </blockquote>
                <cite>Duncan jones, head of operations, football foundation</cite>
            </div>
        </div>
    </div>

{% endblock %}