{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}

{% block content %}
    {% if self.main_image %}
        {% image self.main_image fill-1300x750 as header_image %}
        <style>
            .about-hero {
                background-image: url('{{ header_image.url }}');
            }
        </style>
    {% endif %}
    <div class="about-hero">
    </div>

    <div class="about-text" id="tester-unique">
        <div class="container">
            <div class="content">
                <h2>{{ self.heading }}</h2>
            </div>
        </div>
    </div>

    <section class="text-content js-text-content" data-jq-clipthru="testclass-1" id="about-content">
        <div class="container">
            {% if self.intro %}
            <div class="main-content">
                <div class="we-do">
                    <p>{{ self.intro }}</p>
                </div>
            </div>
            {% endif %}

            {% if self.services.all %}
            <div class="services">
                <ul>
                    {% for service in self.services.all %}
                    <li>
                        <div class="content">
                            {{ service.svg|safe }}
                            <h3>{{ service.title }}</h3>
                            <p>{{ service.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>
    </section>

{% endblock %}
