{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% if self.main_image %}
        {% image self.main_image fill-1300x750 as header_image %}
        <style>
            .heading {
                background-image: url('{{ header_image.url }}');
            }
        </style>
    {% endif %}
    <div class="heading">
        {{ self.heading|richtext }}
    </div>

    <div class="coloured-background">
        {% if self.quote %}
            <div class="italic">
                <p class="hangingindent"> &#8220; {{ self.quote }}&#8221; </p>
            </div>
        {% endif %}
    </div>

    <section class="intro were-tbx container">
        {{ self.intro|richtext }}
    </section>

    <div class="quote">
        <div class="dark">
            {{ self.middle_break|richtext }}
        </div>
    </div>

    <section class="intro were-tbx container">
        {{ self.body|richtext }}
    </section>

    {% include "torchbox/includes/streamfield.html" %}

    <section class="container">
        {% include "torchbox/includes/clients.html" with clients=self.clients.all %}

        {% if not self|in_play %}
            <div class="button">
                <a href="mailto:{{ self.email }}">Get in touch</a>
            </div>
        {% endif %}
    </section>

{% endblock %}
