{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags staticfiles %}

{% block content %}
    <main class="page-standard">
        <section class="container">
            <div class="main-content">
                {% include "torchbox/includes/breadcrumb.html" %}

                {% if self.quote %}
                    <div class="italic">
                        <p class="hangingindent"> &#8220; {{ self.quote }}&#8221; </p>
                    </div>
                {% endif %}

                <div class="intro were-tbx ">
                    {{ self.intro|richtext }}
                </div>

                <div class="quote">
                    <div class="dark">
                        {{ self.middle_break|richtext }}
                    </div>
                </div>

                <div class="intro were-tbx ">
                    {{ self.body|richtext }}
                </div>

                {% include "torchbox/includes/streamfield.html" with content=page.streamfield %}
            </div>
        </section>
    </main>
{% endblock %}
