{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% if self.main_image %}
    {% image self.main_image fill-1300x750 as header_image %}
    <style>
    .heading {
        background-image: url('{{ header_image.url }}');
    }
    </style>
{% endif %}

    <div class="heading">
        <h2>Pick a T</h2>
        <h3> courtesy of Torchbox</h3>
    </div>

    <ul class="pick">
        <a href="#regular"> <li> Regular fit </li> </a>
        <a href="#slim"> <li> Slim fit </li> </a>
        <a href="#order"> <li> Order now </li> </a>
    </ul>

    <div class="style">
        <a name="regular"> <h2> Regular fit</h2> </a>
    </div>

    <div class="container t-listing">
        <ul class="t-listing">
            <li>
                <img src="{% static "torchbox/images/shirts/classic/Dark-Grey" %}"  width="" height="" alt="">
                <h3> Hello from Torchbox </h3>
                <h4> Dark grey </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/classic/French-Navy" %}"  width="" height="" alt="">
                <h3> Torchbox flame </h3>
                <h4> French navy </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/Slim/melange-Grey" %}"  width="" height="" alt="">
                <h3> Torchbox flame  </h3>
                <h4> Melange Grey </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/classic/Yellow" %}"  width="" height="" alt="">
                <h3> Hello from Torchbox </h3>
                <h4> Yellow </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/classic/red" %}"  width="" height="" alt="">
                <h3> Torchbox flame </h3>
                <h4> Red </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/classic/dark-red" %}"  width="" height="" alt="">
                <h3> Hello from Torchbox </h3>
                <h4> Dark red </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/classic/brown" %}"  width="" height="" alt="">
                <h3> Hello from Torchbox </h3>
                <h4> Brown </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/classic/faded-black" %}"  width="" height="" alt="">
                <h3> Torchbox flame </h3>
                <h4> Faded black </h4>
            </li>
        </ul>
    </div>

    <div class="style">
        <a name="slim"> <h2> Slim fit</h2> </a>
    </div>

    <div class="container t-listing">
        <ul class="t-listing">
            <li>
                <img src="{% static "torchbox/images/shirts/Slim/melange-Grey" %}"  width="" height="" alt="">
                <h3> Torchbox flame  </h3>
                <h4> Melange Grey </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/Slim/Dark-Grey" %}"  width="" height="" alt="">
                <h3> Hello from Torchbox </h3>
                <h4> Dark grey </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/Slim/Dark-Navy" %}"  width="" height="" alt="">
                <h3> Torchbox flame </h3>
                <h4> Dark navy </h4>
            </li>
            <li>
                <img src="{% static "torchbox/images/shirts/Slim/Aqua" %}"  width="" height="" alt="">
                <h3> Torchbox flame </h3>
                <h4> Aqua </h4>
            </li>
        </ul>
    </div>

    <a name="order"></a>
    <div class="form">
        <div class="container">
            <script type="text/javascript">
                var __machform_url = 'http://forms.torchbox.com/embed.php?id=17236';
                var __machform_height = 950;
            </script>
            <div id="mf_placeholder"></div>
            <script type="text/javascript" src="http://forms.torchbox.com/js/jquery.min.js"></script>
            <script type="text/javascript" src="http://forms.torchbox.com/js/jquery.ba-postmessage.min.js"></script>
            <script type="text/javascript" src="http://forms.torchbox.com/js/machform_loader.js"></script>
        </div>
    </div>
{% endblock %}
