{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}

{% block content %}
{% get_next_sibling_by_order self as next_page %}
{% get_prev_sibling_by_order self as prev_page %}

<main class="single">
    {% with self.screenshots.all as screenshots %}
        {% if screenshots %}
                {% for screenshot in screenshots %}
                    {% image screenshot.image width-9999 as shot %}
                    <div class="work-hero" id="top-image" style=" background-image:url({{ shot.url }});">
                        <div class="container">
                            <div class="text">
                                {% include "torchbox/includes/breadcrumb.html" %}
                                <p class="client">{{ self.title }}</p>
                                <h1>{{self.descriptive_title}}</h1>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}

    <section class="text-content">
        <div class="container">
            <div class="main-content">
                {% if self.body %}
                        {{ self.body|richtext }}
                {% endif %}

                {% include "torchbox/includes/streamfield.html" %}
            </div>
            <div class="specifications">
                <div class="content">
                <ul>
                    <li><h4>specifications</h4></li>
                    <li>14 templates</li>
                </ul>
                <ul>
                    <li><h4>services</h4></li>
                    <li>User experience</li>
                    <li>Design</li>
                    <li>Wagtial build</li>
                </ul>
                <ul>
                    <li><h4>Sector</h4></li>
                    <li>Third sector</li>
                </ul>
                <ul class="tags">
                    <li><h4>tags</h4></li>
                    {% with self.tags.all as tags %}
                        {% if tags %}
                            {% for tag in tags %}
                                <li>
                                    <a href="{% pageurl self.work_index %}?tag={{ tag.tag.slug }}">{{ tag.tag }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="author" >
                {% with self.related_author.all as authors %}
                    {% if authors %}
                        {% for author in authors %}
                        <div class="author-holder">
                            {% if author.author.image %}
                                {% image author.author.image fill-300x300 as photo %}
                                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="avatar" />
                            {% endif %}
                            <div class="text">
                                {% if author.author %}<a href="{% pageurl author.author %}" class="name">{{ author.author.title }}</a>{% endif %}
                                {% if author.author.role %}
                                <span class="role">{{ author.author.role }}</span>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="nextprev-nav">
<!--
            {% if prev_page %}
                <div class="nextprev prev">
                    <a href="{% pageurl prev_page %}">{% image prev_page.homepage_image fill-80x80 class="thumb" %} <span>{{ prev_page.title }}</span></a>
                </div>
            {% endif %}
-->


            {% if next_page %}
                <div class="nextprev next">
                    <a href="{% pageurl next_page %}">
                        <div class="next style=" background-image:url({{ shot.url }});">
                            {% image next_page.homepage_image fill-2000x600 class="thumb" %}
                            <span class="text">
                                <h4>up next</h4>
                                <h2>{{next_page.descriptive_title}}</h2>
                            </span>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>

</main>

<!--
<div class="share">
    {% if self.has_authors %}| {% endif %}<a>Share &#10084;</a>
    <ul class="options">
        <li>
            <div class="fb-like" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </li>
        <li>
            <a href="http://www.twitter.com/share" class="twitter-share-button">Tweet</a>
        </li>
    </ul>
</div>
-->

<div id="fb-root"></div>
{% endblock %}

{% block extra_js %}
{% if FB_APP_ID %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{ FB_APP_ID }}&status=0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}
