{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}

{% block content %}
{% get_next_sibling_by_order self as next_page %}
{% get_prev_sibling_by_order self as prev_page %}

<main class="single">

    <div class="work hero" data-slide="true">
        {% with image=page.homepage_image %}
          {% with focal_rect=image.get_focal_point %}
            {% image image fill-1920x1080 as img %}
            <div class="background" style="background-image: url('{{ img.url }}');{% if focal_rect %} background-position: {% widthratio focal_rect.x image.width 100 %}% {% widthratio focal_rect.y image.height 100 %}%;{% endif %}"></div>
          {% endwith %}
        {% endwith %}
        <div class="content">
            <div>
                <div class="descriptive-title">
                    {{ page.descriptive_title }}
                </div>
                <div class="title">{{ page.title }}</div>
            </div>
        </div>
    </div>

    {% with screenshots=self.screenshots.all %}
        {% if screenshots %}
                {% for screenshot in screenshots %}
                    {% image screenshot.image width-9999 as shot %}
                    <div class="work-hero" style=" background-image:url({{ shot.url }});">
                        <div class="hero-text" id="tester-unique">
                            <div class="container">
                                <div class="content">
                                    {% include "torchbox/includes/breadcrumb.html" %}
                                    <h1>{{self.descriptive_title}}</h1>
                                    <p class="client">{{ self.title }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}

    {% if page.streamfield %}
        <section class="stream-field">
            {{ page.streamfield }}
        </section>
    {% endif %}

    {% with other_works=page.other_works %}
        {% if other_works %}
            <div id="more-like-this" data-slide="true">
                <div class="container">
                    <h1>Want to see <strong>more?</strong></h1>
                    <div class="flex-row">
                        {% for work in other_works %}
                            <a href="{% pageurl work %}" class="work">
                                {% image work.homepage_image fill-1100x425 as img %}
                                <div class="background" style="background-image: url('{{ img.url }}');"></div>
                                <div class="content">
                                    <div class="descriptive-title">
                                        {{ work.descriptive_title }}
                                    </div>
                                    <div class="title">{{ work.title }}</div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}

</main>

<div id="fb-root"></div>
{% endblock %}

{% block extra_js %}
{% if FB_APP_ID %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{ FB_APP_ID }}&status=0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script>
      $(function () {
        var $window = $(window);
        var $slides = $('[data-slide="true"]');
        var $currentSlide = null;
        var lastScroll = $window.scrollTop();
        var inAnimation = false;
        var $animated = $('body, html');

        function autoSlide(dy) {
          if (dy == 0) {
            return;
          }
          var windowHeight = $window.height();
          var $validSlides = $slides;
          if ($currentSlide !== null) {
            $validSlides = $validSlides.not($currentSlide);
          }
          $validSlides.each(function () {
            var bounds = this.getBoundingClientRect();
            var isTopVisible = (bounds.top > 0)
                               && (bounds.top < windowHeight);
            var isBottomVisible = (bounds.bottom > 0)
                                  && (bounds.bottom < windowHeight);
            if (isTopVisible && isBottomVisible) {
              return;
            }
            if (((dy < 0) && isBottomVisible) || ((dy > 0) && isTopVisible)) {
              $currentSlide = $(this);
              inAnimation = true;
              var newScroll = $currentSlide.offset().top;
              if (dy < 0) {
                newScroll += bounds.height - windowHeight;
              }
              $animated.stop().animate({
                scrollTop: newScroll
              }, 800).promise().then(function () {
                inAnimation = false;
                lastScroll = $window.scrollTop();
              });
              return false;
            }
          });
        }

        var jobKey = -1;

        $window.scroll(function (event) {
          var scroll = $window.scrollTop();
          var dy = scroll - lastScroll;
          lastScroll = scroll;
          if (!event.originalEvent) {
            return;  // Returns if the event is not a manual scroll.
          }
          if (inAnimation) {
            if (Math.abs(dy) > 100) {
              $animated.stop();
              $currentSlide = null;
              clearTimeout(jobKey);
              jobKey = setTimeout(function () {
                autoSlide(1);
              }, 300);
              return;
            }
            return;
          }
          autoSlide(dy);
        });

        autoSlide(1);
      });
    </script>
{% endblock %}
