{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--primary{% endblock %}

{% block content %}

{% include "patterns/molecules/title-block/title-block.html" with item=self tags=self.related_services %}

<div class="blog-listing blog-listing--centre">

    <div class="blog-listing__content">

        <div class="blog-listing__list">
            {% for blog in blog_posts %}
                {% include "patterns/molecules/blog-item/blog-item.html" with item=blog %}
            {% endfor %}
        </div>

        {% include "patterns/atoms/see-more/see-more.html" with item=see_more %}
    </div>

</div>

{% endblock %}
