{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--primary{% endblock %}

{% block content %}

{% include "patterns/molecules/title-block/title-block.html" with item=page tags=page.related_services %}

<div class="blog-listing blog-listing--centre">

    <div class="blog-listing__content">

        <div class="blog-listing__list" data-fetch-destination="blog-pages" data-fetch-max-pages="{{blog_posts.paginator.num_pages}}">
            {% include "patterns/pages/blog/includes/blog_listing.html" with blog_posts=blog_posts %}
        </div>

        {% if blog_posts.has_next %}
            {% include "patterns/atoms/see-more/see-more.html" with text="See more blogs" fetch_data="blog-pages" %}
        {% endif %}
    </div>

</div>

{% endblock %}
