{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--primary{% endblock %}

{% block content %}

    {% include "patterns/molecules/title-block/title-block.html" with item=page %}
    {% include "patterns/molecules/author/author.html" with item=page %}

    {% include_block page.body %}

    <div class="page__author">
        {% include "patterns/molecules/author/author.html" with item=page %}
    </div>

    {% if page.blogs %}
    <div class="page__showcase">
        <div class="blog-listing">
            <h2 class="section-title">More of our thinking</h2>
            <div class="blog-listing__content">
                <div class="blog-listing__list">
                    {% for blog in page.blogs %}
                        {% include "patterns/molecules/blog-item/blog-item.html" with item=blog %}
                    {% endfor %}
                </div>
                {% include "patterns/atoms/see-more/see-more.html" with item=see_more %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
