{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block meta_tags %}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'author-title' : '{{ page.authors.all.0.author.role }}',
            'author-name' : '{{ page.authors.all.0.author.name }}',
            'published' : '{{ page.date|date:"Ymd" }}',
            'tags' : [{% for tag in page.related_services.all %}'{{tag.name}}'{% if not forloop.last %}, {% endif %}{% endfor %}],
            'read-time' : '{{ page.read_time }}',
            'id': '{{ page.id }}',
            'page-h1' : '{{ page.title }}',
            'page-title' : '{{ page.title }} | Torchbox',
            'page-path': '{{ page.slug }}',
            'event': 'page-information'
        });
    </script>
    <meta name="author" content="{{ page.authors.all.0.author.name }}">
    <meta property="og:article:published_time" content="{{ page.date|date:'Y-m-d' }}" />
    {{ block.super }}

{% endblock %}

{% block content %}
    {% include "patterns/molecules/title-block/title-block.html" with item=page tags=False %}
    {% pageurl page.blog_index as blog_index_url %}

    {% for page_author in page.authors.all %}
        {% include "patterns/molecules/author/author.html" with author=page_author.author item=page tag_link_base=blog_index_url %}
    {% endfor %}

    {% include_block page.body %}

    <div class="page__author">
        {% for page_author in page.authors.all %}
            {% include "patterns/molecules/author/author.html" with author=page_author.author item=page tag_link_base=blog_index_url %}
        {% endfor %}
    </div>

    {% include_block page.call_to_action %}

    {% if page.related_blog_posts %}
        <div class="page__showcase">
            <div class="blog-listing blog-listing--top-space">
                <div class="blog-listing__content">
                    {% include "patterns/atoms/section-title/section-title.html" with title="More of our thinking"%}
                </div>
                <div class="blog-listing__content">
                    <div class="blog-listing__list blog-listing__list--horizontal {% if page.related_works %} u--pb-0 {% endif %}">
                        {% for post in page.related_blog_posts %}
                            {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
                        {% endfor %}
                    </div>
                    {% include "patterns/atoms/see-more/see-more.html" with link=blog_index_url text="See more posts" %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.related_works %}
        <div class="page__showcase">
            <div class="related-content">
                {% include "patterns/atoms/section-title/section-title.html" with title="More of our work" %}
                <div class="related-content__list">
                    {% include "patterns/organisms/work-listing/work-listing.html" with works=page.related_works %}
                    {% pageurl page.work_index as work_index_url %}
                    {% include "patterns/atoms/see-more/see-more.html" with link=work_index_url text="See more case studies" %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
