@media only screen and (min-width: 96em) {

    .page-home h2 {
    	font-size: 7em;
    }

	.page-home .hero {
		padding: 15em 2em;
	}

	.page-home .hero h2 {
		font-size: 5em;
	}

	.page-personindexpage .grid.people-list li {
		width: 25%;
	}

	.page-personindexpage .grid li:nth-child(3n+4) {
		clear: none;
	}

	.page-people-single .hero {
		height: 32em;
	}

	.page-homepage .hero h2 {
		text-align: center;
		max-width: 26em;
		text-align: left;
		font-size: 3em;
		line-height: 1.2em;
	}


}