@media only screen and (min-width: 96em) {

    .page-home h2 {
    	font-size: 3em;
    }

	.page-home .hero {
		padding: 15em 2em;
	}

	.page-home .hero h2 {
		font-size: 5em;
	}

	.grid.people-list li {
		width: 25%;
	}

	.page-people-single .hero {
		height: 32em;
	}
}