/*Animations*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

main {

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}

* {
    -webkit-box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #CEEAF8;
    text-shadow: none;
}

::selection {
    background: #CEEAF8;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-top: rgba(0,0,0,0.2);
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


img.scale {
     /* corrects inline gap in enclosing div */
     display: block;
     max-width: 100%;
     /* just in case, to force correct aspect ratio */
     height: auto !important;
     width: auto\9; /* ie8+9 */
     /* lt ie8 */
     -ms-interpolation-mode: bicubic;
}

.crop-height {
     /* max-width: 1200px; /* img src width (if known) */
     max-height: 40em;
    overflow: hidden;
}

html {
    font-family: 'proxima-nova',helvetica,sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body {
    /*max-width: 96em; */
    margin: 0 auto;
    color: #434a4f;
    line-height: 1.75;
    background-color: #fff;
}

body * {
     -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

main {
    padding: 0;
    position: relative;
}

.single main {
    padding: 1em 0;
}

h1, h2, h3 {
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.listing p {
    display: none;

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

button, .button {
    padding: 0.75em 1em;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #EA853a;
    display: inline-block;
    line-height: 1em;
    border-radius: 0.2em;
}

button:hover, .button:hover {
    background-color: #ffa523;
    color:#fff;
    transition: background-color 0.15s ease;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width:100%;
    height: auto;
}

.img-wrapper {
    width:100%;
    margin:-8em 0 0 0;
    text-align: center;
}

.img-wrapper img {
    width: auto;
    position:relative;
    max-width: 100%;
}

.page-workpage .img-wrapper {
    width:100%;
    margin:4.5em 0 0 0;
    text-align: center;
}

.page-homepage header {
    position:relative;
}

header {
    z-index: 999;
    position:relative;
    background-color: transparent;
}

header nav li a {
    display: block;
    padding: 0.5em 1em;
   /* margin: 0.5em 0.5em; */
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.1em;
    font-family: "proxima-nova",helvetica,sans-serif;
}

header nav li a:hover {
    color: #EA853a;
    transition: all 0.2s ease;
}

header nav ul {
    height: 0;
    -webkit-transition: 0.3s linear;
    -moz-transition:  0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

header nav ul.visible {
    height: 248px;
}

main nav {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 0;
    text-align: right;
}

main nav li {
    display: inline;
}

main nav li a {
    padding: 0.5em 0.75em;
    margin-right: 1px;
    line-height: 1em;
}

main nav li.active a {
    color: #EA853a;
    position: relative;
}

main nav li.active a:after {
    height: 0;
    width: 0;
    position: absolute;
    border-top: 10px solid #EA853a;
    border-bottom: 1em solid transparent;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    content: "";
    left: 50%;
    top: 38px;
    margin-left: -0.75em;
}

.container {
    padding: 0 1em;
}

.page-homepage .bleed {
    margin: 0.3em -1em 3em -1em;
    background: rgba(67,74,79,0.8);
    color: white;
}

.page-homepage .go {
    display: none;
}

.page-homepage .more {
    padding: 3em 0;
    overflow: hidden;
}

.page-homepage .button {
    margin: 0 auto;
    padding: 1.3em 3em;
    background-color: transparent;
    border: solid 1px #EA853a;
    color: #EA853a;
    line-height: 1em;
    border-radius: 0.2em;
    -webkit-transition: .3s;
}

.page-homepage .center {
    max-width: 230px;
}

.page-homepage .button:hover {
    background-color: #EA853a;
    border: solid 1px #EA853a;
    color: #fff;
    cursor:pointer;
}

 .bleed {
    margin: 0.3em -1em 0 -1em;
    background: rgba(67,74,79,1);
    color: white;
    overflow: hidden;
}

.listing .bleed {
    background: transparent;
    margin: 0;
    color: white;
    overflow: hidden;
}

.single .container {
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.body-copy a:hover {
    color: #ffa624;
    transition: color 0.1s ease;
}

.body-copy p a {
    color: #424A4F;
    transition: all 0.15s ease;
    border-bottom: 1px dotted #424A4F;
}

.body-copy p a:hover{
    color: #EA853A;
    border-bottom: 1px dotted #EA853A;
}

.body-copy h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.body-copy h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.negative {
    color: #fff;
}

.negative a {
    color: #434a4f;
}


.listing {
    width: 100%;
}

.listing main li {
    margin-bottom: 1em;
    position: relative;
}

.listing a {
    display: block;
    width:100%;
    position: relative;
}

.listing a:hover h2,
.listing a:hover h3 {
    cursor: pointer;
    transition: color 0.2s ease;
}

.listing h2,
.listing h3 {
    font-size: 1.55em;
    font-weight: bold;
    margin-bottom: 0.2em;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.listing main div {
    padding: 1em;
}

.logo {
    height:3em;
    display: block;
    background: url("/static/torchbox/images/logo-torchbox-grey.png") center left no-repeat;
    background-size: auto 2em;
    width:14em;
    transition: all 0.2s ease;
    opacity: 0.80;
}

.logo:hover {
    opacity: 1;
}

.menu-button {
    display:inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #434a4f;
    line-height: 1em;
    padding: 0.6em;
    width:2.5em;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

.menu-button:hover {
    background-color: #EA853a;
    color: #fff;
    transition: all 0.2s ease;
}

/*Page home*/

.arrow{
    display: none;
}

.hide{
    display: none;
}

.page-homepage .block .workcontainer {
    padding: 1em;
    max-width: 100%;
    overflow: hidden;
}

.page-homepage .block .blogcontainer {
    padding: 1em;
    max-width: 100%;
    overflow: hidden;
}

.label{
    display: none;
}

.blog .label{
    display: block;
}

.page-homepage .listing p{
    display: block;
    font-size: 1.1em;
    margin-top: -0.1em;
}

.workcontainer .work-intro .listing p{
    display: none;
}

.blogcontainer {
    display: none;
}

.page-homepage .blockblog{
    height: auto;
    overflow: hidden;
}

.page-homepage .crop-height {
    /* max-width: 1200px; /* img src width (if known) */
    float: left;
    overflow: hidden;
}

.page-homepage .menu-button:hover {
    background-color: #fff;
    color: rgba(67,74,79,0.8);
    transition: all 0.2s ease;
}

.page-homepage .blog {
    background: #f3f4f6;
    padding: 1em 0;
    overflow: hidden;
}

.page-homepage .logo {
    background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
    background-size: auto 2em;
}

.page-homepage .listing a h2:hover,
.page-homepage .listing a h3:hover {
    color: #EA853a;
}

.page-homepage .hero {
    padding: 22em 0em 3em 0em;
    background: url("/static/torchbox/images/Homepage_hero.png") no-repeat center;
    background-color: #5b6265;
    position: relative;
    top: -22em;
    margin-bottom: -21em;
    -webkit-background-size: cover;
}

.page-homepage .hero .gif {
    width: 100%;
}

.page-homepage .hero .gif img{
        margin: 0 auto;
        max-width: 480px;
    }

.page-homepage .hero em {
    border-bottom: 0.10em solid #ea853a;
    font-style: normal;
}

.page-homepage .hero .button {
    background-color: transparent;
    display: inline-block;
    padding: 1em 1.5em;
    line-height: 1em;
    margin: 0 1em 1em 0;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 2px;
    min-width: 200px;
    text-align: center;
    float: left;
    cursor: pointer;
     -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
}

.page-homepage .hero .button:hover {
    background-color: rgba(225,225,225, 0.5);
    color: #fff;
    border: solid 1px rgba(225,225,225, 0.2);
}

.page-homepage .hiring {
    min-width: 100%;
    text-align: left;
    padding: 3em 2em;
    background-color: #F3F4F6;
}

.page-homepage .hiring > div {
    max-width:46em;
    margin: 0 auto;
    color:#fff;
}

.page-homepage .hiring a {
    border-radius: 3px;
    border: solid 1px #424A4F;
    padding: 0.8em 1em;
    line-height: 1em;
    font-weight: 300;
    color: #424A4F;
    display: inline-block;
    margin-bottom: 0.5em;
    border-radius: 3px;
    -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
}

.page-homepage .hiring a:hover {
    background-color: #424a4f;
    border: solid 1px #424a4f;
    color: #fff;
}

.page-homepage main h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: "proxima-nova";
    font-weight: 600;
    color: #424A4F;
}

.page-homepage .work-intro {
    margin:0;
    padding: 0em 1em;
}

 .page-homepage .work li a:hover h3 {
     color: #EA853a;
 }

 .page-homepage .container {
overflow: hidden;
}

.page-homepage .hero h2 {
        text-align: center;
        margin: 0 auto 1em 0;
        max-width: 26em;
        text-align: left;
        font-size: 1.8em;
        line-height: 1.2em;
        color: #fff;
    }

.page-homepage .menu-button {
        background-color: #fff;
        color: #434a4f;
        }

.page-homepage h2 a {
    color: #222;
    position: relative;
    transition: color 0.1s ease;
}

.page-homepage h2 a span {
    color: #EA853a;
}

.page-homepage h2 a:hover {
    color: #EA853a;
}

.page-homepage h2 a:hover span {
    position: absolute;
    right: -0.8em;
    -webkit-animation:spin 0.5s ease 0.1s;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;
}

.page-homepage .blog li {
    margin-top: 0.5em;
}

.worklisting h3{
    margin-bottom: 1em;
}

.worklisting {
    margin-bottom: 2em;
}

.page-homepage .bloglisting a:first-child li{
    padding-top: 2em;
}

.page-homepage .bloglisting a:last-child li{
    padding-bottom: 2em;
}

.clients {
    padding: 1em 0 1em 0em;
    margin:0 auto;
    max-width: 50em;
    overflow: hidden;
}

.clients li {
    width: 33%;
    height: 3em;
    float: left;
    padding: 2em 1%;
    text-align: center;
}

.clients li > * {
    height: auto;
    text-align: center;
    opacity: 0.5;
    padding: 1.25em;
}


/*Jobs index*/

.page-jobindexpage main .listing li {
width: 100%;
margin-right: 2%;
min-height: 60px;
font-size: 0.8em;
}


.sign-up{
    clear: both;
    width: 100%;
    text-align: center;
}

.page-jobindexpage h1 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #fff;
    font-family: "proxima-nova";
}

.page-jobindexpage main .jobs {
    margin-top: -19.5em;
    background-color: #424A4F;
    -webkit-font-smoothing: antialiased;
    padding: 19.5em 2em 3em 2em;
}

.page-jobindexpage .richtext{
    border-bottom: 1px dotted #DAD7D7;
}

.page-jobindexpage main .jobs a {
    color: #F3F4F6;
    padding: 0.6em 0;
}

.page-jobindexpage .logo{
    background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
    background-size: auto 2em;
}

.page-jobindexpage .menu-button {
    background-color: #93DA9F;
    color: #fff;
}

.page-jobindexpage .menu-button:hover {
    background-color: #fff;
    color: rgba(67,74,79,0.8);
    transition: all 0.2s ease;
}

.icon{
    display: none;
}

.page-jobindexpage main .listing li:first-child a {
    border-top: 1px solid #6F6E6E;
}

.page-jobindexpage .benefits li {
    padding: 2em 2em 1.5em 2em;
    margin-bottom: -1em;
}

.page-jobindexpage .intro p {
    font-size: 0.9em;
    margin: 2em 0 0.5em 0;
    color: #F3F4F6;
}

.benefits{
    margin: 1em 0 0 0;
}
.page-jobindexpage footer{
    margin: 2em 0 0 0;
}

.page-jobindexpage .intro p  a{
    background-color: #424a4f;
    display: inline-block;
    padding: 1.7em 1.5em;
    line-height: 1em;
    margin: -1em 1em -1em 0;
    color: #fff;
    border: solid 1px #f3f4f6;
    border-radius: 2px;
    min-width: 252px;
    height: 55px;
    text-align: center;
    font-size: 0.8em;
    transition: all 0.2s ease;
}

.page-jobindexpage .intro p {
    clear: both;
}

.page-jobindexpage .intro p  a:hover{
    background-color: rgba(255,255,255,0.1);
    border: solid 1px #f3f4f6;
    border-radius: 2px;
}

.page-jobindexpage main .listing a {
    font-size: 1.3em;
    border-bottom: 1px solid #6F6E6E;
    transition: all 0.2s ease;
    line-height: 1.3;
}

.page-jobindexpage main .listing a:hover {
    background-color: rgba(255,255,255,0.1);
    padding-left: 0.5em;
}

.page-jobindexpage main .listing a:hover:after {
    content: "›";
    position: absolute;
    right: 1em;
    bottom: 1.1em;
}

.page-jobindexpage main .benefits .heading-block {
    padding-bottom: 1em;
    color: #627928;
}

.page-jobindexpage main .benefits h2 {
    font-weight: bold;
    font-size: 2.5em;
    max-width: 20em;
    margin: 0.7em 0 0.5em 0;
    padding: 0 0 0 0.8em;
    line-height: 1em;
}

.page-jobindexpage .benefits h3 {
    font-size: 1.7em;
    margin-bottom: 0.25em;
    font-weight: bold;
    line-height: 1em;
}

.page-jobindexpage  img.scale {
    display: none;
}

.page-jobindexpage  img {
    width: 62px;
}

.page-jobindexpage  .crop-height {
    display: none;
}

.page-jobindexpage .img-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
}

.location{
    padding: 0;
    font-size: 0.7em;
    color:#97cb9b;
}

/*job page*/
.page-jobpage h1 {
    line-height: 1em;
}

.page-jobpage h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: -1em;
}

.page-jobpage .body-copy h2 {
    margin-top: 0;
}

.page-jobpage footer .offices h3{
    margin-bottom: 0;
}

.footerbleed{
    padding-top: 1em;
}

.info{
    width: 49%;
    margin-left: 1%;
    float: left;
}

.info-holder{
    width: 100%;
    margin:1em auto 1.5em 0;
    height: 95px;
    padding: 0em 0 0em 0;
    border-bottom: 1px dotted #a9a9a9;
}

.info p{
    color: #97cb9b;
    line-height: 1.2em;
    padding-top: 1em;
}

/*Standard page*/

.page-standardpage .bleed {
    background: rgba(67,74,79,0.8);
}

.page-standardpage h4{
    color: #97cb9b;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

h4 span{
    padding: 0 0.3em 0 0.5em;
    border-right: 1px solid #97cb9b;
}

h4 span:last-child{
    padding: 0 0.5em;
    border-right: none;
}

.page-standardpage .button{
    background-color: white;
    display: inline-block;
    padding: 1.1em 3em;
    line-height: 1em;
    margin: 2em 1em 1em 0;
    color: #EA853a;
    border: solid 1px #EA853a;
    border-radius: 2px;
    min-width: 100px;
    text-align: center;
}

.page-standardpage .button:hover{
    cursor: pointer;
    background-color: #EA853a;
    display: inline-block;
    color: #fff;
    transition: background-color 0.2s ease;
}

.page-standardpage p a {
    transition: all 0.15s ease;
    border-bottom: 1px dotted #424A4F;
}

.page-standardpage p a:hover{
    color: #EA853A;
    border-bottom: 1px dotted #EA853A;
}

.page-standardpage .logo {
    background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
    background-size: auto 2em;
}

.page-standardpage header nav li a {
    color: #fff;
}

.page-standardpage header nav li a:hover{
    color: #ea853a;
    transition: all 0.15s ease;
}

.page-standardpage .listing p {
    float: left;
    display: block;
    margin-top: -0.5em;
}

.page-standardpage .hero{
    padding: 2em 1em 0em 1em;
    max-width: 80em;
    margin:-20em auto 9em auto;
    position: relative;
}

.page-standardpage h2 span{
    border-bottom: 4px #fff solid;
}

.page-standardpage h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    margin: -3em 0 3.5em 0;
}

.page-standardpage  p i{
    font-size: 1.1em;
}

.italic{
    line-height: 1.5em;
    padding: 0 1em;
    max-width: 800px;
    font-size: 1.2em;
    padding: 0 1em;
    margin: 1.5em auto 0em auto;
    font-style: italic;
}

.page-standardpage main {
    padding: 0;
}

.hangingindent {
    text-indent: -13px ;
}

.page-standardpage .quote {
    background-color: #424A4F;
    padding: 3em 0 2.8em 0;
    background: url("/static/torchbox/images/tbx_sign_dark2.jpg") center right no-repeat;
    background-size: cover;
}

.page-standardpage .quote p {
    font-size: 1.1em;
    margin-top: -1em;
    color: #fff;
    text-align: center;
}

.page-standardpage h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    line-height: 1;
}

.page-standardpage .width{
    max-width: 60em;
    margin: 0 auto;
}

.page-standardpage .were-tbx h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #424a4f;
}

.page-standardpage .intro {
    margin-bottom: 2em;
    margin-top: 2em;
}

.page-standardpage .intro p {
    font-size: 1em;
}

.page-standardpage .services-intro {
    padding-bottom: 1em;
}

.page-standardpage .were-tbx {
    margin-top: -8.5em;
    padding: 8.5em 2em 0 1em;
    -webkit-font-smoothing: antialiased;
    color: #434a4f;
}

.page-standardpage  .crop-height {
    max-height: 40em;
    overflow: hidden;
    margin-top: -19em;
}

.page-standardpage img.scale {
    display: block;
    height: auto !important;
    width: auto\9;
    width: auto;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.page-standardpage .were-tbx-2 li {
    display: block;
    width: 100%;
}

.page-standardpage .listing li img {
    display: block;
}


/*Services page*/
.page-servicespage .services-intro {
    background: #F1D148;
    margin-top: -8.5em;
    padding: 8.5em 2em 2em 2em;
    color: #fff;
}

.page-servicespage h1 {
    font-size: 3em;
    font-weight: bold;
}

.page-servicespage main .grid li{
    margin-bottom: 2em;
}

.page-servicespage .services li {
    margin: 5em 1em 0em 1em;
    padding-bottom: 1em;
    display: block;
}

.page-servicespage .services li:before {
    position: absolute;
    margin-top: -1.5em;
    font-size: 4em;
    color: #F1D148;
    -webkit-font-smoothing: antialiased;
}

/*Index pages*/

.pagination li {
    display: inline;
}

.pagination a {
    text-align: center;

}

.pagination .active a {
    border: 1px solid #EA853a;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    color: #EA853a;
    }

.index h1 {
    font-size: 5em;
    margin-bottom: 0.25em;
    line-height: 1.15;
    font-weight: bold;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.index,
.single {
    padding: 1em 0;
}

/*Blog Index*/

.blog{
    margin-top: 0;
}

.page-blogindexpage img.scale {
    display: none;
}

.page-blogindexpage h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.page-blogindexpage main {
    background-color: #fff;
    color: #434a4f;
    -webkit-font-smoothing: antialiased;
    padding-top: 100%;
    margin-top: -100%;
}

.page-blogindexpage .blog-title h1{
    margin: 0 auto;
    padding: 0.2em 0.7em;
    max-width: 48em;
}
.page-blogindexpage .blog-title p{ /* secondary headings, usually only to show name of tag on which filtered */
    margin:0 auto;
    padding:1em 2em;
    max-width:54em;
}
.page-blogindexpage h2 {
    color: #ea853a;
}

    .page-blogindexpage .blog-title h2 {
        color: #424a4f;
        margin-top: 0.5em;
        font-size: 1.3em;
    }

.page-blogindexpage li img {
    display: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}

.page-blogindexpage main .block-link {
    border-bottom: 1px dotted #DAD7D7;
    padding: 3em 1em;
    transition: background-color 0.2s ease;
}

.page-blogindexpage main .listing li:first-child {
    border-bottom: none;
    border-top: 1px dotted #DAD7D7;
    transition: background-color 0.2s ease;
}

.page-blogindexpage main .block-link:hover {
    background-color: #FAF9F5;
}


.page-blogindexpage main .listing .container {
   max-width: 60em;
   margin: 0 auto;
}

.page-blogindexpage main .listing {
   width: 100%;
   margin: 0 0 0 0 ;
}

.page-blogindexpage .pagination {
    padding: 2em 0 2em 0;
    max-width: 350px;
    overflow: hidden;
}

.page-blogindexpage .pagination div{
    margin: 0 1em;
    width: 30%;
}
/*Blog page*/

.page-blogpage .listing {

}

.page-blogpage .intro {
    border-bottom: 2px dotted #ddd;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
}

.page-blogpage.intro p {
    margin-bottom: 0;
}

.page-blogpage .intro h1 {
    font-size: 4em;
    margin-bottom: 0.25em;
    font-weight: bold;
    line-height: 1em;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.page-blogpage h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    line-height: 1.15;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.page-blogpage .article-meta {
    color: #424a4f;
}

.page-blogpage .article-meta a {
    transition: 0.2s ease;
    color: #ea853a;
}

.page-blogpage .article-meta a:hover {
    color: #f6a32b;
}

.body-copy a {
    color: #EA853a;
}

.body-copy p {
    margin-bottom: 1.5em;
}

.body-copy h2 {
    margin-top: 2em;
}

.body-copy h2:first-child {
    margin-top: 0;
}

.body-copy ul {
    margin-bottom: 2em;
}

.body-copy li {
    margin-bottom: 1em;
    list-style: disc;
    margin-left: 1em;
    font-style: italic;
}

.body-copy img {
    margin-bottom: 1em;
}

.body-copy .button {
    margin-bottom: 4em;
}


/* Generic style for tags */

.popular-tags {
    margin: 1em 0;
    padding: 0 1em;
}

.popular-tags h3 {
    color: #fff;
    font-size: 1.5em;
}

.popular-tags a {
    padding:0.5em 1em;
    color:#424A4F;
    font-size:1em;
    margin-right: 0.5em;
    line-height: 40px;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    border-radius: 3px;
}

.popular-tags a:hover {
    background-color: rgba(225,225,225,1);
    padding:0.5em 1em;
    color:#424A4F;
}

.popular-tags a:before {
    background-image:  url("/static/torchbox/images/tag.png");
    background-size: 15px;
    background-repeat: no-repeat;
    content: "";
    padding: 0 20px 0 0;
    margin: 0px 5px 0 0;
}

.popular-tags p {
    color: #424A4F;
    margin: 0;
}

.popular-tags p span {
    font-weight: bold;
}

.popular-tags p.show {
   margin: 0.5em 0 1em 1em;
}

.show a {
    transition: all 0.15s ease;
    border-bottom: 1px dotted #424A4F;
    padding: 0;
    border-radius: 0;
    margin-left: 1em;
}

.show a:hover {
    color: #EA853A;
    border-bottom: 1px dotted #EA853A;
    background: transparent;
    padding: 0;
    border-radius: 0;
}

.show a:before {
    content: none;
}

/*tags*/

.tags {
    margin-top: 2em;
}

.tags a {
    padding:0.5em 1em;
    color:#424A4F;
    border-radius:3px;
    -webkit-border-radius:3px;
    font-size:1em;
    margin-right: 0.5em;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.tags a:before {
    content: "\f28d";
    font-size: 1.2em;
    padding: 0 5px 0 0;
    margin: 0px 5px 0 0;
    font-family: "Ionicons";
}

.tags a:hover {
    color:#424A4F;
    background-color: rgba(225,225,225,1);
}

.page-workpage .tags {
    display: inline-block;
    margin: 0 0 0 2em;
}


/*Tooltips*/
a.tooltip {
    outline:none;
}

a.tooltip strong {
    line-height:30px;
}

a.tooltip:hover {
    text-decoration:none;
} 

a.tooltip span {
    z-index:10;display:
    none; padding:14px 20px;
    margin-top:-30px;
    margin-left:28px;
    width:300px;
    line-height:16px;
}

a.tooltip:hover span{
    display:inline;
    position:absolute;
    color:#111;
    border:1px solid #DCA;
    background:#fffAF0;
}

.callout {
    z-index:20;
    position:absolute;
    top:30px;
    border:0;
    left:-12px;
}
    
/*CSS3 extras*/
a.tooltip span{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

/*Work index*/

.page-workindexpage {
    color: #fff;
}


.page-workindexpage h1 {
    font-weight: bold;
    font-size: 3em;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.page-workindexpage main .listing img {
    margin-bottom: 0em;
}

.page-workindexpage main ul li {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    max-height: 25em;
}

.page-workindexpage main ul a {
    background-color: rgba(0,0,0,0);
    display: block;
    position: relative;
    min-height: 24em;
}

.page-workindexpage main .listing div {
    max-width: 60em;
    margin: 0 auto;
    z-index: 9999;
    position: absolute;
    bottom: 0em;
    padding: 1.5em;
    max-width: 36em;
    background: #000;
}


.page-workindexpage main .listing a h2 {
    font-size: 1.5em;
    line-height: 1.2;
    transition: opacity 0.2s ease;
    margin-bottom: 0.25em;
    font-family: "proxima-nova",helvetica,sans-serif;
}




/*Work page*/

.nextprev-nav{
    display: none;
}

.body-copy > *{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.body-copy img,
.body-copy .responsive-object {
    margin: 0 auto;
    text-align: center;
    width:100%;
    max-width: initial;
}

.page-workpage .logo {
    background-image: url("/static/torchbox/images/logo-torchbox-grey.png");
}

.page-workpage .single {
    padding: 0em;
    margin-top: -4.5em;
}

.page-workpage .intro .body-copy {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-workpage .intro p a {
    display: inline-block;
    background: #fff;
    padding: 0.25em 1em;
    color: #EA853a;
    border-radius: 3px;
    margin: 1em 0 0 0;
    transition: all 0.2s ease;
    border: 1px solid #EA853a;
}

.page-workpage .intro p a:hover {
    background: #EA853a;
    color: #fff;
    border: 1px solid #EA853a;
}

.breadcrumb{
    width: 100%;
    overflow: hidden;
}


main .breadcrumb a {
    background-color: white;
    display:inline-block;
    padding: 0.5em 1.5em;
    line-height: 1em;
    margin:0 1em 1em 0;
    color: #EA853a;
    border: solid 1px #EA853a;
    border-radius: 2px;
    min-width: 100px;
    text-align: center;
    float: left;
    transition: all 0.2s ease;
}

main .breadcrumb a:hover {
    background-color: #EA853a;
    display:inline-block;
    color: #fff;
    
}

.article-meta {
    margin:-1em auto 2em auto;
    padding-bottom: 1em;
    font-size: 1.125em;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.share {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    background-color: #fff;
}

.share ul {
    margin-bottom: 0;
    position: absolute;
    z-index:5;
    top: 2.3em;
    left: -1em;
    border: 1px solid #EA863A;
    display: none;
}

.share ul.visible {
    display: block;
}

.share li {
    list-style: none;
    padding: 0.5em 0em 0.5em 1.5em;
    margin: 0;
    border-bottom: 1px solid rgba(234, 134, 58, 0.2);
    line-height: 1em;
    vertical-align: middle;
}

.share li:last-child {
    border:0;
    padding: 0.5em 0em 0.3em 1.5em;
}

.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #EA863A;
}
.share ul:after, .share ul:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.share ul:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}
.share ul:before {
    border-color: rgba(234, 134, 58, 0);
    border-bottom-color: #EA863A;
    border-width: 16px;
    margin-left: -16px;
}


.author {
    padding: 0em 0em;
    margin: -0.5em 0 2em 0;
}

.author .name {
    font-size: 1.5em;
    margin-top: 0.5em;
    display: block;
    color: #EA853a;
}

.author .avatar {
    width: 6em;
    float: left;
    margin-right: 1em;
    border-radius: 3em;
    margin-bottom: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.page-homepage .author .avatar {
    display: none;
    width: 4em;
    float: left;
    margin-right: 1em;
    border-radius: 3em;
    margin-bottom: 0;
}

.page-homepage .down{
    background: url("/static/torchbox/images/down2.png") center no-repeat;
    background-size: 80em;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    margin: 0 0 -1em -2em;
}

.page-homepage .author .name {
    font-size: 1em;
    margin-top: 0.3em;
    display: block;
}

.page-homepage .author span {
    font-size: 0.8em;
}

.author .role {
    display: block;
    color: 222;
}

.related h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.related ul {
    border-top: 1px dotted #ccc;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.related li {
    padding: 0.5em 0 0.5em 0.5em;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.center{
    max-width: 96em;
    margin: 0 auto;
}

/*People index*/

.page-personindexpage main h1 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    font-weight: bold;
    font-family: "proxima-nova",helvetica,sans-serif;
}

.page-personindexpage main h2 {
    font-size: 1.5em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.page-personindexpage main p{
    margin: 0;
}

.body-copy p a:hover{
        color: #ea853a;
}

.page-personpage main .breadcrumb {
        margin-top: 2em;
}

 .page-personpage .role {
        font-size: 1.3em;
        line-height: 1.2em;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        color: #97cb9b;
}

.page-personpage .container {
        padding: 0 1em;
}

#map {
     width: 100%;
     height: 500px;
}

#pointers_map{
    background: red;
    width: 30px;
    height: 80px;
}


.grid.people-list li {
    position: relative;
    overflow:hidden;
}

.grid.people-list li div {
    display: block;
    font-size: 1.1em;
    position: absolute;
    left: 0;
    bottom: 2em;
    opacity: 1;
    text-align: center;
    color: #fff;
    width: 100%;
}

.grid.people-list a {
    background-color: #424A4F;
    display: block;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}


.grid.people-list a img {
    margin: 0;
    transition: all 0.2s ease;
    opacity: 0.8;
}

.grid.people-list a:hover img {
     transform:scale(1.125);
    -ms-transform:scale(1.125); /* IE 9 */
    -moz-transform:scale(1.125); /* Firefox */
    -webkit-transform:scale(1.125); /* Safari and Chrome */
    -o-transform:scale(1.125); /* Opera */
    opacity: 0.3;
}

.grid.people-list a:hover div {
    opacity: 1;
    transition: all 0.2s ease;
}

.grid.people-list li a:hover {
    display: block;
    background: #EA853A;
}

.page-personpage h1 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: bold;
    color: #424a4f;
}

footer .contact h2 {
color: #fff;
}

.wagtail{
    float: left;
    opacity: 0.8;
    margin: 1em 0 1em 0;
}

.wagtail2{
    display: none;
}

.svg{
    display: none;
}

.people-list img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}

.page-personpage img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}

footer {
    background-color: #434a4f;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

footer .container {
    padding: 0 1em 1em;
}

footer .contact {
    margin-bottom: 0em;
}

footer .contact h2{
    font-size: 2em;
    margin: 0.5em 0;
    font-family: "proxima-nova",helvetica,sans-serif;
}

footer .contact a {
    color: #fff;
    padding: 1em;
}

footer .contact ul {
    border-top: 1px dotted #666;
    border-top: 1px dotted rgba(255,255,255,0.2);;
}

footer .contact li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #666;
    border-bottom: 1px dotted rgba(255,255,255,0.2);
}

footer .contact li i {
    display: block;
    float: left;
    margin: 0;
    margin-right: 0.5em;
}

footer .contact span {
    transition: all 0.2s ease;
    font-size: 1em;
}

footer .contact a:hover span {
    color: #EA853a;
}

footer button,
footer .button {
    background-color: #EA853a;
}


footer .offices li img {
    width: 1.5em;

}

footer .offices li {
    padding: 1em 0;
}

footer .offices h3 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "proxima-nova",helvetica,sans-serif;
    transition: all 0.2s ease;
}

footer .offices li:hover h3 {
    color: #ea853a;
}

footer .offices h2{
    display: none;
}

footer .vcard {
     transition: all 0.2s ease;
     overflow: hidden;
     font-size: 0.9em;
}

footer .offices li:hover .vcard{
    color: #ea853a;
}

footer .tel {
    display: block;
}

.map iframe {
    border: 0;
    display: block;
}

#wagtail-userbar {
    bottom: 0;
    top: inherit;
}
.responsive-object {
     padding-bottom: 0!important;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #434a4f !important; /* #434a4f prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
