/*Animations*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

main {

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}

* {
    -webkit-box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #CEEAF8;
    text-shadow: none;
}

::selection {
    background: #CEEAF8;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-top: rgba(0,0,0,0.2);
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.active{
    color: purple !important;
}

html {
    /*background: url("/static/torchbox/images/bg.png") fixed;*/
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

body {
    /*max-width: 96em; */
    margin: 0 auto;
    color: #434a4f;
    line-height: 1.75;
    background-color: #fff;
}

body * {
     -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

main {
    padding: 0;
    position: relative;
}

.single main {
    padding: 1em 0;
}

h1, h2, h3 {
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova";
}

.listing p {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

button, .button {
    padding: 0.75em 1em;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #EA853a;
    display: inline-block;
    line-height: 1em;
    border-radius: 0.2em;
}

button:hover, .button:hover {
    background-color: #ffa523;
    color:#fff;
    transition: background-color 0.15s ease;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width:100%;
    height: auto;
}

.img-wrapper {
    width:100%;
    margin:-8em 0 0 0;
    text-align: center;
}

.img-wrapper img {
    width: auto;
    position:relative;
    max-width: 100%;
}

.page-workpage .img-wrapper {
    width:100%;
    margin:4.5em 0 0 0;
    text-align: center;
}

.page-homepage header {
    position:relative;
}

header {
    z-index: 999;
    position:relative;
    background-color: transparent;
}

header nav li a {
    display: block;
    padding: 0.5em 1em;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.1em;
    font-family: "proxima-nova";
}

header nav li a:hover {
    color: #EA853a;
    transition: all 0.2s ease;
}

header nav ul {
    height: 0;
    -webkit-transition: 0.3s linear;
    -moz-transition:  0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

header nav ul.visible {
    height: 248px;
}

main nav {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 0;
    text-align: right;
}

main nav li {
    display: inline;
}

main nav li a {
    padding: 0.5em 0.75em;
    margin-right: 1px;
    line-height: 1em;
}

main nav li.active a {
    color: #EA853a;
    position: relative;
}

main nav li.active a:after {
    height: 0;
    width: 0;
    position: absolute;
    border-top: 10px solid #EA853a;
    border-bottom: 1em solid transparent;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    content: "";
    left: 50%;
    top: 38px;
    margin-left: -0.75em;
}

.container {
    padding: 0 1em;
}

.page-homepage .bleed {
    margin: 0.3em -1em 3em -1em;
    background: rgba(67,74,79,0.8);
    color: white;
}

 .bleed {
    margin: 0.3em -1em 0 -1em;
    background: rgba(67,74,79,1);
    color: white;
    overflow: hidden;
}

.listing .bleed {
    background: transparent;
    margin: 0;
    color: white;
    overflow: hidden;
}

.single .container {
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.body-copy a:hover {
    color: #ffa624;
    transition: color 0.1s ease;
}

.body-copy p a {
        color: #aaa;
        transition: all 0.15s ease;
}

.body-copy p a:hover{
        color: #ea853a;
    }

.body-copy h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.25em;
    font-family: "proxima-nova";
}

.body-copy h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.negative {
    color: #fff;
}

.negative a {
    color: #000;
}


.listing {
    width: 100%;
}

.listing main li {
    margin-bottom: 1em;
    position: relative;
}

.listing a {
    display: block;
    width:100%;
    position: relative;
}

.listing a:hover h2,
.listing a:hover h3 {
    cursor: pointer;
    transition: color 0.2s ease;
}

.listing h2,
.listing h3 {   
    font-size: 1.55em;
    font-weight: bold;
    margin-bottom: 0.2em;
    font-family: "proxima-nova";
}

.listing main div {   
    padding: 1em;
}

.logo {
    height:3em;
    display: block;
    background: url("/static/torchbox/images/logo-torchbox-grey.png") center left no-repeat;
    background-size: auto 2em;
    width:14em;
    transition: all 0.2s ease;
    opacity: 0.80;
}

.logo:hover {
    opacity: 1;
}

.menu-button {
    display:inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #434a4f;
    line-height: 1em;
    padding: 0.6em;
    width:2.5em;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

.menu-button:hover {
    background-color: #EA853a;
    color: #fff;
    transition: all 0.2s ease;
}

/*Page home*/

.page-homepage .blog .listing p {
    display: block;
    margin-top: -0.3em;
}

.page-homepage .menu-button:hover {
    background-color: #fff;
    color: rgba(67,74,79,0.8);
    transition: all 0.2s ease;
}

.page-homepage .logo {
    background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
    background-size: auto 2em;
}

.page-homepage .listing a h2:hover,
.page-homepage .listing a h3:hover {
    color: #EA853a;   
}

.page-homepage .hero {
    padding: 22em 2em 6em 2em;
    background: url("/static/torchbox/images/Bristol_01.png") no-repeat center;
    background-color: #5b6265;
    position: relative;
    top: -22em;
    margin-bottom: -21em;
    -webkit-background-size: cover;
}

.page-homepage .hero .gif {
    width: 100%;
}

.page-homepage .hero .gif img{
        margin: 0 auto;
        max-width: 480px;
    }

.page-homepage .hero em {
    border-bottom: 0.10em solid #ea853a;
    font-style: normal;
}

.page-homepage .hero .button {
    background-color: transparent;
    display: inline-block;
    padding: 1em 1.5em;
    line-height: 1em;
    margin: 0 1em 1em 0;
    color: #93DA9F;
    border: solid 1px #93DA9F;
    border-radius: 2px;
    min-width: 200px;
    text-align: center;
    float: left;
        -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
}

.page-homepage .hero .button:hover {
    background-color: #93DA9F;
    color: #5b6265;
    border: solid 1px #93DA9F;
}

.page-homepage .hiring {
    background: url("/static/torchbox/images/hiring-teaser.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    max-height:40em;
    text-align: center;
    padding: 4em 2em; 
}

.page-homepage .hiring > div {
    max-width:48em;
    margin: 0 auto;
    color:#fff;
}

.page-homepage .hiring a {
    background-color: #EA853a;
    padding: 0.8em 1em;
    line-height: 1em;
    color: #fff;
    display: inline-block;
    margin-bottom: 0.5em;
    border-radius: 3px;
    -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
}

.page-homepage .hiring a:hover {
    background-color: #ffa624;
}



.page-homepage .hiring ul {
    border-top: 1px dotted #ccc;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.page-homepage .hiring li a {
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.page-homepage main h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: "proxima-nova";
    font-weight: 600;
}

.page-homepage .work {
    padding: 1em;
}

.page-homepage .work li a div {
        padding: 1em 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        box-sizing: border-box;
    }

 .page-homepage .work li a:hover h3 {
     color: #EA853a;
 }   

 .page-homepage .container {
overflow: hidden;
}

.page-homepage .hero h2 {
        text-align: center;
        margin: 0 auto 1em 0;
        max-width: 26em;
        text-align: left;
        font-size: 1.8em;
        line-height: 1.2em;
        color: #93DA9F;
    }

.page-homepage .menu-button {
        background-color: #93DA9F;
        color: #fff;
        }

.page-homepage h2 a {
    color: #222;
    position: relative;
    transition: color 0.1s ease;
}

.page-homepage h2 a span {
    color: #EA853a;
}

.page-homepage h2 a:hover {
    color: #EA853a;
}

.page-homepage h2 a:hover span {
        position: absolute;
        right: -0.8em;
        -webkit-animation:spin 0.5s ease 0.1s;
        -moz-animation:spin 0.5s linear infinite;
        animation:spin 0.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.page-homepage .blog {
    background: #f3f4f6;
    padding-top: 2em;
}

.page-homepage .blog li {
    margin-top: 0.5em;
}

.page-homepage .clients {
    padding: 2em 0 2em 1em;
    margin:0 auto;
    max-width: 100%;
}
.page-homepage .clients li {
    width: 31.33%;
    height: 6em;
    float: left;
    padding: 2em 1%;
    overflow: hidden;
    text-align: center;
}

.page-homepage .clients li > * {
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0.6;
    padding: 0.25em;

}

/*Jobs index*/


    .sign-up{
        clear: both;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

.page-jobindexpage h1 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #424a4f;
    font-family: "proxima-nova";
}

.page-jobindexpage main .jobs {
    margin-top: -19.5em; 
    background-color: #f3f4f6;;
    color: #222;
    -webkit-font-smoothing: antialiased;
    padding: 19.5em 2em 3em 2em; 
}

.page-jobindexpage .richtext{
    border-bottom: 1px dotted #DAD7D7;
}


.page-jobindexpage main .jobs a {
    color: #424a4f;
    padding: 0.5em 0;
}

.page-jobindexpage .logo{
    background: ("url/static/torchbox/images/logo-torchbox-grey.png") center left no-repeat;
    background-size: auto 2em;
}

/*.page-jobindexpage main .jobs > div {
    max-width: 48em;
} */

.icon{ 
    display: none;
}

.page-jobindexpage main .listing li:first-child a {  
    border-top: 1px solid #a9a9a9;
} 

.page-jobindexpage .benefits li {
    padding: 2em 2em 1.5em 2em;
    margin-bottom: -1em;
}

.page-jobindexpage .intro p {
    font-size: 0.9em;
    margin: 2em 0 0.5em 0;
}

.benefits{
    margin: 1em 0 0 0;
}
.page-jobindexpage footer{
    margin: 2em 0 0 0;
}

.page-jobindexpage .intro p  a{
    background-color: #424a4f;
    display: inline-block;
    padding: 1.7em 1.5em;
    line-height: 1em;
    margin: 0 1em -1em 0;
    color: #fff;
    border: solid 1px #424a4f;
    border-radius: 2px;
    min-width: 285px;
    height: 55px;
    text-align: center;
    font-size: 0.8em;
    transition: all 0.2s ease;
}

.page-jobindexpage .intro p {
    clear: both;
    color: #424a4f;
}

.page-jobindexpage .intro p  a:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #424a4f;
}

.page-jobindexpage main .listing a {
    font-size: 1.2em;
    border-bottom: 1px solid #a9a9a9;
    transition: all 0.2s ease;
    line-height: 1.3;
}

.page-jobindexpage main .listing a:hover {
    background-color: rgba(0,0,0,0.1);
    padding-left: 0.5em;
}

.page-jobindexpage main .listing a:hover:after {
    content: "›";
    position: absolute;
    right: 1em;
    bottom: 1.1em;
}

.page-jobindexpage main .benefits .heading-block {
    padding-bottom: 1em;
    color: #627928;
}

.page-jobindexpage main .benefits h2 {
    font-weight: bold;
    font-size: 2.5em;
    max-width: 20em;
    margin: 0.7em 0 0.5em 0;
    padding: 0 0 0 0.8em;
    line-height: 1em;
}

.page-jobindexpage .benefits h3 {
    font-size: 1.7em;
    margin-bottom: 0.25em;
    font-weight: bold;   
    line-height: 0.5em;
}

    .page-jobindexpage  img.scale {
        display: none;
    }

    .page-jobindexpage  img {
        display: block;
        width: 62px;
    }

    .page-jobindexpage  .crop-height {
        display: none;
    }

    .page-jobindexpage .img-wrapper {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .location{
        margin:0.5em 0 0 0;
        padding: 0;
        font-size: 0.7em;
        color:#97cb9b;
    }

/*job page*/

.page-jobpage header nav li a{
    color: #424a4f;
}
    .page-jobpage h1 {
        line-height: 1em;
        font-size: 5.3em !important;
    }

    .page-jobpage h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: -1em;
    }
    
    .page-jobpage footer .offices h3{
        margin-bottom: 0;
    }

    .info{
        width: 49%;
        margin-left: 1%;
        float: left;
    }

    .info-holder{
        width: 100%;
        margin:-1em auto 2em 0;
        height: 130px;
        padding: 2em 0 0em 0;
        border-bottom: 1px dotted #a9a9a9;
    }

    .info p{
        color: #97cb9b;
    }

/*Standard page*/

.page-standardpage .listing p {
    float: left;
    display: block;
    margin-top: -0.5em;
}

.page-standardpage main {
    padding: 0;
}

.page-standardpage h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    line-height: 1;
}

.page-standardpage .were-tbx h2 {
    font-size: 1.5em;    
    font-weight: normal;
    margin-bottom: 0.5em;
}

.page-standardpage .intro {
    margin-bottom: 2em;
    margin-top: 2em;
}

.page-standardpage .intro p {
    max-width: 36em;
    font-size: 1em;
}

.page-standardpage .listing li img {

}

.page-standardpage .services-intro {
    padding-bottom: 1em;
}

.page-standardpage .were-tbx {
    margin-top: -8.5em;
    padding: 8.5em 2em 0 1em;
    -webkit-font-smoothing: antialiased;
    color: #000;
}

.page-standardpage .were-tbx-2 h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5;
}

.page-standardpage .were-tbx-2 li {
    display: block;
    overflow: hidden;
    width: 100%;  
}

.page-standardpage .listing li img {
    display: block;
}


/*Services page*/
.page-servicespage .services-intro {
    background: #F1D148;
    margin-top: -8.5em;
    padding: 8.5em 2em 2em 2em;
    color: #fff;
}

.page-servicespage h1 {
    font-size: 3em;
    font-weight: bold;
}

.page-servicespage main .grid li{
    margin-bottom: 2em;
}

.page-servicespage .services li {
    margin: 5em 1em 0em 1em;
    padding-bottom: 1em;
    display: block;
}

.page-servicespage .services li:before {
    position: absolute;
    margin-top: -1.5em;
    font-size: 4em;
    color: #F1D148;
    -webkit-font-smoothing: antialiased;
}

.page-servicespage .services li:nth-of-type(1):before {
    content: "\f1fe";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(2):before {
    content: "\f202\f25d";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(3):before {
    content: "\f256";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(4):before {
    content: "\f270";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(5):before {
    content: "\f20a";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(6):before {
    content: "\f127";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(7):before {
    content: "\f212";
    font-family: "Ionicons";
}

.page-servicespage .services li:nth-of-type(8):before {
    content: "\f2b3";
    font-family: "Ionicons";
}


/*Index pages*/

.pagination li {
    display: inline;
}

.pagination a {

}

.pagination .active a {
    border: 1px solid #EA853a;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    color: #EA853a;
    }

.index h1 {
    font-size: 5em;
    margin-bottom: 0.25em;
    line-height: 1.15;
    font-weight: bold;
    font-family: "proxima-nova";
}

.index,
.single {
    padding: 1em 0;
}

/*Blog Index*/

.page-blogindexpage h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: "proxima-nova";
}

.page-blogindexpage main {
    background-color: #fff;    
    color: #434a4f;
    -webkit-font-smoothing: antialiased;
    padding-top: 100%;
    margin-top: -100%;
}

.page-blogindexpage .blog-title div {
    margin: -4.5em auto 0 auto;
    padding: 6em 2em 2em 2em;
    max-width: 48em;
}

.page-blogindexpage h2 {
    color: #ea853a;
}

    .page-blogindexpage .blog-title h2 {
        color: #97cb9b;
        margin-top: 0.5em;
        font-size: 1.3em;
    }

.page-blogindexpage li img {
    display: none;
}

.page-blogindexpage main .block-link {
    border-bottom: 1px dotted #DAD7D7;
    padding: 3em 1em;
    transition: background-color 0.2s ease;
}

.page-blogindexpage main .block-link:first-child {
    border-bottom: 1px dotted #DAD7D7;
    border-top: 1px dotted #DAD7D7;
    padding: 3em 1em;
    transition: background-color 0.2s ease;
}

.page-blogindexpage main .block-link:hover {
    background-color: #eaeff2;
}


.page-blogindexpage main .listing .container {
   max-width: 48em;
   margin: 0 auto;
}

.page-blogindexpage main .listing {
   width: 100%;
   margin: 0 0 0 0 ;
}

.page-blogindexpage .pagination {
    padding: 2em 0 2em 0;
    max-width: 350px;
    overflow: hidden;
}

.page-blogindexpage .pagination div{
    float:left;
    margin: 0 1em;
    width: 200px;
}

/*Blog page*/

.page-blogpage .listing {

}

.page-blogpage .intro {
    border-bottom: 2px dotted #ddd;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
}

.page-blogpage.intro p {
    margin-bottom: 0;
}

.page-blogpage .intro h1 {
    font-size: 4em;
    margin-bottom: 0.25em;
    font-weight: bold;
    line-height: 1em;
    font-family: "proxima-nova";
}

.page-blogpage h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    line-height: 1.15;
    font-family: "proxima-nova";
}

.page-blogpage .article-meta {
    color: #97cb9b;
}

.page-blogpage .article-meta a {
    transition: 0.2s ease;
    color: #97cb9b;
}

.page-blogpage .article-meta a:hover {
    color: #ea853a;
}

.body-copy a {
    color: #EA853a;
}

.body-copy p {
    margin-bottom: 1.5em;
}

.body-copy h2 {
    margin-top: 2em;
}

.body-copy h2:first-child {
    margin-top: 0;
}

.body-copy ul {
    margin-bottom: 2em;
}

.body-copy li {
    margin-bottom: 1em;
    list-style: disc;
    margin-left: 1em;
    font-style: italic;
}

.body-copy img {
    margin-bottom: 1em;
}

.body-copy .button {
    margin-bottom: 4em;
}

/*Work index*/

.page-workindexpage {
    color: #fff;
}


.page-workindexpage h1 {
    font-weight: bold;
    font-size: 3em;
    font-family: "proxima-nova";
}

.page-workindexpage main .listing img {
    margin-bottom: 0em;
}   

.page-workindexpage main ul li {
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    max-height: 35em;
}
       
.page-workindexpage main ul a {
    background-color: rgba(0,0,0,0);
    display: block;
    position: relative;
    min-height: 24em;
    transition: background-color 0.2s ease;
}

.page-workindexpage main .listing div {
    max-width: 60em;
    margin: 0 auto; 
    z-index: 9999;
    position: absolute;
    bottom: 0em;
    padding: 1.5em;
    max-width: 36em;
    transition: background-color 0.3s ease;
    background: rgba(67,74,79,0.5);
}


.page-workindexpage main .listing a h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    line-height: 1.2;
    transition: opacity 0.2s ease;
    margin-bottom: 0.25em;
    font-family: "proxima-nova";
}


/*Work page*/

    .body-copy > *{
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

.body-copy img,
.body-copy .responsive-object {
    margin: 0 auto;
    text-align: center;
    width:100%;
    max-width: initial;
}

.page-workpage .logo {
    background-image: url("/static/torchbox/images/logo-torchbox-grey.png");
}

.page-workpage .single {
    padding: 0em;
    margin-top: -4.5em;
}

.page-workpage .intro .body-copy {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-workpage .intro p a {
    display: inline-block;
    background: #fff;
    padding: 0.25em 1em;
    color: #97cb9b;
    border-radius: 3px;
    margin: 1em 0 0 0;
    transition: all 0.2s ease;
    border: 1px solid #97cb9b;
}    

.page-workpage .intro p a:hover {
    background: #97cb9b;
    color: #fff;
    border: 1px solid #97cb9b;
}  

.breadcrumb{
    width: 100%;
    overflow: hidden;
}


main .breadcrumb a {
    background-color: white;
    display:inline-block;
    padding: 0.5em 1.5em;
    line-height: 1em;
    margin:0 1em 1em 0;
    color: #EA853a;
    border: solid 1px #EA853a;
    border-radius: 2px;
    min-width: 100px;
    text-align: center;
    float: left;
}

main .breadcrumb a:hover {
    background-color: #EA853a;
    display:inline-block;
    color: #fff;
    transition: background-color 0.2s ease;
}

.next{
    display:inline-block;
    padding: 0.5em 1.5em;
    line-height: 1em;
    z-index: 200;
    color: #434a4f;
    border: solid 1px #434a4f;
    border-radius: 2px;
    min-width: 110px;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease;
}

.next:hover{
    margin-right: 0px;
    opacity: 1;
}

.previous{
    display:inline-block;
    padding: 0.5em 1.5em;
    line-height: 1em;
    z-index: 200;
    color: #434a4f;
    border: solid 1px #434a4f;
    border-radius: 2px;
    min-width: 140px;
    text-align: center;
    overflow: hidden;
    transition: 0.2s ease;
    margin: 0 9%;
}

.previous:hover{
    margin: 0 9%;
    opacity: 1;
}


.article-meta {
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 1.125em;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.share {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    background-color: #fff;
}

.share ul {
    box-shadow: 0.125em 0.125em 0.5em #888888;
    box-shadow: 0.125em 0.125em 0.5em rgba(0,0,0,0.2);
    margin-bottom: 0;
    position: absolute;
    top: 2em;
    left: 0;
    border-top: 2px solid #ddd;
    display: none;
}

.share ul.visible {
    display: block;
}

.share li {
    list-style: none;
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    line-height: 1em;
    vertical-align: middle;
}

.share li:last-child {
    border:0;
}

.share ul:after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid #ddd;
    position: absolute;
    top: -11px;
    left: 24px;

}


.author {
    padding: 0em 0em;
    margin: -0.5em 0 2em 0;
}

.author a {
    color: #EA853a;
}

.author a:hover {
    color: #ffa624;
}

.author .name {
    font-size: 1.5em;
    margin-top: 0.5em;
    display: block;
}

.author .avatar {
    width: 6em;
    float: left;
    margin-right: 1em;
    border-radius: 3em;
    margin-bottom: 0;
}

.page-homepage .author .avatar {
    display: none;
    width: 4em;
    float: left;
    margin-right: 1em;
    border-radius: 3em;
    margin-bottom: 0; 
}  

.page-homepage .author .name {
    font-size: 1em;
    margin-top: 0;
    display: block;
}  

.page-homepage .author span {
    font-size: 0.8em;
}  

.author .role {
    display: block;
    color: 222;
}

.related h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.related ul {
    border-top: 1px dotted #ccc;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.related li {
    padding: 0.5em 0 0.5em 0.5em;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.center{
    max-width: 96em;
    margin: 0 auto;
}

/*People index*/

.page-personindexpage main h1 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    font-weight: bold;
    font-family: "proxima-nova";
}

.page-personindexpage main h2 {
    font-size: 1.5em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.page-personpage .body-copy p a:hover{
        color: #ea853a;
}

.page-personpage main .breadcrumb {
        margin-top: 2em;
}

 .page-personpage .role {
        font-size: 1.1em;
        line-height: 1.2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        color: #97cb9b;
}   

.page-personpage .container {
        margin-bottom: 4em;
        padding: 0 1em;
}

.page-standardpage main li {
    margin-bottom: 2em;
}

.page-standardpage .logo {
    background: url("/static/torchbox/images/logo-torchbox-grey.png") center left no-repeat;
    background-size: auto 3em;
}

.page-standardpage header nav li a {
    color: #fff;
}
.page-standardpage header nav li a:hover{
    color: #ea853a;
    transition: all 0.15s ease;
    border-bottom: 3px solid #ea853a;
}



#map {
     width: 100%;
     height: 500px;
}

#pointers_map{
    background: red;
    width: 30px;
    height: 80px;
}


.grid.people-list li {
    position: relative;
    overflow:hidden;
}

.grid.people-list li div {
    display: block;
    font-size: 1.1em;
    position: absolute;
    left: 0;
    bottom: 2em;
    opacity: 1;
    text-align: center;
    color: #fff;
    width: 100%;
}

.grid.people-list a {
    background-color: #434a4f;
    display: block;
}


.grid.people-list a img {
    margin: 0;
    transition: all 0.2s ease;
    opacity: 0.8;
}

.grid.people-list a:hover img {
     transform:scale(1.125);
    -ms-transform:scale(1.125); /* IE 9 */
    -moz-transform:scale(1.125); /* Firefox */
    -webkit-transform:scale(1.125); /* Safari and Chrome */
    -o-transform:scale(1.125); /* Opera */
    opacity: 0.3;
}

.grid.people-list a:hover div {
    opacity: 1;
    transition: all 0.2s ease;
}

.grid.people-list li a:hover {
    background-color: #EA853a;
    display: block;
}

.page-personpage h1 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: bold;
    color: #424a4f;
}

.page-personpage .title{
    margin-top: -3em;
}

/*
.grid.people-list li:nth-child(3n+2) a:hover {
    background-color: #627928;
}
.grid.people-list li:nth-child(3n+3) a:hover {
    background-color: #5cb9e7;
} */

.people-list img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

footer {
    background-color: #434a4f;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

footer .container {
    padding: 0 1em 1em;
}

footer .contact {
    margin-bottom: 0em;
}

footer .contact h2{
    font-size: 2em; 
    margin: 0.5em 0;
    font-family: "proxima-nova";
}

footer .contact a {
    color: #fff;
    padding: 1em;
}

footer .contact ul {
    border-top: 1px dotted #666;
    border-top: 1px dotted rgba(255,255,255,0.2);;
}

footer .contact li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #666;
    border-bottom: 1px dotted rgba(255,255,255,0.2);
}

footer .contact li i {
    display: block;
    float: left;
    margin: 0;
    margin-right: 0.5em;

}

footer .contact a:hover span {
    color: #EA853a;
}

footer button,
footer .button {
    background-color: #EA853a;
}


footer .offices li img {
    width: 1.5em;

}

footer .offices li {
    padding: 1em 0;
}

footer .offices h3 {
    font-size: 1.5em;
    font-family: "proxima-nova";
}

footer .tel {
    display: block;
}

.map iframe {
    border: 0;
    display: block;
}

#wagtail-userbar {
    bottom: 0;
    top: inherit;
}
.responsive-object {
     padding-bottom: 0!important;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* #434a4f prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
