/*Animations*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

main {

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #CEEAF8;
    text-shadow: none;
}

::selection {
    background: #CEEAF8;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-top: rgba(0,0,0,0.2);
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: url("/static/torchbox/images/bg.png") fixed;
    background-color: #FF643E;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F3EF;
}

body {
    max-width: 96em;
    margin: 0 auto;
    color: #333;
    line-height: 1.75;
    background-color: #fff;
}

body * {
    box-sizing: border-box;
}

main {
    padding: 0 0 1em 0;
    position: relative;
}

.single main {
    padding: 1em 0;
}

h1, h2, h3 {
    line-height: 1.25;
    margin: 0;
    padding: 0;
    letter-spacing: -0.03em;
}

p {
    margin: 0 0 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button, .button {
    padding: 0.75em 1em;
    font-size: 0.85em;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #FF653F;
    display: inline-block;
    line-height: 1em;
    border-radius: 0.2em;
}

button:hover, .button:hover {
    background-color: #ffa523;
    color:#fff;
    transition: background-color 0.15s ease;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width:100%;
    height: auto;
}

.img-wrapper {
    width:100%;
    margin-bottom: 1em;
    text-align: center;
}

.img-wrapper img {
    width: auto;
    position:relative;
    max-width: 100%;
}

header {
    z-index: 999;
    position:relative;
}

header nav a {
    display: block;
    padding: 0.5em 1em;
    background-color: #333;
    background-color: rgba(0,0,0,0.8);

    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

header nav ul {
    display:none;
}

header nav ul.visible {
    display:block;
}

main nav {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 0;
    text-align: right;
}

main nav li {
    display: inline;
}

main nav li a {
    padding: 0.5em 0.75em;
    margin-right: 1px;
    line-height: 1em;
}

main nav li.active a {
    background-color: #FF653F;
    color: #fff;
    position: relative;
}

main nav li.active a:after {
    content:"";
    background-color: #ccc;
    width: 1px;
    height: 0.5em;    
    display:block;
    position: absolute;
    line-height: 1em;
    left: 50%;
    top: 2.5em;
}

.container {
    padding: 0 1em;
}

.single .container {
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.body-copy {
    max-width: 48em;
    margin: 0 auto;
}

.body-copy a:hover {
    color: #ffa624;
    transition: color 0.1s ease;
}

.body-copy p a {
    color: #FF653F;
}

.body-copy h1 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.075em;
    margin-bottom: 0.25em;
}

.body-copy h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.negative {
    color: #fff;
}

.negative a {
    color: #000;
}

.listing main li {
    margin-bottom: 1em;
}

.listing {
    padding: 0 1em;
    width: 100%;
    margin: 0 -1em 1em -1em;
}

.listing h2,
.listing h3 {   
    font-size: 1.5em;
    letter-spacing: -0.03em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.listing main div {   
    padding: 1em;
}

.logo {
    height:3em;
    display: block;
    padding: 0.5em;
}

.logo img {
    height:100%;
    width: auto;
}

.menu-button {
    display:inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    line-height: 1em;
    padding: 0.5em;
    width:2em;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

.menu-button:hover {
    background-color: #FF653F;
    color: #fff;
}

.listing {
    /*border-top: 1px solid #ccc;*/
    /*border-top: 1px solid rgba(0,0,0,0.2);*/
    box-sizing: content-box;
}

.listing li {
    position: relative;
}

.listing a {
    display: block;
    width:100%;
    padding: 0 0 1em 0;
    box-sizing: content-box;
    position: relative;
}

.listing a:hover h2,
.listing a:hover h3 {
    cursor: pointer;
    transition: color 0.2s ease;
    color: #FF653F;
}

/*Page home*/
.page-homepage .hero {
    padding: 6em 2em;
    background-color: #F1D148;
    position: relative;
    top:-3em;
    margin-bottom: -3em;
}

.page-homepage .hero .gif {
    width: 100%;
}

.page-homepage .hero .gif img{
        margin: 0 auto;
        max-width: 480px;
    }

.page-homepage .hero em {
    border-bottom: 0.15em solid #fff;
    font-style: normal;
}

.page-homepage .hero .button {
    background-color: #222;
}

.page-homepage .hiring {
    background: url("/static/torchbox/images/hiring-teaser.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    padding: 4em 2em;
    margin-bottom: 1em;
}

.page-homepage .hiring > div {
    max-width:48em;
    margin: 0 auto;
    color:#fff;
}

.page-homepage .hiring a {
    background-color: #FF653F;
    padding: 0.5em 1em;
    line-height: 1em;
    color: #fff;
    display: inline-block;
}

.page-homepage .hiring ul {
    border-top: 1px dotted #ccc;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.page-homepage .hiring li a {
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.page-homepage main h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

.page-homepage .work {
    padding: 1em;
}

.page-homepage .work li a div {
        padding: 1em 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        box-sizing: border-box;
    }


.page-homepage .hero h2 {
        font-size: 2.5em;
        max-width: 9em;
        line-height: 1.1;
        font-weight: bold;
        color: #fff;
        margin-bottom: 0.5em;

    }

.page-homepage h2 a {
    color: #222;
    position: relative;
    transition: color 0.1s ease;
}

.page-homepage h2 a span {
    color: #FF653F;
}

.page-homepage h2 a:hover {
    color: #FF653F;
}

.page-homepage h2 a:hover span {
        position: absolute;
        right: -0.8em;
        -webkit-animation:spin 0.5s ease 0.1s;
        -moz-animation:spin 0.5s linear infinite;
        animation:spin 0.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




.page-homepage .clients li {
    width: 31.33%;
    height: 6em;
    float: left;
    padding: 2em 1%;
    overflow: hidden;
    text-align: center;
}

.page-homepage .clients li > * {
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0.5;
        padding: 0.25em;

    }


img.frame {
    padding: 2%;
    position: relative;   

    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 0.5em; 
    -moz-border-radius: 0.5em; 
    border-radius: 0.5em; 
    margin-bottom: 1em;
}

a:hover img.frame {
    border: 1px dotted #FF653F;
    border: 1px dotted rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

/*Jobs index*/
.page-jobindexpage h1 {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0.25em;
}

.page-jobindexpage main .jobs {
    margin-bottom: 2em;
    background-color: #5CB9E7;
    color: #222;
    -webkit-font-smoothing: antialiased;
 
}

.page-jobindexpage main .jobs .container {
       padding: 2em;
       max-width: 72em;
       margin: 0 auto;
}

.page-jobindexpage main .jobs a {
    color: #fff;
    padding: 0.5em 0;
}

.page-jobindexpage main .jobs a:hover {
    color: #F1D148;
}

.page-jobindexpage main .jobs > div {
    max-width: 48em;
}

.page-jobindexpage main .listing li:first-child a {
    border-top: 1px solid #fff;   
    border-top: 1px solid rgba(255,255,255,0.2);
} 

.page-jobindexpage .benefits li {
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

.page-jobindexpage main .listing a {
    font-size: 2em;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.page-jobindexpage main .listing a:hover {
    color: #FF653F;
}

.page-jobindexpage main .benefits .heading-block {
    padding-bottom: 1em;
    color: #627928;
}

.page-jobindexpage main .benefits h2 {
    font-weight: bold;
    font-size: 4em;
    max-width: 20em;
    margin: 0;
}

.page-jobindexpage main .benefits h3 {
    font-size: 2em;
    margin-bottom: 0.25em;
    font-weight: bold;   
}

/*Standard page*/
.page-standardpage h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.page-standardpage h2 {
    font-size: 2em;    
    font-weight: bold;
}


/*Index pages*/

.pagination li {
    display: inline;
}

.pagination a {
    background-color: #FF653F;
    color: #fff;
    line-height: 1em;
    padding: 0.5em;
    width: 1em;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
}

.pagination .active a {
    border: 1px solid #FF653F;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    color: #FF653F;
    }

.index h1 {
    font-size: 5em;
    margin-bottom: 0.25em;
    line-height: 1.15;
    font-weight: bold;
}

.index,
.single {
    padding: 4em 0;
}

/*Blog Index*/

.page-blogindexpage h2 {
    margin-bottom: 0.125em;
}

.page-blogindexpage li img {
    width: 6em;
    border-radius: 50%;
    margin-left: 1em;
    height: auto;
    float: right;
}

/*Blog page*/

.page-blogpage .listing {
    text-align: center;
}

.page-blogpage .intro {
    border-bottom: 2px dotted #ddd;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
}

.page-blogpage.intro p {
    margin-bottom: 0;
}

.page-blogpage .intro h1 {
    font-size: 4em;
    margin-bottom: 0.25em;
    font-weight: bold;
    line-height: 1em;
}

.page-blogpage h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    line-height: 1.15;
}

.body-copy a {
    color: #FF653F;
}

.body-copy p {
    margin-bottom: 1.5em;
}

.body-copy h2 {
    margin-top: 2em;
}

.body-copy h2:first-child {
    margin-top: 0;
}

.body-copy ul {
    margin-bottom: 2em;
}

.body-copy li {
    margin-bottom: 1em;
    list-style: disc;
    margin-left: 1em;
    font-style: italic;
}

.body-copy img {
    margin-bottom: 1em;
}

.body-copy .button {
    margin-bottom: 4em;
}

/*Work index*/
.page-workindexpage h1 {
    font-weight: bold;
    font-size: 3em;
}


/*Work page*/

.page-workpage .single {
    padding: 0em;
    margin-top: -4.5em;
}

.page-workpage .intro .body-copy {
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main .breadcrumb a {
    background-color: #FF653F;
    display:inline-block;
    padding: 0.5em;
    line-height: 1em;
    margin-bottom: 1em;
    color: #fff;
    text-transform: uppercase;
}

.article-meta {
    margin-bottom: 1em;
    font-size: 1.125em;
}

.share {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    background-color: #fff;
}

.share ul {
    box-shadow: 0.125em 0.125em 0.5em #888888;
    box-shadow: 0.125em 0.125em 0.5em rgba(0,0,0,0.2);
    margin-bottom: 0;
    position: absolute;
    top: 2em;
    left: 0;
    border-top: 2px solid #ddd;
    display: none;
}

.share ul.visible {
    display: block;
}

.share li {
    list-style: none;
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    line-height: 1em;
    vertical-align: middle;
}

.share li:last-child {
    border:0;
}

.share ul:after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid #ddd;
    position: absolute;
    top: -10px;
    left: 24px;

}





.author {
    border-top: 1px dotted #ccc;
    border-top: 1px dotted rgba(0,0,0,0.2);
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    padding: 1em 0.5em;
    margin: 2em 0;
}

.author .name {
    font-size: 1.5em;
    margin-top: 0.5em;
    display: block;
}

.author .avatar {
    width: 6em;
    float: left;
    margin-right: 1em;
    border-radius: 3em;
    margin-bottom: 0;
}

.author .role {
    display: block;
    color: 222;
}

.related h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.related ul {
    border-top: 1px dotted #ccc;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.related li {
    padding: 0.5em 0 0.5em 0.5em;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

/*People index*/
.page-personindexpage main h1 {
    font-size: 3em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.page-personindexpage main h2 {
    font-size: 2em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.page-standardpage main li {
    min-height: 18em;
}

.grid.people-list li {
    position: relative;
    overflow:hidden;
}

.grid.people-list li div {
        display: inline-block;
        font-size: 0.8em;
        position: absolute;
        bottom: 0;
        background-color: #FF653F;
        padding: 0.5em 1em;
        color: #fff;
    }

.grid.people-list a img {
    margin: 0;
    transition: all 0.2s ease;
}

.grid.people-list a:hover img {
     transform:scale(1.125);
    -ms-transform:scale(1.125); /* IE 9 */
    -moz-transform:scale(1.125); /* Firefox */
    -webkit-transform:scale(1.125); /* Safari and Chrome */
    -o-transform:scale(1.125); /* Opera */
}

.grid.people-list li:nth-child(3n+2) div {
    background-color: #627928
}
.grid.people-list li:nth-child(3n+3) div{
    background-color: #5cb9e7
}

.grid.people-list li a {
    color: #222;
}

.people-list img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

footer {
    background-color: #222;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

footer .container {
    padding: 1em;
}

footer .contact {
    margin-bottom: 2em;
}

footer .contact h2{
    font-size: 2em; 
    margin-bottom: 0.5em;
}

footer .contact a {
    color: #fff;
    padding: 1em 2em;
}

footer .contact ul {
    border-top: 1px dotted #666;
    border-top: 1px dotted rgba(0,0,0,0.2);;
}

footer .contact li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #666;
    border-bottom: 1px dotted rgba(255,255,255,0.2);
}

footer .contact li i {
    display: block;
    float: left;
    margin: 0;
        margin-right: 0.5em;

}

footer .contact a:hover span {
    color: #FF653F;
}

footer button,
footer .button {
    background-color: #FF653F;
}


footer .offices li img {
    width: 1.5em;

}

footer .offices li {
    padding: 1em 0;
}

footer .offices h3 {
    font-size: 1.5em;
}

footer .tel {
    display: block;
}

#map {
    width: 750px;
    height: 500px;
}

.map iframe {
    border: 0;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
