@import url("http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css");
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,100,200,300,500,700,600,800);

@media only screen and (min-width: 45em) {

	html {
		margin:0;
		padding:0;
	}


	main {
		width:100%;
		margin: 1em 0 0 0;
	}

	.container {
		padding: 0 2em;
		max-width: 96em;
		margin: 0 auto;
	}

	.single .container {
		padding: 2em;
	}

	.bleed {
		margin: 2em 0 0 0;
	}

	.menu-button {
		display: none;
	}

	header {	
		padding: 0;
	}

	header nav ul {
	    display:block;
	    position: absolute;
	    top: 0;
	    right: 0;

	}

	header nav li {
		float: left;
		padding: 1em 1em 0 1em;
	}

	header nav li a {
		padding: 0.5em 0 0 0;
    	border-bottom: none;
    	margin: 0.5em 0.5em;
	}

	header nav li:last-child a {
		border: 0;
	}

	header nav li a:hover {
		color: #EA853a;
		transition: all 0.15s ease;
		border-bottom: 3px solid #EA853a;
	}

	.logo {
		height: 7em;
		padding:1em 0;
		background-size: auto 3em;
		margin: 0;
	}

	/*Homepage*/

	.page-homepage .bleed {
		margin: 1em 0.5em 0 0;
	}	

	.page-homepage .author .avatar {
    display: block;
	} 

	.author {
	    border-top: 1px dotted #ccc;
	    border-top: 1px dotted rgba(0,0,0,0.2);
	    padding: 1em 0em;
	    margin-bottom: 2em;
	}

	.page-homepage .logo {
    background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
    background-size: auto 3em;
	}

	.page-homepage .hero {
    padding: 6em 2em;
    background: url("/static/torchbox/images/Bristol_01.png") no-repeat center;
    background-color: #5b6265;
    position: relative;
    top:-3em;
    margin-bottom: -3em;
    -webkit-background-size: cover;
	}

	.page-homepage header {
    position:relative;
    background-color: transparent;
	}	

	.page-homepage .hero {
		padding: 17% 2em;
		margin-top: -5em;
		margin-bottom: -1em;
	}

	.page-homepage .hero .gif {
		padding-left: 38em;
		position: absolute;
		top: 5em;
		right: 2em;
		text-align: center;
	}

	.page-homepage .hero h2 {
        text-align: center;
        margin: 0 auto 1em 0;
        max-width: 26em;
        text-align: left;
        font-size: 3em;
        line-height: 1.2em;
        color: #93DA9F;
    }
	
	.page-homepage .hero a {
		padding:1.25em;
	}

	.page-homepage .work {
		padding: 2em;
	}

	.page-homepage .blog {
		padding:3em 2em 1em 2em;
		max-width: 100%;
	}

	.page-homepage .blog h3 {
		font-size: 1.5em;
	}

	.page-homepage .hiring {
		padding: 12em 2em;
		border: none;
	}
	
	.page-homepage .hiring h2 {
		font-size: 5em;
	}

	.page-homepage .hiring a {
		font-size: 1.25em;		
	}

	.page-homepage .hiring ul {
		border: none;
	}

	.page-homepage .hiring li {
		display:inline-block;
		border: none;
		margin-bottom: 1em;
	}

	/*Standard page (we're torchbox) */

	.page-standardpage .logo {
   		 background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
	    background-size: auto 3em;
	}

	.page-standardpage .crop-height{
		display: block;
		max-height: 35em;
		overflow: hidden;
		margin-top: -10em;
	}

	.page-standardpage .were-tbx {
    	padding: 2.5em 2em 2em 2em;
	}

	.page-standardpage .were-tbx {
	    margin-top: -9em;
	}


	.page-standardpage .were-tbx p {
			font-size: 1.3em;
	}		

	.page-standardpage .statement {
		font-size: 1.6em;
	}

	.page-standardpage h1 {
	    font-size: 5em;
	    margin-top: 0em;
	    color: #fff;
	}

	.page-standardpage .were-tbx h2 {
		display: none;
	    font-size: 2em;    
	    margin-bottom: 0.5em;
	    color: #fff;
	}

	.page-standardpage .were-tbx-2 h2 {
	    font-size: 3em;
	    font-weight: bold;
	    color: #424a4f;
	}

	.page-standardpage .were-tbx-2 h3 {
		font-size: 2.3em;
		font-weight: bold;
		color: #424a4f;
	}

	.page-standardpage .were-tbx-2 li {
	    padding: 0; 
	    margin: 0;
	}

	.page-standardpage .were-tbx-2 li {
	    border-top: none;
	    padding: 0;
	    float: left;
	    width: 46%;
	    margin-right: 3.5%;
	    height:225px;
	}

	.page-standardpage .grid li:nth-of-type(3) {
		margin-right: 3.5%;
	}

	.page-standardpage .were-tbx-2 li div {
		max-width: 30em;
		float:left;
	}

	.page-standardpage .were-tbx-2 li:nth-child(1) .icon {
		background-image: url("/static/torchbox/images/icons/ethical.png");
	}

	.page-standardpage .were-tbx-2 li:nth-child(2) .icon {
		background-image: url("/static/torchbox/images/icons/equipment.png");
	}

	.page-standardpage .were-tbx-2 li:nth-child(3) .icon {
		background-image: url("/static/torchbox/images/icons/healthy.png");
	}

	.page-standardpage .were-tbx-2 li:nth-child(4) .icon {
		background-image: url("/static/torchbox/images/icons/location.png");
	}

	.uslist {
		margin: 0 auto;
		padding: 3em 0 1em 0;
		border: none;
		box-sizing: border-box;
		left: auto;
		max-width: 100%;
	}


	.page-standardpage  header nav li a:hover {
	    color: #ea853a;
	    transition: all 0.15s ease;
		border-bottom: 3px solid #ea853a;
	}
	.page-standardpage .grid li:nth-child(3n+4) {
	 clear: none; 
	}


	/*Work index*/

	.page-workindexpage {
		color: #fff;
	}

	.page-workindexpage h1 {
	    font-size: 5em;
	}

	.page-workindexpage main .listing a h2 {
	    font-size: 2em;
	}

	.page-workindexpage main .listing div {
	    padding: 4em;
	}

	.page-workindexpage main ul a {
	    background-color: rgba(0,0,0,0);
	}

	.page-workindexpage main ul a:hover {
	    background-color: rgba(0,0,0,0.7);
	    cursor: pointer;
	}


	.page-workindexpage main .listing div {
	    background: rgba(0,0,0,0.7) ;
	    padding: 2em 2.5em 0 2.5em;
		transition: 0.3s ease;
	    top: 300px;
	}

	.page-workindexpage main .listing a:hover div {
	    background: rgba(234,133,58,1);
	    top: 130px;
	}

	.page-workindexpage main .listing div p {
		margin: 1em 0 1em 0;
		display: block;
	}


	.page-workindexpage main ul li {
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    max-height: 35em;
    overflow: hidden;
	}

	/*Index pages*/

	.index,
	.single {
	    padding: 0em 0;
	}

	/*Blog index*/
	.page-blogindexpage header nav li a {
	color: #434a4f;
	}

	.page-blogindexpage	header nav li a:hover {
    color: #EA853a;
    border-bottom: 3px solid #EA853a;
	}

	.page-blogindexpage .logo {
	background-image: url("/static/torchbox/images/logo-torchbox-grey.png");
	}
	
	.page-blogindexpage h2 {
    margin-bottom: 0.5em;
    max-width: 48em;
	}	

	.page-blogindexpage li img {
		display: inline-block;
		border-radius: 50%;
		float: right;
		width: 8em !important;
		height: auto;
	    margin:auto;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	}

	.centertall{
		width: 8em;
		height: 8em;
		float: right;
		margin-left: 1em;
	}
	
	.page-blogindexpage .pagination {
    	padding: 2em 0 0 0;
    	max-width: 700px;
    	margin: 0 auto;
    	overflow: hidden;
    	text-align: center;
	}

	.page-blogindexpage .pagination a:hover{
		color: #EA853A;
	}

	.page-blogindexpage main {
		padding: 100% 0 2em 0;
	}

	.page-blogindexpage main .block-link {
		padding: 6em 2em;
		border-bottom: 1px dotted #DAD7D7;
	}

	.page-blogindexpage .blog-title {
		background-color:white;
		-webkit-background-size: cover;
		/*background-image: url("http://placehold.it/2000x300");*/
		margin-top: -6em;
	}

	.page-blogindexpage .blog-title div {
	    margin: -4.5em auto 0 auto;
	    padding: 10em 2em 2em 2em;
	    max-width: 48em;
	}

	.page-blogindexpage h1 {
		font-size: 6em;
		font-weight: bold;
		margin-bottom: 0.25em;
		color: #434a4f;
		position: relative;
	}

	.page-blogindexpage h1:before {
			position: absolute;
			content: "";
			background-size: 100% auto;
			top: 50px;
			right: 0;
			width: 119px;
			height: 150px;
	}

	.page-blogindexpage h2 {
	    font-size: 2.3em;
	    max-width: 620px;
	}

	 .page-blogindexpage .blog-title h2 {
        margin-top: -0.6em;
        font-size: 2em;
    }

	.page-blogindexpage p {
		font-size: 1.125em;
		color: #434a4f;
	}
	
	.page-blogindexpage main .listing {
		width: 100%;
		margin: 3em 0 0 0;
	}	


	/*Work page*/

	/*Next button*/

	.buttonsright{
		overflow: hidden;
		min-width: 35px;
		float: right;
	}

	.buttonsleft{
		overflow: hidden;
		min-width: 35px;
		float: left;
	}

	.buttons a:hover{
		overflow: visible;
	}

	.next{
		display: block;
	    margin-top: 10px;
	    right: 0;
	    display:inline-block;
	    padding: 1.5em 0.5em 1.5em 1.5em;
	    line-height: 1em;
	    background: url("/static/torchbox/images/icons/right.png") no-repeat left 7px center;
	    background-color: #ea853a;
	    z-index: 200;
	    color: #fff;
	    border: solid 1px #ea853a;
	    border-radius: 2px;
	    min-width: 110px;
	    text-align: center;
	    overflow: hidden;
	    margin-right: -75px;
	    transition: 0.2s ease;
	}

	.next.sticky {
		position: fixed;
		top: 10px;
	}

	/*Previous button*/

	.previous.sticky {
		overflow: visible;
		position: fixed;
		top: 10px;
	}

	.next:hover{
	    margin-right: -4px;
	    opacity: 1;
	    cursor: pointer;
	}

	.previous{
		display: block;
		margin-top: 10px;
	    left: 0;
	    display:inline-block;
	    padding: 1.5em 1.5em 1.5em 0.5em;
	    line-height: 1em;
	    background: url("/static/torchbox/images/icons/left.png") no-repeat right 7px center;
	    background-color: #ea853a;
	    z-index: 200;
	    color: #fff;
	    border: solid 1px #ea853a;
	    border-radius: 2px;
	    min-width: 140px;
	    text-align: center;
	    overflow: hidden;
	    margin-left: -105px;
	    margin-right: 0;
	    transition: 0.2s ease;
	}

	.previous:hover{
	    margin:10px 0 0 -4px;
	    opacity: 1;
	    cursor: pointer;
	}

	.bleed {
		margin: 1em 0.5em 0 0;
	}

	.page-workpage	header nav li a {
	    margin:0.5em 0.5em;
	    color: white;
	}

	.author {
    	margin:1.5em auto 0 auto;
	}

	.page-workpage	header nav li a:hover {
		color: #EA853a;
		border-bottom: 3px solid #EA853a;
	}

	.page-workpage .img-wrapper {
	    width:100%;
	    margin:-8em 0 0 0;
	    text-align: center;
	}

	.page-workpage .img-wrapper img {
	    width: auto;
	    position:relative;
	    max-width: 100%;
	    height: auto;
	}

	.page-workpage .logo {
    	background-image: url("/static/torchbox/images/logo-torchbox-white.png");
	}

    .page-workpage .intro h1 {
    	font-weight: bold;
    	font-size: 6em;
    	line-height: 1.1;
    }

    .page-workpage .single {
    	padding: 0em;
    	margin-top: -4.5em;
    }

    .page-workpage .single .img-wrapper img {
    	width: 100%;
    }

    .page-workpage .intro .body-copy {
	    margin-bottom: 1em;
	    margin-top: -10.2em;
		background: rgba(255, 255, 255, 1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		max-width: 800px;
    }

    .body-copy p,
    .body-copy ul {
    	font-size: 1.25em;
    }

    .body-copy h1 {
    	font-size: 6em;
    }

    .body-copy h1.long-title {
		font-size: 4em;
	}

    .body-copy h2 {
    	font-size: 1.75em;
    }

    .share {
	    margin-left: 0.5em
		}


    .grid li {
	    float: left;
	}

	.grid li img {
		width: 100%;
		height: auto;
	}


	.grid li {
		width:31%;
		margin-right: 3.5%;
		border: none;
	}

	.grid li:nth-of-type(3) {
		margin-right: 0;
	}

	.grid li:nth-child(3n+4) {
		clear:both;
	}

	.grid.people-list li:nth-child(3n+4) {
		clear:none;
	}

	.grid li a {
		border: none;
	}

	.grid.gutters li {	

	}
	
	.listing main li {
		margin-bottom: 2em;
	}

	.listing,
	.listing a {
		margin: 0 auto;
		padding: 0;
		border: none;
		box-sizing: border-box;
		left: auto;
		max-width: 100%;
	}
	.page-homepage .clients{
		padding: 3em 2em 1em 2em;
	}

	.page-homepage .clients li {
		width: 18%;
		margin-right: 2%;
		margin-bottom: 2%;
	}

	.page-jobpage header nav li a{
    	color: #424a4f;
	}

	.page-jobpage header nav li a:hover{
    	color: #ea853a;
	}

	.page-jobindexpage h1 {
		margin:-2em auto 0.5em auto;
		max-width: 96em;
		font-size: 5em;
		padding-bottom: 0.3em;
		color: #fff;
	}

	.page-jobindexpage .intro p {
		font-size: 1.1em;
		padding-top: 1em;
		margin-bottom: -2em;
	}

	.page-jobindexpage main .listing a {
		padding: 0.5em 0;
		font-size: 2em;
	}
	
	.benefits{
		max-width: 96em;
		margin: 3em auto 0 auto;
	}

	.page-jobindexpage .benefits li {
		position: relative;
	   	margin: 0em 0em 0em 0em;
	   	padding: 8em 4em 8em 4em;
	   	border-top: 1px solid white;
	   	display: block;
	}

	.page-jobindexpage main .listing li:nth-child(2) a { 
    	border-top: none;
	} 
	
	.page-jobindexpage main .benefits h2 {
    	font-size: 4em;
		padding: 0;
		margin: 0 0 0.8em 0;
	}

	.icon{
		display: block;
		margin: 0em 1em 0 0;
		float: left;
		width: 65px;
		height: 65px;
		background-repeat: no-repeat;
		background-image: url("/static/torchbox/images/icons/ethical.png")
	}

	.one:nth-child(1) .icon {
		background-image: url("/static/torchbox/images/icons/ethical.png");
	}

	.one:nth-child(2) .icon {
		background-image: url("/static/torchbox/images/icons/interesting.png");
	}

	.one:nth-child(3) .icon {
		background-image: url("/static/torchbox/images/icons/healthy.png");
	}

	.one:nth-child(4) .icon {
		background-image: url("/static/torchbox/images/icons/equipment.png");
	}

	.one:nth-child(5) .icon {
		background-image: url("/static/torchbox/images/icons/people.png");
	}

	.one:nth-child(6) .icon {
		background-image: url("/static/torchbox/images/icons/salary.png");
	}

	.page-jobindexpage .intro p a {
		padding: 1.2em 1.5em;
	}

	.page-jobindexpage .rich-text p{
		clear: both;
	}

	.sign-up{
		margin: -1em auto 1em auto;
	}

	.page-jobindexpage main .benefits .heading-block {
		position: relative;
	}

	.page-jobindexpage .benefits h2 {
		font-size: 3em;
	}

	.page-jobindexpage .benefits h3 {
		font-size: 2.5em;
		line-height: 1em;
	}

	.page-jobindexpage .benefits li > div > div {
		max-width: 30em;
		float: left;
	}

	.page-jobindexpage .logo{
    background: url("/static/torchbox/images/logo-torchbox-white.png") center left no-repeat;
    background-size: auto 3em;
	}


	
	.page-jobindexpage footer {
	    margin: -1em 0 0 0;
	}

	.page-jobindexpage .center {
		max-width: 96em;
		margin: 0 auto;
		padding: 2em 4em 1em 4em;
	}

	.page-jobindexpage .benefits .one {
		/*background: url("/static/torchbox/images/jobs-placeholder-05.jpg") no-repeat;
		-webkit-background-size: cover;*/
		width: 48%;
		float: left;
		margin: 2% 2%  3% 0;
		padding: 0 0 0 4em;
		border-top: none;
	}
	
	.page-jobindexpage .benefits .one:nth-of-type(odd) {
		clear: left;
	}

	.page-jobindexpage .benefits .one:nth-of-type(5) {
		margin-bottom: 5%;
	}

	.page-jobindexpage header nav li a:hover {
		color: #ea853a;
		transition: all 0.15s ease;
		border-bottom: 3px solid #ea853a;
	}

	.page-personindexpage main h1 {
	    font-size: 5em;
	}

   .page-jobindexpage  .crop-height {
   		display: block;
        max-height: 35em;
        overflow: hidden;
        margin-top: -10em;
    }

    .page-jobindexpage img.scale {
		display: block;
		margin: 0;
		min-width: 100%;
		float: right;
		width: auto\9;
		-ms-interpolation-mode: bicubic;
	}

	/*People index*/

	.grid.people-list li {
		width: 50%;
		margin: 0;
		padding: 0;
	}

	.grid.people-list li div {
    	opacity: 0.5;
	}

	.page-personindexpage  header nav li a {
	    color: #424a4f;
	}

	.page-personindexpage  header nav li a:hover {
	    color: #ea853a;
	    transition: all 0.15s ease;
		border-bottom: 3px solid #ea853a;

	}

	/*Person page*/

	.page-personpage header nav li a {
	    color: #424a4f;
	}

	.page-personpage .bleed {
		margin: 1em 0.5em 0 0;
	}

	.page-personpage header nav li a:hover {
	    color: #ea853a;
	    transition: all 0.15s ease;
		border-bottom: 3px solid #ea853a;

	}

	.page-personpage img {
		max-width: 100%;
	}

	.page-personpage .title {
		max-width: 720px;
		padding: 0;
	}

	.page-personpage main {
		margin-top: 6em;
	}

	.page-personpage main .container {
		max-width: 720px;
		padding: 0;	
	}

	.page-personpage h1 {
		font-size: 6em;
		line-height: 1em;
		font-weight: bold;
	}

	.holder{
		max-width: 96em;
		margin: 0 auto;
		padding: 0 1em;
	}

	.page-personpage .role {
		font-size: 1.5em;
		padding-bottom: 0.3em;
		margin-bottom: 0.5em;
	}	

	.page-personpage .body-copy {
		margin: 0;
	}

	.page-personpage .person-bio {
		background: white;
		overflow: scroll;
		padding: 0em 0 3em 0;
		margin-left: 0;
	}

	.bleed {
    background:none;
    overflow: visible;
	}

	header{
	background-color: transparent;
	}

	.page-workindexpage header nav li a {
    color: #434a4f;
	}


	.page-workindexpage header nav li a:hover {
    color: #EA853a;
	transition: all 0.15s ease;
	border-bottom: 3px solid #EA853a;
	}

	/*Services page*/

	.page-servicespage .services-intro {
		background: #F1D148;
		margin-top: -8.5em;
		padding: 8.5em 4em 2em 4em;
	}

	.page-servicespage h1 {
	    font-size: 5em;
	    color: #FFFFFF;
	}

	.services {
		margin-top: 3em;
	}

	.page-servicespage .services li {
		margin: 3em 0;
		padding: 0 1.5em 0 1.5em;
		width: 25%;
		float: left;
		height: 350px;
		transition: all 0.15s ease;
	}

	.page-servicespage .services li:hover:before {
		color: #EA853a;
		transition: all 0.15s ease;
	}

	.page-servicespage .services h2 {
		font-size: 2em;
		min-height: 3em;
	}

	.page-servicespage .services p {
		color: #6a6a6a;
		line-height: 1.6em;
	}

    /* Blog page  */

    .page-blogpage header nav li a {
		color: #000;
	}

	.page-blogpage header nav li a:hover {
		color: #EA853A;
		transition: all 0.15s ease;
		border-bottom: 3px solid #EA853A;
	}

	/*Footer*/

	footer .container {
		padding: 1em;
	}

	footer .offices ul {
		width: 80%;
		margin: 0 auto;
		border-top: 1px dotted rgba(255,255,255,0.2);
		padding-top: 2em;
	}

	footer .offices li {
		width: 50%;
		float: left;
		padding: 0 1em 1em 3em;
		background: url("/static/torchbox/images/icon-map-pin.svg") no-repeat left top;
		background-size: 3em;
	}


	footer .offices li:first-child{
		margin-right: -1px;
	}

	footer .offices {
		margin: 1em auto;
	}

	footer .offices h3 {
		font-size: 1.5em;
	}

	footer .contact {
		text-align: center;
	}

	footer .contact a {
		padding: 0;
	}

	footer .contact h2{
		font-size: 4em;	
		margin: 0.25em 0 0.25em 0;
		max-width: 100%;
		color:#fff;
	}

	footer .contact ul {
		text-align: center;
		border: none;
	}

	footer .contact li {
		display: inline-block;
		margin: 0 2em;
		border: none;
		width: 12em;
		border: none;
	}
	
	footer .contact li i {
		float: none;
		display: block;
		font-size: 3em;
		margin: 0;
		top:0;
		position: relative;
	}

	footer .contact li a:hover i {
		
		top: -0.25em;
		transition: top 0.2s ease;

	}


	.listing p {
    	margin: 0 0 1em 0;
    	display: block;
	}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media only screen and (min-width: 66em) {

	/*People index*/

	.grid.people-list li {
		width: 33.33%;
		margin: 0;
		padding: 0;
	}

}

@media only screen and (min-width: 1000px) {
	.uslist {
		margin: 0 auto;
		padding: 3em 0 0em 0;
		border: none;
		box-sizing: border-box;
		left: auto;
		max-width: 100%;
	}

	.page-standardpage .were-tbx h2 {
		display: block;
		font-size: 2em;
		margin-bottom: 0.5em;
		color: #fff;
	}

	.page-standardpage .were-tbx {
		margin-top: -13em;
	}

}

    /* Desktop */
@media only screen and (min-width: 1250px) {
	.page-jobindexpage main .listing li:nth-child(2) a {
		border-top: 1px solid #a9a9a9;
	}

	.page-jobindexpage main .listing li{
		float: left;
		width:48%;
		margin-right: 2%;
		min-height: 60px;
		font-size: 0.8em;
	}


	.page-workindexpage main ul a {
		min-height: 35em;
	}

	.page-workindexpage main .listing div {
	    background: rgba(0,0,0,0.7) ;
	    padding: 2em 2.5em 0 2.5em;
		transition: 0.3s ease;
	    top: 468px;
	}

	.page-workindexpage main .listing a:hover div {
	    background: rgba(234,133,58,1);
	    top: 317px;
	}

}




