@import url("http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css");
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,100,200,300,500,700,600,800);
@media only screen and (min-width: 36em) {

	html {
		margin:0;
		padding:0;
	}


	main {
		width:100%;
	}

	.container {
		padding: 0 2em;
	}

	.single .container {
		padding: 2em;
	}

	.bleed {
		margin: 0;
	}

	.menu-button {
		display: none;
	}

	header {	
		padding: 0;
	}

	header nav ul {
	    display:block;
	    position: absolute;
	    top: 0;
	    right: 0;

	}

	header nav li {
		float: left;

	}

	header nav li a {
		padding: 1.33em 1em;
		border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: none;
	}

	header nav li:last-child a {
		border: 0;
	}

	header nav li a:hover {
		background-color: #FF653F;
		color: #fff;
		transition: all 0.15s ease;
	}

	.logo {
		height: 4.5em;
		padding:1em 0;
		background-size: auto 3em;
	}

	/*Homepage*/
	.page-standardpage h1 {
	    font-size: 5em;
	    letter-spacing: -0.06em;
	}

	.page-homepage .hero {
		padding: 18% 2em;
		margin-top: -2em;
		margin-bottom: -3em;
	}

	.page-homepage .hero .gif {
		padding-left: 38em;
		position: absolute;
		top: 5em;
		right: 2em;
		text-align: center;
	}
	
	.page-homepage .hero a {
		padding:1.25em;
	}

	.page-homepage .hero h2 {
		font-size: 4.5em;
	}

	.page-homepage .work {
		padding: 2em;
	}

	.page-homepage .blog {
		padding:2em 2em 0 2em;
		background: #f5f4e9;
	}

	.page-homepage .blog h3 {
		font-size: 1.5em;
	}

	.page-homepage .hiring {
		background-size: 100%;
		padding: 12em 2em;
		border: none;
		margin: 0em 0;
	}
	
	.page-homepage .hiring h2 {
		font-size: 5em;
	}

	.page-homepage .hiring a {
		font-size: 1.25em;		
	}

	.page-homepage .hiring ul {
		border: none;
	}

	.page-homepage .hiring li {
		display:inline-block;
		border: none;
		margin-bottom: 1em;
	}

	/*Work index*/

	.page-workindexpage {
		color: #fff;
	}

	.page-workindexpage h1 {
	    font-size: 5em;
	}

	.page-workindexpage main .listing a h2 {
	    font-size: 3.5em;
	}

	.page-workindexpage main .listing div {
	    padding: 4em;
	}

	.page-workindexpage main ul a {
		min-height: 800px;
	}

	/*Index pages*/

	.index,
	.single {
	    padding: 0em 0;
	}

	/*Blog index*/
	.page-blogindexpage main {
		padding: 0 0 2em 0;
	}

	.page-blogindexpage main a {
		padding: 6em 2em;
	}

	.page-blogindexpage h1 {
		font-size: 4em;
		font-weight: bold;
		margin-bottom: 0.25em;
	}

	.page-blogindexpage h2 {
	    font-size: 2em;
	}

	.page-blogindexpage p {
		font-size: 1.125em;
	}


	/*Work page*/
    .page-workpage .intro h1 {
    	font-weight: bold;
    	font-size: 6em;
    	line-height: 1.1;
    }

    .page-workpage .single {
    	padding: 0em;
    	margin-top: -4.5em;
    }

    .page-workpage .single .img-wrapper img {
    	margin-bottom: -15em;
    }

    .page-workpage .intro .body-copy {
    	margin-bottom: 1em;
			background: rgba(255, 255, 255, 1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			max-width: 800px;
    }

    .body-copy p,
    .body-copy ul {
    	font-size: 1.25em;
    }

    .body-copy h1 {
    	font-size: 6em;
    }

    .body-copy h1.long-title {
		font-size: 4em;
	}

    .body-copy h2 {
    	font-size: 1.75em;
    }

    .share {
	    margin-left: 0.5em
		}


    .grid li {
	    float: left;
	}

	.grid li img {
		width: 100%;
		height: auto;
	}


	.grid li {
		width:32%;
		margin-right: 2%;
		border: none;
	}

	.grid li:nth-child(3n+3) {
		margin-right: 0;
	}

	.grid li:nth-child(3n+4) {
		clear:both;
	}

	.grid.people-list li:nth-child(3n+4) {
		clear:none;
	}

	.grid li a {
		border: none;
	}

	.grid.gutters li {	

	}
	
	.listing main li {
		margin-bottom: 2em;
	}

	.listing,
	.listing a {
		margin: 0;
		padding: 0;
		border: none;
		box-sizing: border-box;
		left: auto;
	}

	.page-homepage .clients {
	    padding: 2em;
	}

	.page-homepage .clients li {
		width: 18%;
		margin-right: 2%;
		margin-bottom: 2%;
	}

	.page-jobindexpage main .jobs {
    margin-top: -8.5em; 
	}

	.page-jobindexpage .intro {
	    padding: 4em 0;
	    margin: 0 auto;
	}

	.page-jobindexpage h1 {
		font-size: 5em;
		letter-spacing: -0.06em;
	}

	.page-jobindexpage .intro p {
		font-size: 1em;
	}

	.page-jobindexpage main .listing a {
		padding: 0.5em 0;
		font-size: 2em;
	}

	.page-jobindexpage .benefits li {
	    position: relative;
	    min-height: 18em;
	    padding: 4em 2em;
	}

	.page-jobindexpage main .benefits .heading-block {
		position: relative;
	}


	.page-jobindexpage .benefits h2 {
		font-size: 3em;
	}

	.page-jobindexpage .benefits li {
		padding: 6em 2em;
	}

	.page-jobindexpage .benefits li > div > div {
		max-width: 24em;
	}

	.page-jobindexpage .benefits .container {
		max-width: 72em;
		margin:0 auto;
	}

	.page-jobindexpage .benefits .container div {

	}

	.page-jobindexpage .benefits li:nth-child(odd) .container div {
		float: left;
	}

	.page-jobindexpage .benefits li:nth-child(even) .container div{	
		float: right;
	}

	.page-jobindexpage .benefits .three .container div {
		background: rgba(255, 255, 255, 0.75);
		padding: 1em;
	}

	.page-about .benefits .three {
	    color: #222;
	}

	.page-personindexpage main h1 {
	    font-size: 5em;
	}

	/*People index*/

	.grid.people-list li {
		width: 50%;
		margin: 0;
		padding: 0;
	}

	.grid.people-list li div {
    opacity: 0.5;
	}

	/*Person page*/

	.page-personpage main {
		min-height: 51em;
		margin-top: 2em;
	}

	.page-personpage main .container {
		padding: 0;	
	}

	.page-personpage img {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.page-personpage h1 {
		margin-bottom: 0;
	}

	.page-personpage .role {
		font-size: 2em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
	}	

	.page-personpage .body-copy {
		margin: 0;
	}

	.page-personpage .person-bio {
		background: white;
		margin-top: -10em;
		overflow: scroll;
		padding: 2em 3em;
	}


	/*Services page*/

	.page-servicespage .services-intro {
		background: #F1D148;
		margin-top: -8.5em;
		padding-top: 8.5em;
		padding-bottom: 1em;
	}

	.page-servicespage h1 {
	    font-size: 5em;
	    color: #FFFFFF;
	    font-family: "Raleway";
	    letter-spacing: 0;
	}

	.services {
		margin-top: 3em;
	}

	.page-servicespage .services li {
		margin: 3em 0;
		padding: 0 1.5em 0 1.5em;
		width: 25%;
		float: left;
		height: 350px;
		transition: all 0.15s ease;
	}

	.page-servicespage .services li:hover:before {
		color: #FF653F;
		transition: all 0.15s ease;
	}

	.page-servicespage .services h2 {
		font-size: 2em;
		min-height: 3em;
		font-family: "Raleway";
	}

	.page-servicespage .services p {
		color: #6a6a6a;
		line-height: 1.6em;
	}

	.page-servicespage .services li:before {
		position: absolute;
		margin-top: -1.5em;
		font-size: 2.5em;
		color: #F1D148;
		-webkit-font-smoothing: antialiased;
	}

	.page-servicespage .services li:nth-of-type(1):before {
		content: "\f1fe";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(2):before {
		content: "\f202\f25d";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(3):before {
		content: "\f256";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(4):before {
		content: "\f270";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(5):before {
		content: "\f20a";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(6):before {
		content: "\f127";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(7):before {
		content: "\f212";
		font-family: "Ionicons";
	}

	.page-servicespage .services li:nth-of-type(8):before {
		content: "\f2b3";
		font-family: "Ionicons";
	}

	/*Footer*/

	footer .container {
		padding: 1em;
	}

	footer .offices ul {
		width: 80%;
		margin: 0 auto;
		border-top: 1px dotted rgba(255,255,255,0.2);
		padding-top: 2em;
	}

	footer .offices li {
		width: 50%;
		float: left;
		padding: 0 1em 1em 3em;
		background: url("/static/torchbox/images/icon-map-pin.svg") no-repeat left top;
		background-size: 3em;
	}


	footer .offices li:first-child{
		margin-right: -1px;
	}

	footer .offices {
		margin: 1em auto;
	}

	footer .offices h3 {
		font-size: 1.5em;
	}

	footer .contact {
		text-align: center;
	}

	footer .contact a {
		padding: 0;
	}

	footer .contact h2{
		font-size: 4em;	
		margin: 0.25em 0 0.25em 0;
	}

	footer .contact ul {
		text-align: center;
		border: none;
	}

	footer .contact li {
		display: inline-block;
		margin: 0 2em;
		border: none;
		width: 12em;
		border: none;
	}
	
	footer .contact li i {
		float: none;
		display: block;
		font-size: 3em;
		margin: 0;
		top:0;
		position: relative;
	}

	footer .contact li a:hover i {
		
		top: -0.25em;
		transition: top 0.2s ease;

	}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media only screen and (min-width: 66em) {

	/*People index*/

	.grid.people-list li {
		width: 33.33%;
		margin: 0;
		padding: 0;
	}

}	



