/* ==========================================================================
    PLAY STYLES 
   ========================================================================== */

html {
	font-family: 'effra',helvetica,sans-serif;
}

h1, h2, h3 {
	line-height: 1.25;
	margin: 0;
	padding: 0;
	font-family: "effra",helvetica,sans-serif;
}

nav {
	position: relative;
}

main.blur {
	-webkit-filter: blur(5px);
	        filter: blur(5px);
}

.body-copy h2 {
	margin-top: 1.5em;
}

main {
	overflow: hidden;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.logo {
	background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
	background-size: auto 3em;
	margin-top: 1em;
}

.menu-button {
	line-height: 0.5em;
	padding: 0.2em 0 0.4em 0;
}

.page-standardpage .logo {
	background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
	background-size: 6em;
	padding: 1em;
	opacity: 1;
	position: relative;
	z-index: 5;
}

.clients {
	margin-top: -2em;
	padding-top: 1.5em;
}

.page-standardpage .quote {
	display:none;
}

.play-nav {
	background: none;
}

.menu-button {
	background-color: #fff;
	color: #63A6CB;
}

.menu-button:hover {
	background-color: #63A6CB;
	color: #fff;
}

header nav li a {
	color: #34434F;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding-left: 1.5em;
}

.active a{
	color: #24536d;
}

.active a:hover {
	color: #24536d;
}

header nav li a {
	color: #fff;
}

header nav li a:hover {
	color: #fff;
}

.bleed {
	margin: 0.3em -1em 0 -1em;
	background: rgba(255,255,255,0.2);
}

header nav ul.visible {
	height: 318px;
	background: #63a6cb;
}

.page-standardpage .heading p {
	margin-top: 2em;
}

.page-standardpage .heading p a {
	font-size: 1.2em;
	color: #fff;
	padding: 0.5em 1em;
	margin-right: 2em;
	border: 2px solid #fff;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.page-standardpage .heading p a:last-of-type {
	margin: 0
}

.page-standardpage .heading p a:hover {
	font-size: 1.2em;
	color: #fff;
	background: #63A6CB;
	border: 2px solid #63A6CB;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.page-standardpage .button {
	position: relative;
	color: #fff;
	border: none;
	background-color: #63A6CB;
	border-radius: 0;
	margin: 3em auto 0 auto;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.page-standardpage .button:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    border-width:20px 10px 0px 0px;
    border-style:solid;
    -moz-transform: scale(.9999);
    border-color:#fff transparent transparent #fff;
}

.page-standardpage .button:before {
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    border-width:0px 0px 35px 18px;
    border-style:solid;
    -moz-transform: scale(.9999);
    border-color:transparent transparent #fff transparent;
}

.page-standardpage .button:hover {
	background-color: #FFC121;
	color: #34434F;
}

.grid.people-list li a {
	background: #FFC121;
}

.grid.people-list ul:first-child:before{
   content:"";
    position:absolute;
	z-index: 1;
	top: 0;
	left: 0;
	border-width: 19px 410px 0px 0px;
    border-style:solid;
    -moz-transform: scale(.9999);
    border-color:#fff transparent transparent #fff;
}

.grid.people-list li a:hover {
	background: #63A6CB;
}

.play-yellow {
	position: relative;
	background: #FFC121;
	width: 100%;
	margin-right: 4%;
	float: left;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.play-yellow:before {
	opacity: 1;
	z-index: 1;
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    border-width:0px 0px 95px 78px;
    border-style:solid;
    -moz-transform: scale(.9999);
    border-color:transparent transparent #fff transparent;
}

.play-yellow:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    border-width:180px 100px 0px 0px;
    border-style:solid;
    -moz-transform: scale(.9999);
    border-color:#fff transparent transparent #fff;
}

.page-personpage h1 {
	margin-top: 7em;
}

.page-personpage main img {
	opacity: 0.8;
	width: 100%;
	margin-right: 0;
	float: none;
	z-index: 0;
}

.page-personpage .role {
	color: #63A6CB;
}

.breadcrumb {
	display: none;
}

.dropdown {
	display: none;
}

.page-workindexpage main .listing .about {
	border-radius: 0px;
	max-width: 100%;
	width: 100%;
	margin:0;
}

.page-workindexpage main .listing a h2 {
	color: #FFC121;
}

.page-workindexpage main ul a {
	min-height: 17em;
}

.pagination {
	display: none;
}

.page-workindexpage main .listing a .about:after {
	content: "";
	position: absolute;
	opacity: 1;
	top: -35px;
	left: 0;
	-moz-transform: scale(.9999);
	border-width: 0px 0px 35px 808px;
	border-style: solid;
	-moz-transform: scale(.9999);
	border-color: transparent transparent rgba(0,0,0,0.7) transparent;
	-o-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	transition: 0.3s ease;
}

.page-workindexpage main ul a:hover .about:after {
	opacity: 0;
}

.page-workpage .logo {
	background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
	background-size: 6em;
	opacity: 1;
}

.body-copy a {
	color: #63A6CB;
}

.body-copy a:hover {
	color: #34434F;
}

.share li {
	border-bottom: 1px solid rgba(99, 166, 203, 0.2);
}

.share ul:before {
	border-bottom-color: #63A6CB;
}

.share ul {
	border-color: #63A6CB;
}

.page-workpage .crop-height:after{
	content: "";
	position: absolute;
	bottom: 35px;
	bottom: 0;
	height: 0px;
	right: 0;
	-moz-transform: scale(.9999);
	border-width: 31px 90px 0px 0px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
}

.single .container {
	padding: 1em 1em 0 1em;
}

.page-workpage .tags {
	display: none;
}


.page-workpage .share {
	margin: 0 0 0.5em 0;
	float: none;
}

.intro p {
	margin-bottom: 1em;
	line-height: 1.7;
}

/* ==========================================================================
Sign up
========================================================================== */

.follow {
	margin: 1.2em 0 0 1.7em;
}

.newsletter-wrapper {
	position: relative;
	margin: 0.3em 2em 0 1.7em;
}

.newsletter-wrapper-top {
	height: 0;
	text-align: center;
	position: relative;
	padding: 0;
	opacity: 0;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.newsletter-wrapper-top.show {
	opacity: 1;
	height: 130px;
	padding: 2em;
}

header.container.taller {
	height: 250px;
}

input {
	height: 40px;
	width: 250px;
	text-align: left;
	padding: 0.5em;
	box-sizing: border-box;
	border: 0;
}

input[type="text"] {
  display: block;
  color: rgba(0,0,0,0.4);
  font-size: 0.8em;
  padding-top: 0.85em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 1px solid #FFC121;
}

.form-btn {
	position: absolute;
	top: 0px;
	right: 71px;
	background: #FFC121;
	border-radius: 0;
}

@media only screen and (min-width: 45em) {
	form {
		position: relative;
		max-width: 30em;
		margin: 0 auto;
	}

	form:hover .form-btn {
		background: #ffa523;
	}

	.follow {
		margin: 1.2em 0 0 0;
	}

	input {
		border: 1px solid #63A6CB;
		width: 90%;
		height: 50px;
	}

	input[type="text"] {
		font-size: 1em;
		padding: 0.3em 1em 0;
	}

	.newsletter-wrapper {
		position: relative;
		margin: 0.8em 2em 0 0;
	}

	.form-btn {
		height: 100%;
		width: 10%;
		right: 0;
		background: #63A6CB;
		text-align: center;
		padding: 0.1em 0 0 0;
		-o-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.sign-up {
		background: #63A6CB;
		color: #fff;
		padding: 0.1em 0.5em 0.3em;
		margin-top: 0.8em;
		-o-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.sign-up:hover {
		background: #34434F;
		color: #fff;
	}
}

/* ==========================================================================
Footer
========================================================================== */


footer {
	background: #34434F;
	position: relative;
	overflow: hidden;
}

.page-personindexpage footer:after {
	border-width: 0px;
}

.page-workindexpage footer:after {
	border-width: 0px;
}

footer:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	-moz-transform: scale(.9999);
	border-width: 30px 1610px 0px 0px;
	border-style: solid;
	border-color: #fff transparent transparent #fff;
}

footer .offices {
	margin: 0em auto;
}

footer .contact a:hover span {
	color: #FFC121;
}

body .svg {
	fill: #FFC121;
}

footer .offices li:hover h3, footer .offices li:hover .vcard {
	color: #FFC121;
}

footer .contact h2 {
	margin: 1.5em 0 -0.5em 0;
}

.wagtail {
	padding: 0 0 1em 0;
}

header.container {
	min-width: 100%;
	max-width: 100%;
	padding: 0;
	overflow: hidden;
	-o-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	transition: 0.3s ease;
}

@media only screen and (min-width: 45em) {

	header.container {
		height: 128px;
		position: absolute;
		top: 0;
	}


	/* ==========================================================================
    page-standardpage
   ========================================================================== */

	.active a:hover {
		border-bottom: none;
	}

	.page-standardpage.page-standardpage .heading {
		padding-top: 10em;
		padding-top: 15em;
		height: 760px;
	}

	.page-standardpage .logo {
		background-size: 8em;
		margin-top: -0.3em;
		display: inline-block;
	}

	.page-standardpage h2 {
		max-width: 18em;
	}

	.italic {
		position: relative;
		text-align: center;
		z-index: 1;
		margin: 1.5em auto 0.5em auto;
	}

	.clients {
		margin: -1.5em auto 0 auto;
	}

	.page-standardpage .were-tbx h2 {
		text-align: center;
		max-width: 100%;
	}

	.heading {
		min-height: 100%;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.heading:after {
		content: "";
		position: absolute;
		bottom: 35px;
		top: 686px;
		left: 0;
		-moz-transform: scale(.9999);
		border-width: 40px 1610px 0px 0px;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
	}

/* ==========================================================================
    Navigation 
   ========================================================================== */
	.active a {
		color: #63A6CB;
	}

	header nav li a {
		color: #34434F;
	}

	header nav li a:hover {
		color: #63A6CB;
	}

	.page-standardpage header.container {
		height: 350px;
		overflow: hidden;
		position: absolute;
		top: 0;
		min-width: 100%;
	}

	.page-standardpage nav {
		position: relative;
	}

	.play-nav-container {
		background: rgba(255,255,255,0.9);
		height: 100px;
		position: relative;
	}
	
	.play-nav-container:before {
		content: "";
		position: absolute;
		bottom: -30px;
		left: 0;
		-moz-transform: scale(.9999);
		border-width: 30px 1610px 0px 0px;
		border-style: solid;
		border-color: rgba(255,255,255,0.9) transparent transparent rgba(255,255,255,0.9);
	}

	.play-nav-container:after {
		content: "";
		position: absolute;
		top: -30px;
		left: 0;
		-moz-transform: scale(.9999);
		border-top: 30px solid rgba(255, 255, 255, 0);
		border-right: 0px solid rgba(255, 255, 255, 0);
		border-bottom: 0px solid rgba(255, 255, 255, 0);
		border-left: 1610px solid rgba(255,255,255,0.9);
	}

	.page-standardpage .bleed {
		background: none;
		margin-top: 0;
		right: -2em;
	}

	.play-nav {
		max-width: 90em;
		margin: 0 auto;
		padding: 0 2em;
	}

	.bleed {
		background: none;
		margin-top: -10px;
		margin-right: 0;
		padding: 0.5em 1em;
		height: 80px;
	}

	header nav li  a{
		float: left;
		padding: 0.8em 0 0 0;
		font-family: "effra",helvetica,sans-serif;
		border: none;
	}

	footer .contact h2 {
		margin: 0.5em 0 0.2em 0;
	}

	.footerbleed {
		padding: 1em 0 2em 0;
	}

	/* ==========================================================================
    .page-personindexpage 
   ========================================================================== */
   .page-personindexpage main {
   		margin-top: 7em;
   }

   	.page-personindexpage .bleed {
		top: -0.2em;
		right: -2em;
	}

    .page-personindexpage header nav ul {
		right: 8px;
	}

   .page-personindexpage .logo {
		background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
		background-size: 8em;
		margin-top: -0.3em;
		padding: 1em;
		opacity: 1;
		position: relative;
		z-index: 5;
	}

	.page-personindexpage .bleed {
		background: none;
		margin-top: 0.5em;
	}

	.page-personindexpage header nav li.active a {
		color: #63A6CB;
	}

	.grid.people-list ul:first-child:before {
		border-width: 0;
	}

	/* ==========================================================================
    .page-personpage
   ========================================================================== */
	.page-personpage main {
		margin-top: 7em;
	}

    .page-personpage .bleed {
    	background: none;
		margin-top: 0.5em;
		top: -0.2em;
		right: -2em;
	}

   	.grid.people-list li a {
		background: #FFC121;
	}

	.grid.people-list li a:hover {
		background: #63A6CB;
	}

    .page-personpage .logo {
		background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
		background-size: 8em;
		margin-top: -0.3em;
		padding: 1em;
		opacity: 1;
		position: relative;
		z-index: 5;
	}

	.page-personpage header nav li.active a {
		color: #63A6CB;
	}

	.page-personpage h1 {
		margin-top: 0em;
	}

	.page-personpage main .container {
		margin-top: 3em;
		max-width: 80em;
	}

	.play-yellow {
		width: 35%;
	}

	/* ==========================================================================
    .page-workindexpage 
   ========================================================================== */
	.page-workindexpage  main {
		margin-top: 7em;
	}

	.page-workindexpage .bleed {
		top: 0.9em;
		right: -2em;
	}

   .page-workindexpage .logo {
		background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
		background-size: 8em;
		margin-top: -0.3em;
		padding: 1em;
		opacity: 1;
		position: relative;
		z-index: 5;
	}

	.page-workindexpage header nav li.active a {
		color: #63A6CB;
	}

	.page-workindexpage main ul li {
		width: 50%;
		float: left;
		max-height: 35em;
	}

	.page-workindexpage main ul a:hover {
		background: transparent;
	}

	.page-workindexpage main .listing a:hover .about {
		background-color: transparent;
	}

	.page-workindexpage main .listing .about {;
		position: relative;
		-o-transition: 0.3s ease;
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		transition: 0.3s ease;
		padding-bottom: 100px;
	}

	.page-workindexpage main .listing a:hover .about h2 {
		color: #63A6CB;
	}

	.page-workindexpage main .listing .about p {
		opacity: 0;
		-o-transition: 0.3s ease;
		-webkit-transition: 0.3s ease;
		-moz-transition: 0.3s ease;
		transition: 0.3s ease;
	}

	.page-workindexpage main .listing a:hover .about p {
		opacity: 1;
		color: #FFC121;
	}

	.page-workindexpage main ul a {
		overflow: hidden;
	}

	.page-workindexpage main ul a {
		background: transparent;
		min-height: 24em;
	}

	.page-workindexpage main ul a:hover {
		background: rgba(0,0,0,0.7);
	}

	.page-workindexpage main .listing a:hover .about:after {
		content: "";
		border-color: transparent;
	}
	/* ==========================================================================
    .page-workpage 
   ========================================================================== */

   .page-workpage .img-wrapper {
   	margin-top: 5em;
   }

	.page-workpage .play-nav-container {
		height: 104px;
	}

	.page-workpage main {
		margin: -150px 0 0 0;
		padding: 0;
		overflow: visible;
	}

	.page-workpage nav {
		position: relative;
	}

	.page-workpage .bleed {
		background: none;
		margin-top: 5px;
		right: -2em;
	}

    .page-workpage .logo {
   		background: url("/static/torchbox/images/play/play-blue.png") center left no-repeat;
   		background-size: 8em;
		margin-top: -0.3em;
		position: relative;
		z-index: 5;
		opacity: 1;
    }

    .page-workpage .intro .body-copy {
   		border-radius: 0;
    }

    .page-workpage .intro .body-copy:after {
		content: "";
		position: absolute;
		bottom: 35px;
		top: -35px;
		height: 20px;
		left: 0;
		-moz-transform: scale(.9999);
		border-width: 25px 800px 0px 0px;
		border-style: solid;
		border-color: transparent #fff transparent transparent;
   }

	.nextprev a {
		background-color: #63A6CB;
		border-radius: 0;
	}

	.prev a:after {
		z-index: 1;
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		border-width: 0px 0px 20px 28px;
		border-style: solid;
		-moz-transform: scale(.9999);
		border-color: transparent transparent #fff transparent;
	}

	.next a:before {
		z-index: 1;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-width: 30px 20px 0px 0px;
		border-style: solid;
		-moz-transform: scale(.9999);
		border-color: #fff transparent transparent #fff;
	}

	.next .thumb {
		display: none;
	}

	.prev .thumb {
		display: none;
	}

	.page-workpage .share {
		margin: 0 0 1.5em 1.5em;
	}

	.page-workpage .crop-height:after{
		border-width: 0px;
	}


}

/* ==========================================================================
play display 
========================================================================== */
.play-no {
	display: none;
}

.tbx-no {
    display: block;
}

.big {
	display: block;
}

@media only screen and (min-width: 45em) {
	.big {
		display: none;
	}
}

.sml {
	display: none;
}

@media only screen and (min-width: 45em) {
	.sml {
		display: block;
	}
}

.page-standardpage .play-no {
	display: none;
}

@media only screen and (min-width: 1250px) {
	.page-workindexpage main .listing .about {
		top: 270px;
		position: relative;
	}

	.page-workindexpage main .listing a:hover .about {
		top: 211px;
	}
}

@media only screen and (min-width: 66em) {
	.grid.people-list li {
		width: 25%;
	}
}

@media only screen and (min-width: 96em) {
	.page-personpage .bio-text {
		width: 57%;
		float: left;
		margin-right: 4%;
	}

	.heading:after {
		border-width: 40px 3610px 0px 0px;
	}

	.page-workindexpage main .listing a .about:after {
		border-width: 0px 0px 35px 1008px;
	}

	footer .offices {
		margin: 1em auto 0 -2em;
	}
}
