{% load wagtailcore_tags %}
<div
    class="blog-listing {% if classes %}{{ classes }}{% endif %}"
    {% if page.blogs_section_title %}id="{{ page.blogs_section_title|slugify }}"
    {% elif blogs_section_title %}id="{{ blogs_section_title|slugify }}"{% endif %}
    {% if data_attrs %}{{ data_attrs }}{% endif %}
>
    <div class="blog-listing__content">
        {% if page.blogs_section_title and not hide_title %}
            {% include "patterns/atoms/section-title/section-title.html" with title=page.blogs_section_title %}
        {% elif blogs_section_title and not hide_title %}
            {% include "patterns/atoms/section-title/section-title.html" with title=blogs_section_title %}
        {% endif %}

        {% if blogs_section_heading %}
            <h2 class="blog-listing__heading">What our team says</h2>
        {% endif %}
        <div class="blog-listing__list blog-listing__list--horizontal">
            {% for post in featured_blog_posts %}
                {% if feature_first and forloop.first %}
                    <div class="blog-listing__feature">
                        {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
                    </div>
                {% else %}
                    {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
                {% endif %}
            {% endfor %}
        </div>
        {% pageurl blog_index_page as blog_index_url %}
        {% include "patterns/atoms/see-more/see-more.html" with text="See more posts"  link=blog_index_url filter_by=filter_by %}
    </div>
</div>
