{% load torchbox_tags cache compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Torchbox{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
        
        {% compress css %}
            <link rel="stylesheet" href="{% static "torchbox/css/normalize.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/main.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/medium.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/large.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/fontello.css" %}">

            <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}" type="text/javascript"></script>
            <script src="{% static "js/main.js" %}"></script>
        {% endcompress %}

        <link rel="shortcut icon" href="{% static "torchbox/images/favicon.ico" %}"/>

        <!-- Load fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

        {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}

        {# Javascript that needs to be called from head e.g. google analytics snippet, modernizr etc #}
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-xxxxxxx-x']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
    </head>

    <body class="page-{{ self|content_type }} title-{{ self.title|slugify }} pageid-{{ self.id }} {% block body_class %}{% endblock %}"> {# Override body_class block to set custom body classes on a template by template basis #}
        {% wagtailuserbar %} {# Don't delete this #}

        <header class="container">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        <main>
            <aside>
                {% block secondary_menu %}
                    {% secondary_menu calling_page=self %}
                {% endblock %}
            </aside>

            {% block content %}{% endblock %}

        </main>

        <footer class="clearfix">
            <div class="contact container listing">
                <h2>Say hello</h2>
                <ul class="bleed">
                    <li><a href="mailto:hello@torchbox.com"><i class="icon-mail"></i><span>hello@torchbox.com</span></a></li>
                    <li><a href="tel:+441608811870"><i class="icon-phone"></i><span>+44 (0) 1608 811870</span></a></li>
                    <li><a href="https://twitter.com/torchbox"><i class="icon-twitter"></i><span>@torchbox</span></a></li>
                </ul>
            </div>
            
            <div class="offices container ">
                <h2 class="visuallyhidden">Offices</h2>
                <ul class="clearfix listing">
                    <li>
                        <h3>Oxford</h3>

                        <div class="vcard">
                            <span class="street-address">Unit&nbsp;9, Southill&nbsp;Business&nbsp;Park</span>,
                            <span class="region">Charlbury</span>,
                            <span class="postal-code">OX7&nbsp;3EW</span>, 
                            <span class="country-name">UK</span>
                        </div>
                    </li>
                    <li>
                        <h3>Bristol</h3>
                        <div class="vcard">
                            <span class="street-address">Prudential&nbsp;Buildings, 11-19&nbsp;Wine&nbsp;Street</span>
                            <span class="region">Bristol</span>,
                            <span class="postal-code">BS1&nbsp;2PH</span>, 
                            <span class="country-name">UK</span>
                        </div>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>

        {% compress js %}
            <script src="{% static "torchbox/js/vendor/jquery.fitvids.js" %}"></script>
            {# Custom javascript #}
            {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
            <script src="{% static "torchbox/js/main.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}
    </body>
</html>
