{% load torchbox_tags cache compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <script type="text/javascript" src="//use.typekit.net/zzm2obu.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link rel="stylesheet/less" href="style.less" type="text/css">
        <script src="http://lesscss.googlecode.com/files/less-1.0.21.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Torchbox{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}

        {% compress css %}
            <link rel="stylesheet" href="{% static "torchbox/css/normalize.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/main.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/medium.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/large.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/fontello.css" %}">
            <link rel="stylesheet" href="{% static "torchbox/css/animate.css" %}">


            <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}" type="text/javascript"></script>
            <script src="{% static "js/main.js" %}"></script>
        {% endcompress %}

        <link rel="shortcut icon" href="{% static "torchbox/images/favicon.ico" %}"/>

        <!-- Load fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,700italic' rel='stylesheet' type='text/css'>

        {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}

        {# Javascript that needs to be called from head e.g. google analytics snippet, modernizr etc #}
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-xxxxxxx-x']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script>
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
        </script>

    </head>

    <body class="page-{{ self|content_type }} title-{{ self.title|slugify }} pageid-{{ self.id }} {% block body_class %}{% endblock %}"> {# Override body_class block to set custom body classes on a template by template basis #}
        {% wagtailuserbar %} {# Don't delete this #}

        <header class="container">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        <main>

            {% block content %}{% endblock %}

        </main>
        
            <footer class="clearfix">
                <div class="holder">
                    <div class="contact container listing">
                        <h2>Say hello</h2>
                        <ul class="footerbleed">
                            <li><a href="mailto:hello@torchbox.com"><i class="icon-mail"></i><span>hello@torchbox.com</span></a></li>
                            <li><a href="tel:+441608811870"><i class="icon-phone"></i><span>+44 (0) 1608 811870</span></a></li>
                            <li><a href="https://twitter.com/torchbox"><i class="icon-twitter"></i><span>@torchbox</span></a></li>
                        </ul>
                    </div>

                    <div class="offices container ">
                        <h2 class="visuallyhidden">Visit us</h2>
                        <ul class="clearfix listing">
                            <a href="http://www.maps.google.com/?q=Unit+9+Southill+Business+Park+Cornbury+Park+Charlbury+OX7+3EW">
                                <li>
                                    <div class="svg">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 585 841.9" enable-background="new 0 0 585 841.9" xml:space="preserve">
                                            <path fill="" d="M363.8,267.3c-19.5-18.1-45.5-28.4-71.3-28.4s-51.8,10.4-71.3,28.4c-20.2,18.7-31.3,43-31.3,68.5  c0,66.7,100.8,255.4,101.8,257.3c0.2,0.3,0.5,0.5,0.9,0.5c0.4,0,0.7-0.2,0.9-0.5c1-1.9,101.8-190.6,101.8-257.3  C395.1,310.3,384,286,363.8,267.3z"/>
                                            </svg> </path>
                                    </div>

                                    <h3>Oxford</h3>
                                        <div class="vcard">
                                            <span class="street-address">Unit&nbsp;9, Southill&nbsp;Business&nbsp;Park</span>,
                                            <span class="region">Charlbury</span>,
                                            <span class="postal-code">OX7&nbsp;3EW</span>,
                                            <span class="country-name">UK</span>
                                        </div>
                                </li>
                            </a>

                            <a href="http://www.maps.google.com/?q=4+Unity+St+Bristol+BS1+United Kingdom">
                                <li>
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 585 841.9" enable-background="new 0 0 585 841.9" xml:space="preserve">
                                        <path fill="" d="M363.8,267.3c-19.5-18.1-45.5-28.4-71.3-28.4s-51.8,10.4-71.3,28.4c-20.2,18.7-31.3,43-31.3,68.5  c0,66.7,100.8,255.4,101.8,257.3c0.2,0.3,0.5,0.5,0.9,0.5c0.4,0,0.7-0.2,0.9-0.5c1-1.9,101.8-190.6,101.8-257.3  C395.1,310.3,384,286,363.8,267.3z"/>
                                        </svg> </path>
                                    </div>
                                    <h3>Bristol</h3>
                                        <div class="vcard">
                                            <span class="street-address">The Annexe, 4&nbsp;Unity&nbsp;Street</span>,
                                            <span class="region">Bristol</span>,
                                            <span class="postal-code">BS1&nbsp;5HH</span>,
                                            <span class="country-name">UK</span>
                                        </div>
                                </li>
                            </a>
                            <img class="wagtail" src="/static/torchbox/images/wagtail.png" alt="" style="width:165px;height:19px">
                        </ul>
                    </div>
                         <img class="wagtail2" src="/static/torchbox/images/wagtail.png" alt="" style="width:165px;height:19px">
            </footer>

        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>

        {% compress js %}
            <script src="{% static "torchbox/js/vendor/jquery.fitvids.js" %}"></script>
            {# Custom javascript #}
            {# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
            <script src="{% static "torchbox/js/main.js" %}"></script>
             <script src="{% static "torchbox/js/gmaps.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}

        <script>
            // Sticky next / previous work page //
            // Cache selectors outside callback for performance.
            var $window = $(window),
                $stickyEl = $('.nextprev'),
                elTop = $stickyEl.length && $stickyEl.offset().top-30;

            $window.scroll(function() {
                $stickyEl.toggleClass('sticky', $window.scrollTop() > elTop);
            });
        </script>

    </body>
</html>
