{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% get_popular_tags self as poptags %}

    <div class= "crop-height">
        <img class="scale" src="http://cinemagraphs.com/images/demo/cab-window-429.gif" width="" height="" alt="">

        <div class="blog-title">
            <h1>{{ self.title }}</h1>
        </div>
    </div>

    <section class="blog">

    <div class="popular-tags">
        {% if poptags %}
            <!--<h3>Popular tags</h3>-->
            <div class="container">
                <p>
                    {% for tag in poptags %}
                        <a href="?tag={{ tag.slug }}">{{ tag }}</a>
                    {% endfor %}
                </p>
                {% endif %}

                {# Optional heading appears if filtering by tag #}
                {% if request.GET.tag|length %}
                    <p class="show">Showing posts tagged  <span>"{{ request.GET.tag|safe }}" </span> 
                        <a href="{% pageurl self %}"> Show all </a>
                    </p>
                    {% endif %}
            </div>
    </div>

    <ul class="listing clearfix">
        {% for blog in blogs %}
            <li>
                <a class="block-link" href="{% pageurl blog %}">
                    <div class="container">
                        <h2>{{ blog.title }}</h2>
                        
                        {% with blog.related_author.all as authors %}
                            {% if authors %}
                                {% for author in authors %}
                                    <div class="centertall">
                                        {% if author.author.image %}
                                            {% image author.author.image fill-300x300 as photo %}
                                            <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="avatar"/>
                                        {% endif %}
                                    </div>

                                    {{blog.intro|richtext}}

                                    <span>{{ author.author.title }}</span>

                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        {% if blog.date %}
                            <span>|&nbsp;{{ blog.date|date:"j F Y" }}</span>
                        {% endif %}

                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    </section>

    <div class="container pagination">
        {# Pagination #}

        {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}

            <div> &nbsp;
                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><p> Next </p></a>
                {% endif %}
            </div>

            <div>&nbsp;
                <p> Page {{ blogs.number }} of {{ blogs.paginator.num_pages }} </p>
            </div>

            <div>&nbsp;
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><p> Previous &nbsp;</p></a>
                {% endif %}
            </div>
    </div>
{% endblock %}
