{% extends "torchbox/base.html" %}
{% load pageurl image_tags rich_text %}

{% block content %}
<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=323944607389";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main class="page-blog-single single">

    <section class="container body-copy">

        {% include "torchbox/includes/breadcrumb.html" %}

        <h1 class="{% if self.title|length >= 30 %}long-title{% endif %}">{{ self.title }}</h1>

        <div class="article-meta">
            {% with self.related_author.all as authors %}
            {% if authors %}
            {% for author in authors %}

            {% if self.date %}
            <span class="date">{{ self.date|date:"j F Y" }}&nbsp;|&nbsp;</span>
            {% endif %}

            <a href="{% pageurl author.author %}">{{ author.author.title }}</a>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="share">
                | <a>Share &#10084;</a>
                <ul class="share options">
                    <li>
                        <div class="fb-like" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="torchbox">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>
                </ul>
            </div>

        </div>

        {% if self.intro %}
            {{ self.intro|richtext }}
        {% endif %}

        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}

        <div id="author" class="author clearfix" >
            {% with self.related_author.all as authors %}
            {% if authors %}
            {% for author in authors %}
            {% if author.author.image %}
                {% image author.author.image width-300 as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="avatar" />
            {% endif %}
            <a href="{% pageurl author.author %}" class="name">{{ author.author.title }}</a>

                {% if author.author.role %}
                    <span class="role">{{ author.author.role }}</span>
                {% endif %}

            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </section>


</div>
<section class="tags">
    {% with self.tags.all as tags %}
    {% if tags %}
    {% for tag in tags %}
    <a href="{% pageurl self.blog_index %}?tag={{ tag }}">{{ tag }}</a>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>

</main>
{% endblock %}
