{% extends "torchbox/base.html" %}
{% load torchbox_tags wagtailcore_tags static %}

{% block content %}

    <section class="hero">
        <h1 class="visuallyhidden">Home</h1>
                <div class="animated fadeInDown container">
                   <h2> We do digital for those changing the world for the better. We love working on projects we're passionate about with people who share our values.</h2>
                   <a href="/about"> <div class="button"> Read more</div> </a>
                   <a href="mailto:hello@torchbox.com"> <div class="button"> Get in touch</div> </a>
                </div>
                
                <div class="container">
                    <a href="#posts">
                        <div class="arrow">
                        </div>
                    </a>
                </div>

    </section>

    <a name="posts">
    <section class="gutters work clearfix grid worklisting">
    		{% homepage_work_listing 3 %}
    </section>
    </a>

    <section class="grid">
            <div class="listing clearfix bloglisting" >
	          {% homepage_blog_listing 3 %}
	        </div>
    </section>

    <section class="more">
        <div class="center">
            <div class="button"> Load more posts</div>
        </div>
    </section>

    <section class="container hiring">
        <div >
            <h2>  By the way, we're hiring </h2>
            {% homepage_job_listing 3 %}
        </div>
    </section>


{% endblock %}
