{% extends "torchbox/base.html" %}
{% load torchbox_tags pageurl%}

{% block content %}
<main class="page-home">
    <section class="hero">
        <h1 class="visuallyhidden">Home</h1>
        <h2>Digital stuff for the good guys.</h2>
    </section>

    <section class="work clearfix grid">
    	<div class="container">
    		<ul class="listing clearfix">
    			{% homepage_work_listing 3 %}
    		</ul>
    	</div>
    </section>

    <section class="container hiring">
        <h2>We're hiring</h2>
    		{% homepage_job_listing 3 %}
     	</section>

    <section class="blog container  grid">
        <h2><a href="blog.php" >Blog <span>+</span></a></h2>
        <ul class="listing clearfix" >
		    {% homepage_blog_listing 3 %}
		  </ul>
    </section>

    <section class="clients container clearfix">
	    <h2>Clients</h2>
		 <ul>
            <li>

            </li>
         </ul>
	 </section>
</main>

{% endblock %}