{% extends "torchbox/base.html" %}
{% load torchbox_tags pageurl static%}

{% block content %}
    <section class="hero">
        <h1 class="visuallyhidden">Home</h1>
        <h2>Digital stuff for <em>nice</em> people.</h2>
        <!--<div class="gif"><img src="{% static "torchbox/images/phone.gif" %}"></div>-->
    </section>

    <section class="container gutters work clearfix grid">
            <h2 class="visuallyhidden">Work</h2>
    		{% homepage_work_listing 3 %}
    	</div>
    </section>

    <section class="container hiring">
            <div>
                <h2>We're hiring</h2>
        		{% homepage_job_listing 3 %}
            </div>
     	</section>

    <section class="blog container grid">
        <h2><a href="blog.php" >Blog <span>+</span></a></h2>
        <ul class="listing clearfix" >
		    {% homepage_blog_listing 3 %}
		  </ul>
    </section>

    <section class="clients container clearfix">
	    <h2>Clients</h2>
		 <ul>
            <li><img src="{% static "torchbox/images/client-logo-01.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-02.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-03.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-04.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-05.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-03.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-04.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-01.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-02.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-03.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-04.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-05.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-03.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-04.svg" %}"></li>
            <li><img src="{% static "torchbox/images/client-logo-01.svg" %}"></li>
         </ul>
	 </section>

{% endblock %}