<html>
<head>
        <!-- MAP -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8DzA414OJ7tzw0J7cKc9LPisCg2gNNKI&sensor=false"></script>
        
        <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                                // Basic options for a simple Google Map
                                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                                var mapOptions = {
                                    // How zoomed in you want the map to start at (always required)
                                    zoom: 9,

                                    // The latitude and longitude to center the map (always required)
                                    center: new google.maps.LatLng(51.638071, -1.856351), 

                                    // How you would like to style the map. 
                                    // This is where you would paste any style found on Snazzy Maps.
                                    styles: [   {"featureType":"all", "stylers":[  {"saturation":0},  {"hue":"#ea853a"} ]},

                                            {"featureType":"road", "stylers":[ {"saturation":-20} ]},  

                                            {"featureType":"transit","stylers":[ {"visibility":"off"} ] }, 

                                            {"featureType":"road.arterial","stylers":[{"visibility":"off"} ]}, 

                                            {"featureType":"poi","stylers":[{"visibility":"off"}]}, 

                                            {"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]} 
                                            ]

                                };

                                // Get the HTML DOM element that will contain your map 
                                // We are using a div with id="map" seen below in the <body>
                                var mapElement = document.getElementById('map');

                                // Create the Google Map using out element and options defined above
                                var map = new google.maps.Map(mapElement, mapOptions); 

                                var iconBase = '/static/torchbox/images/map_icon.png';
                                var myLatlng = new google.maps.LatLng(51.453375, -2.600566);
                                var marker = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    icon: iconBase,
                                    title: 'Hello World!'
                                });

                                var iconBase = '/static/torchbox/images/map_icon.png';
                                var myLatlng = new google.maps.LatLng(51.858469,-1.480863);
                                var marker = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    icon: iconBase,
                                    title: 'Hello World!'
                                });

                            }
        </script>

            <!-- MAP END -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/torchbox/css/main.css">

</head>

<body>


    <div id="map" style="height: 100%; width: 100%; top: 0px; margin:0; padding:0;">
    </div>

</body>
</html>


   