{% extends "torchbox/base.html" %}
{% load image_tags rich_text %}

{% block content %}
    {% if self.image %}
        {# Person image - first store image as a variable in order to construct an image tag with a class applied #}
        {% image self.image width-300 as photo %}
        <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" />
    {% endif %}

    {{ self.title }}

    {% if self.intro %}
        {{ self.intro|richtext }}
    {% endif %}

    {% if self.biography %}
        {{ self.biography|richtext }}
    {% endif %}

{% endblock %}
