{% extends "torchbox/base.html" %}
{% load image_tags rich_text pageurl %}

{% block content %}
    {{ self.title }}

    {% if self.intro %}
        {{ self.intro|richtext }}
    {% endif %}
  
    {% with self.people.all as people %}
        {% if people %}
            <ul>
                {% for person in people %}
                    <li>
                        {% image person.image width-300 as photo %}
                        <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />

                        <a href="{% pageurl person %}">{{ person.title }}</a>
                        {% if person.role %}
                            {{ person.role }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endwith %}

{% endblock %}
