{% extends "torchbox/base.html" %}
{% load image_tags rich_text %}

{% block content %}

        <div class= "crop-height">
            <img class="scale" src="/static/torchbox/images/about-placeholder3.jpg" width="" height="" alt="">
        </div>

        <div class="hero">
            <h2>Torchbox is a digital agency with a <a href="#"> <span> difference. </span> </a> </h2>
        </div>

        <section class="intro were-tbx container">
                <!--<h1>{{ self.title }}</h1>-->

            <!--{% if self.body %}
                {{ self.body|richtext }}
            {% endif %}-->

            <div class="italic">
                <i> "We work with people who are trying to make the world a better place. People who share our values." </i>
            </div>

            <p>We design and build beautiful websites for some of the world’s great universities and academic institutions, globally-renowned think tanks, fundraising charities and campaigning NGOs, and leading membership organisations, powered by open source content management systems including Drupal and our very own Wagtail CMS.</p>

            <p>Sometimes only a bespoke solution will do, and that's fine too. Our custom software engineering team use Django to build robust, scalable web applications for mission critical requirements such as management information, grant monitoring and reporting, as well as campaign platforms, footprint calculators and data visualisations.</p>

            <p>It's not all or nothing either.</p> 
        </section>
            
        <div class="quote">
            <section class="width">
                <h4>Strategy, ux, design, animation, implementation. Take your pick. Mix and match.</h4>     
        </div>

        <section class="intro were-tbx container">

            <p>We've got digital marketing covered too. We can manage your social media channels, tell your story to a wider audience, generate new content ideas, and optimise your Google Grant. Just ask.</p>

            <p>And we want our clients to see the best possible return on their investment. Close collaboration and an agile and flexible approach mean we can respond and adapt to evolving requirements as we work towards a Minimum Viable Product, without breaking the bank.</p>

            <p>Why Torchbox? Why not?</p>

                <div class="button">
                    Get in touch
                </div>
        </section>

     <!--
        <section class="were-tbx-2 container">
        {% if self.content_block.all %}
        <ul class="uslist grid clearfix">
            {% for block in self.content_block.all %}
            <li class=>   
                    <div class="icon">
                    </div>
                <div>             
                {{ block.content|richtext }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    -->

{% endblock %}