{% extends "torchbox/base.html" %}
{% load image_tags rich_text %}

{% block content %}
    <section class="container">
        <h1>{{ self.title }}</h1>

        {% if self.intro %}
            {{ self.intro|richtext }}
        {% endif %}

        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>
    <section class="container">
        {% if self.content_block.all %}
        <ul class="listing grid clearfix">
            {% for block in self.content_block.all %}
            <li class="{{ forloop.counter }} {% cycle 'odd' 'even' %}">                
                {{ block.content|richtext }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>

{% endblock %}