{% extends "torchbox/base.html" %}
{% load image_tags rich_text %}

{% block content %}
    {{ self.title }}

    {% if self.intro %}
        {{ self.intro|richtext }}
    {% endif %}

    {% if self.body %}
        {{ self.body|richtext }}
    {% endif %}

    {% if self.content_block.all %}
        {% for block in self.content_block.all %}
            {# forloop counter can be used as a class to alternate left/right #}
            {{ forloop.counter }}
            {# converely cycle can be used #}
            {% cycle 'odd' 'even' %}
            {{ block.content|richtext }}
        {% endfor %}
    {% endif %}

{% endblock %}