{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}

{% block content %}
{% get_next_sibling_by_order self as next_page %}
{% get_prev_sibling_by_order self as prev_page %}

<main class="single">

    <section>
        {% with self.screenshots.all as screenshots %}
            {% if screenshots %}
                <ul>
                    {% for screenshot in screenshots %}
                        <li  class="img-wrapper">
                            <div class="crop-height">
                                {% image screenshot.image width-9999 as shot %}
                                <img class="scale" src="{{ shot.url }}" width="{{ shot.width }}" height="{{ shot.height }}" alt="{{ shot.alt }}" />
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="nextprev-nav">
            {% if prev_page %}
                <div class="nextprev prev">
                    <a href="{% pageurl prev_page %}">{% image prev_page.homepage_image fill-80x80 class="thumb" %} <span>{{ prev_page.title }}</span></a>
                </div>
            {% endif %}

            {% if next_page %}
                <div class="nextprev next">
                    <a href="{% pageurl next_page %}">{% image next_page.homepage_image fill-80x80 class="thumb" %} <span>{{ next_page.title }}</span></a>
                </div>
            {% endif %}
        </div>

    </section>

    <section class="intro">
        <div class="container body-copy">
            {% include "torchbox/includes/breadcrumb.html" %}

            <h1>{{ self.title }}</h1>

            {% if self.intro %}
                {{ self.intro|richtext }}
            {% endif %}

            <div class="share">
                <a>Share &#10084;</a>
                <ul class="options">
                    <li>
                        <div class="fb-like" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/share" class="twitter-share-button">Tweet</a>
                    </li>
                </ul>
            </div>

            <section class="tags">
            {% with self.tags.all as tags %}
                {% if tags %}
                    {% for tag in tags %}
                        <a href="{% pageurl self.work_index %}?tag={{ tag.tag }}">{{ tag.tag }}</a>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

        </div>
    </section>

    <section class="body-copy container height">
        <p class="drop-cap">Seven years after our original redevelopment of www.ox.ac.uk in RationalMedia, the University of Oxford commissioned us to take another look at their site and rebuild it in Drupal. They wanted a fresh and responsive design that could handle heavy traffic (over 40,000 unique visits a day) and, most importantly, a site to reflect their global standing as a centre of excellence.</p>

        <div class="align-right">
            <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
            <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
            <div class="img-holder">
                <img src="/static/torchbox/images/oxford-sml.jpg">
                <p>The Radcliffe Camera, completed in 1748</p>
                <p class="credit">Photo taken by Mr Wiki Pedia </p>
            </div>
        </div>

        <p>To check the pulse of what staff and students wanted, we spent time defining user needs and captured them using a tool developed by gov.uk, the Needotron. Then, once we’d designed our first responsive prototypes, we carried out user testing to make sure we’d hit the mark by delivering on the key needs for each audience type. </p>
        <h2>Research</h2>
        <p>Oxford is a world-leading research institution, and though dynamic news can take precedence, the emotional response user testing suggested a desire for student interests to have more prominence. The testing also confirmed we’d got the tone of the design right - ‘clean’ and ‘fresh’ were the words that came up most often.</p>
        </section>

        <div class="bustout clearfix">
            <img src="/static/torchbox/images/Bodleian.jpg">
            <div class="bustout-text">
                <h2>Immersion</h2>
                <p> As soon as the discovery phase was completed, our design team grabbed their cameras and headed to the city of dreaming spires for an immersion day. The Oxford team gave them a wonderful tour giving them a great snapshot of university life. They even managed to squeeze in some places not normally on show, such as a private tour of the Brasenose College Senior Common Room and the underground passages of the Bodleian library. </p> 
            </div>
        </div>

    <section class="body-copy container height">
        <p>One of our first design principles was that the site provide ‘a window’ into university life. Full width images or videos on almost every page of the site ensure this. And, while the navigation is tested to deliver on user needs/tasks, the homepage and landing pages can concentrate on showcasing what's going on at the university.</p>
        <p>We are immensely proud of the result - a flexible, responsive and stylish site that receives up to 40,000 unique visitors a day and provides a robust platform for a global centre of excellence.</p>
        <h3>Phasing in</h3>
        <p>Some vital parts of the site (e.g. graduate admissions) had to be phased in, so we planned four separate content launches and used our tried and trusted feature-driven development process to keep things flexible.</p>
        <p>Needless to say, we’re immensely proud of the result - a responsive, professional and stylish site worthy of a top global university.</p>
        <div class="align-left">
            <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
            <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
            <div class="img-holder">
                <img src="/static/torchbox/images/oxford-sml.jpg">
                <p>The Radcliffe Camera, completed in 1748</p>
                <p class="credit">Photo taken by Mr Wiki Pedia </p>
            </div>
        </div>
        <p>Some vital parts of the site (e.g. graduate admissions) had to be phased in, so we planned four separate content launches and used our tried and trusted feature-driven development process to keep things flexible.</p>
        <p>Needless to say, we’re immensely proud of the result - a responsive, professional and stylish site worthy of a top global university.</p>
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
    </section>

    <div class="screen-grab">
        <img src="/static/torchbox/images/ox-lap.png">
        <p> The University of Oxford homepage. Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. </p>
    </div>

    <section class="body-copy container height">
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
        <h3>World leading</h3>
        <p>Oxford is a world-leading research institution, and though dynamic news can take precedence, the emotional response user testing suggested a desire for student interests to have more prominence. The testing also confirmed we’d got the tone of the design right - ‘clean’ and ‘fresh’ were the words that came up most often.</p>
        <p>Oxford is a world-leading research institution, and though dynamic news can take precedence, the emotional response user testing suggested a desire for student interests to have more prominence. The testing also confirmed we’d got the tone of the design right - ‘clean’ and ‘fresh’ were the words that came up most often.</p>
    </section>

        <div class="full-width">
            <img src="/static/torchbox/images/OX-uni.jpg">
            <p>The University of Oxford is a collegiate research university located in Oxford, England.</p>
        </div>

    <section class="body-copy container height">
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
    </section>

    <div class="stat-block clearfix">
        <div class="stat-holder">
            <h4>Our Success</h4>
            <div class="stat">
                <p>Up</p> <h2>64%</h2> <p>New visitors</p>
            </div>
            <div class="stat">
                <p>Up</p> <h2>84%</h2> <p>Unique page views</p>
            </div>
            <div class="stat">
                <p>Up</p> <h2>78%</h2> <p>Page views per visit</p>
            </div>
        </div>
    </div>

    <section class="body-copy container height">
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
    </section>

        <!--<div class="full-width screengrab">
            <div class="laptop-container">
                <img src="/static/torchbox/images/ox-sml.png">
                <div class="laptop">
                    <img src="/static/torchbox/images/laptop.png">
                </div>
            </div>
            <p> The University of Oxford homepage. Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. </p>
        </div> -->

    <section class="body-copy container height">
        <h5>The audience</h5>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
    </section>

    <div class="img-grid clearfix">
        <div class="holder clearfix">
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid1.png"> <img src="/static/torchbox/images/grid1.png"> </a>
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid2.png"> <img src="/static/torchbox/images/grid2.png"> </a>
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid3.png"> <img src="/static/torchbox/images/grid3.png"> </a>
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid4.png"> <img src="/static/torchbox/images/grid4.png"> </a>
        </div>
    </div>

    <section class="body-copy container height">
        <h2>Oxford Today </h2>
        <p>The University of Oxford's magazine caters for its very significant worldwide body of more than 200,000 alumni. We recently migrated the Oxford Today website to Drupal 7. </p>
        <p>With a brief to maintain the existing design the success of this project was, unusually, proven by a seamless switchover that ensured users remained unaware that the underlying platform had changed.</p>
        <div class="sml-quote">
            <p> "Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders."</p>
        </div>
        <p>To check the pulse of what staff and students wanted, we spent time defining user needs and captured them using a tool developed by gov.uk, the Needotron. Then, once we’d designed our first responsive prototypes, we carried out user testing to make sure we’d hit the mark by delivering on the key needs for each audience type. </p>
        <p>Oxford is a world-leading research institution, and though dynamic news can take precedence, the emotional response user testing suggested a desire for student interests to have more prominence. The testing also confirmed we’d got the tone of the design right - ‘clean’ and ‘fresh’ were the words that came up most often.</p>

        <div class="html">
            <iframe src="//player.vimeo.com/video/77990781" width="100%" height="381" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

    </section>

    <div class="pull-quote">
        <p>“The team at Torchbox are passionate, smart and fun. They went out of their way to make the whole experience an absolute pleasure from start to finish." </p>
        <cite> – University of Oxford, Keith Gill</cite>
    </div>

</main>

<div id="fb-root"></div>
{% endblock %}

{% block extra_js %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=323944607389&status=0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}
