{% extends "torchbox/base.html" %}
{% load pageurl image_tags rich_text %}

{% block content %}
<main class="page-work-index index">
    <section class="work">
        <div class="container">
            <h1>{{ self.title }}</h1>
            {% if self.intro %}
                {{ self.intro|richtext }}
            {% endif %}
        </div>

     
        {% with self.work.all as work %}
            {% if work %}
                <ul class="listing clearfix">
                    {% for client in work %}
                        <li>
                            {% with client.screenshots.all|first as screenshot %}
                            {% image screenshot.image width-1536 as screenshot %}
                                    
                            <a href="{% pageurl client %}" style='background-image: url({{ screenshot.url}});'>
                                    
                                <div>
                                    <h2>{{ client.title }}</h2>
                                    <p>
                                        {% if client.summary %}
                                            {{ client.summary }}
                                        {% endif %}
                                    </p>
                                    </div>
                            </a>
                            {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endwith %}
</main>
{% endblock %}
