{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

        <div class="container">
            <h1 class="visuallyhidden">{{ self.title }}</h1>
            {% if self.intro %}
                {{ self.intro|richtext }}
            {% endif %}
        </div>

        <section class="work">
        {% with self.work.all as work %}
            {% if work %}
                <ul class="listing clearfix">
                    {% for client in work %}
                            {% with client.screenshots.all|first as screenshot %}
                            {% image screenshot.image width-2000 as screenshot %}
                        <li style='background-image: url({{ screenshot.url}});'>


                            <a href="{% pageurl client %}">

                                <div>
                                    <h2>{{ client.title }}</h2>
                                    <p>
                                        {% if client.summary %}
                                            {{ client.summary }}
                                        {% endif %}
                                    </p>
                                    </div>
                            </a>
                            {% endwith %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endwith %}
    </section>
{% endblock %}
