{% extends "torchbox/base.html" %}
{% load image_tags rich_text %}

{% block content %}
<main class="page-work-single single">
    
    <section class="intro">
        <div class="container body-copy">
            <div class="breadcrumb">
                <a href="#">Work</a>
            </div>
            <h1>{{ self.title }}</h1>
            <p>
            {% if self.intro %}
                {{ self.intro|richtext }}
            {% endif %}
            </p>
        </div>
    </section>

    <section class="body-copy container">
        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>
    
    <section>
        {% with self.screenshots.all as screenshots %}
            {% if screenshots %}
                <ul>
                    {% for screenshot in screenshots %}
                        <li  class="img-wrapper">
                            {% image screenshot.image width-9999 as shot %}
                            <img src="{{ shot.url }}" width="{{ shot.width }}" height="{{ shot.height }}" alt="{{ shot.alt }}" />
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>

</main>
{% endblock %}
