{% extends "torchbox/base.html" %}
{% load wagtailcore_tags wagtailimages_tags torchbox_tags %}

{% block content %}


    {% get_popular_tags self as poptags %} 


     <div class="popular-tags container">
        {% if poptags %}
            <!--<h3>Popular tags</h3>-->
                <p>
                    {% for tag in poptags %}
                        <a href="?tag={{ tag.slug }}">{{ tag }}</a>
                    {% endfor %}
                </p>
        {% endif %}

        {# Optional heading appears if filtering by tag #}
        {% if request.GET.tag|length %}
            <p class="show">Showing posts tagged  <span>"{{ request.GET.tag|safe }}" </span> 
                <a href="{% pageurl self %}"> Show all </a>
            </p>
        {% endif %}
    </div>

    <div class="container">
        <h1 class="visuallyhidden">{{ self.title }}</h1>
        {% if self.intro %}
            {{ self.intro|richtext }}
        {% endif %}
    </div>

    <section class="work">
        {% if works %}
            <ul class="listing clearfix">
                {% for work in works %}
                    {% with work.screenshots.all|first as screenshot %}
                    {% image screenshot.image width-2000 as screenshot %}
                    <li style='background-image: url({{ screenshot.url}});'>
                        <a href="{% pageurl work %}">
                            <div>
                                <h2>{{ work.title }}</h2>
                                <p>
                                    {% if work.summary %}
                                        {{ work.summary }}
                                    {% endif %}
                                </p>
                             </div>
                        </a>
                        {% endwith %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}
