{% extends "torchbox/base.html" %}
{% load image_tags rich_text %}

{% block content %}

<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=323944607389";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main class="single">

    <section>
        {% with self.screenshots.all as screenshots %}
            {% if screenshots %}
                <ul>
                    {% for screenshot in screenshots %}
                        <li  class="img-wrapper">
                            {% image screenshot.image width-9999 as shot %}
                            <img src="{{ shot.url }}" width="{{ shot.width }}" height="{{ shot.height }}" alt="{{ shot.alt }}" />
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>
    
    <section class="intro">
        <div class="container body-copy">
            <div class="breadcrumb">
                <a href="#">Work</a>
            </div>
            <h1>{{ self.title }}</h1>
            <p>
            {% if self.intro %}
                {{ self.intro|richtext }}
            {% endif %}
            </p>

            <div class="share">
                <a>Share &#10084;</a>
                <ul class="share options">
                    <li>
                        <div class="fb-like" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="torchbox">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>
                </ul>
            </div>

        </div>
    </section>

    <section class="body-copy container">
        {% if self.body %}
            {{ self.body|richtext }}
        {% endif %}
    </section>
    


</main>
{% endblock %}
