{% load wagtailimages_tags %}

{% if self.alignment == "left" or self.alignment == "right" %}
    <div class="align-{{ self.alignment }}">
{% else%}
    <div class="{{ self.alignment }}-width">
{% endif %}
    <div class="img-holder">
        {% image self.image width-1280 as blockimage %}
        {% if self.attribution %}<div class="img-credit">{% endif %}
            <img src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}" />
        {% if self.attribution %}
            <p class="credit">{{ self.attribution }}</p>
            </div>
        {% endif %}

        {% if self.caption %}
            <p>{{ self.caption }}</p>
        {% endif %}
        </div>
    </div>
