// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--color--white);
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }

    &.no-scroll {
        overflow-y: hidden;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Responsive images
img {
    height: auto;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

a {
    color: var(--color--link);
    text-decoration: none;
    transition: color $transition;
    border-bottom: 2px solid var(--color--underline);

    &:hover {
        color: var(--color--hover);
        cursor: pointer;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
