// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }

    &.template__service-page {
        scroll-padding-top: 65px;
    }
}

body {
    @include font-size(s);
    overflow-x: hidden;
    background-color: var(--color--white);
    font-variant-ligatures: none;

    &.no-scroll {
        overflow-y: hidden;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Responsive images
img {
    height: auto;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

a {
    color: var(--color--link);
    text-decoration: none;
    transition: color $transition;
    border-bottom: 2px solid var(--color--underline);

    &:hover {
        color: var(--color--hover);
        cursor: pointer;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

//Used to prevent any subnav / overlay flicker on load.
//https://alpinejs.dev/directives/cloak
[x-cloak] {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}
