{% extends "patterns/tech_blog_base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block meta_tags %}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'author-title' : '{{ page.authors.all.0.author.role }}',
            'author-name' : '{{ page.authors.all.0.author.name }}',
            'published' : '{{ page.date|date:"Ymd" }}',
            'id': '{{ page.id }}',
            'page-h1' : '{{ page.title }}',
            'page-title' : '{{ page.title }} | Torchbox',
            'page-path': '{{ page.slug }}',
            'event': 'page-information'
        });
    </script>
    {{ block.super }}

{% endblock %}

{% block content %}
    {% include "patterns/molecules/title-block/title-block.html" with item=page tags=False %}
    {% pageurl page.blog_index as blog_index_url %}
    {% for page_author in page.authors.all %}
        {% include "patterns/molecules/author/author.html" with author=page_author.author item=page tag_link_base=blog_index_url %}
    {% endfor %}

    {% include_block page.body %}

    <div class="page__author">
        {% for page_author in page.authors.all %}
            {% include "patterns/molecules/author/author.html" with author=page_author.author item=page tag_link_base=blog_index_url %}
        {% endfor %}
    </div>
{% endblock %}
