{% extends "patterns/base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}
{% block theme_class %}theme--dark--transparent template__careers-page{% endblock %}

{% block content %}
{% image page.hero_image width-1920 as hero_image %}

<div class="culture">
    {# Hero #}
    <div class="culture__hero">
        {% include "patterns/molecules/hero/full_page_hero.html" with background_url=hero_image.url classes="hero__full-screen--short" %}
        {% include "patterns/molecules/title-block/title-block.html" with title=page.strapline classes="title-block--transparent title-block--careers" %}
    </div>

    <div class="culture__container culture__container--top">
        {# Intro #}
        {% if page.intro %}
            <div class="culture__rich-text">
                {{ page.intro|richtext }}
            </div>
        {% endif %}

        {# Sunday Times top 100 image #}
        <img src="{% static 'images/sunday-times-100-best-companies.jpg' %}" alt="Employees at the annual Torchfest event" loading="lazy">
    </div>

    {% if page.body %}
        {% include_block page.body %}
    {% endif %}

    {# Benefits list #}
    {% if page.benefits_section_title %}
        <div class="culture__container culture__container--middle">
            <h2 class="culture__title">{{ page.benefits_section_title }}</h2>
            <ul class="culture__benefits-list">
                {% for item in page.key_benefits.all %}
                    {% include "patterns/molecules/list-item/list-item.html" with item=item %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {# Card links #}
    <div class="culture__container culture__container--bottom">
        {% include "patterns/organisms/card-listing/card-listing.html" with card_items=page.links.all classes="card-listing--single" %}
    </div>

    {# Standout list #}
    {% if page.featured_case_studies %}
        {% include "patterns/organisms/related-content/related-content.html" with items=page.featured_case_studies.all %}
    {% endif %}
</div>
{% endblock %}
