{% extends "patterns/base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailimages_tags %}

{% block theme_class %}theme--primary{% endblock %}


{% block content %}
{% image page.hero_image original as hero_image %}
{% include "patterns/molecules/hero/full_page_hero.html" with background_url=hero_image.url %}

<div class="culture__container">


    {% if page.intro %}
    <div class="culture__rich-text">
        {{ page.intro|richtext }}</div>
    {% endif %}

    {% for link in page.links.all %}
    <ul>
        <li>{{ link.title}}</li>
        <li>{{ link.description}}</li>
        <li>{% pageurl link.link %}</li>
    </ul>
    {% endfor %}

    {% if page.body %}
    {% include_block page.body %}
    {% endif %}

    {% for link in page.links.all %}
    <ul>
        <li>{{ link.title}}</li>
        <li>{{ link.description}}</li>
        <li>{% pageurl link.link %}</li>
    </ul>
    {% endfor %}

    <ul>
        {% if page.contact %}
        <li>{{ page.contact.name }}</li>
        <li>{{ page.contact.role }}</li>
        <li>{{ page.contact.email_address }}</li>
        <li>{{ page.contact.phone_number }}</li>
        <li>{% image page.contact.image original %}</li>
        {% endif %}
    </ul>

</div>

{% endblock %}
