// Strip the unit from the given value and return the value
@use 'sass:math';

@function strip-unit($value) {
    @return math.div($value, $value * 0 + 1);
}

// Return an em unit based on the pixel value and context
@function rem($px, $context: $base-font-size) {
    @return #{strip-unit(math.div($px, strip-unit($context)))}rem;
}

// Map z-index keys
@function z-index($key) {
    @return map-get($z-index, $key);
}
