// --------------------------------- Colors -------------------------------------

:root {
    --color--coral: #fd5765;
    --color--coral-dark: #eb0316;
    --color--green: #3beccd;
    --color--light-blue: #2f128d;
    --color--blue: #251657;
    --color--light-grey: #f4f3f6;
    --color--light-grey-accessible: #757575;
    --color--grey: #444;
    --color--white: #fff;
    --color--black: #000;
}

$color--coral: var(--color--coral);
$color--coral-dark: var(--color--coral-dark);
$color--light-blue: var(--color--light-blue);
$color--blue: var(--color--blue);
$color--light-grey: var(--color--light-grey);
$color--light-grey-accessible: var(--color--light-grey-accessible);
$color--grey: var(--color--grey);
$color--green: var(--color--green);
$color--white: var(--color--white);
$color--black: var(--color--black);

// Theme Vars (defined in themes.scss)
$color--primary: var(--color-primary);
$color--accent: var(--color-accent);
$color--accent-small-text: var(--color-accent-small);
$color--link-color: var(--color-link);
$color--link-hover-color: var(--color-link-hover);

// Text colour
$color--default: var(--color--grey);

// Button colours
$button-colours: (
    primary: (
        bg: $color--primary,
        color: #fff,
    ),
    secondary: (
        bg: $color--secondary,
        color: #000,
    ),
    tertiary: (
        bg: $color--tertiary,
        color: #000,
    ),
);

// --------------------------------- Fonts --------------------------------------

$font--primary: 'Apercu Pro', arial, helvetica, sans-serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 200;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;
$font-sizes: (
    default: $base-font-size,
    xxl: 36px,
    xl: 28px,
    l: 21px,
    m: 18px,
    s: 15px,
    xs: 14px,
    xxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
$breakpoints: ('medium' '(min-width: 599px)', 'large' '(min-width: 1023px)');

// --------------------------------- Grid Dimensions --------------------------------------

// Wrappers
$site-width: 1280px;
$wrapper--small: 790px;

// Grid setup
$grid: 20px;

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out;

// --------------------------------- Z-indices --------------------------------------

$z-index: (
    under: -1,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);
