// --------------------------------- Colors -------------------------------------

:root {
    --color--coral: #fd5765;
    // Coral replacement for text smaller than 18px on white
    --color--coral-dark: #eb0316;
    --color--lagoon: #3beccd;
    // Persion indigo in torchbox guidelines
    --color--indigo: #2f128d;
    // Deep indigo in torchbox guidelines
    --color--dark-indigo: #251657;
    --color--stone: #284d74;
    --color--light-stone: #4088a9;
    --color--succulent: #d3e8e1;
    --color--buttermilk: #fffbf0;
    --color--light-grey: #f4f3f6;
    --color--light-grey-accessible: #757575;
    --color--grey: #444;
    --color--grey-dark: #333;
    --color--grey-border: #e6e4ea;
    --color--white: #fff;
    --color--white-translucent: rgba(255, 255, 255, 0.8);
    --color--black-translucent: rgba(0, 0, 0, 0.05);
    --color--black: #000;
    // Theme base - defined in theme.scss
    --color--primary: var(--color--coral);
    --color--accent: var(--color--dark-indigo);
    --color--link: var(--color--coral);
    --color--underline: var(--color--coral);
    --color--hover: var(--color--coral-dark);
    --color--background: var(--color--indigo);
    --color--section-title: var(--color--dark-indigo);
    --color--header-icon-color: var(--color--coral);
    --color--get-in-touch-numbers: var(--color--white);
    --color--accent-dark: var(--color--coral-dark);
    --color-header-links: var(--color--dark-indigo);
}

// --------------------------------- Fonts --------------------------------------

$font--primary: 'Apercu Pro', arial, helvetica, sans-serif;

// Font weights
$weight--heavy: 800;
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 100;

// Font sizes
$base-font-size: 16px;

$large-font-sizes: (
    oversized: 97px,
    xxxxl: 70px,
    xxxl: 68px,
    xxl: 64px,
    xl: 45px,
    l: 38px,
    ml: 28px,
    // ml = custom font size used on the careers site
    m: 32px,
    s: 18px,
    xs: 15px,
    xxs: 14px,
    xxxs: 12px,
);

$medium-font-sizes: (
    oversized: 70px,
    xxxxl: 70px,
    xxxl: 65px,
    xxl: 52px,
    xl: 38px,
    l: 28px,
    ml: 26px,
    m: 24px,
    s: 20px,
    xs: 15px,
    xxs: 14px,
    xxxs: 12px,
);

$small-font-sizes: (
    oversized: 50px,
    xxxxl: 50px,
    xxxl: 45px,
    xxl: 32px,
    xl: 28px,
    l: 26px,
    ml: 24px,
    m: 22px,
    s: 18px,
    xs: 14px,
    xxs: 13px,
    xxxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
$breakpoints: (
    'medium' '(min-width: 599px)',
    'medium-large' '(min-width: 800px)',
    'large' '(min-width: 1023px)',
    'menu-break' '(min-width: 1255px)',
    'menu-break-larger' '(min-width: 1400px)',
    'x-large' '(min-width: 1919px)'
);

// --------------------------------- Grid Dimensions --------------------------------------

// Wrappers
$site-width: 1280px;
$wrapper--small: 840px;

// Grid setup
$grid: 20px;
$gutter: $grid;

// Gutters based on view width
$variable-gutter--small: 8.33vw;
$variable-gutter--medium: ($variable-gutter--small * 2);
$variable-gutter--large: ($variable-gutter--small * 3);

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out;
$transition-quick: 0.2s ease;

// --------------------------------- Z-indices --------------------------------------

$z-index: (
    under: -1,
    zero: 0,
    one: 1,
    two: 2,
    badge: 5,
    base: 10,
    overlap: 20,
    in-page-nav: 25,
    // The in-page-nav shouldn't be in front of the subnav's background, a part of the header
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    skip-link: 105,
    modal: 110,
    modal-controls: 120,
    menu-button: 130,
);

// ---------------------------------- Other variables -------------------------------------

$arrow-path: polygon(42% 0%, 80% 50%, 42% 100%, 20% 75%, 42% 50%, 20% 25%);
