{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags util_tags static %}

{% block content %}

    <div class="intro">
        <div class="container">
            {% include "patterns/molecules/share/share.html" %}
            <h1>{{ page.title }}</h1>
            <p>{{ page.introduction }}</p>
        </div>
    </div>

    <section class="main-body">
        <div class="container">
            {% if page.form_fields.exists %}
                <form action="{% pageurl page %}" method="post" class="form">
                    <div class="form__container">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="form__errors">
                                There were some errors with your form. Please amend the fields highlighted below.
                            </div>
                        {% endif %}

                        {% for field in form %}
                            {% include "patterns/molecules/field/field.html" %}
                        {% endfor %}

                        <button class="form__submit button" type="submit">{% if page.action_text %}{{ page.action_text|safe }}{% else %}Submit{% endif %}</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </section>

{% endblock %}
