.bleed {

    $header-height: 68px;

    @include custom-transition;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 0;
    float: right;
    margin-top: 14px;
    z-index: 5;
    width: 100%;
    position: fixed;
    left: 0;
    top: 54px;
    opacity: 0;

    // Prevent links being cut off
    // FIXME
    padding-left: 1px;
    padding-right: 1px;

    &:before {
      content: '';
      position: absolute;
      width: 0%;
      height: calc(100vh - #{$header-height});
      top: 0;
      left: 0;
      z-index: -1;
      background: #fff;
    }
    @media #{$tablet} {
      height: auto;
      width: auto;
      margin-top: 12px;
      position: relative;
      top: auto;
      opacity: 1;
      transition: none;
      overflow: visible;

      &:before {
        display: none;
      }
    }
    &.visible {
      padding: 0;
      height: calc(100vh - #{$header-height});
      opacity: 1;
      background: #fff;
      &:before {
        width: 100%;
      }
      li {
        transform: translate3d(0, 0, 0);
      }
      li.show {
        opacity: 1;

        &:nth-of-type(1) { transition-delay: 0.1s }
        &:nth-of-type(2) { transition-delay: 0.2s }
        &:nth-of-type(3) { transition-delay: 0.3s }
        &:nth-of-type(4) { transition-delay: 0.4s }
        &:nth-of-type(5) { transition-delay: 0.5s }
        &:nth-of-type(6) { transition-delay: 0.6s }
        &:nth-of-type(7) { transition-delay: 0.7s }
        &:nth-of-type(8) { transition-delay: 0.8s }
      }
    }
    &.out-animation {

      &:before {
        left: auto;
        right: 0;
      }

      @media #{$tablet} {
        transition-delay: 0ms;

        &:before {
          transition-delay: 0ms;
        }

        li {
          transition: none;
        }
      }
    }
    li {
      text-align: center;
      font-weight: 500;
      margin-bottom: 0;
      opacity: 0;
      transform: translate3d(0, -20px, 0);
      transition: all 450ms ease;
      border-top: 1px solid rgba(#000, 0.1);
      &:hover {
        @media #{$tablet} {
          ul {
            //transform: translateY(0);
            opacity: 1;
            max-height: 300px;
            box-shadow: 0 4px 10px rgba(#000, 0.1);
            //height: auto;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid rgba(#000, 0.1);
      }

      ul {

        li {
          .block-subitem:first-of-type {
            border-bottom: 1px solid rgba(#000, 0.1);
          }
          &:last-child {
            border-bottom: none;
          }
        }

        @media #{$tablet} {
          transition: all 0.4s ease;
          position: absolute;
          z-index: 0;
          background-color: rgba(#fff,01);
          width: 200px;
          //transform: translateY(-200px);
          //height: 0;
          overflow: hidden;
          max-height: 0;
          padding: 0 15px 0;
          left: -15px;
          opacity: 0;
          top: 56px;

          li {
            display: block;
            width: 100%;
          }

          li a {
            width: 100%;
            border-top: 1px solid rgba(black,0.1);
            display: block;
            //font-weight: 400;
            &:hover {
              &:after {
                background: transparent;
                display: none;
              }
            }
          }
        }
      }

    @media #{$tablet} {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      text-align: left;
      float: left;
      margin-right: 20px;
      margin-bottom: 0;
      transition: none;
      border: none;
      &:last-child {
        border-bottom: none;
      }
    }
    @media #{$tablet-large} {
      margin-right: 45px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    a {
      transition: all 0.25s ease 0s;
      color: $dark;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 500;
      display: block;
      padding: 12px 0;
      z-index: 1;
      @media #{$tablet} {
        font-size: 14px;
        position: relative;
        top: 0;
        &:after {
          content: '';
          position: absolute;
          bottom: 10px;
          right: 0;
          width: 0;
          height: 1px;
          background: $orange;
          transition: all 0.25s ease 0s;
        }
        &:hover,
        &.active {
          cursor: pointer;
          color: $orange;
        }
        &:hover:after {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }
}

body.menu-open {
  overflow: hidden;
}