// Homepage posts ==============================================================
#posts  {
  h2  {
    margin-bottom: 40px;
      a {
        @include line-hover;
    }
  }
}

// Author image ================================================================
.author-image {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @media #{$tablet-large} {
      width: 60px;
      height: 60px;
    }
  }
}

// main content
.main-content {
  @include cf;
  @media #{$tablet} {
    max-width: $container-width;
    margin: 0 auto;
  }
}

// article meta
.article-meta {
  @include cf;
  margin-bottom: 20px;
  margin-top: 10px;
  //text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  font-weight: 400;

  @media #{$tablet} {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 28px;
  }
}

// author-holder
.author-holder {
  @include cf;
  a {
    margin-right: 10px;
    font-weight: 300;
    @include line-hover;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    line-height: 1;
  }
  .role {
    display: block;
    font-weight: 300;
  }
  .text {
    position: relative;
    top: 20px;
  }
}

.we-do {
  @media #{$tablet} {
    margin-bottom: 90px;
    @include cf;
  }
  p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    @media #{$tablet} {
      font-size: 23px;
    }
  }
}

.responsive-object {
  width: 100%;
  position: relative;
  padding-bottom: 56.25% !important; /* 16:9 */
  height: 0 !important;
  margin: 0 0 30px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  @media #{$desktop} {
    width: 120%;
    margin-left: -10%;
  }

}
