// Homepage posts ==============================================================
#posts  {
  h2  {
    margin-bottom: 40px;
      a {
        @include line-hover;
    }
  }
}

// Author image ================================================================
.author-image {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @media #{$tablet-large} {
      width: 60px;
      height: 60px;
    }
  }
}

// main content
.main-content {
  @include cf;
  @media #{$tablet} {
    max-width: $container-width;
    margin: 0 auto;
  }
}

// article meta
.article-meta {
  @include cf;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;

  @media #{$tablet} {
    margin-bottom: 60px;
    margin-top: 0;
  }
}

// author-holder
.author-holder {
  @include cf;
  a {
    margin-right: 10px;
    font-weight: 300;
    @include line-hover;
  }
  .role {
    display: block;
    font-weight: 300;
  }
  .text {
    position: relative;
    top: 27px;
  }
}

.we-do {
  @media #{$tablet} {
    margin-bottom: 90px;
    @include cf;
  }
  p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    @media #{$tablet} {
      font-size: 23px;
    }
  }
}
