
// footer ======================================================================
footer {
  // vertical space
  $vertical-space-sml: 35px;
  $vertical-space: 55px;

  background: $dark;
  clear: both;
  svg {
    fill: #fff;
    width: 100%;
  }
  .offices {
    @include cf;
    padding: 0 0 20px;
    margin-bottom: 20px;
    margin-top: 0;
    &:first-child {
      margin-top: 20px;
    }
    @media #{$tablet} {
      margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
    }
    li {
      @include cf;
      padding-bottom: 0;
      margin-bottom: 30px;

      @media #{$tablet} {
        margin-bottom: 0;
      }

      @media #{$tablet-large} {
        width: 33.3%;
        float: left;
        padding: 0 0 0 120px;
      }

      @media #{$desktop} {
        margin-bottom: 30px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .content h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 10px;
      color: white;
      @media #{$tablet-large} {
        font-size: 24px;
      }
    }
    .vcard {
      color: white;
      font-weight: 400;
      line-height: 1.5;
      font-size: 13px;
      @media #{$tablet-large} {
        font-size: 15px;
      }
    }
    .svg {
      position: relative;
      display: none;
      float: left;
      width: 15%;
      margin-right: 10%;
      top: 0;
      left: -90px;
      @media #{$tablet} {
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        left: auto;
      }
      @media #{$tablet-large} {
        margin-right: 5%;
        left: -90px;
      }
      svg {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        display: block;
        
        @media #{$tablet-large} {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    .content {
      float: left;
      width: 100%;
      text-align: center;
      padding-left: 0;

      @media #{$tablet} {
        width: 75%;
        text-align: left;
        padding-left: 15px;
        width: 100%;
      }

      @media #{$tablet-large} {
        width: 90%;
      }
    }
    @media #{$tablet} {
      padding: 50px 0;
    }
  }
  // Newsletter ================================================================
  .newsletter {
    text-align: center;
    padding: 40px 0 20px;
    border-top: 1px solid rgba(white, 0.15);
    border-bottom: 1px solid rgba(white, 0.15);
    margin: 0 0 30px;
    @media #{$tablet-large} {
      padding: 20px 0 0;
    }
    h3 {
      color: white;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 15px;
      margin-right: 10px;
      display: inline-block;
      position: relative;
      top: -12px;
      @media #{$tablet-large} {
        font-size: 22px;
      }
    }
    form {
      display: inline-block;
      input {
        border: 0;
        background: white;
        border-radius: $border-radius 0 0 $border-radius;
        padding: 10px 20px 8px;
        width: 63%;
        float: left;
        font-family: $primaryFont;
        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          font-family: $primaryFont;
        }

        @media #{$tablet-large} {
          width: auto;
        }
      }
      button {
        background: $orange;
        color: white;
        padding: 10px 20px;
        position: relative;
        left: -5px;
        float: left;
        border-radius: 0 $border-radius $border-radius 0;
        border: 1px solid $orange;
        font-size: 16px;
      }
    }
  }

  .award-logos {
    display: table;
    text-align: center;
    position: relative;
    width: 100%;
    background: #212527;
    margin-top: 40px;
    padding: 60px 0 55px;

    @media #{$tablet} {
      padding: 60px 0 40px;
    }

    .logo-container {
      display: inline-block;
      margin: 0 auto;
      width: auto;
      border: 1px solid #3d4244;
      padding: 20px;

      @media #{$tablet} {
        display: inline-block;
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;

        @media #{$tablet} {
          margin-right: 30px;
          margin-bottom: 0;
        }
      }

      img,
      svg {
        max-height: 90px;
        max-width: 210px;
        display: block;
        border-radius: 0;
      }
    }
  }
}

.contact {

  footer & {
    background: #212527;
  }

  @include cf;

  @media #{$tablet-large} {
    border-bottom: 0;
    margin-bottom: 0;
  }
  h2 {
    color: white;
    margin-top: 40px;
    font-weight: 200;
    span {
      font-weight: 400;
    }
    @media #{$tablet} {
      
    }
  }
  ul {
    @include cf;
    padding: 35px 0;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    @media #{$tablet-large} {
      padding: 30px 0 30px;
    }
  }
  li {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    @media #{$tablet-large} {
      margin-bottom: 0;
      font-size: 24px;
      text-align: center;
      float: left;
      width: 33.3%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .svg {
    display: inline-block;
    margin-right: 15px;
    width: 30px;

    @media #{$tablet-large} {
      display: inline;
      margin-right: 15px;
    }
  }
  .content {
    display: block;
    @media #{$tablet-large} {
      display: inline;
    }
  }
  a {
    transition: all 0.1s ease 0s;
    color: white;
    display: block;
    padding: 0 0 10px 0;
    background: $blue;
    margin: 0 10px;
    border-radius: 5px;
    footer & {
      background: none;
      color: $blue;
    }
    &.thanks-btn {
      display: inline-block;
      font-weight: 400;
    }
    svg {
      position: relative;
      top: 13px;
      margin-right: 15px;
      width: 40px;
      height: 40px;
      fill: white;
      footer & {
        fill: $blue;
      }
    }
    span {
      //tweak vertical position at mobile - see ticket 111
      position: relative;
      top: -3px;
       @media #{$tablet-large} {
        position: static;
        top: 0;
      }
    }
    &:hover {
      color: white;
      transform: scale(1.05);
      background: $orange;
      footer & {
        color: $orange;
        background: none;
      }
      svg {
        fill: white;
        footer & {
          fill: $orange;
        }
      }
    }
  }
}
