// hero ========================================================================
.home-hero {
  position: relative;
  height: 70vh;
  background-size: cover;
  margin: 0 0 30px 0;
  overflow-x: hidden;
  
  @media #{$tablet} {
    height: calc(100vh - 84px);
    margin: 0 0 50px 0;
  }

  //ios7 doesn't like vh and means the
  // hero fills masses of space. So for 
  // mobile and tablet (with contained media queries)
  // set some max heights.
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: portrait) {
    max-height: 400px;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
    max-height: 250px;
  }

  @media only screen 
  and (min-device-width: 569px) 
  and (max-device-width: 1024px) {
    max-height: 600px;
  }

  h1 {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px 13px;
    line-height: 1;
    z-index: 1;
    max-width: 100%;
    background-color: $orange;
    display: inline;
    // &:after {
    //   background: url("/static/torchbox/images/dot-pattern.png") no-repeat center;
    //   background-size: cover;
    //   mix-blend-mode: soft-light;
    //   opacity: 0.3;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   content: '';
    //   height: 100%;
    // }
    // &:before {
    //   content: '';
    //   position: absolute;
    //   bottom: -35px;
    //   left: calc(50% - 80px);
    //   width: 160px;
    //   height: 50px;
    //   background: url('/static/torchbox/images/down-chevron.svg') center no-repeat;
    // }

    span {
      font-weight: 400;
      //display: block;
    }

    @media #{$tablet} {
      font-weight: 100;
      font-size: 55px;
      //top: 200px;
      line-height: 1;
      max-width: 65%;
    }
    @media #{$desktop} {
      top: calc(50% - 70px);
    }
  }
}


// text on hero
.hero-text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  overflow: visible;
  z-index: 6;
  @media #{$tablet} {
    //position: fixed;
    bottom: 30px;
  }
  .container {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
  }
  .content {
    max-width: $container-width;
    margin: 0 auto;
  }
  p, h1, a {
    color: white;
  }
  h1 {
    font-size: 35px;
    line-height: 1;
    font-weight: 300;
    @media #{$tablet} {
      font-size: 65px;
      letter-spacing: -0.02em;
    }
  }
  .client {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 15px 0;
    color: $orange-lt;
    @media #{$tablet} {
      font-size: 18px;
    }
  }
  // clip through
  &.testclass-1 {
     h1 {
      color: $orange;
     }
     .client {
      color: $dark;
     }
  }
  &.stop {
    position: absolute;
    top: 535px;
    @media #{$tablet} {
      top: 70px;
    }
  }
}
