// involved in
.involved {
  position: relative;
  z-index: 10;
  background: $blue;
  padding: 90px 0 70px;
  @include cf;
  h2 {
    color: white;
    font-weight: 300;
    margin-bottom: 60px;
  }
}

.involved-in {
  @extend .offices;
  border: none;
  padding: 0;
  margin: 0 auto;
  h3, p {
    color: white;
  }
  h3 {
    font-weight: 300;
  }
  p {
    margin-bottom: 0;
    font-weight: 400;
  }
}
