// logo ========================================================================
.logo {
    display: inline-block;

    svg {
    	height: 40px;
    	width: 165px;
    	
    	@media #{$tablet} {
    		margin-top: 5px;
    	}
    }
}

// Wagtail logo ================================================================
.wagtail {
  padding: 0 0 20px;
  max-width: 150px;
  margin: 0 auto;
}
