
// next peice of work
.nextprev-nav {
  position: relative;
  img {
    object-fit: cover;
    height: 300px;
    @media #{$tablet} {
      height: 400px;
    }
  }
  &:before {
    content: 'Next';
    position: absolute;
    top: -1px;
    left: 15px;
    padding: 41px 20px 20px;
    background: white;
    z-index: 2;
    color: $dark;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    transform: translate3d(0,0,0);
    @include custom-bounce;
    transition-delay: 0.3s;
    @media #{$tablet} {
      left: 90px;
    }
  }
  a {
    display: block;
    // makes entire block clickable
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .container {
    position: relative;
    padding: 0 $container-padding-sml;
    padding: 0 $container-padding;
  }
  .content {
    position: absolute;
    bottom: 40px;
    left: 0;
    max-width: 700px;
    width: 100%;
    z-index: 1;
    padding: 0 $container-padding-sml;
    @media #{$tablet} {
      padding: 0 $container-padding;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      right: $container-padding;
      height: 1px;
      background: white;
      width: 0;
      @include custom-bounce;
    }
  }
  h2, .client, .author {
    color: white;
    text-align: left;
    @include custom-bounce;
  }
  h2 {
    font-size: 35px;
    line-height: 1;
    font-weight: 200;
    transform: translate3d(0,0,0);
    transition-delay: 0.1s;
    @media #{$tablet} {
      font-size: 65px;
    }
  }
  .client, .author {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    transform: translate3d(0,0,0);
    transition-delay: 0.2s;
    @media #{$tablet} {
      font-size: 14px;
    }
  }
  .next {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba($dark, 0.35);
      background: linear-gradient(to top, rgba(43,48,51,0.9), rgba(43,48,51,0));
      mix-blend-mode: multiply;
    }
  }
  &:hover {
    @media #{$tablet} {
      &:before {
        transform: translate3d(0,-10px,0);
        transition-delay: 0s;
      }
      .client, .author {
        transform: translate3d(0,-20px,0);
        transition-delay: 0.1s;
      }
      h2 {
        transform: translate3d(0,-20px,0);
        transition-delay: 0.2s;
      }
      .content {
        &:after {
          width: calc(100% - (#{$container-padding * 2}));
          left: $container-padding;
          right: auto;
        }
      }
    }
  }
}