
// general overrides
.page-workpage {
  .container {
    max-width: 1200px;
  }
  header.container, footer .container {
    max-width: 1450px;
  }
  footer {
    position: relative;
    z-index: 10;
  }
  // nav {
  //   @media #{$tablet} {
  //     position: fixed;
  //     left: 0;
  //     max-width: 1450px;
  //     right: 0;
  //     margin: 0 auto;
  //     padding: 15px 50px;
  //   }
  // }
  .author {
    @include cf;
    margin-bottom: 40px;
  }

  .main-content {
    padding-top: 80px;
  }

  // reduce space above main content at mobile when there is no visit button on a work page
  .main-content--no-visit {
    padding-top: 0px;
    @media #{$tablet} {
      padding-top: 80px;
    }
  }
}

.text-content {

  .page-workpage & {
    //background: #f1f4f4;
    padding-top: 30px;
  }

  @media #{$tablet} {
    background: white;
    position: relative;
    z-index: 5;
    //margin-top: calc(730px);
    padding-top: 60px;

    &:first-of-type {
      // padding-top: 340px;
      //padding-top: 300px;
    }

  }

  .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 0;
  }
}

// hero / work page
.work-hero {
  $height: calc(100vh - 85px);
  $height-mob: 400px;
  $height-tablet: 600px;
  position: relative;
  width: 100%;
  height: $height-mob;
  background-size: cover;
  @media #{$tablet} {
    //top: 79px;
    //position: fixed;
    height: $height-tablet;
    margin-bottom: 0;
    background-size: cover;
  }
  @media #{$desktop} {
    height: $height;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: rgba($dark, 0.75);
    background: linear-gradient(to top, rgba($dark, 1) , rgba($dark, 0));
  }
  img {
    object-fit: cover;
    height: $height-mob;
    @media #{$tablet} {
      display: none;
      height: $height-tablet;
    }
    @media #{$desktop} {
      height: $height;
    }
  }
}

.page-contact .about-hero {
  padding-bottom: 0;
}

.page-contact footer .contact {
  display: none;
}
