
// general overrides
.page-workpage {
  .container {
    max-width: 1200px;
  }
  header.container, footer .container {
    max-width: 1450px;
  }
  footer {
    position: relative;
    z-index: 10;
  }
  nav {
    @media #{$tablet} {
      position: fixed;
      left: 0;
      max-width: 1450px;
      right: 0;
      margin: 0 auto;
      padding: 15px 50px;
    }
  }
  .author {
    @include cf;
    margin-bottom: 40px;
  }
}

.text-content {
  @media #{$tablet} {
    background: white;
    position: relative;
    z-index: 2;
    margin-top: calc(555px + 109px);
    padding-top: 60px;

    &:first-of-type {
      padding-top: 340px;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 0;
  }
}

// hero / work page
.work-hero {
  $height: 585px;
  $height-mob: 400px;

  position: relative;
  width: 100%;
  margin-bottom: 30px;
  height: $height-mob;
  background-size: cover;
  @media #{$tablet} {
    top: 79px;
    position: fixed;
    height: $height;
    margin-bottom: 60px;
    background-size: cover;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75%;
    width: 100%;
    background: rgba($dark, 0.75);
    background: linear-gradient(to top, rgba($dark, 1) , rgba($dark, 0));
    mix-blend-mode: multiply;
  }
  img {
    object-fit: cover;
    height: $height-mob;
    @media #{$tablet} {
      display: none;
      height: $height;
    }
  }
}
