@mixin headers-size($font-size) {
  h2 {
    font-size: $font-size;
  }
  h3 {
    font-size: $font-size * 0.8;
  }
  h4 {
    font-size: $font-size * 0.6;
  }
  h5 {
    font-size: $font-size * 0.4;
  }
  h6 {
    font-size: $font-size * 0.3;
  }
}

.page-workpage {
  $small-font-size: 18px;
  $normal-font-size: 25px;
  $large-font-size: 36px;
  $big-font-size: 50px;
  $huge-font-size: 94px;
  $background: $grey;
  $border-color: #D3D3D3;
  $paragraph-grey: #7E6C73;

  &, .specifications, .text-content {
    background: $background;
  }

  .flex-row {
    display: flex;
    flex-flow: column nowrap;

    > * {
      flex: 0;
    }

    @media #{$tablet} {
      flex-direction: row;
      &.reverse {
        flex-direction: row-reverse;
      }
      > * {
        flex: 1;
      }
    }
  }

  .stream-field {
    .intro {
      .text {
        padding: $container-padding - $container-padding-sml;
        p {
          font-size: $small-font-size;
          font-weight: bold;
          line-height: 1.2;
          color: $orange;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .image {
        overflow: hidden;
        padding-left: $container-padding - $container-padding-sml;
        padding-right: $container-padding - $container-padding-sml;
        svg {
          display: block;
          path, circle {
            fill: transparent;
            stroke: $border-color;
            stroke-width: 2px;
          }
        }
        img {
          margin: 0;
          border: 1px solid $border-color;
        }
      }
      @media #{$tablet} {
        .text {
          padding: $container-padding;
          p {
            font-size: $normal-font-size;
          }
        }
        .image img {
          border-width: 2px;
        }
      }
      @media #{$desktop} {
        .text {
          max-width: 550px;
          padding-top: 100px;
          p {
            font-size: $large-font-size;
          }
        }
      }
    }
    .background {
      position: absolute;
      width: 100%;
      height: 80vw;
      z-index: 0;
      overflow: hidden;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      .inner {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        background-size: cover;
        filter: blur(5px);
      }
      @media #{$tablet} {
        width: 40vw;
        height: 100%;
      }
    }
    .framed-image {
      position: relative;
      background: white;
      align-items: center;
      overflow: hidden;
      .text {
        padding: $container-padding;
        h2, h3, h4, h5, h6 {
          color: $orange;
          font-weight: normal;
          line-height: 0.9;
        }
        @include headers-size($big-font-size);
        p {
          margin-top: $container-padding-sml;
          margin-bottom: $container-padding-sml;
          font-size: $small-font-size;
          color: $paragraph-grey;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .image {
        flex: 1.1;
        width: 100%;
        padding: 30vw $container-padding-sml 0;
        z-index: 1;
        svg {
          display: block;
          rect {
            fill: none;
            stroke: $orange;
          }
          path, circle {
            fill: #FFFFFF;
            stroke: $orange;
          }
        }
      }
      @media #{$tablet} {
        min-height: 100vh;
        .text {
          padding-right: $container-padding * 2;
        }
        .image {
          padding: $container-padding $container-padding
                   $container-padding $container-padding * 2;
        }
        &.reverse {
          .text {
            padding-left: $container-padding * 2;
            padding-right: $container-padding;
          }
          .image {
            padding-left: $container-padding;
            padding-right: $container-padding * 2;
          }
        }
      }
      @media #{$desktop} {
        .text {
          @include headers-size($huge-font-size);
          p {
            font-size: $normal-font-size;
          }
        }
      }
    }
    .stats {
      background: white;
      .content {
        margin-left: $container-padding;
        margin-right: $container-padding;
        line-height: 1;
        color: $orange;
        .amount {
          font-size: 140px;
          font-weight: bold;
          .unit {
            font-size: 70%;
          }
        }
        .detail {
          font-size: $large-font-size;
          margin-left: 21px;
          .subtitle {
            font-weight: bold;
          }
        }
      }
      @media #{$tablet} {
        position: relative;
        min-height: 100vh;
        .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .amount, .detail {
            display: inline-block;
            vertical-align: bottom;
          }
          .amount {
            font-size: 170px;
            border-bottom: 20px solid $orange;
            margin-right: $container-padding;
            margin-bottom: $container-padding-sml;
          }
          .detail {
            margin-left: 0;
            .subtitle {
              font-size: 120px;
            }
            .description {
              font-size: 70px;
              color: #A5A5A5;
            }
          }
        }
      }
      @media #{$desktop} {
        .content {
          width: 1000px;
          .amount {
            margin-bottom: 92px;
          }
        }
      }
    }
    .verbose-stats {
      background: white;
      line-height: 1;
      .detail, .description {
        .content {
          padding: $container-padding;
        }
      }
      .detail {
        background: $orange;
        .amount {
          font-size: 150px;
          font-weight: bold;
          line-height: 0.8;
          color: #FD8777;
          .unit {
            font-size: 70%;
          }
        }
        .subtitle {
          font-size: 40px;
          color: white;
        }
      }
      .description {
        h2, h3, h4, h5, h6 {
          margin-bottom: $container-padding-sml;
          font-weight: normal;
          color: $orange;
          line-height: 1;
        }
        @include headers-size(45px);
        p {
          font-size: $small-font-size;
          color: $paragraph-grey;
        }
      }
      @media #{$tablet} {
        min-height: 100vh;
        flex-direction: row-reverse;
        .detail, .description {
          position: relative;
          .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 500px;
            max-width: 100%;
          }
        }
        .detail {
          .amount {
            font-size: 250px;
          }
          .subtitle {
            font-size: 60px;
          }
        }
        .description {
          @include headers-size(65px);
          p {
            font-size: $normal-font-size;
          }
        }
      }
    }
    .quote {
      background: white;
      .content {
        padding: $container-padding $container-padding-sml;
        line-height: 1.15;
        .text {
          margin-bottom: 30px;
          font-size: $large-font-size;
          font-weight: bold;
          color: #2F3437;
        }
        .attribution {
          font-size: 16px;
          color: $orange;
          text-transform: uppercase;
        }
      }
      @media #{$tablet} {
        position: relative;
        min-height: 100vh;
        .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 650px;
        }
      }
    }
  }
}
