// pagination ==================================================================
.pagination {
  text-transform: uppercase;
  padding-left: 65px;
  margin: 30px auto 50px;
  max-width: 1450px;
  
  a, p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  div {
    float: left;
    margin-right: 20px;
    &:nth-child(2) {
      position: relative;
      top: 5px;
    }
    &.previous, &.next {
      p {
        color: $blue;
        border: 1px dashed $blue;
        border-radius: $border-radius;
        padding: 5px 25px;
        transition: all 0.25s ease 0s;
      }
      &:hover {
        cursor: pointer;
        p {
          color: white;
          border-style: solid;
          background: $blue;
        }
      }
    }
  }
}
