/*Jobs index*/

.page-jobindexpage {
    section {
        position: relative;
        z-index: 5;
    }

    h1 {
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 0;
        text-align: center;
        font-size: 78px;
        text-shadow: 0 0 15px rgba(0,0,0,0.8);
    }

    .center {
        max-width: 96em;
        margin: 0 auto;
        overflow: visible;
        padding: 0 15px;

        @media #{$tablet} {
            padding: 0 4em;
        }
    }

    // main {
    //     .jobs {
    //         margin-top: -19.5em;
    //         padding: 19.5em 0 0 0;
    //     }
    // }

    .richtext{
        border-bottom: 1px dotted #DAD7D7;
    }

    .no-job.no-job {
        margin-top: 1em;
        max-width: 40em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .intro p {
        font-size: 1.1em;
        line-height: 1.4em;
        margin: 2em 0 0.5em 0;
        color: #F3F4F6;
        text-align: center;
        clear: both;

        .sub p {
            margin: 0 0 0.5em 0;
            font-size: 0.9em;
            padding-top: 0.2em;
            opacity: 0.8;
        }
    }

    .button {
        background-color: #f85a40;
        display: inline-block;
        padding: 0.8em 1em;
        color: #fff;
        border: 1px solid #f85a40;
        border-radius: 2px;
        text-align: center;
        font-size: 0.9em;
        transition: all 0.2s ease;

        &:hover {
            background-color: #2EB1B0;
            border-color: #2EB1B0;
            border-radius: 2px;
        }
    }

    .crop-height {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 3em;
    }

    .center.saying {
        max-width: 800px;
    }

    .img-wrapper {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

.no-job {
    h3 {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
        line-height: 1em;
        text-align: center;
    }

    p {
        line-height: 1.5em;
        max-width: $container-width;
        margin: 1em auto 0.125em auto;
        text-align: center;
    }

    a {
        border-bottom: 1px dotted #DAD7D7;
    }
}

.jobs-header-content {
    position: relative;
    padding: 13em 0.5em 5em;
    z-index: 10;
    color: white;
    text-align: center;
    max-width: 70em;
    margin: 0 auto;

    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        color: #fff;
    }
}

.jobs-header {
    min-height: 40em;

    p {
        font-size: 1.1em;
        line-height: 1.4;
        margin: 1em auto;
    }

    .button.button {
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
        margin: 18px;
        padding: 0.6em 1em;
        font-size: 0.9em;
    }
}

.jobs-listing {
    position: relative;
    z-index: 0;
    margin-top: 3em;

    h2 {
        margin-bottom: 1em;
        font-size: 2em;
    }

    .listing {
        li {
            width: 100%;
            margin-bottom: 1em;
            float: left;
            display: block;
            margin-right: 2.25%;
            margin-bottom: 2.25%;
            width: 100%;
            float: left;
            display: block;
            position: relative;

            @media #{$tablet} {
                width: 31.5%;
            }

            a {
                // Existing site uses js to find tallest of the elements
                height: 166px;
                display: block;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        a {
            font-weight: bold;
            line-height: 1.2;
            border: 1px solid #e4e5e6;
            background: white;
            box-shadow: 0;
            border-radius: 3px;
            transition: all 0.2s ease;

            &:hover {
                border-color: #f85a40;
            }
        }
    }
}

.jobs-offices {
    padding: 0 0 1em 0em;
    margin: 0 auto;

    li {
        display: block;
        text-align: center;

        p {
            font-size: 1em;
            line-height: 1.5em;
            margin-top: 5px;
        }
    }

    li.last {
        margin-right: 0;
    }

    img {
        display: inline-block;
        width: 35%;
        margin: 1em 0 1.25em;
        padding: 22px;
    }

    h3 {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 0;
    }

}

.center.our-offices-container {
    padding: 3em 1em 2em;
    margin-bottom: 2em;
}

.jobs-core-values {
    h2 {
        font-weight: bold;
        font-size: 2em;
        margin: 0 0 1em 0;
        line-height: 1em;
    }

    h3 {
        font-size: 1.7em;
        margin-bottom: 0.25em;
        font-weight: bold;
        line-height: 1em;
    }
}

.jobs-what-saying {
    h2 {
        margin-top: 1em;
    }

    h3 {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    li {
        text-align: center;
        margin: 2em 0;
        position: relative;
        min-height: 5em;
        padding-top: 0.75em;

        img {
            display: inline-block;
            width: 5em;
            border-radius: 50%;
            top: 15px;
            left: 0;
        }
    }

    span {
        font-size: 1em;
        color: gray;
    }

    a {
        margin-right: 1em;
        font-size: 1.25em;
    }

    span + div {
        font-size: 0.875em;

        a {
            font-size: 1.25em;
            color: #f85a40;
        }
    }
}

.img-darken {
    background-size: cover;
    background-position: center;
    min-height: 40em;

    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
    }
}

.jobs-refer {
    position: relative;
    top: 1px;
    min-height: 390px;
    color: #ffffff;
    background: #2EB1B0;
    background: radial-gradient(circle, #2EB1B0 , #82D0D0);
    padding-top: 4em;
    background-size: cover;
    margin-top: 5em;

    &:before {
        content: '';
        background: url('/static/torchbox/images/pattern-03.png');
        position: absolute;
        background-size: 200px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.35;
    }

    .center.space-footer {
        padding: 4em 15px 5em;
        position: relative;
        top: 0;
    }

    .img-darken:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        display: block;
    }

    .button {
        border: 1px solid #ffffff;
        background: transparent;
        margin: 0;

        &:hover {
            border-color: #FB5A40;
        }
    }

    p {
        line-height: 1.5em;
    }

    .center {
        text-align: center;
        position: absolute;
        top: 4em;
    }

    .terms-link {
        margin-bottom: 1.5em;
        display: inline-block;
        font-size: 0.875em;
    }
}

.location {
    margin-top: 0.5em;
    padding: 0;
    font-size: 0.75em;
    color: #828384;
    font-weight: normal;

    .jobs-listing & {
        font-size: 1rem;
        padding-left: 1em;
        position: absolute;
        bottom: 2em;
        color: #484848;
    }
}

.jobs-listing .location svg {
    height: 1.75em;
    width: 2em;
    position: absolute;
    left: -0.75em;
    top: -0.25em;
}

.footerbleed {
    padding-top: 1em;
}

.listing {
    @include cf();
    margin: 0 auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
    left: auto;
    max-width: 100%;
    width: 100%;
}

ul.image-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -38px;
    margin-top: -38px;

    li {
        flex: 1;
        flex-basis: 100%;
        margin-left: 38px;
        margin-top: 38px;
        flex-basis: calc(50% - 38px);
    }
}

.jobs-core-values h2 {
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em 0;
    line-height: 1em;
}

.jobs-core-values h2, .jobs-offices h2, .jobs-what-saying h2, .jobs-refer h2 {
    text-align: center;
    padding-left: 0;
    font-size: 3.6em;
}

.jobs-refer p {
    font-size: 1.25em;
    line-height: 1.5em;
    max-width: $container-width;
    margin: 0 auto 0.125em auto;
    color: #fff;
}

.link-inline {
    color: #FD5938;

    &:hover {
        border-bottom: 1px dotted CurrentColor;
    }
}

.sign-up {
    clear: both;
    width: 100%;
    text-align: center;
}

.job-listing h2 {
    margin-bottom: 1.5em;
    font-size: 2.6em;
}

.jobs-listing .job-link {
    color: #f85a40;
    padding: 0.875em 0.875em 2.625em 0.875em;
    min-height: 5.25em;
    font-size: 1.75em;
}

.icon {
    display: none;
}

.sub {
    max-width: 100%;
    margin: 1.5em auto 0 auto;
}

.text-push {
    padding: 0 1em;
}

.jobs-listing h2,
.jobs-refer h2,
.jobs-offices h2,
.jobs-what-saying h2 {
    font-weight: bold;
    font-size: 1.75em;
    margin: 0 0 0.7em 0;
    padding: 0;
    line-height: 1em;
    text-align: center;
}

.jobs-benefits {
    background: #F8F8F8;

    h3 {
        font-size: 1.7em;
        margin-bottom: 0.25em;
        font-weight: bold;
        line-height: 1em;
    }

    h2 {
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }
}

.jobs-core-values h2,
.jobs-offices h2,
.jobs-what-saying h2,
.jobs-refer h2 {
    text-align: center;
    padding-left: 0;
}

.jobs-header,
.jobs-listing,
.jobs-benefits,
.jobs-core-values {
    -webkit-font-smoothing: antialiased;
    margin-bottom: 3em;
}

.jobs-benefits {
    margin-top: 0;
    margin-bottom: 0;
}

// Carousel
.jobs-carousel-container {

    li {
        position: relative;
        background: #f2f2f2;
    }

    .slide-caption-container {
        padding-top: 0.75em;
        min-height: 3.25em;
        padding-left: 4em;
        padding-right: 4em;
        position: relative;

        h3 {
            font-weight: bold;
            line-height: 1em;
            margin-bottom: 0.65em;
            font-size: 1.5em;
        }

        .slick-buttons {
            margin-top: 1em;
        }
    }

    .slick-slide {
        display: flex;

        img {
            display: block;
            max-width: none;
            max-width: 65%;
            clip-path: polygon(95% 0,100% 50%,95% 100%,0 100%,0 0);
            height: 700px;
        }
    }

    .slide-caption-container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2em 1em 2em 4%;
        width: 35%;
        height: 100%;
        white-space: nowrap;
        padding-top: 0.75em;
        min-height: 3.25em;
        padding-left: 4em;
        padding-right: 4em;

        &:after {
            content: " ";
            display: inline-block;
            height: 100%;
            width: 1%;
            vertical-align: middle;
        }

        > div {
            display: inline-block;
            vertical-align: middle;
            white-space: initial;
        }

        span {
            font-size: 1.25em;
            color: rgba(0,0,0,0.5);
            font-weight: normal;
            display: block;
        }

        h3 {
            font-weight: bold;
            line-height: 1em;
            margin-bottom: 0.65em;
            font-size: 2.25em;
        }

        p {
            padding-right: 5em;
            margin-top: 10px;
            line-height: 2;
        }
    }

    .slick-arrow {
        border-radius: 0;
    }

    .slick-arrow.slick-disabled {
        background-color: #9c9c9c;
        pointer-events: none;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        overflow: hidden;
        text-indent: -10em;
        background-color: #f85a40;
        height: 3.25em;
        width: 3.25em;
        border: 0;
        overflow: hidden;

        &:hover {
            
        }
    }

    .slick-prev {
        top: 2em;
        bottom: auto;
        left: auto;
        right: 2em;
        z-index: 2;
        background-size: 70%;
    }

    .slick-next {
        bottom: 2em;
        top: auto;
        right: 2em;
        background-size: 70%;
        background-color: #f85a40;
        text-indent: -10em;
    }
}

.reasons {
    //background-color: $orange;
    padding: 60px 0 0;
    h2 {
        margin: 0 0 40px;
    }
    .page-aboutpage & {
        margin-top: -41px;
        position: relative;
    }
    @media #{$tablet} {
        .page-aboutpage & {
            margin-top: -100px;
        }
    }
    li {
        display: block;
        overflow: hidden;
        margin: 0 0 30px;
        img {
            @media #{$tablet} {
                float: left;
                width: 50%;
            }
        }
        .text {
            @media #{$tablet} {
                width: 50%;
                padding: 60px;
                float: left;
            }
            .number {
                font-size: 60px;
                position: relative;
                font-weight: 200;
                color: $blue;
                line-height: 1.4;
                &:before {
                  content: '';
                  position: absolute;
                  left: -100px;
                  top: -35px;
                  width: 220px;
                  height: 220px;
                  background: url('/static/torchbox/images/pattern-sml.png') no-repeat center;
                  background-size: cover;
                  transform: rotate(90deg);
                  opacity: 0.2;
                  z-index: 0;
                }
                @media #{$tablet} {
                    font-size: 80px;
                    line-height: 1.6;
                }
            }
            h3 {
                font-size: 30px;
                margin: 10px 0 10px;
                @media #{$tablet} {
                    font-size: 34px;
                }
            }
            p {
                font-size: 18px;
            }
        }
        @media #{$tablet} {
            margin: 0;
            p {
                font-size: 20px;
            }
            &:nth-of-type(even) {
                img {
                    float: right;
                }
                .text {
                    text-align: right;
                    .number {
                        &:before {
                            right: -100px;
                            left: auto;
                        }
                    }
                }
            }
        }
    }

}
