// work index page =============================================================
.page-workindexpage {
  h1 {
    font-size: 35px;
    line-height: 1;
    font-weight: 200;
    color: $orange;
    padding: 60px 0 0;
    @media #{$tablet} {
      padding: 140px 0 10px;
      font-size: 65px;
    }
  }
}