// page-standardpage ===========================================================
.page-standardpage,
.page-aboutpage {
  nav {
    @media #{$tablet} {
      position: fixed;
      left: 0;
      max-width: 1450px;
      right: 0;
      margin: 0 auto;
      padding: 15px 50px;
    }
  }
  footer {
    position: relative;
    z-index: 10;
  }
  .text-content {
    &:last-of-type {
      margin-top: 0px;
    }
    &:nth-last-of-type(2) {
      margin-top: 0px;
    }
  }
  .full-image {
    position: relative;
    z-index: 1;
    height: 315px;
    background: url('/static/torchbox/images/full-width-bristol.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    @media #{$tablet} {
      height: 600px;
    }
  }
}
