// Contact-page ========================================================

.page-contact {
  h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: 200;
    color: #fd5938;
    padding: 60px 0 0;
    @media #{$tablet} {
      padding: 70px 0 60px 0;
      font-size: 50px;
    }
  }

  .contact-form-wrapper {
    @include cf;
    position: relative;
    padding: 20px 20px 60px 20px;
    @media #{$tablet} {
      padding: 40px 120px 60px 120px;
    }
    text-align: center;
    h3 {
      color: white;
      margin: 0 auto;
      display: inline-block;
      font-weight: 300;
      font-size: 30px;
      @media #{$tablet} {
        font-size: 40px;
      }
    }
  }

  .contact-bar {
    width: 100%;
    padding: 50px 0 45px;
    display: table;
    text-align: center;
    background-color: #f5f5f5;
  }

  .contact-bar__item {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    width: 100%;

    @media #{$tablet} {
      width: auto;
    }

    a {
      @include line-hover();
    }

    &:not(:last-of-type) {
      @media #{$tablet} {
        margin-right: 100px;
      }
    }
  }

}

.find-us {
  @include cf;
  padding: 0 15px 0 0;
}

.contact-us {
  @include cf;
  padding: 0 0 0 15px;
  li {
    margin-bottom: 15px;
    @include cf;
    &:nth-child(1) {
      input {
        float: left;
        width: 47.5%;
        margin-right: 5%;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  input, textarea {
    width: 100%;
    background: $grey;
    border: 1px solid rgba($dark, 0.1);
    padding: 15px 25px;
    font-size: 16px;
    border-radius: $border-radius;
    &.btn {
      display: inline-block;
      width: auto;
      background: transparent;
      border: 1px dashed $blue;
      padding: 10px 25px;
      &:hover {
        background: $blue;
        border: 1px solid $blue;
      }
    }
  }
  textarea {
    min-height: 200px;
  }
}

.address {
  margin-bottom: 55px;
  &.last-of-type {
    margin-bottom: 100px;
  }
  h3 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5px;
    opacity: 0.5;
  }
  p {
    font-size: 22px;
    margin-bottom: 0;
  }
  a {
    @include line-hover();
  }
  svg {
    width: 50px;
    max-height: 43px;
    fill: $orange;
  }
}

.address--half {
  width: 50%;
  display: inline-block;
}

#map {
    height: 400px;
    width: 100%;
}

.map-infobox {
  display: block;
  font-family: $primaryFont;
  font-size: 20px;
  padding: 10px 15px 0 30px;
  text-align: center;
}
