.page-workpage {
  $small-font-size: 14px;
  $normal-font-size: 16px;
  $large-font-size: 20px;
  $big-font-size: 30px;
  $huge-font-size: 60px;
  $background: $grey;
  $border-color: #D3D3D3;
  $paragraph-grey: #7E6C73;

  &, .specifications, .text-content {
    background: $background;
  }

  .flex-row {
    display: flex;
    flex-flow: column nowrap;

    > * {
      flex: 0;
    }

    @media #{$tablet} {
      flex-direction: row;
      &.reverse {
        flex-direction: row-reverse;
      }
      > * {
        flex: 1;
      }
    }
  }

  .stream-field {
    @media #{$tablet} {
      padding-top: $container-padding;
    }
    .intro {
      .text {
        padding: $container-padding - $container-padding-sml;
        p {
          font-size: $normal-font-size;
          font-weight: bold;
          line-height: 1.2;
          color: $orange;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .image {
        max-height: calc(100vh - #{$container-padding});
        margin-left: $container-padding - $container-padding-sml;
        margin-right: $container-padding - $container-padding-sml;
        overflow: hidden;
        border-bottom: 1px solid $border-color;
        svg {
          display: block;
          path, circle {
            fill: transparent;
            stroke: $border-color;
            stroke-width: 2px;
          }
        }
        img {
          margin: 0;
          border: 1px solid $border-color;
          border-bottom-width: 0;
        }
      }
      @media #{$tablet} {
        padding-top: $container-padding;
        .text {
          padding: $container-padding;
          p {
            font-size: $large-font-size;
          }
        }
      }
      @media #{$desktop} {
        .text {
          max-width: 550px;
          padding-top: 100px;
          p {
            font-size: $big-font-size;
          }
        }
        .image {
          &, img {
            border-width: 2px;
          }
          img {
            border-bottom-width: 0;
          }
        }
      }
    }
    .background {
      position: absolute;
      width: 100%;
      height: 80vw;
      z-index: 0;
      overflow: hidden;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      .inner {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        background-size: cover;
        background-position: center;
        filter: blur(5px);
      }
      @media #{$tablet} {
        width: 40vw;
        height: 100%;
      }
    }
    .framed-image {
      position: relative;
      min-height: 100vh;
      background: white;
      align-items: center;
      overflow: hidden;
      .text {
        padding: $container-padding;
        h2, h3, h4, h5, h6 {
          font-size: $big-font-size;
          font-weight: 300;
          color: $orange;
          line-height: 0.9;
        }
        p {
          margin-top: $container-padding-sml;
          margin-bottom: $container-padding-sml;
          font-size: $normal-font-size;
          color: $paragraph-grey;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .image {
        flex: 1.1;
        width: 100%;
        padding: 30vw $container-padding-sml 0;
        z-index: 1;
        svg {
          display: block;
          rect, path, circle {
            stroke: $orange;
            stroke-width: 1.5px;
          }
          rect {
            fill: none;
          }
          path, circle {
            fill: #FFFFFF;
          }
        }
      }
      @media #{$tablet} {
        .text {
          padding-right: $container-padding * 2;
        }
        .image {
          padding: $container-padding $container-padding
                   $container-padding $container-padding * 2;
        }
        &.reverse {
          .text {
            padding-left: $container-padding * 2;
            padding-right: $container-padding;
          }
          .image {
            padding-left: $container-padding;
            padding-right: $container-padding * 2;
          }
        }
      }
      @media #{$desktop} {
        .text {
          h2, h3, h4, h5, h6 {
            font-size: $huge-font-size;
          }
          p {
            font-size: $large-font-size;
          }
        }
      }
    }
    .aligned-image {
      position: relative;
      min-height: 100vh;
      background: white;
      align-items: center;
      overflow: hidden;
      .text {
        padding: $container-padding;
        h2, h3, h4, h5, h6 {
          font-size: $big-font-size;
          font-weight: 300;
          line-height: 0.9;
          color: $orange;
        }
        p {
          margin-top: $container-padding-sml;
          margin-bottom: $container-padding-sml;
          font-size: $normal-font-size;
          color: $paragraph-grey;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .image {
        width: 100%;
        height: 100vw;
        max-height: 500px;
        margin: $container-padding-sml 0;
        background-size: cover;
        background-position: center;
      }
      @media #{$tablet} {
        .text {
          padding-left: $container-padding * 2;
          padding-right: $container-padding * 2;
        }
        .image {
          height: 100vh;
          max-height: initial;
          margin: 0;
          padding-left: $container-padding * 2;
          padding-right: $container-padding * 2;
        }
      }
      @media #{$desktop} {
        .text {
          h2, h3, h4, h5, h6 {
            font-size: $huge-font-size;
          }
          p {
            font-size: $large-font-size;
          }
        }
      }
    }
    .stats {
      display: flex;
      min-height: 100vh;
      background: white;
      align-items: center;
      .content {
        margin-left: auto;
        margin-right: auto;
        padding-left: $container-padding;
        padding-right: $container-padding;
        line-height: 1;
        color: $orange;
        .amount {
          font-size: 140px;
          font-weight: bold;
          .unit {
            font-size: 70%;
          }
        }
        .detail {
          font-size: $large-font-size;
          margin-left: 21px;
          .subtitle {
            font-weight: bold;
          }
        }
      }
      @media #{$tablet} {
        .content {
          .amount, .detail {
            display: inline-block;
            vertical-align: bottom;
          }
          .amount {
            font-size: 170px;
            border-bottom: 20px solid $orange;
            margin-right: $container-padding;
            margin-bottom: $container-padding-sml;
          }
          .detail {
            margin-left: 0;
            .subtitle {
              font-size: 120px;
            }
            .description {
              font-size: 70px;
              color: #A5A5A5;
            }
          }
        }
      }
      @media #{$desktop} {
        .content {
          width: 1000px;
          .amount {
            margin-bottom: 92px;
          }
        }
      }
    }
    .verbose-stats {
      background: white;
      line-height: 1;
      .detail, .description {
        display: flex;
        min-height: 50vh;
        align-items: center;
        .content {
          padding: $container-padding;
        }
      }
      .detail {
        background: $orange;
        .amount {
          font-size: 150px;
          font-weight: bold;
          line-height: 0.8;
          color: $orange-lt;
          .unit {
            font-size: 70%;
          }
        }
        .subtitle {
          font-size: 40px;
          color: white;
        }
      }
      .description {
        h2, h3, h4, h5, h6 {
          margin-bottom: $container-padding-sml;
          font-size: $big-font-size;
          font-weight: 300;
          color: $orange;
          line-height: 1;
        }
        p {
          font-size: $normal-font-size;
          color: $paragraph-grey;
        }
      }
      @media #{$tablet} {
        min-height: 100vh;
        flex-direction: row-reverse;
        .detail, .description {
          min-height: 100vh;
          width: 50vw;
          .content {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            max-width: 100%;
          }
        }
        .detail {
          .amount {
            font-size: 250px;
          }
          .subtitle {
            font-size: 60px;
          }
        }
        .description {
          h2, h3, h4, h5, h6 {
            font-size: $huge-font-size;
          }
          p {
            font-size: $large-font-size;
          }
        }
      }
    }
    .quote {
      display: flex;
      min-height: 100vh;
      background: white;
      align-items: center;
      .content {
        padding: $container-padding;
        line-height: 1.15;
        .text {
          margin-bottom: 30px;
          font-size: $big-font-size;
          font-weight: bold;
          color: #2F3437;
        }
        .attribution {
          font-size: $small-font-size;
          color: $orange;
          text-transform: uppercase;
        }
      }
      @media #{$tablet} {
        .content {
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
          .text {
            font-size: $big-font-size * 1.2;
          }
          .attribution {
            font-size: $normal-font-size;
          }
        }
      }
    }
    .contact-us {
      display: flex;
      min-height: 100vh;
      align-items: center;
      padding: $container-padding 0;
      text-align: center;
      background: white;
      .content {
        padding-left: $container-padding-sml;
        padding-right: $container-padding-sml;
        h1, h3 {
          font-size: $big-font-size;
          color: $orange;
        }
        h3 {
          margin-bottom: $container-padding * 3 / 4;
          font-weight: 300;
        }
        .person {
          display: inline-block;
          padding-top: $container-padding;
          border-top: 1px solid $orange;
          color: #646768;
          img, .text {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
            margin-bottom: 0;
          }
          img {
            width: 100px;
            height: 100px;
            margin-right: $container-padding / 2;
            border-radius: 50%;
          }
          .text, .links {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
          }
          .text {
            margin-top: $container-padding-sml / 2;
            margin-bottom: $container-padding-sml / 2;
            font-size: $large-font-size;
            .name {
              font-weight: bold;
            }
            .role {
              display: block;
            }
          }
          .links {
            padding-top: $container-padding-sml / 2;
            padding-bottom: $container-padding-sml / 2;
            a {
              display: block;
              font-size: $normal-font-size;
              color: inherit;
              padding-top: $container-padding-sml / 2;
              padding-bottom: $container-padding-sml / 2;
              svg {
                display: inline-block;
                width: 30px;
                padding-right: 5px;
                vertical-align: middle;
                path {
                  fill: $orange;
                }
              }
            }
          }
        }
      }
      .more {
        display: none;
      }
      @media #{$tablet} {
        position: relative;
        .content {
          margin-left: auto;
          margin-right: auto;
          padding-left: 0;
          padding-right: 0;
          h1 {
            font-size: $huge-font-size;
          }
          .person {
            min-width: 500px;
            white-space: nowrap;
            img {
              float: left;
            }
            .text, .links {
              text-align: left;
            }
            .text {
              .role {
                display: inline-block;
              }
            }
            .links {
              padding-top: 0;
              padding-bottom: 0;
              a {
                display: inline-block;
                padding-top: 0;
                padding-bottom: 0;
                + a {
                  margin-left: $container-padding / 2;
                }
              }
            }
          }
        }
      }
      @media #{$desktop} {
        .more {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          font-size: $normal-font-size;
          color: $orange;
          svg {
            margin: 0 auto;
            width: 30px;
            height: 15px;
            path {
              fill: none;
              stroke: $orange;
            }
          }
        }
      }
    }
  }

  #more-like-this {
    $gutter: 40px;
    $padding: $gutter / 2;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: white;
    padding-top: $container-padding;
    padding-bottom: $container-padding;
    .container {
      width: 100%;
      h1 {
        margin-bottom: $container-padding-sml * 2;
        font-size: $big-font-size;
        font-weight: normal;
        text-align: center;
        color: $orange;
      }
      .flex-row {
        display: block;
        .work {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 250px;
          &.hidden-mobile {
            display: none;
          }
          .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
          }
          .content {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: $container-padding-sml * 2;
            background: linear-gradient(to bottom, transparent 40%,
                                        rgba(0,0,0,0.5) 100%);
            .descriptive-title {
              line-height: 2.5;
              font-size: $large-font-size * 1.2;
              color: white;
            }
            .title {
              line-height: 1;
              font-size: $normal-font-size;
              font-weight: bold;
              color: $orange-lt;
              text-transform: uppercase;
            }
          }
          + .work {
            margin-top: $container-padding-sml;
          }
        }
      }
    }
    @media #{$desktop} {
      .container {
        h1 {
          font-size: $huge-font-size;
          margin-bottom: $container-padding * 2;
        }
        .flex-row {
          display: flex;
          margin-left: -$padding;
          margin-right: -$padding;
          justify-content: space-between;
          .work {
            height: 425px;
            margin-left: $padding;
            margin-right: $padding;
            &.hidden-mobile {
              display: inline-block;
            }
            + .work {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
