///
/// Base styles/setup for individual services pages
///

.services-wrapper {
    width: 100%;
    max-width: $services-wrapper-width;
    margin: 0 auto;
    padding: 0 15px;

    @media #{$tablet} {
        padding: 0 20px;
    }

    @media #{$tablet-large} {
        padding: 0 50px;
    }

    &--relative {
        position: relative;
    }
}

.services-grid {
    &__item {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        &--one-half {
            width: 100%;

            @media #{$tablet} {
                width: 50%;
            }
        }

        &--one-quarter {
            width: 100%;

            @media #{$small} {
                width: 50%;
            }

            @media #{$tablet-large} {
                width: 25%;
            }
        }

        &--three-quarters {
            width: 75%;
        }
    }
}
