.services-slider {
    position: relative;
    margin-top: 30px;

    &__heading {
        max-width: 800px;
        margin: 0 0 40px;
        color: #222;
        font-size: 22px;
        font-weight: 300;
        text-align: left;
        line-height: 30px;
    }

    &__tiles {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 400px;
    }

        &__tile-item {
            width: 31%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
            margin-right: 2.333%;
            background-color: rgba(137, 215, 216, 0.29);
        }
}
