.services-avatar-container {
    position: absolute;
    top: 350px;
    right: 0;
    width: 414px;
    z-index: 9;
    transform: translate3d(525px, 0, 0);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
    display: none;
    transition:
        background-color 500ms ease,
        box-shadow 500ms ease,
        opacity 500ms ease,
        transform 500ms ease;

    @media #{$tablet-large} {
        display: block;
    }

    &__find-out-more {
        background-color: $services-orange;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        padding: 6px 15px;
        font-weight: 600;
        margin-bottom: 2px;
        opacity: 0;
        transition:
            background-color 300ms ease,
            opacity 500ms ease;

        &--alt {
            background-color: #000;
        }
    }

    &__contact-info {
        display: inline-block;
        vertical-align: top;
        padding: 20px 0 20px 20px;
        width: 270px;
        line-height: 26px;
        opacity: 0;
        font-size: 22px;
        transition:
            opacity 500ms ease;
    }

    &__contact-details {
        display: inline-block;
        vertical-align: top;
        padding-left: 12px;
        padding-top: 20px;
        width: 180px;
        line-height: 21px;
        color: #fff;
        display: none;
        transition:
            opacity 500ms ease;

        &--show {
            opacity: 1;
            display: inline-block;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 37px;
        height: 37px;
        text-align: center;
        padding-top: 4px;
        cursor: pointer;
        transition:
            opacity 300ms ease;

        svg {
            width: 12px;
            height: 12px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__button {
        border: none;
        background: $orange;
        margin-top: 12px;
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
    }

    &__contact-item {
        margin: 5px 0 10px;

        svg {
            width: 17px;
            fill: $services-blue;
        }

        a {
            font-size: 15px;
            font-weight: 600;
            margin-left: 5px;
        }

        .phone {
            color: #fff;
        }

        .mail {
            
        }
    }

    &--move-left {
        transform: translate3d(0,0,0);
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

        .services-avatar-container__find-out-more {
            opacity: 1;
        }

        .services-avatar-container__contact-info {
            opacity: 1;
        }

        .services-avatar__text {
            opacity: 0;
        }
    }

    &--move-right {
        transform: translate3d(275px, 0, 0);
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

        .services-avatar-container__find-out-more {
            opacity: 0;
        }

        .services-avatar-container__contact-info {
            opacity: 0;
        }

        .services-avatar__text {
            opacity: 0;
        }
    }

    &--alt {
        background-color: #2c2c2c;
    }

    &--fixed {
        position: fixed;
        top: 350px;
    }

    &--hide {
        transform: translate3d(350px,0,0);
        opacity: 0;
    }
}

.services-avatar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 139px;
    height: 139px;
    z-index: 5;
    cursor: pointer;
    transition:
        transform 300ms ease;

    &__image {
        border-radius: 50%;
        @media #{$tablet-large} {
            border-radius: 0;
        }
        transition:
            margin-top 300ms ease;
    }

    &__image img {
        height: auto;
    }

    &__text {
        position: absolute;
        bottom: -10px;
        padding: 7px 25px 16px;
        background-color: #000;
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        transition:
            opacity 500ms ease;

        &--hide {
            opacity: 0;
        }
    }
}

.services-avatar-footer {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;

    @media #{$tablet} { 
        padding: 0;
        text-align: left;
    }

    &__image {
        width: 150px;
        display: inline-block;
        vertical-align: top;

        img {
            width: 100%;
        }
    }

    &__info {
        display: inline-block;
        vertical-align: top;
        padding-left: 35px;
        margin-top: 30px;
        text-align: left;

        h3 {
            font-size: 28px;
            font-weight: 500;
            color: #222;
        }

        button {
            border: none;
            background: $orange;
            margin-top: 12px;
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
        }
    }
}
