.services-slider {
    position: relative;
    margin-top: 15px;

    &__heading {
        max-width: 800px;
        margin: 0 0 40px;
        color: #222;
        font-size: 22px;
        font-weight: 300;
        text-align: left;
        line-height: 30px;
    }

    &__tiles {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        
        @media #{$tablet} {
            width: calc(100% + 26px);
            margin-left: -13px;
        }
    }

    li,
    li:first-of-type,
    li:last-of-type {
        width: 100%;

        @media #{$tablet} {
            width: 33.33%;
        }

        .content {
            @media #{$tablet} {
                padding: 0 13px;
            }
        }
    }
    
    // Apologies.
    // Backend dev is reusing components from elsewhere on the
    // site, so due to inability to change markup at this time,
    // beating the specificity is the only option in order to
    // alter the look of the component (I can't alter the markup).
    .work-list {
        li {
            width: 100%;
            background-color: #fbfcfc;

            .content {
                padding: 0;
            }

            .image-container {
                width: 100%;
                height: 330px;
                display: inline-block;
                vertical-align: top;

                @media #{$tablet} { 
                    width: 330px;
                }
            }

            .work-text {
                position: static;
                display: inline-block;
                vertical-align: top;
                width: 100%;
                padding: 10px 30px 30px;

                @media #{$tablet} { 
                    width: calc(100% - 330px);
                    padding: 30px 60px 0;
                }

                @media #{$tablet-large} {
                    padding: 60px 60px 0;
                }

                &:before {
                    display: none;
                }

                h3 {
                    color: #222;
                    font-size: 32px;
                    font-weight: 500;

                    @media #{$tablet} { 
                        font-size: 28px;
                    }

                    @media #{$tablet-large} {
                        font-size: 32px;
                    }
                }
            }

            &:hover {
                .work-text {
                    h3,
                    h4 {
                        transform: translate3d(0, 0, 0);
                    }

                    &:after {
                        width: 0;
                    }
                }
            }
        }
    }
}

// Carousel UI overrides
.services-slider {

    .owl-stage {
        @media (min-width: 1100px) { 
            left: -100px;
        }
    }

    .owl-dot span {
        width: 10px;
        height: 10px;
        background: none repeat scroll 0 0 #cbcdce;
        transition:
            background 300ms ease;

        &:hover {
            background: none repeat scroll 0 0 #333;
        }
    }

    .owl-dots {
        padding-bottom: 60px;

        .active span {
            transform: none;
            background: #333;
        }
    }

    .owl-prev,
    .owl-next {
        text-indent: -9999px;
        //@include hidden();
        position: absolute;
        width: 50px;
        height: 120px;
        top: calc((330px / 2) - (120px / 2)); // height of carousel/2 - height of button/2
        background-color: rgba($orange, 0.8);
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .owl-prev::after,
    .owl-next::after {
        display: block;
        text-indent: 0;
        color: white;
        font-size: 100px;
        font-weight: 100;
        position: relative;
        top: -60px;
    }

    .owl-prev::after {
        content: "\2039";
        left: 10px;
    }

    .owl-next::after {
        content: "\203A";
        left: 15px;
    }
}
