///
/// Individual services pages
///

.services-reasons-list {
    margin-top: 40px;

    &__item {
        opacity: 0;
        transform: translate3d(0,30px,0);
        transition:
            opacity 500ms ease,
            transform 700ms ease;

        span {
            position: relative;
            display: block;
            margin-bottom: 5px;
            padding: 20px 20px 20px 40px;
            line-height: 30px;
            font-size: 21px;
            background-color: #fff;
            color: #0F6B6B;

            @media #{$tablet} {
                display: inline-block;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 10px;
                height: 100%;
                background-color: $services-orange;
            }
        }

        &--show {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
    }
}

.services-process {
    margin-top: 40px;

    &__icon {
        display: inline-block;
        vertical-align: top;
        width: 25%;

        svg {
            width: 72%;
            max-height: 150px;
            margin-top: 30px;
            fill: $services-blue;
        }
    }

    &__content-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }

        &__number {
            font-size: 32px;
            font-weight: 600;
            color: $services-orange;
        }

        &__title {
            font-size: 30px;
            font-weight: 500;
            color: #222;
            margin-top: -16px;
            margin-bottom: -3px;
        }

        &__description {
            font-size: 18px;
            font-weight: 400;
            color: #555;

            @media #{$tablet} {
                max-width: 85%;
            }
        }
}

.services-team-member {
    margin-top: 40px;

    &__image {
        display: inline-block;
        vertical-align: top;
        width: 30%;

        img {
            width: 100%;
            margin-top: 12px;
        }
    }

    &__content {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        padding: 0 0 0 30px;

        @media #{$tablet} {
            padding: 0 50px 0 30px;
        }
    }

        &__name {
            font-size: 25px;
            font-weight: 400;
            color: #222;
        }

        &__title {
            font-size: 15px;
            font-weight: 400;
            color: $services-blue;
            text-transform: uppercase;
        }

        &__description {
            font-size: 16px;
            font-weight: 400;
            color: #555;
        }
}
