.services {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  ul {
    width: 100%;
    font-size: 0;
  }

  li {
    margin-bottom: 30px;

    @media #{$tablet} {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      margin-bottom: 40px;
      padding: 0 0 70px;
    }

    @media #{$desktop} {
      padding: 0 50px 70px;
    }
  }

  .content {
    text-align: center;
    @media #{$tablet} {
      padding: 0 60px;
    }
    img,
    svg {
      display: inline-block;
      max-width: 100px;
      height: 100px;
      margin-bottom: 10px;
      fill: $orange;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 10px;
      @media #{$tablet} {
        font-size: 25px;
      }
    }
  }
  button {
    margin: 0 auto;
  }
}
