
// specifications
.specifications {
  transition: all 0.2s ease 0s;
  position: absolute;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  margin-top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 6;
  @media #{$tablet} {
    margin-top: 0;
    padding: 10px 0 0;
  }

  &--fixed {
    position: fixed;
    top: 0;
    background: rgba($dark, 0.95);

    @media #{$tablet} {
      .tags {
        display: none !important;
      }
    }

  }

  &--no-visit {
    // for pages wihtout a visit button, hide the grey bottom margin
    // and the padding at mobile, as tags are hidden anyway at mobile
    border-bottom: none;
    padding: 0;
    @media #{$tablet} {
      border-bottom: 1px solid rgba(0,0,0,0.05);
      padding: 10px 0 0;
    }
  }

  .client {
    vertical-align: top;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 8px 0 15px 0;
    color: $orange-lt;
    display: none;

    &--show {
      @media #{$tablet} {
        display: inline-block;
      }
    }
  }

  .content {
    position: relative;
    text-align: left;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
  }
  h2 {
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-variant: small-caps;
    @media #{$tablet} {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
  h4 {
    text-transform: uppercase;
    color: $dark;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
    @media #{$tablet} {
      font-size: 18px;
    }
  }
  .tags {
    margin: 0;
    border-bottom: 0;
    display: none;
    @media #{$tablet} {
      display: inline-block;
    }
  }
  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    float: left;
    border: 1px solid rgba(0,0,0,0.05);
    border-right: none;
    border-top: none;
    border-bottom: none;
    &:last-child {
      border-right: 1px solid rgba(0,0,0,0.05);
    }
    @media #{$tablet} {
      font-size: 18px;
    }
    a {
      display: inline-block;
      color: #2b3033;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.5px;
      padding: 14px;
      transition: all 0.25s ease 0s;
    }
  }
  .svg {
    transition: all 0.25s ease 0s;
    display: inline;
    fill: none;
    stroke-width: 10px;
    stroke: $blue;
    stroke-linecap: round;
    margin-left: 15px;
    transition: all 0.25s ease 0s;
    position: relative;
    top: 3px;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  .visit {
    border: 1px solid $orange;
    background: $orange;
    display: inline-block;
    padding: 8px 25px;
    width: auto;
    border-radius: $border-radius;
    transition: all 0.25s ease 0s;
    color: white;
    font-weight: 600;
    transition: all 0.25s ease 0s;
    @media #{$tablet} {
      float: right;
    }
    svg {
      stroke: white;
    }
    &:hover {
      background: $blue;
      border: 1px solid $blue;
      color: white;
      a {
        color: white;
        &:after {
          display: none;
        }
      }
      svg {
        stroke: white;
      }
    }
  }
}

