// tags blog page
.tags {
  display: block;
  h4 {
    text-transform: uppercase;
    color: #2b3033;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
    @media #{$tablet} {

    }
  }
  a {
    @include line-hover;
    font-weight: 400;
  }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
