.values {
  //max-width: 1200px;
  margin: 0 auto 40px;
  @media #{$tablet} {
    margin: 0 auto 70px;
  }
  @include cf;
  h2 {
    margin-bottom: 40px;
  }
  li {
    padding: 0;
    float: left;
    margin-bottom: 0;
    @media #{$tablet} {
      width: 50%;
      padding: 0;
      margin-bottom: 0;
    }
  }
}