.view-toggle {
  padding-left: 15px;
  margin: 50px 0;
  .list-view, .text-view {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #23b0b0;
    border: 1px dashed #23b0b0;
    border-radius: 3px;
    padding: 5px 25px;
    @media #{$tablet} {
      font-size: 14px;
      transition: background 0.25s ease 0s, border 0.25s ease 0s, color 0.25s ease 0s;
    }
    &:hover {
      cursor: pointer;
      background: $blue;
      color: white;
      border-style: solid;
    }
    &.active {
      background: $orange;
      color: white;
      border: 1px solid $orange;
    }
  }
}