{% load wagtailcore_tags wagtailimages_tags %}

<div class="contact-us">
    <div class="content">
        <h1>{{ value.title }}</h1>
        <h3>{{ value.subtitle }}</h3>
        {% with person=value.person %}
            <div class="person">
                {% if person.image %}
                    {% image person.image fill-100x100 %}
                {% endif %}
                <span class="text">
                    <span class="name">{{ person.first_name }} {{ person.last_name }}</span>,
                    <span class="role">{{ person.role }}</span>
                </span>
                <br />
                <span class="links">
                    {% if person.telephone %}
                        <a class="telephone" href="tel:{{ person.telephone }}">
                            {% include "torchbox/includes/svg/phone.svg" %}
                            {{ person.telephone }}
                        </a>
                    {% endif %}
                    {% if person.email %}
                        <a class="phone" href="mailto:{{ person.email }}">
                            {% include "torchbox/includes/svg/envelope.svg" %}
                            {{ person.email }}
                        </a>
                    {% endif %}
                </span>
            </div>
        {% endwith %}
    </div>
    <a href="#more-like-this" class="more">
        Want to see <strong>more?</strong><br />
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 15">
            <path d="M 0 0 L 15 15 L 30 0" />
        </svg>
    </a>
</div>
