{% load wagtailimages_tags %}

<div class="intro container flex-row{% if value.image_position == 'left' %} reverse{% endif %}" data-slide="true">
    <div class="text">
        <p>{{ value.text }}</p>
    </div>
    <div class="image">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 722 32">
            <path d="M 0 32 L 0 12 Q 0 0 12 0 L 708 0 Q 720 0 720 12 L 720 32 Z"/>
            <circle cx="20" cy="17" r="4"/>
            <circle cx="34" cy="17" r="4"/>
            <circle cx="48" cy="17" r="4"/>
        </svg>
        {% image value.image fill-650x1380 %}
    </div>
</div>
