{% load wagtailcore_tags %}

<div class="verbose-stats flex-row">
    <div class="detail">
        <div class="content">
            <div class="amount">
                {{ value.amount }}<span class="unit">{{ value.unit }}</span>
            </div>
            <div class="subtitle">
                {{ value.subtitle }}
            </div>
        </div>
    </div>
    <div class="description">
        <div class="content">
            {{ value.description|richtext }}
        </div>
    </div>
</div>
