{% load wagtailcore_tags wagtailimages_tags torchbox_tags static %}

<!-- no class uses image -->
<!-- .orange uses orange background -->
<!-- .blue uses blue background -->
<!-- .white uses white background -->

<li {% if post.homepage_color %}class="{{ post.homepage_color }}"{% endif %}>
    <a href="{% pageurl post %}">
        <div class="content">
            <div class="image-container">
                {% image post.feed_image fill-764x448 as post_image %}
                <img src="{{ post_image.url }}" width="{{ post_image.width }}" height="{{ post_image.height }}" alt="{{ post_image.alt }}" class="" />
            </div>

            <div class="blog-text">
                <div id="author" class="author clearfix" >
                    {% if post.related_author.all %}
                        {% for author in post.related_author.all %}
                            <div class="author-image">
                                {% if author.author.image %}
                                 {% image author.author.image fill-300x300 as photo %}
                                 <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="avatar" />
                                 {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h3>{{ post.title }}</h3>

                    {% if post.related_author.all %}
                        {% for author in post.related_author.all %}
                                <div class="name">{{ author.author.title }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if post.date %}
                        <span class="date">{{ post.date|date:"j F Y" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</li>
