{% load wagtailcore_tags wagtailimages_tags torchbox_tags staticfiles %}

<!-- no class uses image -->
<!-- .orange uses orange background -->
<!-- .blue uses blue background -->
<!-- .white uses white background -->

<li {% if post.homepage_color %}class="{{ post.homepage_color }}"{% endif %}>
    <a href="{% pageurl post %}">
        <div class="content">
            {% image post.feed_image fill-1200x700 as background %}
            <div class="image-container" {% if not post.homepage_color %}style="background-image: url('{{ background.url }}');"{% endif %}></div>
            <div class="blog-text">
                <div id="author" class="author clearfix" >
                    {% if post.related_author.all %}
                        {% for author in post.related_author.all %}
                            <div class="author-image">
                                {% if author.author.image %}
                                 {% image author.author.image fill-300x300 as photo %}
                                 <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="avatar" />
                                 {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <label>blog</label>
                    <h3>{{ post.title }}</h3>

                    {% if post.related_author.all %}
                        {% for author in post.related_author.all %}
                                <div class="name">{{ author.author.title }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if post.date %}
                        <span class="date">{{ post.date|date:"j F Y" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</li>
