{% load wagtailcore_tags wagtailimages_tags torchbox_tags staticfiles %}

<li {% if post.colour %}class="{{ post.colour }}"{% endif %}>
    <a class="block-link" href="{% pageurl post %}">
        <div class="content">
            {% image post.feed_image fill-764x448 as background %}
            <div class="image-container" {% if not post.colour %}style="background-image: url('{{ background.url }}');"{% endif %}></div>
            <div class="blog-text">
                <div id="author" class="author clearfix" >
                    <label>Blog</label>
                    <h3>{{ post.title }}</h3>

                    {% for author in post.authors.all %}
                        <div class="name">{{ author.author.name }}{% if not forloop.last %},&nbsp;{% endif %}</div>
                    {% endfor %}

                    {% if post.date %}
                        <span class="date">{{ post.date|date:"j F Y" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</li>
