{% load wagtailcore_tags wagtailimages_tags %}

{% if jobs %}
    <section class="hiring">
        <div class="container">
            <!-- <h2>By the way we're hiring</h2> -->
            <div class="join">
                <h2>A day in the life of</h2>
                <ul>
                    <li>
                        <img src="/media/images/ben_1.focus-none.max-130x130.jpg" alt="">
                        <a href="">Ben Enright<span>Senior designer</span></a>
                    </li>
                    <li>
                        <img src="/media/images/14854891628_2ad9ca0eeb_k_2.focus-none.max-130x130.jpg" alt="">
                        <a href="">Justine Pocock<span>Drupal developer</span></a>
                    </li>
                    <li>
                        <img src="/media/images/1526922_10204047534261294_2758572.focus-none.max-165x165.jpg" alt="">
                        <a href="">Jonny Grum<span>Account Director</span></a>
                    </li>
                    <li>
                        <a href="" class="sml">We get perks too. <span>Reasons to join us</span></span></a>
                    </li>
                </ul>
            </div>
            <div class="jobs">
                <h2>We're looking for great people</h2>
                <ul>
                    {% for job in jobs %}
                        <li>
                            <a href="{{ job.url }}">{{ job.job_title }}</a>
                            <p>A skilled developer with backend focus</p>
                        </li>
                    {% endfor %}
                    <li><a href="" class="sml">Nothing that fits? <span>Get in touch anyway.</span></a></li>
                </ul>
            </div>
        </div>
    </section>
{% endif %}
