{% load torchbox_tags static wagtailcore_tags %}
{% get_site_root as site_root %}

{# Link to home page #}

<div class="tbx-no newsletter-wrapper-top sml">
    <form action="https://tinyletter.com/PlayTimeEmail" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/PlayTimeEmail', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <input type="text" name="email" id="tlemail" placeholder="Email address for ace newsletter! Deal? ">
        <button type="hidden" value="1" name="embed" type="submit" class="form-btn"> Go </button>
    </form>
</div>

<div class="play-nav-container">
    <div class="play-nav">
        <nav role="navigation">
        <a href="{% pageurl site_root %}{% if calling_page|in_play or play_404 %}play/{% endif %}" class="logo container">
            <p class="tbx-no">A division of Torchbox</p>
        </a>
        <a href="#menu" class="menu-button">&#x2261;</a>
          <ul class="bleed">
                {% for menuitem in menuitems %}
                      <li class="{% if menuitem = calling_page %}active{% endif %}">
                        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                    </li>
                {% endfor %}
                {% if calling_page|in_play or play_404 %}
                    <li class="sml">
                        <a href="#" class="btn sign-up"> Get our email </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/playsays" class="btn"> <i class="icon-twitter"></i> Follow </a>
                    </li>
                    <li class="tbx-no newsletter-wrapper big">
                        <form>
                            <input type="text" placeholder="Email address for ace newsletter! Deal? ">
                            <button type="submit" class="form-btn"> Go </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
 </div>
