{% load wagtailcore_tags wagtailimages_tags %}

<li>
    <a href="{% pageurl work %}">
        <div class="content">
            <div class="image-container">
                {% if work.homepage_image %}
                    {% image work.homepage_image fill-500x500 as screenshot %}
                    <img src="{{ screenshot.url }}" width="{{ screenshot.width }}" height="{{ screenshot.height }}" alt="{{ screenshot.alt }}" />
                {% endif %}
            </div>

            <div class="work-text">
                <h3>{{ work.descriptive_title }}</h3>
                <h4>{{ work.title }}</h4>
            </div>
        </div>
    </a>
</li>
