{% load wagtailimages_tags %}
<div class="client-block">
    {% if clients %}
        {% include "patterns/atoms/section-title/section-title.html" with title=title %}
    {% endif %}
    <div class="client-block__container">
        {% if clients %}
            <div class="client-block__section">
                <ul class="client-block__icon-list client-block__icon-list--spaced">
                    {% for client_logo in clients %}
                        <li class="client-item">
                            <div class="client-item__container">
                                {% if client_logo.image %}
                                    {% image client_logo.image width-400 class="client-item__image" loading="lazy" %}
                                {% else %} {# this is coming from a StreamField #}
                                    {% image client_logo width-400 class="client-item__image" loading="lazy" %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if quotes %}
            <div class="client-block__section">
                {% include "patterns/molecules/quote-slider/quote-slider.html" with items=quotes %}
            </div>
        {% endif %}
    </div>
</div>

