{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="title-block">
        <div class="title-block__container">
            <h1 class="title-block__heading title-block__heading--course">
                {{ page.strapline|richtext }}
            </h1>
            <div class="title-block__course-detail">
                {% if page.sessions %}
                    <p class="title-block__sessions">
                        {{ page.sessions }}
                        {% if page.cost and page.sessions %} <span aria-hidden="true"></span> {% endif %} {{ page.cost }}
                    </p>
                {% endif %}

                <div class="title-block__intro">{{ page.intro|richtext }}</div>
                <a class="title-block__link" href="{{ page.header_link }}">
                    {{ page.header_link_text }}
                </a>
            </div>
        </div>
    </div>

    {% include_block page.body %}
{% endblock %}
