{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with title=page.strapline desc=page.intro sub_title=page.sub_title %}

    {% if page.child_page_listing_heading %}
        <h3>{{ page.child_page_listing_heading }}</h3>
    {% endif %}

    {% for subpage in subpages %}
        {{ subpage.sessions }} {% if subpage.sessions and subpage.cost %} | {% endif %} {{ subpage.cost }}
        {{ subpage.title }}
        {{ subpage.intro|richtext }}
        <a href="{% pageurl subpage %}">View details</a>
    {% endfor %}

{% endblock %}
