{% load wagtailcore_tags wagtailimages_tags %}

{% if self.streamfield %}
    <section class="body-copy stream-field container">
        {% for child in self.streamfield %}
            {% if child.block_type == 'h2' %}
                <h2>{{ child }}</h2>
            {% elif child.block_type == 'h3' %}
                <h3>{{ child }}</h3>
            {% elif child.block_type == 'h4' %}
                <h4>{{ child }}</h4>
            {% elif child.block_type == 'intro' %}
                <div class="intro drop-cap">{{ child }}</div>
            {% elif child.block_type == 'pullquote' %}
                <blockquote class="pull-quote">
                    <p>{{ child.value.quote }}</p>
                    <cite> – {{ child.value.attribution }}</cite>
                </blockquote>
            {% elif child.block_type == 'testimonial' %}
                <blockquote class="pull-quote">
                    <p>{{ child.value.quote }}</p>
                    <cite> – {{ child.value.attribution }}</cite>
                </div>
            {% elif child.block_type == 'bustout' %}
                <div class="bustout clearfix">
                    {% image child.value.image width-1280 as blockimage %}
                    <img src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}" />

                    <div class="bustout-text">
                        {{ child.value.text|richtext }}
                    </div>
                </div>
            {% elif child.block_type == 'aligned_image' %}
                <div class="{% if child.value.alignment == "left" or child.value.alignment == "right" %}align-{{ child.value.alignment }}{% else %}{{ child.value.alignment }}-width{% endif %}">
                    <div class="img-holder">
                        {% if child.value.alignment == "left" or child.value.alignment == "right" %}
                            {% image child.value.image width-400 as blockimage %}
                        {% elif child.value.alignment == "half" %}
                            {% image child.value.image width-800 as blockimage %}
                        {% else %}
                            {% image child.value.image width-1280 as blockimage %}
                        {% endif %}

                        <div {% if child.value.attribution %}class="img-credit"{% endif %}>
                            <img src="{{ blockimage.url }}" width="{{ blockimage.width }}" height="{{ blockimage.height }}" alt="{{ blockimage.alt }}" />
                            {% if child.value.attribution %}<p class="credit">{{ child.value.attribution }}</p>{% endif %}
                        </div>

                        {% if child.value.caption %}
                            <p>{{ child.value.caption }}</p>
                        {% endif %}
                    </div>
                </div>
            {% elif child.block_type == 'raw_html' %}
                {{ child.value|safe }}
            {% elif child.block_type == 'embed' %}
                <div>{{ child}}</div>
            {% else %}
                {{ child }}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}

{% comment %}
    {# James G's original HTML for the blocks above. Some block still to be implemented #}

    <div class="align-right">
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
         <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
        <div class="img-holder">
            <div class="img-credit">
                <img src="/static/torchbox/images/oxford-sml.jpg">
                <p class="credit">Photo taken by Mr Wiki Pedia </p>
            </div>
            <p>The Radcliffe Camera, completed in 1748</p>
        </div>
    </div>

    <div class="align-left">
        <p>An ambitious task - but luckily, we love a challenge. We’re long-term partners with Oxford and quite frankly we were thrilled to have a second opportunity to build their site from the ground up.</p>
        <p>Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. To give us focus, we took a principle-driven approach and honed our objectives down to a key set of eight. These digital principles acted as a touchstone for design and build. Read more about this in Olly’s blog post on the subject.</p>
        <div class="img-holder">
            <div class="img-credit">
            <img src="/static/torchbox/images/oxford-sml.jpg">
            <p class="credit">Photo taken by Mr Wiki Pedia </p>
            </div>
            <p>The Radcliffe Camera, completed in 1748</p>
        </div>
    </div>

    <div class="screen-grab">
        <img src="/static/torchbox/images/ox-lap.png">
        <p> The University of Oxford homepage. Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. </p>
    </div>


    <div class="full-width">
        <img src="/static/torchbox/images/OX-uni.jpg">
        <p>The University of Oxford is a collegiate research university located in Oxford, England.</p>
    </div>

    <div class="stat-block clearfix">
        <div class="stat-holder">
            <h4>Our Success</h4>
            <div class="stat">
                <p>Up</p> <h2>64%</h2> <p>New visitors</p>
            </div>
            <div class="stat">
                <p>Up</p> <h2>84%</h2> <p>Unique page views</p>
            </div>
            <div class="stat">
                <p>Up</p> <h2>78%</h2> <p>Page views per visit</p>
            </div>
        </div>
    </div>

   <div class="full-width screengrab">
        <div class="laptop-container">
            <img src="/static/torchbox/images/ox-sml.png">
            <div class="laptop">
                <img src="/static/torchbox/images/laptop.png">
            </div>
        </div>
        <p> The University of Oxford homepage. Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders. </p>
    </div>

    <div class="img-grid clearfix">
        <div class="holder clearfix">
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid1.png"> <img src="/static/torchbox/images/grid1.png"> </a>
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid2.png"> <img src="/static/torchbox/images/grid2.png"> </a>
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid3.png"> <img src="/static/torchbox/images/grid3.png"> </a>
            <a href="#" class="gallery" data-featherlight="/static/torchbox/images/grid4.png"> <img src="/static/torchbox/images/grid4.png"> </a>
        </div>
    </div>

    <div class="sml-quote">
        <p> "Their website is used by everyone from top level staff to prospective students, and for a university like Oxford that means there are a lot of stakeholders."</p>
    </div>

    <div class="html">
        <iframe src="//player.vimeo.com/video/77990781" width="100%" height="520" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="pull-quote">
        <p>“The team at Torchbox are passionate, smart and fun. They went out of their way to make the whole experience an absolute pleasure from start to finish." </p>
        <cite> – University of Oxford, Keith Gill</cite>
    </div>
{% endcomment %}
