{% load wagtailcore_tags %}
<div class="card  {% if classes %}{{ classes }}{% endif %}">
    <a href="{% pageurl item.link %}" class="btn btn-primary">
        <div class="card__body">
            <div class="card__top">
                <p class="card__title">{{ item.title }}</p>
                <svg class="card__icon" width="20" height="30">
                    <use xlink:href="#chevron" />
                </svg>
            </div>
            <p class="card__text">{{ item.description}}</p>
        </div>
    </a>
</div>
