.author {
    &__container {
        @include container();
        display: flex;
        align-items: flex-start;

        .report-page & {
            margin: 0;
            align-items: center;
        }
    }

    &__image {
        width: 55px;
        height: 55px;
        margin-right: $gutter;
        border-radius: 100%;

        @include media-query(large) {
            width: 80px;
            height: 80px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__name {
        @include font-size(s);
        color: var(--color--primary);
        margin-bottom: 2px;
        border-bottom: none;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;

        &:hover,
        &:focus {
            text-decoration-thickness: 4px;
        }
    }

    &__meta {
        @include font-size(xxxs);
        line-height: 1.4;
        margin: 0 0 0;
        display: flex;
        flex-direction: column;

        @include media-query(medium) {
            display: block;
        }
    }

    &__role {
        @include font-size(xxxs);
        margin: 0 0 2px;
        line-height: 1.4;
        color: var(--color--accent-dark);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;

        .report-page & {
            color: var(--color--stone);
        }
    }

    &__date,
    &__readtime {
        @include font-size(xxxs);
        text-transform: none;
        letter-spacing: 0;
        color: var(--color--grey);
        border-left: 1px solid rgba(var(--color--black), 0.1);

        @include media-query(medium) {
            margin-left: 5px;
            padding-left: 5px;
        }
    }

    &__readtime {
        .page__author & {
            display: none;
        }
    }

    &__tags {
        margin: 10px 0 0;
    }

    &__avatar {
        flex-shrink: 0;
    }

    .page & {
        padding-bottom: ($gutter * 2);

        @include media-query(large) {
            margin: 0 0 0 $variable-gutter--medium;
        }
    }

    .report-page & {
        margin: 0;
    }
}
