.badge {
    @include font-size(xxs);
    @include z-index(badge);
    font-weight: 700;
    line-height: 25px;
    color: var(--color--white);
    position: relative;
    user-select: none;

    &::before {
        @include z-index(under);
        width: 18px;
        height: 22px;
        content: '';
        background: var(--color--coral);
        position: absolute;
        transform: translate(-50%, -25%) rotate(30deg);
        left: 50%;
        top: 0;
        transition: background $transition;
    }

    &--desktop {
        right: -20px;
        top: -20px;
    }

    .mobile-nav & {
        &::before {
            top: 1px;
        }
    }

    .template__homepage & {
        position: relative;

        @include media-query(menu-break) {
            left: -10px;
        }
    }

    &__description {
        @include hidden();
    }
}
