.badge {
    @include font-size(xxs);
    @include z-index(badge);
    font-weight: 700;
    line-height: 25px;
    color: var(--color--get-in-touch-numbers);
    transition: color $transition;
    position: relative;

    &::before {
        @include z-index(under);
        width: 18px;
        height: 22px;
        content: '';
        background-color: var(--color--accent);
        position: absolute;
        transform: translate(-50%, -25%) rotate(30deg);
        left: 50%;
        top: 0;
        transition: background-color $transition;

        @include media-query(menu-break) {
            background-color: var(--color--header-icon-color);
        }
    }

    &:focus,
    &:hover {
        color: var(--color--dark-indigo);

        @include media-query(menu-break) {
            color: var(--color--white);
        }

        &::before {
            background-color: var(--color--white);

            @include media-query(menu-break) {
                background-color: var(--color--dark-indigo);

                .theme--coral & {
                    background-color: var(--color--coral);
                }
            }
        }
    }

    @include hcm() {
        border: 1px solid var(--color--dark-indigo);
        padding: 2px;
    }

    &--desktop {
        right: -20px;
        top: -20px;
    }

    .mobile-nav & {
        &::before {
            top: 3px;
        }
    }

    .template__homepage & {
        position: relative;

        @include media-query(menu-break) {
            left: -10px;
        }

        &:focus,
        &:hover {
            &::before {
                background: var(--color--dark-indigo);
            }
        }
    }
}
