.blog-listing {
    position: relative;
    background-color: $color--white;
    padding: ($gutter * 5) 0 $gutter;

    &__content {
        @include container();
    }

    &__intro-opinion {
        position: relative;
        padding-top: 20px;

        &::before {
            position: absolute;
            content: '';
            width: 60px;
            height: 8px;
            left: 0;
            top: 0;
            background: $color--accent;
        }

        @include media-query(large) {
            width: 60%;
        }
    }

    &__intro-title {
        color: $color--accent;
    }

    &__intro-text {
        line-height: 30px;
        margin: 0 0 ($gutter * 2);
        color: $color--primary;

        @include media-query(large) {
            line-height: 42px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 50px;

        @include media-query(large) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 8.33vw;
        }

        @include target-ie() {
            display: flex;
            flex-direction: column;
        }
    }
}
