.blog-listing {
    $root: &;
    position: relative;
    background-color: var(--color--white);
    padding: $gutter 0;

    &--top-space {
        padding-top: ($gutter * 5);
    }

    &--centre {
        #{$root}__content {
            @include media-query(medium) {
                padding: 0 16.66vw;
            }
        }

        #{$root}__list {
            margin-top: 70px;
        }
    }

    &__content {
        @include container();
    }

    &__intro-opinion {
        position: relative;
        padding-top: 20px;

        &::before {
            position: absolute;
            content: '';
            width: 60px;
            height: 8px;
            left: 0;
            top: 0;
            background: var(--color--accent);
        }

        @include media-query(large) {
            width: 60%;
        }
    }

    &__intro-title {
        color: var(--color--accent);
    }

    &__intro-text {
        line-height: 30px;
        margin: 0 0 ($gutter * 2);
        color: var(--color--primary);

        @include media-query(large) {
            line-height: 42px;
        }
    }

    &__list {
        &--horizontal {
            display: grid;
            grid-template-columns: 1fr;
            padding-bottom: 50px;

            @include media-query(large) {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 8.33vw;
            }

            @include target-ie() {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__feature {
        padding-top: ($gutter * 5);
        grid-column: span 2;
    }
}
