.bustout {
    $root: &;
    margin: ($gutter * 3) 0 ($gutter * 4);

    &__inner {
        position: relative;
        display: flex;
        background: var(--color--dark-indigo);
        flex-direction: column;

        @include media-query(large) {
            flex-direction: row;
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }

        &--right-aligned {
            flex-direction: column-reverse;

            @include media-query(large) {
                flex-direction: row-reverse;
            }
        }

        &--full {
            flex-direction: column;

            #{$root}__image {
                width: 100%;
            }

            #{$root}__caption {
                width: 100%;
            }
        }
    }

    &__image {
        min-height: 300px;
        width: 100%;
        object-fit: cover;

        @include media-query(large) {
            float: left;
            width: 50%;
        }
    }

    &__caption {
        width: 100%;
        background: var(--color--indigo);

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: var(--color--white);
            margin-top: 0;
        }

        p {
            color: var(--color--white-translucent);
        }

        @include media-query(large) {
            float: left;
            width: 50%;
        }
    }

    &__caption-inner {
        padding: $variable-gutter--small;
    }
}
