.card {
    $root: &;
    background-color: var(--color--light-grey);
    width: 100%;

    &:focus,
    &:hover {
        background-color: var(--color--lagoon);

        #{$root}__icon {
            fill: var(--color--dark-indigo);
        }

        #{$root}__title {
            color: var(--color--dark-indigo);
        }
    }

    &__title {
        @include font-size(l);
        font-weight: 800;
        margin: 0;
        color: var(--color--dark-indigo);
        margin-right: 10px;
    }

    &__text {
        @include font-size(s);
        line-height: 22px;
        color: var(--color--grey);
    }

    &__body {
        margin: 30px;
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__icon {
        flex-shrink: 0;
        fill: var(--color--lagoon);
        width: 20px;
        height: 30px;
    }

    .card-listing--single & {
        &__title {
            color: var(--color--indigo);
        }

        &__text {
            line-height: 1.4;
        }
    }
}
