.case-study-block {
    $root: &;
    position: relative;
    background: $color--white;
    padding-top: ($gutter * 5);

    &__list {
        padding-top: ($gutter * 2);
    }

    &__case-study {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        border-bottom: none;
        line-height: 0;

        &:hover {
            #{$root}__meta-title {
                color: $color--light-blue;
            }
        }

        @include media-query(large) {
            flex-direction: row;
            background-size: cover;
        }

        &:nth-child(even) {
            @include media-query(large) {
                flex-direction: row-reverse;

                #{$root}__meta-container {
                    padding: ($gutter * 2) ($gutter * 1.5) 0 0;
                }

                #{$root}__image-inner {
                    /* stylelint-disable-next-line max-nesting-depth */
                    &::before {
                        left: auto;
                        right: 0;
                        border-width: 0 0 60vw 25vw;
                        /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
                        border-color: transparent transparent $color--white;
                        bottom: auto;
                        top: 0;
                    }
                }

                #{$root}__cluster-icon {
                    display: none;
                }
            }
        }

        &:nth-child(3) {
            @include media-query(large) {
                #{$root}__cluster-icon {
                    transform: rotate(180deg);
                    left: 190px;
                }
            }
        }
    }

    &__meta {
        @include container();
        margin: ($gutter * 1.5);
        background-color: $color--white-translucent;

        @include media-query(medium) {
            min-height: 400px;
            margin: 0;
            padding: 40px 0 40px;
            width: 50%;
        }

        #{$root}__container {
            @include media-query(medium) {
                padding: 40px ($gutter * 1.5) 0 8.33vw;
            }

            @include media-query(large) {
                padding: 4.33vw ($gutter * 1.5) 0 8.33vw;
            }
        }
    }

    &__meta-client {
        display: block;
        color: $color--accent-small-text;
        font-size: 12px;
        line-height: 34px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.15em;
    }

    &__meta-title {
        font-size: 32px;
        line-height: 44px;
        margin: 0 0 10px;
        color: $color--primary;
        font-weight: 800;

        @include media-query(medium) {
            font-size: 38px;
        }
    }

    &__meta-desc {
        color: $color--grey;
        line-height: 1.5;
    }

    &__image {
        width: 100%;
        min-height: 400px;

        @include media-query(medium) {
            position: relative;
            width: 50%;
        }
    }

    &__image-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        min-height: 400px;
        background-size: cover;
        background-color: $color--primary;

        &::before {
            display: none;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 60vw 25vw 0 0;
            border-color: $color--white transparent transparent transparent;
            z-index: 2;

            @include media-query(medium) {
                display: block;
            }

            @include media-query(large) {
                border-width: 50vw 25vw 0 0;
            }
        }
    }

    &__cluster-icon {
        display: none;

        @include media-query(large) {
            display: block;
            position: absolute;
            width: 80px;
            height: 133px;
            z-index: 100;
            transform: rotate(0deg);
            top: -70px;
            left: 220px;

            * {
                fill: var(--icon-color, $color--accent);
            }
        }
    }
}
