.client-item {
    $root: &;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        padding: 15px;

        @include media-query(medium) {
            padding: 30px;
        }

        @include media-query(large) {
            padding: 15px;
        }
    }

    &__image {
        width: 100%;
        align-self: center;
        // for smooth scaling without shifting the image
        transform: scale3d(1, 1, 1);
        transition: transform $transition-quick;

        #{$root}__link:hover & {
            transform: scale3d(1.05, 1.05, 1.05);
        }
    }

    &__link {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        border-bottom: 2px solid transparent; // prevent layout shift

        @include media-query(large) {
            grid-template-rows: 2fr 1fr;
        }
    }

    .streamfield & {
        width: 100%;
        padding-left: 0;

        &::before {
            content: none; // don't show li arrow
        }

        #{$root}__link {
            &:hover {
                // don't show link underline inherited from streamfield links
                border-bottom: 2px solid transparent;
            }

            // show CTA link only on desktop
            @include media-query(large) {
                &:focus,
                &:hover {
                    #{$root}__cta {
                        color: var(--color--link);

                        /* stylelint-disable-next-line max-nesting-depth */
                        &::after {
                            background-color: var(--color--accent);
                        }
                    }
                }
            }
        }

        #{$root}__container {
            height: 100%;
            padding: 0 15px;

            @include media-query(medium) {
                padding: 0 30px;
            }
        }

        #{$root}__cta {
            display: none;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            margin-top: 10px;
            color: transparent;
            font-size: rem(16px);
            font-weight: $weight--medium;
            transition: color $transition-quick;

            @include media-query(large) {
                display: flex;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -5px;
                top: 5px;
                background-color: transparent;
                clip-path: $arrow-path;
                transition: color $transition;

                @include media-query(large) {
                    width: 20px;
                    height: 18px;
                }

                @include media-query(menu-break-larger) {
                    right: -15px;
                }
            }
        }
    }
}
