.client-item {
    $root: &;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        padding: 15px;

        @include media-query(medium) {
            padding: 30px;
        }

        @include media-query(large) {
            padding: 15px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        transition: box-shadow $transition-quick;

        #{$root}__link:hover & {
            box-shadow: 2px 2px 10px var(--color--grey);
        }
    }

    &__link {
        display: block;
        border-bottom: 2px solid transparent; // prevent layout shift
    }

    .streamfield & {
        width: 100%;
        padding-left: 0;

        &::before {
            content: none; // don't show li arrow
        }

        #{$root}__container {
            padding: 15px 0;

            @include media-query(medium) {
                padding: 30px 0;
            }
        }

        #{$root}__image {
            height: 80px;
            object-fit: contain;
            max-width: 140px;

            @include media-query(medium) {
                height: 110px;
                max-width: 200px;
            }
        }
    }
}
