.client-block {
    $root: &;
    position: relative;
    background-color: var(--color--white);
    padding-bottom: ($gutter * 5);

    &__container {
        @include container();
        padding: 90px 0 0;
    }

    &__block {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 50px;
    }

    &__icon-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include media-query(medium) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-query(large) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include media-query(menu-break-larger) {
            grid-template-columns: repeat(6, 1fr);
        }

        @include media-query(x-large) {
            column-gap: 130px;
        }

        &--spaced {
            margin-bottom: 100px;

            @include media-query(medium) {
                margin-bottom: 200px;
            }
        }
    }

    .streamfield & {
        #{$root}__container {
            margin: 0;
            padding-top: 0;
        }
    }
}
