.client-item {
    $root: &;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 0;

    @include high-contrast-dark-mode() {
        position: relative;
    }

    &__container {
        height: 100%;
        padding: 0 15px;

        @include media-query(medium) {
            padding: 0 30px;
        }

        @include media-query(large) {
            padding: 15px;
        }
    }

    &__image-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        @include high-contrast-dark-mode() {
            position: relative;

            &::before {
                content: '';
                display: block;
                background-color: var(--color--white);
                position: absolute;
                inset: 0;
                z-index: 0;
                filter: invert(1);
            }
        }
    }

    &__image {
        width: 100%;
        align-self: center;
        // for smooth scaling without shifting the image
        transform: scale3d(1, 1, 1);
        transition: transform $transition-quick;

        #{$root}__link:hover & {
            transform: scale3d(1.05, 1.05, 1.05);
        }
    }

    &__link {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        border-bottom: 2px solid transparent; // prevent layout shift

        @include media-query(large) {
            grid-template-rows: 1fr 0.25fr;

            // show CTA link on hover (only on desktop)
            &:focus,
            &:hover {
                #{$root}__cta {
                    color: var(--color--link);

                    /* stylelint-disable-next-line max-nesting-depth */
                    &::after {
                        background-color: var(--color--accent);
                    }
                }
            }
        }

        @include hcm() {
            border: 0;

            &:focus,
            &:hover {
                // Increase underline thickness on hover
                #{$root}__cta {
                    text-decoration-thickness: 5px;
                }

                // Don't increase image size on hover
                #{$root}__image {
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }

    &__cta {
        position: relative;
        display: inline-block;
        color: transparent;
        font-size: rem(16px);
        font-weight: $weight--medium;
        transition: color $transition-quick;
        line-height: 1.2;
        padding-right: 20px;
        margin-top: 5px;
        margin-left: 20px;
        text-align: center;
        min-height: 0;

        &::after {
            content: '';
            display: inline-block;
            position: relative;
            top: 3px;
            background-color: transparent;
            clip-path: $arrow-path;
            transition: color $transition;
            margin-right: -20px;
            margin-left: 5px;

            @include media-query(large) {
                width: 15px;
                height: 14px;
            }
        }

        @include hcm() {
            text-decoration: underline;

            &::after {
                display: none;
            }
        }
    }

    // nesting necessary to override default streamfield styling
    .streamfield & {
        padding: 0 0 25px;

        &::before {
            content: none; // don't show li arrow
        }

        #{$root}__link {
            &:hover {
                // don't show link underline inherited from streamfield links
                border-bottom: 2px solid transparent;
            }

            // Move the underline to the text - not the logo
            @include hcm() {
                border-bottom: 0;

                &:focus,
                &:hover {
                    border-bottom: 0;
                }
            }
        }
    }
}
