.contact-slim {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    position: relative;

    @include media-query(medium) {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    &::after {
        @include media-query(large) {
            content: '';
            width: 95%;
            position: absolute;
            background-color: var(--color--black);
            opacity: 0.1;
            height: 1px;
        }
    }

    &__image {
        margin-bottom: $gutter;
        z-index: 1;

        @include media-query(medium) {
            margin-bottom: 0;
        }
    }

    &__heading {
        margin: 0;
    }

    &__content {
        text-align: center;
        background-color: var(--color--white);
        z-index: 1;

        @include media-query(medium) {
            text-align: left;
            padding-left: 20px;
        }
    }

    &__meta {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__email {
        @include font-size(s);
        color: var(--color--dark-indigo);
        line-height: 24px;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 10px;

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 10px 0;
        }

        &:hover,
        &:focus {
            color: var(--color--coral-dark);
        }
    }

    &__number {
        @include font-size(s);
        height: 24px;
        line-height: 24px;
        text-decoration: none;
        font-weight: bold;
        color: var(--color--coral-dark);
        border-bottom: none;

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 0 0;
        }

        &:hover {
            color: var(--dark-indigo);
        }
    }
}
