// Theme overrides:
$get-in-touch-number-color: var(--get-in-touch-number-color);

.contact-detail {
    background-color: $color--primary;
    padding: ($gutter * 4) 0;
    color: $color--white;

    &__container {
        @include container();
    }

    &__reasons {
        h1 {
            color: $color--white;
            font-weight: $weight--heavy;
            font-size: 34px;
            line-height: 44px;

            @include media-query(large) {
                font-size: 45px;
                line-height: 50px;
            }
        }
    }

    &__reasons-list {
        display: flex;
        justify-content: space-between;
        margin: 35px 0 0;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__reasons-item {
        display: block;
        margin: $gutter ($gutter / 2);
        position: relative;

        @include media-query(medium) {
            margin: 0;
            flex-basis: 33.33%;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    &__reasons-item-wrapper {
        display: block;
        padding: ($gutter * 3) ($gutter * 1.5);

        @include media-query(medium) {
            padding: 0;
            margin: $gutter ($gutter * 2) 0;
        }
    }

    &__reasons-item-num {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 22px;
        color: $get-in-touch-number-color;

        span {
            z-index: 1;
            position: relative;
            top: 3px;
            left: 1px;
            font-weight: bold;
        }

        &::before {
            width: 25px;
            height: 40px;
            content: '';
            background: $color--accent;
            position: absolute;
            z-index: 0;
            transform: rotate(30deg);
            left: -6px;
            top: -4px;
        }
    }

    &__reasons-item-content {
        position: absolute;
        top: 0;
        left: 50px;

        @include media-query(medium) {
            position: static;
        }
    }

    &__reasons-item-title {
        color: $color--white;
        margin: 0 0 ($gutter / 4);
        font-size: 26px;
        font-weight: bold;
    }

    &__reasons-item-text {
        margin: 0;
        color: $color--white-translucent;
        line-height: 1.4;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: ($gutter * 2);

        @include media-query(medium) {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    &__details-meta {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @include media-query(medium) {
            flex-direction: row;
            justify-content: flex-start;
            padding-left: $gutter;
        }

        div {
            margin: 5px 0;
        }
    }

    &__details-email {
        color: $color--white;
        line-height: 24px;
        text-decoration: none;
        font-weight: bold;

        &:hover,
        &:focus {
            color: $color--white;
        }
    }

    &__details-number {
        font-size: 24px;
        text-decoration: none;
        color: $color--accent;
        margin: 10px 15px 0 0;
        border-bottom: none;

        @include media-query(medium) {
            margin: 0 0 0 15px;
        }

        &:hover {
            color: $color--white;
        }
    }

    &__details-image {
        margin-top: 20px;

        @include media-query(medium) {
            margin-top: 0;
        }
    }
}
