// Theme overrides:
$contact-phone-number-color: var(--contact-phone-number-color);
$contact-phone-number-hover-color: var(--contact-phone-number-hover-color);

.contact-block {
    background-color: $color--white;
    padding-top: $gutter;
    padding-bottom: $gutter;

    &__Content {
        @include container();
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-query(medium) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__image {
        margin-bottom: $gutter;

        @include media-query(medium) {
            margin-bottom: 0;
        }
    }

    &__details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include media-query(medium) {
            justify-content: auto;
        }

        @include media-query(large) {
            padding-left: 20px;
        }
    }

    &__title {
        width: 100%;
        color: $color--primary;
        font-size: 26px;
        line-height: 30px;
        margin: 0 0 ($gutter / 4);
        font-weight: $weight--heavy;
        text-align: center;

        @include media-query(medium) {
            text-align: left;
        }
    }

    &__email {
        color: $color--light-blue;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        margin: ($gutter / 2) ($gutter * 0.75) 0 0;
        font-weight: bold;

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 0 0;
        }

        &:hover,
        &:focus {
            color: $color--blue;
        }
    }

    &__number {
        height: 24px;
        line-height: 24px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: $contact-phone-number-color;
        margin: 10px 15px 0 0;
        border-bottom: none;

        @include media-query(medium) {
            margin: 0px ($gutter * 0.75) 0 0;
        }

        &:hover {
            color: $contact-phone-number-hover-color;
        }
    }
}
