.contact-slim {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    @include media-query(medium) {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    &__image {
        margin-bottom: $gutter;
        height: 70px;
        width: 70px;
        min-width: initial;

        @include media-query(medium) {
            height: 100px;
            width: 100px;
            margin-bottom: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        @include media-query(medium) {
            text-align: left;
            padding-left: 20px;
        }
    }

    &__email,
    &__number {
        @include font-size(s);
        text-decoration: underline;
        font-weight: bold;
        transition: color $transition-quick;
        border-bottom: 0;
        text-underline-offset: 4px;

        &:hover,
        &:focus {
            text-decoration-thickness: 4px;
        }
    }

    &__email {
        color: var(--color--dark-indigo);
        margin-bottom: 10px;
        line-height: 1;

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 10px 0;
        }

        &:hover,
        &:focus {
            color: var(--color--coral-dark);
        }
    }

    &__number {
        height: 24px;
        line-height: 24px;
        color: var(--color--coral-dark);

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 0 0;
        }

        &:focus,
        &:hover {
            color: var(--color--coral-dark);
        }
    }
}
