.contact-slim {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    position: relative;

    @include media-query(large) {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    &::after {
        @include media-query(large) {
            content: '';
            width: 95%;
            position: absolute;
            background-color: var(--color--black);
            opacity: 0.1;
            height: 1px;
        }
    }

    &__image {
        margin-bottom: $gutter;
        z-index: 1;

        @include media-query(large) {
            margin-bottom: 0;
        }
    }

    &__heading {
        margin: 0;
    }

    &__content {
        padding-left: 20px;
        background-color: var(--color--white);
        z-index: 1;
    }

    &__meta {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include media-query(large) {
            justify-content: flex-start;
        }

        div {
            margin: 5px 0;
        }
    }

    &__email {
        @include font-size(s);
        color: var(--color--dark-indigo);
        line-height: 24px;
        text-decoration: none;
        margin: ($gutter / 2) ($gutter * 0.75) 0 0;
        font-weight: bold;

        @include media-query(large) {
            margin: 0 ($gutter * 0.75) 0 0;
        }

        &:hover,
        &:focus {
            color: var(--color--coral);
        }
    }

    &__number {
        @include font-size(s);
        height: 24px;
        line-height: 24px;
        text-decoration: none;
        font-weight: bold;
        color: var(--color--coral);
        margin: 10px 15px 0 0;
        border-bottom: none;

        @include media-query(large) {
            margin: 0 ($gutter * 0.75) 0 0;
        }

        &:hover {
            color: var(--dark-indigo);
        }
    }
}
