.contact-slim {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    @include media-query(medium) {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    &__image {
        margin-bottom: $gutter;
        height: 70px;
        width: 70px;
        min-width: initial;

        @include media-query(medium) {
            height: 100px;
            width: 100px;
            margin-bottom: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        @include media-query(medium) {
            text-align: left;
            padding-left: 20px;
        }
    }

    &__email {
        @include font-size(s);
        border-bottom: 2px solid var(--color--dark-indigo);
        color: var(--color--dark-indigo);
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 1;
        transition: border $transition-quick, color $transition-quick;

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 10px 0;
        }

        &:hover,
        &:focus {
            color: var(--color--coral-dark);
            border-bottom: 2px solid var(--color--coral-dark);
        }
    }

    &__number {
        @include font-size(s);
        height: 24px;
        line-height: 24px;
        text-decoration: none;
        font-weight: bold;
        color: var(--color--coral-dark);
        border-bottom: none;

        @include media-query(medium) {
            margin: 0 ($gutter * 0.75) 0 0;
        }

        &:hover {
            color: var(--dark-indigo);
        }
    }
}
