.course-grid-title {
    @include font-size(ml);
    margin-bottom: 0;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1280px;
    margin: 50px 0 120px;
}
