.culture {
    $root: &;

    &__container {
        padding-top: 75vh;
        margin: 0 10%;

        @include media-query(medium) {
            margin: 0 20%;
            padding-top: 85vh;
        }

        &--p2{
            padding: 2% 0;
        }
    }

    &__rich-text {
        p {
            color: var(--color--dark-indigo);
            font-size: 24px;

            b {
                font-weight: $weight--heavy;
            }

            strong {
                font-weight: $weight--heavy;
            }

            a {
                color: var(--color--dark-indigo);
                border-bottom-color: var(--color--lagoon);
            }

            a:hover {
                color: var(--color--lagoon);
            }
        }
    }
}
