.embed-cta {
    @include media-query('medium-large') {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: ($grid * 2);
    }

    @include media-query('large') {
        grid-template-columns: 1fr 1.5fr;
    }

    &__full {
        grid-column: 1 / span 2;
    }

    &__left {
        margin-bottom: ($grid * 2);

        @include media-query('medium-large') {
            margin-bottom: 0;
        }
    }

    &__heading {
        margin-top: 0;
        font-weight: $weight--semibold;
    }

    &__intro {
        color: var(--color--grey-dark);
    }

    &__button {
        color: var(--color--white);

        .streamfield & {
            color: var(--color--white);
        }

        &:hover {
            border-bottom: 2px solid transparent;

            .streamfield & {
                border-bottom: 2px solid transparent;
                color: var(--color--white);
            }
        }
    }

    &__embed {
        width: 100%;
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56%;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .streamfield & {
        margin-bottom: ($gutter * 3);

        @include media-query(large) {
            margin-bottom: ($gutter * 6);
        }
    }
}
