.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__tag {
        @include font-size(xxs);
        box-sizing: content-box;
        padding: 2px 8px;
        margin-right: 10px;

        &--active {
            border: 2px solid var(--color--coral);
            color: var(--color--coral);
        }
    }
}
