.footer {
    $root: &;
    background-color: var(--color--light-grey);
    padding: ($grid * 2) 3.5vw;

    @include media-query(menu-break) {
        padding: ($grid * 3) 3.5vw;
    }

    &__inner {
        margin: 0 auto;
        max-width: $site-width;
    }

    &__primary-content {
        @include media-query(large) {
            display: grid;
            grid-template-columns: 1fr 130px 1fr;
        }
    }

    &__secondary-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: ($grid / 2);

        @include media-query(menu-break) {
            margin-top: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__heading {
        @include font-size(ml);
        font-weight: $weight--bold;
        margin-top: 0;
    }

    &__divider {
        display: none;
        position: relative;

        @include media-query(large) {
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 18px;
            width: 2px;
            height: 262px;
            background-color: var(--color--dark-indigo);
            transform: rotate(30deg);
            left: 60px;
        }
    }

    &__contact-desc {
        @include font-size(s);

        @include media-query(large) {
            max-width: 474px;
        }
    }

    &__appendix {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-query(large) {
            margin-top: -$grid * 0.5;
            margin-left: $grid * 3.5;
        }

        @include media-query(menu-break) {
            flex-direction: row;
            margin: 0;
        }
    }

    &__copy {
        @include font-size(xxs);
        color: var(--color--grey);
        margin: ($grid * 2) 0 ($grid / 2) 0;

        @include media-query(menu-break) {
            margin: 6px $grid 0 0;
        }
    }

    &__links {
        @include media-query(large) {
            margin-bottom: $grid * 1.5;
        }

        @include media-query(menu-break) {
            margin-bottom: 0;
        }
    }

    &__link {
        @include font-size(xxs);
        display: inline-block;
        margin-left: $grid;
        color: var(--color--indigo);
        border-bottom: 0;

        &:hover,
        &:focus {
            color: var(--color--coral);
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social-icon {
        fill: var(--color--dark-indigo);
        transition: fill $transition-quick;
    }

    &__social-item {
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__social-link {
        border-bottom: 0;

        &:focus,
        &:hover {
            #{$root}__social-icon {
                fill: var(--color--coral);
            }
        }
    }
}
