@use 'sass:math';

.footer {
    $root: &;

    &__container {
        background-color: var(--color--light-grey);
        padding: ($grid * 2) $variable-gutter--small;

        @include media-query(menu-break) {
            padding: ($grid * 3) 3.5vw;
        }
    }

    &__logos {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: ($grid * 2) $variable-gutter--large;
        background-color: var(--color--white);
        border-top: 1px solid var(--color--grey-border);
    }

    &__logos-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: ($grid * 2);
        margin: 0 auto;
        max-width: $site-width;

        @include media-query(medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: ($grid * 2);
        }

        @include media-query(large) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
        }

        @include media-query(x-large) {
            column-gap: 130px;
        }
    }

    &__logos-item {
        display: flex;
        justify-content: center;

        @include media-query(medium) {
            width: 200px;
        }
    }

    &__logos-image {
        transition: transform $transition;

        #{$root}__logos-link:hover & {
            transform: scale(1.1);
        }

        @include high-contrast-dark-mode() {
            filter: invert(1);
        }
    }

    &__logos-link {
        justify-content: center;
        border-bottom: 2px solid transparent; // prevent layout shift
    }

    &__inner {
        margin: 0 auto;
        max-width: $site-width;
    }

    &__primary-content {
        @include media-query(large) {
            display: grid;
            grid-template-columns: 1fr 130px 1fr;
            margin-bottom: ($grid * 3);
        }
    }

    &__secondary-content {
        display: flex;
        flex-direction: column-reverse;
        margin-top: math.div($grid, 2);

        @include media-query(menu-break) {
            margin-top: 0;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: baseline;
        }
    }

    &__heading {
        @include font-size(ml);
        font-weight: $weight--heavy;
        margin-top: 0;
    }

    &__divider {
        display: none;
        position: relative;

        @include media-query(large) {
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 18px;
            width: 2px;
            height: 262px;
            background-color: var(--color--dark-indigo);
            transform: rotate(30deg);
            left: 60px;
        }
    }

    &__contact-desc {
        @include font-size(s);

        @include media-query(large) {
            max-width: 474px;
        }
    }

    &__appendix {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 10px;

        @include media-query(large) {
            margin-top: -$grid * 0.5;
        }

        @include media-query(menu-break) {
            flex-direction: row;
            margin: 0;
        }
    }

    &__copy {
        @include font-size(xxs);
        color: var(--color--grey);
        margin: ($grid * 2) 0 0 0;
        display: flex;
        align-items: center;

        @include media-query(menu-break) {
            margin: 0 $grid 0 0;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        column-gap: $grid;
        row-gap: math.div($grid, 2);
        margin-top: math.div($grid, 5);
        align-items: center;

        @include media-query(menu-break) {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__link {
        @include font-size(xxs);
        display: inline-block;
        color: var(--color--indigo);
        border-bottom: 0;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: var(--color--coral-dark);
            text-decoration-thickness: 5px;
        }
    }

    &__external-link-icon {
        width: 10px;
        height: 10px;
        fill: var(--color--indigo);
        transition: fill $transition-quick;
        position: relative;
        top: 3px;
        opacity: 0.8;
    }

    #{$root}__link:hover #{$root}__external-link-icon {
        fill: var(--color--coral-dark);
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-query(menu-break) {
            justify-content: end;
        }
    }

    &__social-icon {
        fill: var(--color--dark-indigo);
        transition: fill $transition-quick;

        @include high-contrast-dark-mode() {
            fill: var(--color--white);
        }
    }

    &__social-item {
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__social-link {
        border-bottom: 0;

        &:focus,
        &:hover {
            #{$root}__social-icon {
                fill: var(--color--coral);
            }
        }
    }
}
