.footer {
    $root: &;
    position: relative;
    background-color: var(--color--light-grey);
    padding: ($gutter * 5) 0 ($gutter * 1.5);

    &__top {
        @include container();
        margin-bottom: ($gutter * 2);
    }

    &__top-link {
        font-size: map-get($small-font-sizes, m);
        display: inline-block;
        margin-right: $gutter;
        font-weight: $weight--heavy;
        color: var(--color--dark-indigo);
        transition: all $transition-quick;
        border-bottom: 2px solid var(--color--light-grey);

        &:last-child {
            margin-right: 0;
        }

        &:focus,
        &:hover {
            color: var(--color--dark-indigo);
            border-bottom: 2px solid var(--color--underline);
        }

        @include media-query(medium) {
            font-size: map-get($medium-font-sizes, m);
        }
    }

    &__content {
        @include container();
    }

    &__address {
        position: relative;
        padding: 0 ($gutter * 5) $gutter 0;

        p {
            @include font-size(xxs);
            line-height: 22px;
            color: var(--color--grey);
            max-width: 300px;
        }
    }

    &__address-title {
        @include font-size(s);
        font-weight: bold;
        color: var(--color--dark-indigo);
        margin: 0 0 ($gutter * 0.5);
        line-height: 1;

        &::after {
            position: absolute;
            top: -6px;
            margin-left: 10px;
            content: '';
            width: 20px;
            height: 30px;
            background: url('../images/cssBackgrounds/diamond.svg');
            transform: rotate(30deg);
        }
    }

    &__address-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 ($gutter * 3);
    }

    &__copyright {
        font-size: 0.7em;
        color: var(--color--grey);
        margin-right: ($gutter * 0.5);
    }

    &__link {
        @include font-size(xxs);
        display: inline-block;
        height: 23px;
        margin-right: ($gutter * 0.5);
        font-weight: $weight--bold;
        border-bottom: 2px solid var(--color--lagoon);
        color: var(--color--dark-indigo);

        &:last-child {
            margin-right: 0;
        }

        &:focus,
        &:hover {
            color: var(--color--dark-indigo);
        }
    }

    &__image {
        @include z-index(overlap);
        display: none;
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 25vw;

        @include media-query(medium) {
            display: block;
        }
    }

    &__bottom {
        @include media-query(large) {
            display: flex;
            align-items: center;
        }
    }
}
