.help-block {
    $root: &;

    &__avatar {
        margin-bottom: $gutter;

        @include media-query(medium) {
            margin-bottom: 0;
            margin-right: $gutter;
        }
    }

    &__container {
        position: relative;
        width: 100vw;
        background: var(--color--white);
        padding-top: 10px;
        padding-bottom: 80px;
    }

    &__content {
        @include container();
        padding-top: ($gutter * 4.5);

        @include media-query(medium) {
            padding-top: $gutter;
        }
    }

    &__contact {
        @include font-size(s);
        font-weight: $weight--bold;
        color: var(--color--indigo);

        &:focus,
        &:hover {
            color: var(--color--dark-indigo);
        }

        &--email {
            @include media-query(medium) {
                margin-right: $gutter;
            }
        }

        &--phone {
            border-bottom: 0;
            color: var(--color--accent-dark);
        }
    }

    &__title {
        font-size: map-get($small-font-sizes, xxl);
        line-height: 45px;
        font-weight: 100;

        @include media-query(medium) {
            font-size: map-get($medium-font-sizes, xl);
            padding-left: 17vw;
            line-height: 50px;
        }

        @include media-query(large) {
            font-size: map-get($large-font-sizes, l);
        }

        * {
            color: var(--color--dark-indigo);
        }

        b {
            font-weight: $weight--heavy;
        }
    }

    &__links-container {
        margin-top: 30px;

        @include media-query(medium) {
            padding-left: 17vw;
        }
    }

    &__links-list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    &__contact-wrap {
        margin-top: 35px;

        @include media-query(medium) {
            padding-left: 12vw;
        }
    }

    &__contact-inner {
        @include container();
        align-items: center;
        display: flex;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
        }
    }

    &__contact-details {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include media-query(medium) {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__contact-meta {
        margin-top: 5px;

        @include media-query(medium) {
            display: flex;
        }
    }

    &__contact-title {
        margin: 0;
        color: var(--color--dark-indigo);
    }
}
