.hero {
    $root: &;
    overflow: hidden;

    @include media-query(medium) {
        padding-bottom: 5vh;
    }

    &--restricted {
        #{$root}__container {
            max-width: $wrapper--small;
            margin: 0 auto;
            padding: ($gutter * 2) $variable-gutter--small 0;

            @include media-query(medium) {
                padding: ($gutter * 4) $variable-gutter--small 0;
            }

            @include media-query(large) {
                padding: 120px 0 0;
            }
        }

        #{$root}__content,
        #{$root}__description {
            margin: 0;
        }

        #{$root}__title {
            margin: 0 0 $gutter;
            font-size: map-get($small-font-sizes, xxl);
            line-height: 40px;

            @include media-query(medium) {
                line-height: 80px;
                font-size: map-get($medium-font-sizes, xxxxl);
            }

            @include media-query(large) {
                font-size: map-get($large-font-sizes, xxxxl);
            }
        }
    }

    &--full-screen {
        height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 0;

        @include media-query(medium) {
            padding-bottom: 0;
        }
    }

    &--filter {
        height: 25vh;
        background: linear-gradient(var(--color--black), var(--color--white));
        opacity: 0.6;
        mix-blend-mode: multiply;
    }

    &--short {
        height: 400px;

        @include media-query(medium) {
            height: 70vh;
            min-height: 700px;
        }
    }

    &--image-overlay {
        &::after {
            content: '';
            background-color: var(--color--black);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.3;
        }
    }

    &--proposition {
        overflow: visible; // prevent mask being cutoff
        margin-bottom: ($gutter * 3);

        @include media-query(large) {
            margin-bottom: ($gutter * 6);
        }

        #{$root}__container {
            padding: 230px 8.33vw 0;

            @include media-query(large) {
                padding: 230px 0 0 8.33vw;
            }
        }

        #{$root}__title {
            margin-right: 0;
        }

        #{$root}__content {
            margin: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 100px;

            @include media-query(large) {
                padding-right: 45vw;
                padding-top: ($gutter * 3);
                min-height: 415px; // to ensure image doesn't overlap hero area if text is shorter
            }
        }
    }

    // The following code for image & image-mask is only used on proposition pages currently
    &__image {
        display: block;
        margin-top: -25px;
        width: 100%;
    }

    &__image-mask {
        @include z-index(zero);
        display: none;
        position: absolute;
        max-height: 500px;
        top: 140px;
        right: -50px;
        width: 45vw;
        height: auto;
        // SVG basencoded as loading in static svgs throws an error (hero-mask.svg in static)
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MjQgNzAyIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02NDguMDc4IDIxMC4yNTIgMjgzLjkxMSAwIDAgNDkxLjc0OCAzNjQuMTY4IDcwMmwyODMuOTEtNDkxLjc0OFptMTc1LjQyMSAxODYuNjQzTDY2Ny45NCAzMDcuMDgzIDUyMS4zMDUgNTYxLjA2MmwxNTUuNTU5IDg5LjgxMiAxNDYuNjM1LTI1My45NzlaIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
        mask-repeat: no-repeat;
        /* stylelint-disable property-no-vendor-prefix  */
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MjQgNzAyIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02NDguMDc4IDIxMC4yNTIgMjgzLjkxMSAwIDAgNDkxLjc0OCAzNjQuMTY4IDcwMmwyODMuOTEtNDkxLjc0OFptMTc1LjQyMSAxODYuNjQzTDY2Ny45NCAzMDcuMDgzIDUyMS4zMDUgNTYxLjA2MmwxNTUuNTU5IDg5LjgxMiAxNDYuNjM1LTI1My45NzlaIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
        -webkit-mask-repeat: no-repeat;
        /* stylelint-enable */

        @include media-query(large) {
            display: block;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--color--background);
        padding-top: 70px;

        @include media-query(medium) {
            padding-top: 120px;
        }

        @include media-query(large) {
            padding-left: 14.66vw;
        }

        &::after {
            position: absolute;
            content: ' ';
            display: block;
            height: 80px;
            width: 100%;
            background-color: var(--color--background);
            top: calc(100% - 50px);
            left: 0;
        }
    }

    &__content {
        @include z-index(two);
        position: relative;
        margin: 50px $variable-gutter--small 0;
        padding-top: ($gutter * 3);
        padding-bottom: $gutter;

        @include media-query(medium) {
            margin-left: 10.33vw;
        }
    }

    &__title {
        @include font-size(xxxxl);
        color: var(--color--primary);
        font-weight: 800;
        line-height: 55px;
        margin-bottom: 20px;

        @include media-query(medium) {
            line-height: 80px;
        }

        span {
            color: var(--color--header-icon-color);
        }
    }

    &__description {
        @include font-size(m);
        color: var(--color--primary);
        margin-bottom: ($gutter * 2);
        line-height: 36px;

        @include media-query(medium) {
            line-height: 42px;
            margin-right: $variable-gutter--small;
        }

        @include media-query(large) {
            font-size: 24px;
        }

        p {
            color: var(--color--primary);
        }

        a {
            color: var(--color--theme-link);
            font-weight: $weight--heavy;
            border-bottom: 2px solid transparent; // prevent layout shift
            transition: border $transition-quick;

            &:hover {
                border-bottom: 2px solid var(--color--accent);
                color: var(--color--theme-hover);

                .theme--coral & {
                    border-bottom: 2px solid var(--color--white);
                }
            }
        }
    }
}
