.hero {
    $root: &;

    &__image {
        margin-top: -25px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        background: var(--color--background);
        padding-top: 70px;

        @include media-query(medium) {
            padding-top: 120px;
        }

        @include media-query(large) {
            padding-left: 14.66vw;
        }

        &::after {
            position: absolute;
            content: ' ';
            display: block;
            height: 80px;
            width: 100%;
            background-color: $color--white;
            top: calc(100% - 50px);
            left: 0;
        }
    }

    &__content {
        position: relative;
        margin: 50px 8.33vw 0;
        padding-top: ($gutter * 3);
        padding-bottom: $gutter;
        z-index: 2;

        @include media-query(medium) {
            margin-left: 10.33vw;
        }
    }

    &__title {
        color: var(--color--primary);
        font-weight: 800;
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px;

        @include media-query(medium) {
            font-size: 70px;
            line-height: 80px;
        }

        span {
            color: var(--color--accent);
        }
    }

    &__desc {
        color: var(--color--primary);
        margin-bottom: ($gutter * 2);
        line-height: 36px;
        font-size: 22px;

        @include media-query(medium) {
            line-height: 42px;
            font-size: 24px;
            margin-right: 8.33vw;
        }

        p {
            color: var(--color--primary);
        }
    }

    .collapsed-hero-container & {
        #{$root}__links-container {
            @include media-query(medium) {
                animation: fadeOut 0.2s forwards;
                pointer-events: none;
            }
        }
    }

    .dark-theme & {
        margin-bottom: 50px;

        @include media-query(medium) {
            min-height: calc(100vh - 180px);
        }
    }
}
