.hero {
    $root: &;

    @include media-query(medium) {
        padding-bottom: 5vh;
    }

    &__image {
        margin-top: -25px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--color--background);
        padding-top: 70px;

        @include media-query(medium) {
            padding-top: 120px;
        }

        @include media-query(large) {
            padding-left: 14.66vw;
        }

        &::after {
            position: absolute;
            content: ' ';
            display: block;
            height: 80px;
            width: 100%;
            background-color: var(--color--background);
            top: calc(100% - 50px);
            left: 0;
        }
    }

    &__content {
        @include z-index(two);
        position: relative;
        margin: 50px $variable-gutter--small 0;
        padding-top: ($gutter * 3);
        padding-bottom: $gutter;

        @include media-query(medium) {
            margin-left: 10.33vw;
        }
    }

    &__title {
        @include font-size(xxxxl);
        color: var(--color--primary);
        font-weight: 800;
        line-height: 55px;
        margin-bottom: 20px;

        @include media-query(medium) {
            line-height: 80px;
        }

        span {
            color: var(--color--header-icon-color);
        }
    }

    &__description {
        @include font-size(m);
        color: var(--color--primary);
        margin-bottom: ($gutter * 2);
        line-height: 36px;

        @include media-query(medium) {
            line-height: 42px;
            margin-right: $variable-gutter--small;
        }

        @include media-query(large) {
            font-size: 24px;
        }

        p {
            color: var(--color--primary);
        }
    }

    &__full-screen {
        height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 0;

        &--filter {
            height: 25vh;
            background: linear-gradient(
                var(--color--black),
                var(--color--white)
            );
            opacity: 0.6;
            mix-blend-mode: multiply;
        }

        &--short {
            height: 400px;

            @include media-query(medium) {
                height: 70vh;
                min-height: 700px;
            }
        }

        &--image-overlay {
            &::after {
                content: '';
                background-color: var(--color--black);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.3;
            }
        }
    }
}
