.home {
    &__hero {
        background-color: var(--color--dark-indigo);
    }

    &__contents {
        max-width: 1440px;
        margin: 0 auto;

        &--top {
            @include media-query(large) {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }

    &__content-align {
        margin: 0 3.5vw;

        @include media-query(large) {
            margin: 0 0 0 3.5vw;
        }
    }

    &__heading {
        color: var(--color--white);
        margin-right: 0;
        font-weight: $weight--heavy;
        font-size: 66px;
        line-height: 64px;

        @include media-query(medium) {
            font-size: 80px;
            line-height: 80px;
        }

        @include media-query(large) {
            font-size: 97px;
            line-height: 97px;
            margin-top: ($gutter * 8);
        }

        span {
            display: block;
            color: var(--color--coral);
        }

        &--desktop {
            display: none;

            @include media-query(large) {
                display: block;
            }
        }

        &--mobile {
            @include media-query(large) {
                display: none;
            }
        }
    }
}
