.home {
    @include media-query(large) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    &__heading {
        color: var(--color--white);
        font-size: 97px;
        line-height: 97px;
        margin-right: 0;
        font-weight: $weight--heavy;
        margin-left: ($gutter * 2);

        @include media-query(large) {
            margin-left: 3.5vw;
            margin-top: ($gutter * 8);
        }

        span {
            display: block;
            color: var(--color--coral);
        }
    }
}
