.in-page-nav {
    width: 100%;
    list-style: none;
    display: flex;
    margin-top: $gutter;
    flex-wrap: wrap;

    @include media-query(medium) {
        padding-top: 0;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 20px;
        padding-bottom: 25px;

        @include media-query(medium) {
            padding-bottom: 0;
            padding-right: 50px;
        }
    }

    &__link {
        transition: all 0.2s ease;
        color: var(--color--link);
        font-size: 13px;
        text-decoration: none;
        border-bottom: 2px solid var(--color--background);

        &:hover {
            border-bottom: 2px solid var(--color--underline);
        }

        @include media-query(medium) {
            padding: 0;
            font-size: 18px;
        }
    }
}
