.instagram-gallery {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    place-items: center;

    @include media-query(medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media-query(x-large) {
        grid-template-columns: repeat(8, 1fr);
    }
}

.instagram-post {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: none;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &__image {
        position: absolute;
        height: 100%;
        width: auto;
        max-width: none;
        // Center image in container.
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        position: absolute;
        bottom: 13px;
        right: 10px;
        width: 30px;
        height: auto;
    }

    // Ensure images don't blend in on the report page
    .report-page & {
        border: 1px solid var(--color--grey-border);
        transition: border $transition-quick;

        &:hover,
        &:focus {
            border: 3px solid var(--color--grey-dark);
        }
    }
}
