.instagram-gallery {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px 3px;
    place-items: center;

    @include media-query(medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media-query(x-large) {
        grid-template-columns: repeat(8, 1fr);
    }
}

.instagram-post {
    position: relative;
    width: 100%;

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &__image {
        position: absolute;
        top: 0;
        max-width: none;
        height: 100%;
    }

    &__icon {
        position: absolute;
        bottom: 13px;
        right: 10px;
        width: 30px;
        height: auto;
    }
}


