.job-item {
    $root: &;

    &__link {
        display: block;
        padding: ($gutter * 2) 0 ($gutter * 2.5) 0;
        text-decoration: none;
        border-bottom: none;

        &:focus,
        &:hover {
            #{$root}__title {
                @include link-underscore(4);
            }
        }
    }

    &__title {
        @include link-underscore(0);
        position: relative;
        font-size: 30px;
        font-weight: bold;
        line-height: ($gutter * 2);
        margin: 0 0 15px;
        padding: 0;
        color: var(--color--primary);
        display: inline-block;
        overflow: hidden;
    }

    &__description {
        display: block;
        font-size: 18px;
    }

    &__level {
        color: var(--color--primary);
        font-size: 20px;
        margin-bottom: 0;
        line-height: 30px;
    }

    &__location {
        margin: 0 0 2px;
        line-height: 1.4;
        color: var(--color--accent);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
        font-size: 12px;
    }
}
