.job-listing-block {
    position: relative;
    background-color: $color--white;
    padding: ($gutter * 2) 0 $gutter;

    &__image {
        position: absolute;
        top: 40px;
        width: 28vw;
        max-width: 380px;

        @include media-query(medium) {
            width: 20vw;
        }
    }

    &__content {
        @include container();
        padding: calc(0.75 * 28vw + 40px) 0 0 0;

        @include media-query(medium) {
            padding: 0 16.66vw;
        }
    }

    &__intro {
        padding-bottom: ($gutter * 2);

        @include media-query(medium) {
            padding-bottom: ($gutter * 3);
        }

        &::before {
            position: absolute;
            content: '';
            width: 60px;
            height: 8px;
            left: 0;
            top: 0;
            background: var(--color--accent);
        }
    }

    &__intro-opinion {
        position: relative;
        padding-top: $gutter;

        @include media-query(medium) {
            width: 60%;
        }
    }

    &__intro-title {
        color: var(--color--accent);
        padding: 0;
    }

    &__intro-text {
        line-height: 30px;
        margin: 0 0 ($gutter * 2);
        color: var(--color--primary);

        @include media-query(medium) {
            line-height: 42px;
        }
    }

    &__job-link {
        display: block;
        padding: ($gutter * 2) 0 ($gutter * 2.5) 0;
        text-decoration: none;
        border-bottom: none;
    }

    &__job-link-title {
        font-size: 30px;
        font-weight: bold;
        line-height: ($gutter * 2);
        margin: 0 0 15px;
        padding: 0;
        color: var(--color--primary);

        &:hover {
            color: $color--dark-indigo;
        }
    }

    &__job-link-description {
        display: block;
        font-size: 18px;
    }

    &__job-link-level {
        color: var(--color--primary);
        font-size: 20px;
        margin-bottom: 0;
        line-height: 30px;
    }

    &__job-link-location {
        margin: 0 0 2px;
        line-height: 1.4;
        color: var(--color--accent);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
        font-size: 12px;
    }

    .page__section-title & {
        top: -50px;
    }
}
