.job-item {
    $root: &;

    &__link {
        display: block;
        padding: ($gutter * 2) 0 ($gutter * 2.5) 0;
        text-decoration: none;
        border-bottom: none;

        &:focus,
        &:hover {
            #{$root}__title {
                @include link-underscore(4);
            }
        }
    }

    &__title {
        @include link-underscore(0);
        @include font-size(m);
        position: relative;
        font-weight: bold;
        line-height: ($gutter * 2);
        margin: 0 0 10px;
        padding: 0;
        color: var(--color--primary);
        display: inline-block;
        overflow: hidden;

        @include media-query(medium) {
            margin: 0 0 15px;
        }
    }

    &__description {
        @include font-size(s);
        display: block;
    }

    &__level {
        @include font-size(s);
        color: var(--color--primary);
        margin-bottom: 0;
        line-height: 30px;
    }

    &__location {
        @include font-size(xxxs);
        margin: 0 0 2px;
        line-height: 1.4;
        color: var(--color--accent-dark);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: bold;
    }
}
