.key-points {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: ($gutter * 3);

    @include media-query(medium) {
        grid-template-columns: 1fr 1fr;
        grid-gap: ($grid * 1.5);
    }

    @include media-query(large) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: ($gutter * 6);
    }

    &__heading {
        margin-top: 50px;
        // override large size
        @include media-query(large) {
            font-size: rem(24px);
        }
    }

    &__link {
        @include link-slide-right(4px, -6px);

        .streamfield & {
            &:hover {
                border-bottom: 0;

                @include hcm() {
                    border-bottom: 5px solid;
                }
            }
        }

        &::before {
            //override underline colour in mixin
            background-color: var(--color--accent);

            @include hcm() {
                display: none;
            }
        }
    }

    &__intro {
        @include font-size('s');
        color: var(--color--grey-dark);
        letter-spacing: 0.3px;
    }
}
