.list-item {
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    a {
        font-size: map-get($small-font-sizes, s);
        display: inline;
        position: relative;
        color: var(--color--dark-indigo);
        text-decoration: none;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 5px 30px;
        padding: 15px 0 0;
        border-bottom: 2px solid var(--color--white);

        @include media-query(medium) {
            font-size: map-get($medium-font-sizes, s);
            padding: 15px 0 0;
            margin: 0 0 5px 60px;
            line-height: 40px;
        }

        @include media-query(large) {
            font-size: 24px;
        }

        &:hover {
            @include media-query(medium) {
                color: var(--color--indigo);
                border-bottom: 2px solid var(--color--accent);
                font-weight: 800;
            }
        }

        &::after {
            content: '';
            display: inline;
            width: 12px;
            height: 20px; // changed from 30px to fix ie edge issue
            position: absolute;
            margin-left: 15px;
            margin-top: 5px;
            background: url('../images/cssBackgrounds/chevron.svg') no-repeat
                center;

            @include media-query(medium) {
                margin-top: 10px;
            }

            @supports (mask: url('')) {
                background-image: none;
                background-color: var(--color--accent);
                mask: url('../images/cssBackgrounds/chevron.svg') no-repeat
                    center;
                mask-size: contain;
            }
        }
    }

    span {
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 5px 30px;
        padding: 15px 0 0;

        @include media-query(medium) {
            font-size: 24px;
            padding: 15px 0 0;
            margin: 0 0 5px 60px;
            line-height: 40px;
        }
    }

    &__link-item-icon {
        transform: rotate(30deg);
        width: 22px;
        height: 22px;
        margin-top: 20px;
        fill: var(--icon-color);
        flex-grow: 0;
        flex-shrink: 0;

        @include media-query(medium) {
            width: 22px;
            height: 22px;
        }
    }

    &__text {
        color: var(--color--dark-indigo);
    }
}
