.logo {
    width: 20.8vw;
    height: 100%;

    @include media-query(large) {
        margin-left: -4.17vw;
        margin-right: 4.17vw;
        margin-top: -10px;
    }

    &--home {
        position: absolute;
        top: 20px;
        z-index: 20;

        @include media-query(large) {
            position: relative;
            top: auto;
            margin: 30px 0 0;
        }
    }

    &__image {
        width: 110px;
        height: 40px;
        position: relative;
        display: inline-block;
        fill: var(--color--primary);

        @include media-query(medium) {
            width: 130px;
            height: 50px;
        }
    }

    &__flame {
        width: 25px;
        height: 25px;
        fill: var(--color--header-icon-color);
    }

    &__link {
        border-bottom: none;
    }
}
