/* Overriding styles for embedded mailchimp form */

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-max-specificity */
.mailchimp-form-block {
    @include streamblock-padding();

    #mc_embed_signup {
        width: min(calc(100vw - 2 * $variable-gutter--small), 700px);

        form {
            margin: 0;
        }

        #mc_embed_signup_scroll {
            font-family: $font--primary;
            font-size: rem(18px);

            .mc-field-group {
                width: 100%;
                color: var(--color--dark-indigo);

                label {
                    margin-bottom: 10px;
                }

                input {
                    border-radius: 0;
                }

                input[type='checkbox'] {
                    margin-right: 10px;
                }
            }

            .input-group {
                margin-top: 20px;

                strong {
                    margin-bottom: 10px;
                }

                li::before {
                    content: none;
                }
            }

            #mce-responses {
                padding: 0;
                margin: 0;

                .response {
                    width: 100%;
                }

                #mce-error-response {
                    color: var(--color--coral-dark);
                }

                #mce-success-response {
                    @include font-size(l);
                    color: var(--color--dark-indigo);
                    font-weight: $weight--heavy;
                }
            }

            .button {
                font-size: rem(18px);
                font-weight: $weight--bold;
                background-color: var(--color--dark-indigo);
                height: auto;
                padding: 15px 30px;
                margin-bottom: 30px;
                border-radius: 0;

                @include media-query('medium') {
                    font-size: rem(22px);
                    padding: 18px 36px;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: var(--color--indigo);
                }
            }
        }
    }
}
/* stylelint-enable */
