.mobile-nav {
    $root: &;

    &__container {
        display: block;

        @include media-query(menu-break) {
            display: none;
        }
    }

    &__modal {
        @include z-index(modal);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-300%);
        min-height: 100vh;
        width: 100vw;
        background-color: var(--color--dark-indigo);
        overflow-x: hidden;
        transition: all 0.4s ease-in;

        &::before {
            @include z-index(modal-controls);
            content: '';
            position: absolute;
            top: 0;
            right: -50vh;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 100vh 50vh 0 0;
            border-color: var(--color--dark-indigo) transparent transparent
                transparent;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 90px $variable-gutter--small 0 $variable-gutter--small;

        li {
            margin-left: 0;

            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
        }
    }

    // Applied by js
    .menu-active & {
        #{$root}__modal {
            transform: translateX(0);
        }
    }
}
