.nav-item {
    $root: &;
    margin-right: 3.5vw;

    &__background-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0.15);
    }

    // Desktop menu
    .desktop-nav & {
        &--with-children {
            position: relative;
            padding-left: 3.5vw;
            margin-right: 0;
            display: none;
            font-weight: $weight--bold;

            //Aligns the more button with the rest of the nav items.
            margin-bottom: 20px;

            @include media-query(menu-break) {
                display: block;
            }

            &::before {
                content: '';
                height: 40px;
                width: 1px;
                background-color: var(--color--header-links);
                position: absolute;
                left: 0;
                bottom: 0;
                opacity: 0.15;
            }
        }

        &__title {
            font-weight: $weight--bold;
        }

        &__button {
            //Make the button easier to click
            //The 20px to the right covers the triple dots
            padding: 10px 20px 10px 10px;
        }

        @include media-query(menu-break) {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        @include media-query(menu-break-larger) {
            margin-right: 50px;
        }

        @include media-query(x-large) {
            margin-right: 70px;
        }

        &--with-badge {
            position: relative;

            @include media-query(menu-break) {
                margin-right: 70px;
            }
        }

        &__link {
            @include font-size(s);
            @include link-underscore(0);
            display: block;
            position: relative;
            line-height: 20px;
            text-decoration: none;
            height: 40px;
            color: var(--color--header-links);
            border-top: 0;
            border-bottom: 0;
            margin-bottom: 0;
            padding: 0;
            transition: all $transition-quick;

            &:hover,
            &:focus,
            &--active {
                @include link-underscore(4);
                color: var(--color--header-links);
            }

            &:focus {
                //This only displays for windows high contrast mode
                outline: 3px solid var(--color--header-links) transparent;
            }

            @include hcm() {
                @include hcm-underline();

                &:hover,
                &:focus,
                &--active {
                    @include hcm-underline-hover();
                }
            }
        }

        &__badge-link {
            @include link-underscore(0);
            border-bottom: 0;

            @include media-query(menu-break) {
                position: absolute;
                right: -25px;
                top: -15px;
            }

            &--more-button {
                @include media-query(menu-break) {
                    position: absolute;
                    width: 14px; // gives room to center the number of jobs, displaying neatly for single and double digits
                    text-align: center;
                    right: -14px;
                    top: -10px;
                }
            }
        }

        &__external-link-icon {
            width: 12px;
            height: 12px;
            position: relative;
            top: 2px;
            fill: var(--color--header-links);
            transition: fill $transition-quick;
            opacity: 0.8;
        }

        #{$root}__link:hover #{$root}__external-link-icon {
            fill: var(--color--underline);
        }
    }

    // Mobile menu
    .mobile-nav & {
        border-top: 1px solid hsla(0, 0%, 100%, 0.2);
        visibility: hidden;

        .menu-active & {
            visibility: visible;
        }

        &--with-badge {
            display: flex;
            align-items: center;
        }

        &__link {
            @include font-size(s);
            display: block;
            color: var(--color--white);
            padding: $gutter 0;
            border: 0;
            font-weight: $weight--bold;

            &:hover {
                color: var(--color--white);
            }

            @include hcm() {
                @include hcm-underline();

                &:hover,
                &:focus,
                &--active {
                    @include hcm-underline-hover();
                }
            }
        }

        &__badge-link {
            width: 14px;
            text-align: center;
            border-bottom: 0;
            position: relative;
            top: -10px;
            right: -15px;
        }

        &__external-link-icon {
            width: 12px;
            height: 12px;
            position: relative;
            top: 6px;
            fill: var(--color--white);
            transition: fill $transition-quick;
            opacity: 0.8;
        }

        #{$root}__link:hover #{$root}__external-link-icon {
            fill: var(--color--accent);
        }
    }

    &__button {
        position: relative;
        background-color: transparent;
        border: 0;
        color: var(--color--header-links);
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 0;

        &:focus,
        &:hover {
            cursor: pointer;
        }

        @include hcm() {
            /* stylelint-disable value-keyword-case  */
            color: ButtonText;
            border: 1px solid ButtonBorder;

            &:hover,
            &:focus {
                color: ActiveText;
                border-color: ActiveText;
            }
            /* stylelint-enable value-keyword-case  */
        }
    }

    &__dots {
        position: relative;
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background-color: var(--color--header-links);
        color: var(--color--header-links);
        display: inline-block;
        margin-left: 20px;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            width: 6px;
            height: 6px;
            border-radius: 5px;
        }

        &::before {
            left: -10px;
            background-color: var(--color--header-links);
            color: var(--color--header-links);
        }

        &::after {
            left: 10px;
            background-color: var(--color--header-links);
            color: var(--color--header-links);
        }

        @include hcm() {
            /* stylelint-disable value-keyword-case  */
            background-color: ButtonText;
            color: ButtonText;

            &::after,
            &::before {
                background-color: ButtonText;
                color: ButtonText;

                #{$root}__button:hover &,
                #{$root}__button:focus & {
                    color: ActiveText;
                    background-color: ActiveText;
                }
            }

            #{$root}__button:hover &,
            #{$root}__button:focus & {
                color: ActiveText;
                background-color: ActiveText;
            }
            /* stylelint-enable value-keyword-case  */
        }
    }

    // Home page mods
    .primary-nav--home & {
        margin-right: 0;
        margin-bottom: 35px;

        @include media-query(medium) {
            margin-bottom: 45px;
        }

        @include media-query(menu-break) {
            margin-bottom: 0;
            margin-right: 70px;
        }

        &--with-children {
            position: relative;
            padding-left: 3.5vw;
            margin-right: 0;
            display: none;

            @include media-query(menu-break) {
                display: block;
            }

            &::before {
                content: '';
                height: 70px;
                width: 1px;
                background-color: var(--color--header-links);
                position: absolute;
                left: 0;
                bottom: -25px;
                opacity: 0.3;
            }
        }

        &__title {
            font-weight: $weight--heavy;
            font-size: map-get($medium-font-sizes, s);
            text-shadow: 0 0, 0 3px var(--color--theme-link),
                4px 0 var(--color--theme-link), 0 0;
            z-index: 2;
            position: relative;

            @include media-query(medium) {
                font-size: map-get($medium-font-sizes, l);
            }

            @include media-query(menu-break) {
                font-size: map-get($small-font-sizes, m);
            }

            @include media-query(menu-break-larger) {
                font-size: map-get($medium-font-sizes, l);
            }
        }

        &__link {
            @include link-slide-right();
            color: var(--color--white);

            &::after {
                display: none;
            }

            @include hcm() {
                text-decoration: underline;

                &::before {
                    display: none;
                }

                &:hover,
                &:focus {
                    text-decoration-thickness: 5px;
                }
            }
        }

        &__button {
            font-weight: $weight--heavy;
            padding: 5px 15px 5px 5px;
            border-radius: 5px;
            border: 2px solid var(--color--header-links) transparent;
            transition: background-color $transition-quick;

            &:hover,
            &:focus {
                background-color: var(--color--accent);

                @include hcm() {
                    text-decoration-thickness: 5px;
                }
            }

            @include hcm() {
                text-decoration: underline;
            }
        }

        &__external-link-icon {
            width: 15px;
            height: 15px;
            fill: var(--color--white);
            transition: fill $transition-quick;
            position: relative;
            top: 4px;
            opacity: 0.8;

            @include media-query(medium) {
                width: 18px;
                height: 18px;
                top: 9px;
            }

            @include media-query(menu-break) {
                top: 2px;
            }

            @include media-query(menu-break-larger) {
                width: 20px;
                height: 20px;
                top: 8px;
            }

            @include hcm() {
                filter: invert(1);
            }

            @include high-contrast-dark-mode() {
                filter: invert(0);
            }
        }

        #{$root}__link:hover #{$root}__external-link-icon {
            fill: var(--color--coral);
        }
    }
}
