$header-nested-link-color: var(--header-nested-link-color, $color--indigo);
$header-nested-link-hover-color: var(
    --header-nested-link-hover-color,
    var(--color--accent)
);
$header-link-underscore-color: var(
    --header-link-underscore-color,
    var(--color--primary)
);

.nested-nav {
    &__container {
        display: none;
        position: absolute;
        left: 100vw;
        width: 100%;
        height: 100%;
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        top: 5px;
        height: 24px;
        padding-right: $gutter;

        @include media-query(large) {
            top: 0;
            height: 100%;
            padding-right: ($gutter * 2.5);
        }

        &--active {
            a {
                margin-top: 2px;
                border-bottom: 2px solid $header-link-underscore-color;
            }
        }
    }

    &__link {
        transition: none;
        display: inline-flex;
        align-items: center;
        color: $header-nested-link-color;
        font-size: 13px;
        text-decoration: none;
        border-bottom: none;
        height: 100%;

        @include media-query(large) {
            font-size: 15px;
        }

        &:hover {
            margin-top: 2px;
            color: $header-nested-link-hover-color;
            border-bottom: 2px solid $header-link-underscore-color;
        }
    }
}
