.page {
    background-color: var(--color--white);
    padding: 230px 0 0;

    &--contact {
        margin-top: ($gutter * 6.5);
    }

    &__title {
        margin-bottom: $gutter;

        @include media-query(medium) {
            margin-bottom: ($gutter * 1.5);
        }

        h1 {
            font-weight: $weight--heavy;
        }
    }

    &__showcase {
        margin-top: ($gutter * 5);
    }

    &__author {
        padding-top: ($gutter * 2);
    }

    /* Template specific */
    .template__careers-page &,
    .template__homepage &,
    .template__sub-service-page &,
    .template__service-page &,
    .template__values-page &,
    .template__error &,
    .template__proposition-page &,
    .template__sub-proposition-page &,
    .template__impact-report-page & {
        padding: 0;
    }
}
