.page {
    background-color: $color--white;
    padding: 230px 0 0;

    &--contact {
        margin-top: ($gutter * 6.5);
    }

    &__title {
        margin-bottom: $gutter;

        @include media-query(medium) {
            margin-bottom: ($gutter * 1.5);
        }

        h1 {
            font-weight: $weight--heavy;
        }
    }

    &__showcase {
        margin-top: ($gutter * 5);
    }

    /* Template specific */
    .template__service & {
        padding: 0;
    }
}
