// Component theme overrides:
$hero-background: var(--hero-background, $color--white);
$hero-title-color: var(--hero-title-color, var(--color--primary));
$hero-parent-page-color: var(--hero-parent-page-color);
$hero-parent-page-slash-color: var(--hero-parent-page-slash-color);
$hero-parent-page-hover-color: var(--hero-parent-page-hover-color);

.parent-link {
    position: relative;
    z-index: 0;
    display: block;
    font-size: 18px;
    color: var(--color--accent);
    margin: 0 0 16px;

    a {
        border: none;
        color: $hero-parent-page-color;
        z-index: 2;
        background-color: $hero-background;

        &:hover {
            color: $hero-parent-page-hover-color;
        }
    }
}
