.password-required {
    padding: $grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title {
        margin: 0 0 $grid 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__submit-button {
        width: max-content;
        margin-top: $grid;
        margin-bottom: $grid * 4;
        padding: 10px 16px;
        border: none;
        cursor: pointer;

        @include media-query(large) {
            margin-top: $grid * 2;
            margin-bottom: $grid * 6;
        }
    }
}
