.primary-nav {
    &__container {
        width: 100%;
        padding-top: ($gutter * 0.75);
        display: none;

        @include media-query(medium) {
            display: block;
            padding-top: $gutter;
        }

        @include media-query(large) {
            padding-top: ($gutter / 2);
        }
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            width: auto;
            padding: 0 0 0 0;
            white-space: nowrap;
        }
    }
}
