.primary-nav {
    width: 100%;
    padding-top: ($gutter * 0.75);
    display: none;

    @include media-query(medium) {
        padding-top: $gutter;
    }

    @include media-query(xlarge) {
        display: block;
        padding-top: ($gutter / 2);
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            width: auto;
            padding: 0;
            white-space: nowrap;
        }
    }
}
