.primary-nav {
    $root: &;

    width: 100%;
    padding-top: ($gutter * 0.75);
    display: none;

    @include media-query(medium) {
        padding-top: $gutter;
    }

    @include media-query(menu-break) {
        display: block;
        padding-top: ($gutter * 0.5);
    }

    &--home {
        margin-left: 3.5vw;
        display: block;
        width: auto;

        @include media-query(menu-break) {
            margin-top: ($gutter * 3);
            padding-bottom: ($gutter * 3);
        }

        #{$root}__list {
            flex-direction: column;
            align-items: flex-start;

            @include media-query(menu-break) {
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
    }
}
