.process {
    &__title {
        font-weight: $weight--heavy;
    }

    &__block {
        position: relative;
        background-color: var(--color--white);
        padding: 90px 0 120px;
        padding-bottom: 0;
    }

    &__container {
        @include container();
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        padding-top: calc((66vw * 0.6) + 60px);

        @include media-query(medium) {
            margin: 60px 0 80px $variable-gutter--medium;
            padding-top: 50px;
        }
    }

    &__item {
        width: 100%;
        padding-bottom: ($gutter * 3);

        @include media-query(large) {
            width: 50%;
            padding-right: ($gutter * 3);
            padding-bottom: ($gutter * 4.5);
        }
    }

    &__item-title {
        background: var(--color--white);
        padding: ($gutter * 0.5) 0 0;
        margin: 0 0 0;
    }

    &__item-link {
        font-weight: $weight--heavy;
    }

    &__item-title,
    &__cta h2 {
        @include font-size(l);
        line-height: 40px;
        color: var(--color--indigo);
        font-weight: 800;
    }

    &__item-desc {
        margin: 10px 0 0;
        width: calc(100% - 20px);
        padding-bottom: $gutter;
    }

    &__item-desc,
    &__cta p {
        @include font-size(s);
        line-height: 26px;
        color: rgba(51, 51, 51, 0.9);
    }

    &__cta {
        @include media-query(medium) {
            margin: 60px 0 80px $variable-gutter--medium;
        }
    }
}
