.pullquote {
    $root: &;
    position: relative;
    margin: ($gutter * 2) 0;
    font-style: normal;

    @include media-query(large) {
        @include streamblock-padding();
        margin-top: 70px;
        margin-bottom: 70px;
    }

    &--slider {
        margin: 0;
        min-width: 100%;

        #{$root}__icon {
            display: none;
        }

        #{$root}__text {
            @include media-query(large) {
                padding-right: $variable-gutter--medium;
            }
        }
    }

    &__text {
        @include font-size(m);
        font-style: normal;
        margin: 0 0 $gutter;
        padding: 0;
        color: var(--color--dark-indigo);
        line-height: 38px;

        @include media-query(large) {
            font-size: 26px;
            line-height: 46px;
        }

        &::after {
            content: '”';
            font-style: italic;
        }
    }

    &__cite {
        @include font-size(xxxs);
        color: var(--color--grey);
        margin: 0 0 15px;
        font-style: normal;
        line-height: 1;
        display: flex;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
        }
    }

    &__attribution,
    &__name {
        font-weight: bold;
        padding-right: 8px;
        text-transform: uppercase;
        color: var(--color--accent-dark);
        margin-bottom: 5px;
        letter-spacing: 0.15em;
    }

    &__role {
        line-height: 1.5;

        @include media-query(medium) {
            line-height: 1;
        }

        &::before {
            @include media-query(medium) {
                width: 10px;
                content: '|';
                color: rgba(var(--color--black), 0.2);
                font-weight: 100;
                padding-right: 10px;
            }
        }
    }

    &__icon {
        fill: var(--color--accent);

        @include media-query(large) {
            position: absolute;
            transform: translateX(calc(-20px + -100%));
            top: -50px;
        }
    }

    &__link {
        @include font-size('s');
        font-weight: $weight--bold;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        text-decoration-color: var(--color--underline);
        margin-top: 40px;
        text-underline-offset: 5px;

        .streamfield & {
            border-bottom: 0;
        }

        &:focus,
        &:hover {
            text-decoration-thickness: 5px;

            .streamfield & {
                border-bottom: 0;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -30px;
            top: 3px;
            width: 20px;
            height: 18px;
            background-color: var(--color--accent);
            clip-path: $arrow-path;

            @include hcm() {
                filter: invert(1);
            }
        }
    }
}
