.quote-slide {
    opacity: 0;
    transition: opacity 0.2s ease-in;

    &.glide__slide--active {
        opacity: 1;
    }

    .streamfield & {
        &::before {
            content: none; // don't show li arrow
        }
    }
}
