.reason-list {
    background-color: var(--color--primary);
    padding: ($gutter * 4) 0;
    color: $color--white;

    &__container {
        @include container();
    }

    &__title {
        color: $color--white;
        font-weight: 800;
        font-size: 34px;
        line-height: 44px;

        @include media-query(large) {
            font-size: 45px;
            line-height: 50px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 35px 0 0;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
            align-items: center;
        }
    }
}
