.report-section {
    margin: 80px 0 10px;
    position: relative;

    @include media-query(medium) {
        margin: 130px 0 20px;
    }

    &__short-heading {
        position: absolute;
        font-weight: $weight--bold;
        font-size: map-get($medium-font-sizes, s);
        color: var(--color--stone);
        line-height: 25px;
        display: inline-block;
        padding-top: 125px;
        margin-top: -105px;
        max-width: 130px;

        &::before {
            content: '';
            position: absolute;
            top: 105px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color--stone);
        }
    }

    &__heading {
        @include font-size(xxl);
        line-height: 40px;
        font-weight: $weight--heavy;
        color: var(--color--dark-indigo);
        margin: 35px 0 0;

        @include media-query(medium) {
            line-height: 70px;
        }

        @include media-query(large) {
            line-height: 80px;
        }

        @include media-query(menu-break) {
            margin: 0;
        }

        span {
            color: var(--color--stone);
        }
    }

    &__image {
        width: 100%;
    }

    &__container {
        max-width: 740px;
        margin: 75px auto 0;
        display: grid;
        grid-row-gap: 50px;

        @include media-query(menu-break) {
            max-width: 100%;
            grid-template-columns: 1fr 740px 1fr;
        }
    }

    &__anchor {
        position: relative;
        top: -200px;
        padding-top: 125px; // compensate for nav height
        margin-bottom: -125px;
        width: 100%;
        height: 0;

        @include media-query(large) {
            top: -300px;
        }
    }
}
