// Based on the in-page-nav styles but there were enough variations
// to justify a new version for the impact report page
.report-in-page-nav {
    $root: &;
    // the impact report page has a really custom breakpoint for the sticky nav which is
    // purely based on the content used for the anchor links
    $impact-report-breakpoint: '(min-width: 1280px)';
    @include z-index(in-page-nav);
    position: sticky;
    top: 0;
    margin-left: $variable-gutter--small;

    @include media-query(large) {
        margin-left: 0;
    }

    @include media-query(menu-break) {
        margin-left: 10.33vw;
    }

    .nav-stuck & {
        #{$root}__inner {
            background-color: var(--color--succulent);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: ($gutter * 0.75) $variable-gutter--small;
            border-bottom: 1px solid var(--color--black-translucent);

            @media only screen and #{$impact-report-breakpoint} {
                display: flex;
                align-items: center;
                padding: $gutter $variable-gutter--small 0;
            }
        }

        #{$root}__container {
            margin-top: 0;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;

            @media only screen and #{$impact-report-breakpoint} {
                margin-left: 6.66vw;
            }
        }

        #{$root}__link {
            @include font-size(xxs);
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;

            &.is-active {
                text-decoration-thickness: 5px;
            }

            @media only screen and #{$impact-report-breakpoint} {
                @include font-size(xs);
                padding-bottom: 20px;
            }
        }

        #{$root}__item {
            padding-bottom: 0;
            padding-right: 20px;

            @media only screen and #{$impact-report-breakpoint} {
                padding-right: 50px;
            }
        }

        #{$root}__header {
            position: relative;
            top: 0;
            left: 0;
            margin-bottom: 5px;

            @include media-query(medium) {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            @media only screen and #{$impact-report-breakpoint} {
                flex-shrink: 0;
                margin-right: 55px;
                margin-bottom: 14px;
            }
        }
    }

    &__container {
        width: 100%;
        list-style: none;
        display: block;
        padding-left: 0;
        margin: 0;

        @include media-query(medium) {
            padding-top: 0;
            margin: 0;
        }

        @include media-query(large) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__header {
        position: absolute;
        display: none;
        top: 15px;
        left: 4.17vw;
    }

    &__back-to-top {
        border: 0;

        &:hover {
            border-bottom: 0;
        }
    }

    &__title {
        @include font-size(s);
        color: var(--color--primary);
        font-weight: $weight--bold;
    }

    &__logo {
        position: relative;
        top: -2px;
        width: 20px;
        height: 25px;
        margin-right: 10px;
        fill: var(--color--header-icon-color, --color--coral-dark);

        @include high-contrast-dark-mode() {
            fill: var(--color--white);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 20px;
        padding-bottom: 0;

        @include media-query(medium) {
            padding-right: 50px;
        }
    }

    &__link {
        font-size: map-get($small-font-sizes, s);
        transition: border $transition-quick, color $transition-quick;
        color: var(--color--dark-indigo);
        text-decoration: underline;
        text-decoration-color: var(--color--underline);
        padding-top: 20px;
        border: 0;
        text-underline-offset: 7px;

        &:focus,
        &:hover {
            text-decoration-thickness: 5px;
            color: var(--color--theme-hover);
        }

        @include media-query(large) {
            padding-top: 0;
            padding-left: 2px;
            padding-right: 2px;
            background-color: rgba(255, 255, 255, 0.5);

            &:focus,
            &:hover {
                border-bottom-color: var(--color--dark-indigo);
            }
        }
    }
}
