.responsive-object {
    position: relative;

    svg,
    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__hero {
        padding-bottom: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        @include media-query(large) {
            padding-bottom: 56.255%;
        }
    }
}
