.see-more {
    margin: ($gutter * 2) 0 ($gutter * 4);
    text-align: center;

    &__link {
        transition: all $transition-quick;
        color: var(--color--indigo);
        text-decoration: none;
        font-weight: bold;
        padding: 15px;
        border: none;
        border-bottom: 2px solid var(--color--accent);
        cursor: pointer;
        background: none;

        &:hover,
        &:focus {
            background: var(--color--accent);
            border-radius: 4px;
            border-color: var(--color--accent);
            color: var(--color--white);
            padding: 15px 30px;

            @include hcm() {
                border-radius: 0;
            }
        }
    }

    &--hidden {
        display: none;
    }
}
