.shards {
    width: 100%;
    min-height: 576px;
    overflow: hidden;
    max-width: 1024px;
    position: relative;

    &__window {
        fill: var(--color--dark-indigo);
        z-index: 1;
        background-color: var(--color--white); // temp whilst there is no video
    }

    &__video {
        position: absolute;
        right: -60px;
        top: 0;
        max-width: 1024px;
        max-height: 576px;
    }
}
