.shards {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;

    @include media-query(large) {
        max-width: 970px;
        min-height: 576px;
        margin-bottom: 0;
    }

    &__wrapper {
        position: relative;
        padding-bottom: 100%;

        @include media-query(large) {
            padding-bottom: 56.255%;
        }
    }

    &__window {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: var(--color--dark-indigo);
        z-index: 1;

        &--desktop {
            display: none;

            @include media-query(large) {
                display: initial;
                transform: scale(1.01);
            }
        }

        &--mobile {
            display: initial;

            @include media-query(large) {
                display: none;
            }
        }

        @include hcm() {
            fill: var(--color--white);
        }

        @include high-contrast-dark-mode() {
            fill: var(--color--black);
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        // Optimises image loading by ensuring that only the required image is loaded by the browser
        display: none;

        @include media-query(large) {
            padding-bottom: 56.255%;
            background-position: -1px center;
        }

        &--visible {
            display: block;
        }
    }
}
