.streamfield {
    @include container();
    background-color: var(--color--white);
    padding-top: ($gutter * 2);

    &__intro {
        @include streamblock-padding();
        @include font-size(m);
        line-height: 36px;
        margin: 0 0 40px;
        color: var(--color--primary);

        p {
            color: var(--color--primary);
        }

        @include media-query(medium) {
            line-height: 42px;
        }

        @include media-query(large) {
            font-size: 24px;
        }
    }

    &__heading {
        @include streamblock-padding();
    }

    &__embed {
        @include streamblock-padding();
        @include z-index(zero);
        width: 100%;
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56%;
        margin-bottom: 30px;

        @include media-query(large) {
            // Change padding as vw is set by streamblock-padding
            padding-bottom: 34.25%;
        }

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__video {
        @include streamblock-padding();
        @include z-index(zero);
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;

        video {
            width: 100%;
            height: auto;
        }

        &--original video {
            width: initial;
            max-width: 100%;
        }
    }

    &__markdown {
        @include streamblock-padding();
    }

    &__paragraph {
        @include streamblock-padding();
    }

    &__raw {
        @include streamblock-padding();
    }

    &__quote {
        width: 75vw;
        margin-left: 1vw;
        padding: 25px 0;

        @include media-query(large) {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        p {
            margin-right: 0;
        }
    }

    &__wide-image {
        position: relative;
        margin: 60px 0 60px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__wide-image-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        top: -20px;
        right: -5px;

        @include media-query(medium) {
            width: 180px;
            height: 160px;
            right: -30px;
            top: -40px;
        }
    }

    &__aligned-image {
        @include streamblock-padding();
        width: 100%;
        height: auto;
        margin: 60px 0 60px;

        &--full-width {
            img {
                width: 100%;
            }
        }

        &--half-width {
            img {
                width: 50%;
            }
        }

        &--wrap-left {
            img {
                max-width: 100%;
            }
        }

        &--wrap-right {
            img {
                display: block;
                max-width: 100%;
                margin-left: auto;
            }
        }
    }

    &__aligned-image-caption {
        margin-top: 5px;

        * {
            @include font-size(xxs);
            color: rgba(51, 51, 51, 0.7);
            margin-bottom: 0;
        }

        &--right {
            text-align: right;
        }
    }

    p {
        line-height: 1.7;
    }

    a {
        cursor: pointer;
        font-weight: $weight--heavy;
        color: var(--color--link);
        border-bottom: 2px solid transparent; // prevent layout shift

        &:hover {
            border-bottom: 2px solid var(--color--lagoon);
            color: var(--color--link);
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        position: relative;
        color: var(--color--grey);
        padding: 0 0 25px ($gutter * 1.5);
        line-height: 1.7;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            width: 20px;
            height: 18px;
            margin-right: 20px;
            background-color: var(--color--accent);
            clip-path: $arrow-path;
        }
    }

    .template__standard & {
        margin-bottom: ($gutter * 5);
    }

    .template__careers-page & {
        &__heading {
            max-width: $wrapper--small;
            margin-left: auto;
            margin-right: auto;
        }

        &__intro,
        &__paragraph {
            max-width: $wrapper--small;
            margin: 0 auto;
        }

        &__intro {
            p {
                color: var(--color--dark-indigo);
            }
        }
    }
}
