.teaser-list {
    background-color: var(--color--light-grey);
    padding-bottom: ($gutter * 1.5);

    @include media-query(large) {
        padding-bottom: $gutter * 4;
    }

    &__container {
        @include container();
    }

    &__title {
        margin: 0 0 30px;
    }

    &__content {
        @include media-query(large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
