/*

Light theme is used by default

Primary used for:
 - Headings
Accent used for:
- heading spans
Accent-dark used for:
- Author roles
- Client name
Link used for:
- Links
Underline used for:
- Link underlines
Hover useds for:
- Link hovers
Background used for:
- Large background colour blocks
- Sticky header bar
Section title used for
- Section title
Header icon used for:
- Header icon
Get in touch numbers:
- Steps in the contact block

*/

.theme {
    &--light {
        --color--primary: var(--color--dark-indigo);
        --color--accent: var(--color--coral);
        --color--accent-dark: var(--color--coral-dark);
        --color--link: var(--color--indigo);
        --color--underline: var(--color--coral);
        --color--hover: var(--color--indigo);
        --color--background: var(--color--white);
        --color--section-title: var(--color--coral);
        --color--header-icon-color: var(--color--coral);
        --color--get-in-touch-numbers: var(--color-white);
    }

    &--coral {
        --color--primary: var(--color--white);
        --color--accent: var(--color--coral);
        --color--link: var(--color--dark-indigo);
        --color--underline: var(--color--dark-indigo);
        --color--hover: var(--color--white);
        --color--background: var(--color--coral);
        --color--section-title: var(--color--coral);
        --color--header-icon-color: var(--color--dark-indigo);
        --color--get-in-touch-numbers: var(--color--white);
    }

    &--dark {
        --color--primary: var(--color--white);
        --color--accent: var(--color--lagoon);
        --color--accent-dark: var(--color--dark-indigo);
        --color--link: var(--color--white);
        --color--underline: var(--color--lagoon);
        --color--hover: var(--color--white);
        --color--background: var(--color--dark-indigo);
        --color--section-title: var(--color-coral);
        --color--header-icon-color: var(--color--lagoon);
        --color--get-in-touch-numbers: var(--color--dark-indigo);
    }

    /* stylelint-disable selector-class-pattern  */
    &--dark--transparent {
        --color--primary: var(--color--white);
        --color--accent: var(--color--lagoon);
        --color--link: var(--color--dark-indigo);
        --color--underline: var(--color--lagoon);
        --color--hover: var(--color--white);
        --color--background: transparent;
        --color--section-title: var(--color-coral);
        --color--header-icon-color: var(--color--lagoon);
        --color--get-in-touch-numbers: var(--color--dark-indigo);
    }
    /* stylelint-enable */
}
