/*

Light theme is used by default

Primary used for:
 - Headings
Accent used for:
- heading spans
Accent-dark used for:
- Author roles
- Client name
Theme-link used for:
- Links in nav and hero, but not in the main body of the page
Link is used for:
- Links in the main body of the page
(Theme-link, Link, Theme-hover and Hover distinction is for the dark theme where the link colour needs to be different on the coloured background and in the white main body of the page)
Underline used for:
- Link underlines
Theme-Hover useds for:
- Link hovers in nav and hero, but not in the main body of the page
Hover used for:
- Link hovers in the main body of the page
Background used for:
- Large background colour blocks
- Sticky header bar
Section title used for
- Section title
Header icon used for:
- Header icon
Get in touch numbers:
- Steps in the contact block
Icon colour used for:
- Tick list icon
- Quote icon

*/

.theme {
    &--light {
        --color--primary: var(--color--dark-indigo);
        --color--accent: var(--color--coral);
        --color--accent-dark: var(--color--coral-dark);
        --color--theme-link: var(--color--indigo);
        --color--link: var(--color--indigo);
        --color--underline: var(--color--coral);
        --color--theme-hover: var(--color--indigo);
        --color--hover: var(--color--indigo);
        --color--background: var(--color--white);
        --color--section-title: var(--color--coral);
        --color--header-icon-color: var(--color--coral);
        --color--get-in-touch-numbers: var(--color--white);
        --color--header-links: var(--color--dark-indigo);
        --color--icon: var(--color--coral);
    }

    &--coral {
        --color--primary: var(--color--white);
        --color--accent: var(--color--coral);
        --color--theme-link: var(--color--dark-indigo);
        --color--link: var(--color--indigo);
        --color--underline: var(--color--dark-indigo);
        --color--theme-hover: var(--color--white);
        --color--hover: var(--color--white);
        --color--background: var(--color--coral);
        --color--section-title: var(--color--coral);
        --color--header-icon-color: var(--color--dark-indigo);
        --color--get-in-touch-numbers: var(--color--white);
        --color--header-links: var(--color--dark-indigo);
        --color--icon: var(--color--coral);
    }

    &--dark {
        --color--primary: var(--color--white);
        --color--accent: var(--color--lagoon);
        --color--accent-dark: var(--color--dark-indigo);
        --color--theme-link: var(--color--white);
        --color--link: var(--color--dark-indigo);
        --color--underline: var(--color--lagoon);
        --color--theme-hover: var(--color--white);
        --color--hover: var(--color--dark-indigo);
        --color--background: var(--color--dark-indigo);
        --color--section-title: var(--color--coral);
        --color--header-icon-color: var(--color--lagoon);
        --color--get-in-touch-numbers: var(--color--dark-indigo);
        --color--header-links: var(--color--white);
        --color--icon: var(--color--lagoon);
    }

    /* stylelint-disable selector-class-pattern  */
    &--dark--transparent {
        --color--primary: var(--color--white);
        --color--accent: var(--color--coral);
        --color--theme-link: var(--color--dark-indigo);
        --color--link: var(--color--dark-indigo);
        --color--underline: var(--color--coral);
        --color--hover: var(--color--white);
        --color--theme-hover: var(--color--white);
        --color--background: transparent;
        --color--section-title: var(--color--coral);
        --color--header-icon-color: var(--color--coral);
        --color--icon: var(--color--coral);
        --color--get-in-touch-numbers: var(--color--dark-indigo);
        --color--header-links: var(--color--white);
    }
    /* stylelint-enable */
}
