.title-block {
    $root: &;
    background: $color--white;

    &__container {
        @include container();
    }

    &__heading {
        font-size: 50px;
        line-height: 55px;
        margin: 0 0 20px 0;

        @include media-query(medium) {
            font-size: 70px;
            line-height: 80px;
        }

        @include media-query(large) {
            margin: 0 8.33vw 20px 16.66vw;
        }
    }

    &__heading-inner {
        font-size: 45px;
        line-height: 50px;

        @include media-query(medium) {
            font-size: 70px;
            line-height: 80px;
        }
    }

    /* Template specific */

    .template__blog-listing & {
        #{$root}__heading {
            font-weight: $weight--heavy;
        }
    }
}
