.title-block {
    $root: &;
    background: $color--white;

    &__container {
        @include container();
    }

    &__heading {
        font-weight: $weight--heavy;
        font-size: 50px;
        line-height: 55px;
        margin: 0 0 20px 0;

        @include media-query(medium) {
            font-size: 70px;
            line-height: 80px;
        }

        @include media-query(large) {
            margin: 0 8.33vw 20px 16.66vw;
        }
    }

    &__tags,
    &__client {
        @include media-query(large) {
            margin: 0 8.33vw 20px 16.66vw;
        }
    }

    &__client {
        @include font-size(xxs);
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: var(--color--accent-dark);
        font-weight: $weight--bold;
        margin-bottom: ($gutter * 0.75);
        max-width: 50vw;
    }
}
