.title-block {
    $root: &;
    background: var(--color--white);

    &__container {
        @include container();
    }

    &__heading {
        font-weight: $weight--heavy;
        font-size: 50px;
        line-height: 55px;
        margin: 0 0 20px 0;

        @include media-query(medium) {
            font-size: 70px;
            line-height: 80px;
        }

        @include media-query(large) {
            margin: 0 $variable-gutter--small 20px $variable-gutter--medium;
        }

        span {
            color: var(--color--accent);
        }
    }

    &__tags,
    &__client,
    &__meta {
        @include media-query(large) {
            margin: 0 $variable-gutter--small 20px $variable-gutter--medium;
        }
    }

    &__client,
    &__meta {
        @include font-size(xxs);
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: var(--color--accent-dark);
        font-weight: $weight--bold;
        margin-bottom: ($gutter * 0.75);
        max-width: 50vw;
    }

    &__meta {
        @include font-size(xs);
        margin-bottom: ($gutter * 1.5);
    }
}
