.values {
    max-width: $wrapper--small;
    margin: 0 auto;
    padding: 0 $variable-gutter--small 0;

    @include media-query(medium) {
        padding: 0 $variable-gutter--small 0;
    }

    @include media-query(large) {
        padding: 0;
    }
}

.value {
    &__title {
        @include font-size(l);
        font-weight: $weight--heavy;
        margin: $gutter 0 0;

        @include media-query(large) {
            margin-top: ($gutter * 2);
        }
    }

    &__description {
        font-size: map-get($small-font-sizes, s);
        margin-bottom: ($gutter * 3);

        @include media-query(large) {
            font-size: map-get($medium-font-sizes, s);
            margin-bottom: ($gutter * 5);
        }
    }
}
