{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block theme_class %}theme--dark--transparent{% endblock %}

{% block header %}
    {% include "patterns/atoms/menu-button/menu-button.html" %}
    {% include "patterns/molecules/navigation/mobile-nav.html" %}
{% endblock %}

{% block content %}
    <div class="home">
        {# Hero #}
        <div class="home__hero">
            <div class="home__contents home__contents--top">
                <div class="home__content-align">
                    {# Logo #}
                    {% include "patterns/atoms/logo/logo.html" with classes="logo--home" %}

                    {# Heading desktop #}
                    {% if page.hero_intro_primary or page.hero_intro_secondary %}
                        <h1 class="home__heading home__heading--desktop"><span>{{ page.hero_intro_primary }}</span> {{ page.hero_intro_secondary }}</h1>
                    {% endif %}
                </div>

                {# Shards SVG window + video #}
                <div class="shards" data-shards-video-wrap>
                    {% image page.hero_image max-1000x500 as mobile_hero %}
                    <div class="responsive-object responsive-object__hero" style="background-image: url({{ mobile_hero.url }});">
                        <button class="shards__button" type="button" data-shards-video-button aria-label="Toggle playing of the video">
                            <svg class="shards__window" aria-hidden="true">
                                <use class="shards__window--desktop" xlink:href="#shards-window-desktop"/>
                                <use class="shards__window--mobile" xlink:href="#shards-window-mobile"/>
                            </svg>
                        </button>
                        <video width="976" height="548" class="shards__video" loop autoplay muted data-shards-video>
                            <source data-src="{% static 'images/showreel.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

            {# Heading tablet + mobile #}
            {% if page.hero_intro_primary or page.hero_intro_secondary %}
                <div class="home__content-align">
                    <h1 class="home__heading home__heading--mobile"><span>{{ page.hero_intro_primary }}</span> {{ page.hero_intro_secondary }}</h1>
                </div>
            {% endif %}

            <div class="home__contents">
                <nav class="primary-nav primary-nav--home">
                    <ul class="primary-nav__list">
                        {% primarynav is_home=True is_desktop=True %}
                    </ul>
                </nav>
            </div>
        </div>

        {# 3 posts/case studies #}
        <div class="home__contents">
            {% if page.featured_posts.all %}
                <div class="home__content-align">
                    <ul class="posts-grid">
                        {% for featured_post in page.featured_posts.all %}
                            {% with post=featured_post.featured_post.specific %}
                                <li class="post">
                                    <h2 class="post__title">
                                        <a class="post__link" href="{% pageurl post %}">{{ post.title }}</a>
                                    </h2>
                                    <p class="post__author">{{ post.first_author }}</p>
                                    <p class="post__meta">{{ post.type }}</p>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

