{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block theme_class %}theme--dark--transparent{% endblock %}

{% block header %}
    {% include "patterns/atoms/menu-button/menu-button.html" %}
    {% include "patterns/molecules/navigation/mobile-nav.html" %}
{% endblock %}

{% block content %}
    <div class="home">
        {# Hero #}
        <div class="home__hero">
            <div class="home__contents home__contents--top">
                <div class="home__content-align">
                    {# Logo #}
                    {% include "patterns/atoms/logo/logo.html" with classes="logo--home" %}

                    {# Heading desktop #}
                    <h1 class="home__heading home__heading--desktop"><span>Digital</span> for good.</h1>
                </div>

                {# Shards SVG window + video #}
                <div class="shards">
                    <div class="responsive-object" style="padding-bottom: 56.25%">
                        <svg class="shards__window shards__window--desktop" aria-hidden="true">
                            <use xlink:href="#shards-window"/>
                        </svg>
                        <video width="1024" height="576" class="shards__video" loop autoplay muted>
                            {# TODO - add video #}
                            <source src="#" type="video/mp4">
                            <source src="#" type="video/webm">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

            {# Heading tablet + mobile #}
            <div class="home__content-align">
                <h1 class="home__heading home__heading--mobile"><span>Digital</span> for good.</h1>
            </div>

            <div class="home__contents">
                <nav class="primary-nav primary-nav--home">
                    <ul class="primary-nav__list">
                        {% primarynav is_home=True %}
                    </ul>
                </nav>
            </div>
        </div>

        {# 3 posts/case studies #}
        <div class="home__contents">
            <div class="home__content-align">
                <ul class="posts-grid">
                    {% for post in featured_posts %}
                        <li class="post">
                            <h2 class="post__title">
                                <a class="post__link" href="">{{ post.title }}</a>
                            </h2>
                            <p class="post__author">{{ post.author }}</p>
                            <p class="post__meta">{{ post.type }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="home__content-align">
                {% include "patterns/molecules/contact-slim/contact-slim.html" %}
            </div>
        </div>
    </div>

    {% block contact %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
