{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--dark--transparent{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="home">

        {# Heading #}
        <h1 class="home__heading"><span>Digital</span> for good.</h1>

        {# Shards SVG window + video #}
        <div class="shards">
            <div class="responsive-object" style="padding-bottom: 56.25%">
                <svg class="shards__window" aria-hidden="true">
                    <use xlink:href="#shards-window"/>
                </svg>
                <video width="1024" height="576" class="shards__video" loop autoplay muted>
                    {# TODO - add video #}
                    <source src="#" type="video/mp4">
                    <source src="#" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div>
        {% include "patterns/molecules/primary-nav/primary-nav.html" with classes="primary-nav--home" %}
    </div>

    {% block contact %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
