{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block theme_class %}theme--primary{% endblock %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with title=page.strapline desc=page.intro %}

    {% include "patterns/molecules/in-page-nav/in-page-nav.html" with item=page title=page.title %}

    {% include "patterns/atoms/animated-character/animated-character.html" %}

    <div id="services">
        {% include "patterns/molecules/help-block/help-block.html" with title=page.key_points_section_title intro=page.heading_for_key_points items=page.key_points.all contact=page.contact %}
    </div>

    {% if page.clients %}
        <div id="clients">
            {% include "patterns/organisms/client-block/client-block.html" with clients=page.clients quotes=page.quotes %}
        </div>
    {% endif %}

    {% if page.casestudies %}
        <div class="casestudies" id="work">
            <div class="casestudies__content">
                <div class="casestudies__title">
                    {% include "patterns/atoms/section-title/section-title.html" with title="Work" %}
                </div>
                <div class="casestudies__list">
                    {% for casestudy in page.featured_case_studies.all %}
                        {% include "patterns/molecules/work-item/work-item.html" with item=casestudy.case_study %}
                    {% endfor %}
                </div>
                {% include "patterns/atoms/see-more/see-more.html" with item=see_more_casestudies %}
            </div>
        </div>
    {% endif %}

    {% if page.blogs %}
        <div class="blog-listing" id="thinking">
            <div class="blog-listing__content">
                {% include "patterns/atoms/section-title/section-title.html" with title="Thinking" %}
                <div class="blog-listing__list blog-listing__list--horizontal">
                    {% for blog in page.blogs %}
                        {% if forloop.first %}
                            <div class="blog-listing__feature">
                                {% include "patterns/molecules/blog-item/blog-item.html" with item=blog %}
                            </div>
                        {% else %}
                            {% include "patterns/molecules/blog-item/blog-item.html" with item=blog %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% include "patterns/atoms/see-more/see-more.html" with item=see_more_blogs %}
            </div>
        </div>
    {% endif %}

{% endblock %}
