{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero--service.html" with title=page.strapline desc=page.intro in_page_nav=True %}

    {% if page.key_points_section_title %}
        <div class="service-section" id="{{ page.key_points_section_title|slugify }}" data-service-section>
            {% include "patterns/molecules/help-block/help-block.html" with title=page.key_points_section_title intro=page.heading_for_key_points items=page.key_points.all contact=page.contact contact_reasons=page.contact_reasons %}
        </div>
    {% endif %}

    {% if page.process_section_title %}
        <div class="service-section process" id="{{ page.process_section_title|slugify }}" data-service-section>
            {% include "patterns/organisms/process-block/process-block.html" with processes=page.processes.all section_title=page.process_section_title section_cta=page.process_section_cta has_process_block_image=page.use_process_block_image processes_section_embed_url=page.processes_section_embed_url%}
        </div>
    {% endif %}

    {# Note that when the service page is removed, the client-block.html and client-block.yaml under 'organisms' can be removed, as this is replaced by the new client-logo-block.html template under 'molecules/streamfield/blocks' #}
    {% if page.testimonials_section_title %}
        <div class="service-section" id="{{ page.testimonials_section_title|slugify }}" data-service-section>
            {% include "patterns/organisms/client-block/client-block.html" with title=page.testimonials_section_title clients=page.client_logos.all quotes=page.testimonials.all %}
        </div>
    {% endif %}

    {% if page.case_studies_section_title %}
        {% include "patterns/organisms/related-content/related-content.html" with id=page.case_studies_section_title title=page.case_studies_section_title items=page.get_featured_case_studies see_more_link=True data_attrs="data-service-section" classes="service-section" see_more_link_text="See more case studies" filter_by=page.filter_by  %}
    {% endif %}

    {% if page.blogs_section_title %}
        {% include "patterns/organisms/latest-posts/latest-posts.html" with classes="service-section" feature_first=True data_attrs="data-service-section" filter_by=page.filter_by %}
    {% endif %}

    {% include_block page.content %}
    {% include_block page.call_to_action %}

{% endblock %}
