{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with title=page.strapline desc=page.intro classes="hero--restricted" %}

    {# Values #}
    {% if page.values %}
        <div class="values">
            {% for value in page.values.all %}
                {% include "patterns/molecules/value/value.html" with item=value %}
            {% endfor %}
        </div>
    {% endif %}

    {# Standout list #}
    {% if standout_items %}
        {% include "patterns/organisms/related-content/related-content.html" with items=standout_items %}
    {% endif %}

    {# Blogs #}
    {% if page.featured_blog_posts %}
        <div class="blog-listing" id="{{ page.blogs_section_title|slugify }}">
            <div class="blog-listing__content">
                {% include "patterns/atoms/section-title/section-title.html" with title=page.blogs_section_title %}
                <div class="blog-listing__list blog-listing__list--horizontal">
                    {% for blog in page.featured_blog_posts.all %}
                        {% include "patterns/molecules/blog-item/blog-item.html" with item=blog.blog_post %}
                    {% endfor %}
                </div>
                {% include "patterns/atoms/see-more/see-more.html" with text="See more blogs" link=blog_index_page.url %}
            </div>
        </div>
    {% endif %}

    {% block contact %}{% endblock %}
{% endblock %}
