{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/hero/hero.html" with title=page.strapline desc=page.intro classes="hero--restricted" %}

    {# Values #}
    {% if page.values %}
        <div class="values">
            {% for value in page.values %}
                {% include "patterns/molecules/value/value.html" with item=value %}
            {% endfor %}
        </div>
    {% endif %}

    {# Case studies #}
    {% if page.featured_case_studies %}
        <div class="casestudies casestudies--bottom-margin" id="{{ page.case_studies_section_title|slugify }}">
            <div class="casestudies__content">
                <div class="casestudies__title">
                    {% include "patterns/atoms/section-title/section-title.html" with title=page.case_studies_section_title %}
                </div>
                <div class="casestudies__list">
                    {% for casestudy in page.featured_case_studies.all %}
                        {% include "patterns/molecules/work-item/work-item.html" with item=casestudy.case_study %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {# Blogs #}
    {% if page.featured_blog_posts %}
        <div class="blog-listing" id="{{ page.blogs_section_title|slugify }}">
            <div class="blog-listing__content">
                {% include "patterns/atoms/section-title/section-title.html" with title=page.blogs_section_title %}
                <div class="blog-listing__list blog-listing__list--horizontal">
                    {% for blog in page.featured_blog_posts.all %}
                        {% include "patterns/molecules/blog-item/blog-item.html" with item=blog.blog_post %}
                    {% endfor %}
                </div>
                {% include "patterns/atoms/see-more/see-more.html" with text="See more blogs" link=blog_index_page.url %}
            </div>
        </div>
    {% endif %}

    {% block contact %}{% endblock %}
{% endblock %}
