<div class="mobile-nav">
    <div class="mobile-nav__container">
        <nav class="mobile-nav__modal" aria-label="Mobile navigation">
            <ul class="mobile-nav__list">
                <li class="mobile-nav-item">
                    <a class="mobile-nav-item__link" href="/digital-products/">
                        <div class="mobile-nav-item__title">Design + build products</div>
                    </a>
                </li>
                <li class="mobile-nav-item">
                    <a class="mobile-nav-item__link" href="/wagtail-cms/">
                        <div class="mobile-nav-item__title">Wagtail CMS services</div>
                    </a>
                </li>
                <li class="mobile-nav-item">
                    <a class="mobile-nav-item__link" href="/digital-marketing/">
                        <div class="mobile-nav-item__title">Digital marketing</div>
                    </a>
                </li>
                {% comment %}
                <li class="mobile-nav-item">
                    <a class="mobile-nav-item__link" href="/careers/">
                        <div class="mobile-nav-item__title">Careers
                            {% if job_count %}
                                {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endcomment %}
            </ul>
        </nav>
    </div>
</div>
