<nav class="in-page-nav {% if classes %}{{ classes }}{% endif %}" aria-label="In page navigation" data-in-page-nav>
    <div class="in-page-nav__inner">
        <div class="in-page-nav__header">
            <a href="#" title="Back to top" class="in-page-nav__back-to-top">
                <svg aria-hidden="true" class="in-page-nav__logo">
                    <use xlink:href="#flame" />
                </svg>
                <span class="in-page-nav__title">
                    {{ title }}
                </span>
            </a>
        </div>
        <ul class="in-page-nav__container">
            {% for section_title in section_titles %}
                <li class="in-page-nav__item">
                    <a class="in-page-nav__link" href="#{{ section_title|slugify }}">
                        {{ section_title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div class="sentinel" data-sticky-nav aria-hidden="true"></div>
