{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}
    Accepts:

    * form - a from to display
    * page - a page object. We will submit a date to this page
    * form_id - an optional value for the html id attribute
{% endcomment %}

<form class="sign-up-form" action="{% pageurl page %}" {% if form_id %}id="{{ form_id }}"{% endif %} method="post">
    <fieldset>
        {% if legend %}
            <legend>{{ legend }}</legend>
        {% endif %}
        {% csrf_token %}
        {% if form.errors %}
            <p class="error">There were some errors with your form. Please amend the fields highlighted below.</p>
        {% endif %}
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <button class="sign-up-form-button" type="submit">
            <span class="rule"></span>
            <span>{{ page.form_button_text }}</span>
        </button>
    </fieldset>

    {% image page.call_to_action_image original %}
</form>
