<nav class="primary-nav">
    <ul class="primary-nav__list">
        <li class="nav-item">
            <a class="nav-item__link {% if page.slug == 'digital-products' %}nav-item__link--active{% endif %}" href="/digital-products/">
                <span class="nav-item__title">Design + build products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item__link {% if page.slug == 'wagtail-cms' %}nav-item__link--active{% endif %}" href="/wagtail-cms/">
                <span class="nav-item__title">Wagtail CMS services</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item__link {% if page.slug == 'digital-marketing' %}nav-item__link--active{% endif %}" href="/digital-marketing/">
                <span class="nav-item__title">Digital marketing</span>
            </a>
        </li>
        <li class="nav-item nav-item--with-badge">
            <a class="nav-item__link {% if page.slug == 'careers' %}nav-item__link--active{% endif %}" href="/careers/">
                <span class="nav-item__title">Careers</span>
            </a>

            {% if job_count %}
                <a class="nav-item__badge-link" href="/jobs/">
                    {% include "patterns/atoms/badge/badge.html" with total=job_count %}
                </a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-item__link {% if page.slug == 'events' %}nav-item__link--active{% endif %}" href="/events/">
                <span class="nav-item__title">Events</span>
            </a>
        </li>
    </ul>
</nav>
