// Temporary fixed values - refactor to use JS and calculate
// values dynamically
.about-text.stop {
	.page-aboutpage & {
		top: 117px;
	}

	.page-jobindexpage & {
		top: 201px;
	}

	.page-servicespage & {
		top: 117px;
	}
}
