

// Logos block ================================================================
.logos-block {
  @include cf;
  padding: 0 $container-padding-sml;
  text-align: center;

  @media #{$tablet} {
    padding: 0;
  }

  ul {
    @include cf;
    @include custom-bounce (0.45s);
  }
  a {
    width: 100%;
  }
  li {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    height: 100px;
    // Loop through the items and add some delay
    @for $i from 5 through 16 {
        &:nth-child(#{$i}) {
          @include custom-transition;
         transition-delay: calc((0.1s * #{$i}) - 0.65s);
        }
    }
    @media #{$tablet-large} {
      width: 25%;
      opacity: 1;
      &:nth-child(-n+8) {
        opacity: 1;
      }
      &:nth-last-child(-n+8) {
        //opacity: 0;
      }
    }
    img {
      opacity: 0.5;
      width: auto;
      height: auto;
      max-width: 90%;
      margin: 0 auto;
      padding: 0 15px;
      @media #{$tablet-large} {
        max-width: 60%;
      }
    }
  }
}