.services-hero {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: #102626;
    background: linear-gradient(to right, #102626 0%,#243e3f 28%,#102626 100%);

    @media #{$tablet} {
        height: $services-hero-height;
        padding: 0;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 0 auto;
        padding: 0 15px;

        @media #{$tablet} {
            max-width: $services-wrapper-width;
        }
    }

    &__inner {
        @media #{$tablet} {
            position: absolute;
            bottom: 60px;
        }

        @media #{$tablet-large} {
            left: 50px;
        }
    }

    &__breadcrumbs {
        position: relative;
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        color: white;

        &:after {
            content: '/';
            position: absolute;
            right: -15px;
        }
    }

    &__title {
        margin: 10px 0;
        font-size: 40px;
        font-weight: 200;
        color: #fff;
        text-transform: uppercase;

        @media #{$tablet} {
            font-size: 85px;
        }
    }

    &__description {
        margin: 0;
        font-size: 22px;
        max-width: 850px;
        color: #ffffff;
        font-weight: 400;
        line-height: 30px;

        @media #{$tablet} {
            font-size: 30px;
            line-height: 36px;
        }
    }
}
