///
/// Base styles/setup for individual services pages
///

.services-wrapper {
    width: 100%;
    max-width: $services-wrapper-width;
    margin: 0 auto;
    @include row-padding;

    &--relative {
        position: relative;
    }
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        &--hidden {
            opacity: 0;
            transform: translate3d(0,30px,0);
            transition:
                opacity 500ms ease,
                transform 700ms ease;
        }

        &--show {
            opacity: 1;
            transform: translate3d(0,0,0);
        }

        &--one-half {
            width: 100%;

            @media #{$tablet} {
                width: 48%;
            }
        }

        &--one-quarter {
            width: 100%;

            @media #{$small} {
                width: 48%;
            }

            @media #{$tablet-large} {
                width: 23%;
            }
        }

        &--three-quarters {
            width: 73%;
        }
    }
}
