// mixins 

// clear fix
@mixin cf() {
	zoom: 1;
	&:before, &:after {
	display: table;
	content: "";
	zoom: 1;
	*display: inline;
	}
	&:after {
		clear: both;
	}
}

// 
@mixin custom-transition {
	transition: all 250ms cubic-bezier(0.705, 0.000, 1.000, 1.130);
	transition-timing-function: cubic-bezier(0.705, 0.000, 1.000, 1.130);
}