// Colours
$blue: #23b0b0;
$orange: #fd5938;
$dark: #2b3033;
$grey: #f7f7f7;

//
$border-radius: 3px;

//
$container-padding-sml: 15px;
$container-padding: 50px;

// Media queries
$small: '(min-width: 500px)';
$tablet: '(min-width: 768px)';
$tablet-large: '(min-width: 1025px)';
$desktop: '(min-width: 1205px)';
$desktop-large: '(min-width: 1600px)';
$desktop-xl: '(min-width: 1800px)';

// Fonts
$primaryFont: 'proxima-nova', helvetica, arial, sans-serif;
$secondaryFont: 'proxima-nova', helvetica, arial, sans-serif;
