// Colours
$firstColor: ; //colour
$secondColor: ; //colour
$thirdColor: ; //colour
$forthColor: ; //colour
$bodyColor: #2b3033; // Grey

// Media queries
$tablet: '(min-width: 768px)';
$tablet-large: '(min-width: 1025px)';
$desktop: '(min-width: 1205px)';
$desktop-large: '(min-width: 1600px)';
$desktop-xl: '(min-width: 1800px)';

// Fonts
$primaryFont: 'proxima-nova', helvetica, arial, sans-serif;
$secondaryFont: 'proxima-nova', helvetica, arial, sans-serif;
