@media only screen and (min-width: 96em) {

    .page-home h2 {
        font-size: 7em;
    }

    .page-home .hero {
        padding: 15em 2em;
    }

    .page-home .hero h2 {
        font-size: 5em;
    }

    .page-personindexpage .grid.people-list li {
        width: 25%;
    }

    .page-personindexpage .grid li:nth-child(3n+4) {
        clear: none;
    }

    .page-people-single .hero {
        height: 32em;
    }

    .page-homepage.hasvideo header{
        margin-right:auto;
    }

    .jobs-header-content {
        padding-top: 10em;
    }

    .jobs-carousel-container .slide-caption-container p {
        font-size: 4em;
    }

    .page-homepage .hero h1 {
        text-align: center;
        max-width: 26em;
        text-align: left;
        font-size: 3em;
        line-height: 1.2em;
    }
    .page-homepage .hero.hero-video h1{
        font-size:3em;
    }

    .page-tshirtpage .heading {
        padding: 10em 1em;
    }

    .page-tshirtpage .heading h2 {
        font-size: 9em;
    }

    .pick {
        top: 563px;
    }

    .fixed {
        top: 3px;
        z-index: 10;
    }

    /*footer*/

    footer {
        padding: 1em 0 3em 0;
    }

    .holder {
        max-width: 80em;
    }

    footer .bleed {
        margin: 3.5em 0.5em 0 0;
    }

    .listing h3 {
        font-size: 1.8em;
    }

    footer .container {
        max-width: 40em;
        float: left;
    }

    footer .offices ul {
        width: 100%;
        margin: 0 auto;
        padding-top: 0em;
        border-top: none;
    }

    footer .offices li {
        width: 600px;
        float: left;
        padding: 2em 0 0 0;
    }

    footer .offices {
        margin: 1em auto 0 0;
        padding-left: 4em;
        width: 40%;
    }

    .wagtail {
        display: none;
    }

    footer .bleed {
        margin: 2em 0.5em 0 0;
    }

    .wagtail2.wagtail2 {
        display: block;
        width: auto;
    }

    footer .contact span {
        font-size: 0.9em;
    }

    footer .contact span.newsletter-cta {
        text-align: left;
        white-space: nowrap;
        font-size: 1.45em;
        float: left;
        margin: 1em 0 0.5em 0;
    }

    footer .contact form input {
        float: left;
        width: 60%;
        height: 3em;
        padding: 1em;
    }

    footer .contact form button {
        float: left;
        width: 25%;
        height: 3em;
        border-radius: 0;
        margin-top: 0;
    }

    .offices li:hover .svg {
        margin-top: -25px;
    }

    footer .offices h3 {
        font-size: 2em;
        font-weight: bold;
    }

    footer .vcard {
        margin-top: -0.5em;
    }

    footer .offices h2 {
        max-width: 100%;
    }

    footer .contact {
        border-right: 1px dotted rgba(255,255,255,0.2);
    }

    footer .contact li {
        float: left;
        width: 8em;
        margin: 0 4.6em 0 0;
    }

    footer .contact h2 {
        font-size: 3em;
        text-align: left;
    }

    body .svg {
        height: 90px;
        width: 55px;
        margin-top: -25px;
    }

    footer .contact li i {
        font-size: 2em;
    }

    footer .offices h2 {
        margin: 0;
        color: white;
        display: block;
        position: relative;
        height: auto;
        width: auto;
        font-size: 3em;
        font-weight: bold;
    }

    .page-personpage img {
        width: 55%;
        margin-right: 4%;
        float: left;
        z-index: -1;
    }

    .page-personpage .bio-text {
        width: 45%;
        float: left;
        margin-right: 4%;
    }
}
