@import '../vendor/normalize';
//@import '../vendor/slick';
//@import '../vendor/jquery.fancybox';
@import 'mixins';
@import 'variables';

// Current received wisdom is that this file should contain nothing but imports.
// You should separate every other part of your CSS into individual files.

@import 'base';
@import 'blog-detail';


html {
    font-family: $secondaryFont;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    color: $bodyColor;
    line-height: 1.75;
    background-color: #fff;
}

body * {
    -moz-box-sizing:    border-box;   // Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   // Safari 3-4, also probably droppable */
    box-sizing:         border-box;   // Everything else */
}

main {
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #23b0b0;
}

ol, ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

/* General Type styles ===================================== */

h2 {
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2;
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 35px;
    }
}

/* site structure ========================================== */
.container {
    max-width: 1400px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}

/* navigation ============================================== */
nav {
    background: white;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.menu-button {
    display: none;
}

.bleed {
    overflow: hidden;
    float: right;
}

.bleed li {
    float: left;
    margin-right: 60px;
    letter-spacing: 1px;
    font-weight: 500;
}

.bleed li:last-of-type {
    margin-right: 0;
}

.bleed li a {
    text-transform: uppercase;
    font-size: 15px;
    color: $bodyColor;
}

/* logo =================================================== */
.logo {
    display: inline-block;
    width: 200px;
}

/* hero =================================================== */
.hero {
    position: relative;
    background: url('/static/torchbox/images/test-header.jpg') no-repeat center;
    height: 65vh;
    background-size: cover;
    margin: 0 0 50px 0;
}

@media screen and (min-width: 600px) {
    .hero {
        height: 85vh;
    }
}

.hero h1 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding: 0 20px;
    line-height: 1.2;
}

@media screen and (min-width: 600px) {
    .hero h1 {
        font-size: 60px;
        top: 30vh;
    }
}

.first-feature-image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    height: 85vh;
    background-size: cover;
    background: url('/static/torchbox/images/test-header-02.jpg') no-repeat center;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

.third-feature-image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    height: 85vh;
    background-size: cover;
    background: url('/static/torchbox/images/test-header-03.jpg') no-repeat center;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}


.hero.first-feature .first-feature-image {
    opacity: 1;
}

.hero.third-feature .third-feature-image {
    opacity: 1;
}

/* case studies */
.featured-case-studies {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 120px;
}

@media screen and (min-width: 600px) {
    .featured-case-studies {
    }
}

/*ul hover states / go back to default*/
.featured-case-studies:hover li:before{
    opacity: 0;
}

.featured-case-studies:hover li svg{
    opacity: 0.5;
}

.featured-case-studies:hover li.active:before{
    opacity: 0;
}

.featured-case-studies:hover li.active svg {
    opacity: 0.5;
}

.featured-case-studies:hover li.active .link {
    opacity: 0;
}

.featured-case-studies li:nth-child(1), .featured-case-studies li:nth-child(3) {
    display: none;
}

@media screen and (min-width: 600px) {
    .featured-case-studies li:nth-child(1), .featured-case-studies li:nth-child(3) {
        display: block;
    }
}

.featured-case-studies li {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    float: left;
    margin-right: 5%;
}

@media screen and (min-width: 600px) {
    .featured-case-studies li {
        width: 30%;
        position: relative;
        left: 0;
        transform: translateY(0);
    }
}

.featured-case-studies li:before {
    content: '';
    position: absolute;
    left: -15%;
    top: -10%;
    height: 120%;
    width: 130%;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease 0s;
        transition: opacity 0.25s ease 0s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23b0b0+0,23b0b0+69&1+0,0+58 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(35,176,176,1) 0%, rgba(35,176,176,0) 58%, rgba(35,176,176,0) 69%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(35,176,176,1) 0%,rgba(35,176,176,0) 58%,rgba(35,176,176,0) 69%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(35,176,176,1) 0%,rgba(35,176,176,0) 58%,rgba(35,176,176,0) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b0b0', endColorstr='#0023b0b0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.featured-case-studies li:last-of-type {
    margin-right: 0;
}

.featured-case-studies li:hover {
    cursor: pointer;
}

.featured-case-studies li:hover:before {
    opacity: 0.5;
}

/*svg*/
.featured-case-studies svg {
    display: inline-block;
    width: 80%;
    fill: white;
    opacity: 0.5;
    max-height: 150px;
    max-width: 270px;
    -webkit-transition: opacity 0.25s ease 0s;
            transition: opacity 0.25s ease 0s;
}

.featured-case-studies li:hover svg {
    opacity: 1;
    -webkit-filter: drop-shadow( 0 0 2px white );
    filter: drop-shadow( 0 0 2px white );
    /* polyfil for old browsers */
    /* https://github.com/Schepp/CSS-Filters-Polyfill */
}

/* active */
.featured-case-studies li.active:before {
    opacity: 0.5;
}

.featured-case-studies li.active svg {
    opacity: 1;
    -webkit-filter: drop-shadow( 0 0 2px white );
    filter: drop-shadow( 0 0 2px white );
}

.featured-case-studies li.active:hover svg {
    opacity: 1;
    -webkit-filter: drop-shadow( 0 0 2px white );
    filter: drop-shadow( 0 0 2px white );
}

.featured-case-studies li.active:hover .link {
    opacity: 1;
}

.featured-case-studies li.active:hover:before {
    opacity: 0.5;
}

.featured-case-studies li.active .link {
    opacity: 1;
}

/* link text */
.featured-case-studies .link {
    display: inline-block;
    color: #23b0b0;
    margin: 15px 0 20px;
    padding: 5px 0 0;
    border-top: 2px solid #23b0b0;
    opacity: 0;
    font-size: 15px;
    line-height: 1.2;
    -webkit-transition: opacity 0.25s ease 0s;
            transition: opacity 0.25s ease 0s;
}

.featured-case-studies li:hover .link {
    opacity: 1;
}

/* Homepage posts ================================================== */

#posts h2 a {
    position: relative;
}

#posts h2 a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    border-bottom: 1px solid #23b0b0;
}
