<div class="streamfield" data-contentpath-field="body">

    <div class="streamfield__wide-image">
        <img
            src="https://media.torchbox.com/images/FINAL_OXFAM-HOME-.width-1280.jpg"
            alt="FINAL OXFAM-HOME-.jpg"
        />
        <svg
            viewBox="0 0 588.3 555.7"
            aria-hidden="true"
            class="streamfield__wide-image-icon"
        >
            <style>
                .frag-cluster3_svg__st0 {
                    fill: #fd5765;
                }
            </style>
            <path
                class="frag-cluster3_svg__st0"
                d="M460.532 85.646l127.735 73.75-221.3 383.291-127.735-73.75zM123.874 290.864l87.033 50.25-123.85 214.508-87.033-50.25zM191.695.018l58.282 33.65-85.6 148.26-58.282-33.65z"
            ></path>
        </svg>
    </div>

    <div class="streamfield__intro">
        <div>
            <div class="rich-text">
                <p>
                    Following a successful replatform of
                    <a href="https://www.oxfamamerica.org/">Oxfam America</a>
                    onto Wagtail CMS, our collaboration with
                    <a href="https://www.oxfam.org.uk/">Oxfam GB</a> started in
                    early 2019, when they began exploring moving to a flexible
                    open-source CMS — we knew just the thing!
                </p>
            </div>
        </div>
    </div>
    <div class="streamfield__paragraph">
        <div>
            <div class="rich-text">
                <p>
                    We started with a design sprint to embrace the
                    <a href="https://torchbox.com/work/oxfam-poc/"
                    >Art of the Possible</a
                        >, which built confidence in using
                        <a href="https://wagtail.io/">Wagtail</a> and in how
                        Torchbox and Oxfam could work together to rapidly turn
                        Oxfam’s goals into reality. We picked their volunteering
                        sign-up process for the sprint (previously a decentralised,
                        paper-based system), which culminated in a launch that saw
                        1000 registrations in the first month. More importantly, it
                        solidified Oxfam’s decision to move their flagship Oxfam GB
                        website to Wagtail and we kicked off that August.
                    </p>
                </div>
            </div>
        </div>
        <div
            class="streamfield__quote quote-slider"
        >
            <svg class="quote-slider__icon" width="120" height="90" aria-hidden="true">
                <use xlink:href="#quote-icon" />
            </svg>
            <div class="quote-slider__slider">
                <div class="quote-slider__slides">
                    {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with classes="pullquote--slider"  %}
                </div>
            </div>
        </div>
        <div class="streamfield__paragraph">
            <div>
                <div class="rich-text">
                    <h2><b>Starting from the ground up</b></h2>
                    <p>
                        Oxfam had just rolled out a new public engagement strategy
                        and the new website needed to ‘make it happen’ by reshaping
                        and tailoring the entire experience to the needs of Oxfam’s
                        supporters (and potential supporters), while driving
                        organisational efficiencies.
                    </p>
                    <p>
                        We started by re-modelling the Information Architecture (IA)
                        based on Oxfam’s audience priorities. A top tasks survey
                        quickly revealed that the supporters’ primary goal was to
                        find out about the issues Oxfam works on — Oxfam’s
                        supporters are really engaged with what Oxfam is doing on
                        the ground. Much lower down the list was accessing “About
                        Oxfam” information, which has bloated over time.
                    </p>
                    <p>
                        An open card sort confirmed that supporters group this type
                        of corporate content separately from issue-related content
                        and gave rise to a new area in the top-level navigation for
                        Oxfam in Action — where Oxfam detail the work they’re doing
                        and the impact it’s having on individuals and communities,
                        which ‘tree-tested’ well.
                    </p>
                    <p></p>
                    <p></p>
                    <img
                        alt="Oxfam in Action.png"
                        class="richtext-image full-width"
                        src="https://media.torchbox.com/images/Screenshot_2020-09-08_at_16.12.18.width-800.png"
                        width="800"
                        height="422"
                    />
                    <p></p>
                    <p></p>
                    <h2><b>Vision and value</b></h2>
                    <p>
                        With a new IA in hand, and user interviews and journey
                        mapping workshops under our belts, we felt like we were
                        getting to know Oxfam’s supporters pretty well. We defined a
                        shared vision to keep the team focussed — to create
                        <b
                        ><i
                        >a place where people are empowered to join the
                            fight against the injustice of poverty in their own
                            way</i
                            ></b
                            >
                            <i>—</i> and used OKRs to establish what success will look
                            like.
                        </p>
                            <p>
                                Having used an effort / user value plot to prioritise the
                                work to achieve this vision, we had the beginnings of our
                                product backlog and set about defining the design direction.
                            </p>
                            <h2></h2>
                        </div>
                    </div>
                </div>
                <div
                    class="streamfield__quote quote-slider"
                >
                    <svg class="quote-slider__icon" width="120" height="90" aria-hidden="true">
                        <use xlink:href="#quote-icon" />
                    </svg>
                    <div class="quote-slider__slider">
                        <div class="quote-slider__slides">
                            {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with classes="pullquote--slider"  %}
                        </div>
                    </div>
                </div>
                <div class="streamfield__paragraph">
                    <div>
                        <div class="rich-text">
                            <h2><b>Be brave, build trust and get personal</b></h2>
                            <p>
                                The Oxfam brand is known globally but has taken a hit in
                                recent years — the new website was an opportunity to freshen
                                it up, while being instantly recognisable as Oxfam.
                            </p>
                            <p>
                                The team were guided by a set of principles; to build trust,
                                iterate, be brave but keep it simple, and to make the
                                experience personal to the supporter and put them in
                                control.
                            </p>
                            <p>
                                Through a series of design sprints; with cycles of
                                co-creation, rapid prototyping and user testing; the vision
                                started to come to life. Stories from the people and
                                communities whose lives have been transformed by Oxfam took
                                centre stage, accompanied by powerful and positive imagery
                                of change. Giving design a short head start, we began to
                                build the site making use of Wagtail’s donation system, with
                                the design and build sprints running in parallel.
                            </p>
                            <h2><b>Prioritising in a pandemic</b></h2>
                            <p>
                                A couple of months into the build, the Covid-19 pandemic
                                hit, and as with much of the charity sector, Oxfam GB were
                                hugely impacted; shutting their high street and online shop
                                doors, cancelling major fundraising events, pausing
                                volunteer recruitment and seeing donations drop. Key team
                                members were put on furlough and our project went fully
                                remote.
                            </p>
                            <p>
                                Agile enabled us to reshape priorities quickly in response
                                to Oxfam’s changing organisational needs and those of their
                                supporters. We brought forward a launch of ‘<a
                                    href="https://tag-your-bag.oxfam.org.uk/"
                                >Tag Your Bag</a
                                    >’ as a standalone product on Wagtail just in time for the
                                    shops reopening in June; so Supporters who’d had a lockdown
                                    clearout could Gift Aid their donations.
                                </p>
                                <p>
                                    We then re-focussed efforts onto the
                                    <a href="https://www.oxfam.org.uk/">main website</a>, which
                                    we’re delighted to have launched this week. It has
                                    strengthened Oxfam’s digital presence, giving them the
                                    capability to be nimble in a changing world, and ultimately
                                    to empower their supporters on an individual level to
                                    <b>beat poverty now and forever</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="streamfield__quote quote-slider"
                    >
                        <svg class="quote-slider__icon" width="120" height="90" aria-hidden="true">
                            <use xlink:href="#quote-icon" />
                        </svg>
                        <div class="quote-slider__slider">
                            <div class="quote-slider__slides">
                                {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with classes="pullquote--slider"  %}
                            </div>
                        </div>
                    </div>
                    <div class="streamfield__paragraph">
                        <div>
                            <div class="rich-text">
                                <h2>What’s coming next in Wagtail CMS?</h2>
                                <p>
                                    Join our webinar, 15th Oct, 5pm BST / 12pm EST for a live
                                    demo of exciting new features and plugins, including
                                    Wagtail-Localise.
                                    <a
                                        href="https://torchbox.zoom.us/webinar/register/5716013700083/WN_pU46K2UCSm-6ZrYIEkv6zg"
                                    >Find out more and register your place</a
                                        >.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
