{% load wagtailcore_tags %}
<h2>An accordion</h2>
<div role="tablist" aria-multiselectable="true">
    {% for accordion in accordions %}
        <div class="accordion" data-accordion>
            <a
                href=""
                class="accordion__title"
                data-accordion-question
                role="tab"
                aria-controls="answer-{{ forloop.counter }}"
                aria-expanded="false"
                aria-selected="false"
                id="question-{{ forloop.counter }}">
                {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="accordion__icon" viewBox="0 0 51.8 103.7" %}
                <h3>{{ accordion.title }}</h3>
            </a>
            <div
                aria-live="polite"
                class="accordion__content"
                data-accordion-answer
                id="answer-{{ forloop.counter }}"
                role="tabpanel"
                aria-labelledby="question-{{ forloop.counter }}"
                aria-hidden="false">
                {{ accordion.content|richtext }}
            </div>
        </div>
    {% endfor %}
</div>
