{% extends "patterns/base_page.html" %}

{% block title %}Password required{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block theme_class %}theme--light{% endblock %}

{% block content %}
    <div class="password-required">
        <h1 class="password-required__title">Password required</h1>

        <p>Please enter the password to proceed.</p>

        <form class="password-required__form" action="{{ action_url }}" method="post">
            <div>
                {% csrf_token %}

                {{ form.non_field_errors }}

                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            <input class="button password-required__submit-button" type="submit" value="Continue" />
        </form>
    </div>
{% endblock %}
