{% extends "patterns/base_page.html" %}

{% block title %}Password required{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block content %}
    <h1>Password required</h1>

    <p class="heading--2">Please enter the password to proceed.</p>

    <form action="{{ action_url }}" method="post">
        <div>
            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Continue" />
        </div>
    </form>
{% endblock %}
