name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DJANGO_SETTINGS_MODULE: tbx.settings.test
      DATABASE_URL: postgres://postgres:postgres@localhost/postgres # pragma: allowlist secret
      CFG_SECRET_KEY: iamnotsosecret
      CFG_ALLOWED_HOSTS: localhost

    services:
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres # pragma: allowlist secret
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: Gr1n/setup-poetry@v8
        with:
          poetry-version: 1.5.1
      - name: Install python dependencies
        run: |
          poetry config virtualenvs.create false &&
          poetry install
      - name: Install npm dependencies
        run: |
          npm install npm-run-all
          npm run build:prod
      - name: Flake8
        run: flake8 tbx fabfile.py
      - name: isort
        run: isort --check-only --diff tbx fabfile.py
      - name: black
        run: black --check tbx fabfile.py
      - name: System checks
        run: python manage.py check
      - name: Missing migrations
        run: python manage.py makemigrations --check
      - name: Test
        run: python manage.py test
      - name: Lint CSS
        run: npm run lint:css
      - name: Lint JS
        run: npm run lint:js
      - name: Lint Format
        run: npm run lint:format
