{% load wagtailimages_tags %}

{% image page.author_image fill-100x100 as image %}
<div class="author">
    <div class="author__container">
        <div class="author__avatar">
            <img class="author__image" src="{{ image.url }}" alt="{{ image.alt }}">
        </div>
        <div class="author__details">
            <a class="author__name" href="{{ item.authorLink }}"">{{ item.author }}</a>
            <p class="author__meta">
                <span class="author__role">{{ item.role }}</span>
                <span class="author__date">{{ item.date }}</span>
                <span class="author__readtime">{{ item.readtime }} min read</span>
            </p>
            <div class="author__tags">
                {% for tag in item.tags %}
                    {% include "patterns/atoms/tag/tag.html" with item=tag %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
